{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<script>
// not needed at the moment, remember to remove script from the header if you don't use this in the end.

//jQuery( document ).ready(function() {
     //jQuery.validate(); 
// });


</script>


<main id="content" role="main">
{% include "includes/phase_banner_alpha.html" %}

  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/">Breadcrumb here ></a></li>
    </ol>

  </div>

  <h1 class="heading-large">Access your levy account</h1>

  <p class="lede">
   Employees who have a payroll of more than £3m pay an apprenticeship levy. <a href="#">Find out more about the apprenticeship levy.</a>To access your levy details, create an account below.
  </p>




      <h2 class="heading-medium">Create an account</h2>
<form action="" >
  <fieldset>
    <legend class="visuallyhidden">users email address and confirmation</legend>
      <div class="form-group">
          <label class="form-label" for="email-address">Email address
          <span class="form-hint">Here is a hint for this form field.</span>
        </label>
          <input class="form-control" id="email-address" type="text">
      </div>
      <div class="form-group">
          <label class="form-label" for="confirm-email-address">Confirm email address</label>
          <input class="form-control" id="confirm-email-address" type="text">
      </div>
      </fieldset>
      <fieldset>
      <legend class="visuallyhidden">user chooses password and confirmation</legend>
      <div class="form-group">
          <label class="form-label" for="password">Password</label>
          <input class="form-control" id="password" type="text">
      </div>
      <div class="form-group">
          <label class="form-label" for="confirm-password">Confirm Password</label>
          <input class="form-control" id="confirm-password" type="text">
      </div>
    </fieldset>
    <input class="button" id="createAccountButton" type="submit" value="Create account">

</form>
</main>

<script>

//store details entered into the form in local storage
var createButton = document.getElementById('createAccountButton');
EventUtil.addHandler(createButton, 'click', function(){
              // save the form info to local storage by first putting the data into an object
              var userDetails = {
                email: document.getElementById('email-address').value,
                password: document.getElementById('password').value
            };

            //store the object in local storage using json stringify
              localStorage.setItem("login", JSON.stringify(userDetails));

            //store the users email address in a cookie to repeat back to them later. Remember that we have some of the data stored in an object in local storage as well -  so we'll use that again if we need it.
            document.cookie =  "emailAddress="  + userDetails.email 
            // shows the cookie in the console log to check it is working
            console.log (document.cookie)

        // not needed at the moment

              //hide the login form
              //$('#login').addClass('hidden');
              //show the quiz
           // $('#wrapper').removeClass('hidden')
    });
</script>

{% endblock %}
