{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}


<style>
  .people-nav a {
    {% include "includes/nav-on-state-css.html" %}
  }
</style>

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}
{% include "includes/secondary-nav-provider.html" %}


 <div class="breadcrumbs">
    <ol role="breadcrumbs">
            <li><a href="/{% include "includes/sprint-link.html" %}/balance">Account home</a></li>
            <li><a href="/{% include "includes/sprint-link.html" %}/contracts/providers">Commitment</a></li>
            <li><a href="/{% include "includes/sprint-link.html" %}/contracts/in-progress">Commitment in progress</a></li>
            <li id="removeWithNav">ID 98HGS3F</li>
    </ol>
  </div>



<div class="grid-row">
        <div class="column-two-thirds">
             <div class="govuk-box-highlight">
                <h1 class="bold-xlarge">
                  Request sent
                </h1>
                <p>Your reference number is <br>
                  <strong class="heading-medium">98HGS3F</strong>
                </p>
            </div>

          <div style="" >
          
            <p>Sent to: Hackney Skills and Training Ltd</p>
            <p>On behalf of: Acme Ltd Coventry</p>
            <p>Date: Thursday 18 May 2017</p> 
            <p>Message:<br />
               Please add the 12 x admin level 2 apprentices and 13 x engineering level 3 apprentices, as agreed on contract #51314.
            </p>        
            <h2 class="heading-medium">What happens next?</h2>
            <p class="">Your training provider will review your request and contact you as soon as possible - either with questions or to ask you to review the details they've added.</p>
          
          </div>

            </div>
              <div class="column-one-third">
          </div>
        </div>
</main>

 <!--button class="button">Do the thing</button-->



{% endblock %}

