{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}


    <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>
    <div id="skiplink-container">
        <div>
            <a class="skiplink" href="#content">Skip to main content</a>
        </div>
    </div>
    <div id="global-cookie-message">
        <p>GOV.UK uses cookies to make the site simpler. <a href=
        "https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
    </div>
    <header class="with-proposition" id="global-header" role="banner">
        <div class="header-wrapper">
            <div class="header-global">
                <div class="header-logo">
                    <a class="content sfa_logo" href="" id="logo" title=""><img alt=""
                    height="31" src=
                    "./assets/images/sfa_logotype_crest_invert.png" width="35"><span class="sfa_logo">Skills Funding<br/>Agency</span></a>
                </div>
            </div>
            <div class='header-proposition'>
                <div class='content'>
                    <a class='js-header-toggle menu' href=
                    '#proposition-links'>Menu</a>
                    <nav id='proposition-menu'>
                        <a href='#' id='proposition-name'>National Careers
                        Service</a>
                        <ul id='proposition-links'>
                            <li>
                                <a class="active" href='url-to-page-1'>Job
                                profiles</a>
                            </li>
                            <li>
                                <a href='url-to-page-2'>Skills health check</a>
                            </li>
                            <li>
                                <a href='url-to-page-3'>Find a course</a>
                            </li>
                            <li>
                                <a href='url-to-page-4'>About us</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div id="global-header-bar"></div>
    <main id="content" role="main">
        <div class="phase-banner-beta">
            <p><strong class="phase-tag">BETA</strong> <span>This website is
            being rebuilt - <a href="https://www.gov.uk/help/beta"
            target="_blank">find out what this means</a></span></p>
        </div>
        <div class="account-info">
            <a class="account-link" href="#" id="signin-link">Sign
            in</a><a class="account-link last-link" href="#" id=
            "createaccount-link">Create account</a>
        </div>
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge">National Careers Service</h1>
                <p class="lede">We provide information, advice and guidance to
                help you make decisions on learning, training and work
                opportunities.</p>
                <p>We are redesigning this service. If you previously had a Lifelong Learning Account you can still use

                    your existing details to sign in. You’ll be able to view your saved:</p>
<ul class="list list-bullet">
<li>CVs</li>

<li>Skills health check reports</li>

<li>action plans</li>

<li>course searches</li>
                </ul>
                <h4 class="heading-small"><a href="#">Job profiles</a></h4>
                <p>Explore what a job involves and if it's right for you.</p>
                <h4 class="heading-small"><a href="#">Skills health
                check</a></h4>
                <p>Use our assessment to find out what kind of jobs could suit
                you and save your results.</p>
                <h4 class="heading-small"><a href="#">Find a course</a></h4>
                <p>Look for and save information about courses and learning
                providers.</p>
                <h4 class="heading-small"><a href="#">Contact an
                adviser</a></h4>
                <p>Find out about the different ways to get in touch.</p>
            </div>
            <div class="column-one-third"></div>
        </div>
        <div class="grid-row">
            <div class="column-two-thirds">
                <div class="report-a-problem font-xsmall">
                    <a class="report">Is there anything wrong with this
                    page?</a>
                </div>
                <div class="panel panel-border-narrow report-form">
                    <h2 class="heading-medium">Help us improve</h2>
                    <p>Don’t include personal or financial information, eg your
                    National Insurance number or credit card details.</p>
                    <form>
                        <div class="form-group">
                            <label class="form-label" for=
                            "What-you-were-doing">What you were doing</label>
                            <input class="form-control" id=
                            "What-you-were-doing" name="What-you-were-doing"
                            type="text">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for=
                            "What-went-wrong">What went wrong</label>
                            <input class="form-control" id="What-went-wrong"
                            name="What-went-wrong" type="text">
                        </div>
                        <p>If you have more extensive feedback, visit the
                        <a href="#">contact page</a>.</p>
                        <div class="form-group">
                            <input class="button" type="submit" value="Send">
                        </div>
                        <!--<h2 class="heading-medium">Thank you for your help</h2>
<p>If you have more extensive feedback, visit the <a href="#">contact page</a>.</p>-->
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer class="group js-footer" id="footer" role="contentinfo">
        <div class="footer-wrapper">
            <div class="footer-meta">
                <div class="footer-meta-inner">
                    <ul>
                        <li>
                            <a href="#">Contact us</a>
                        </li>
                        <li>
                            <a href="#">Privacy and cookies</a>
                        </li>
                        <li>
                            <a href="#">Terms and conditions</a>
                        </li>
                        <li style="display: block;">Built by the <a href=
                        "https://www.gov.uk/government/organisations/skills-funding-agency">
                            Skills Funding Agency</a>
                        </li>
                    </ul>
                    <div class="open-government-licence">
                        <p class="logo"><a href=
                        "https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
                        rel="license">Open Government Licence</a></p>
                        <p>All content is available under the <a href=
                        "https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
                        rel="license">Open Government Licence v3.0</a>, except
                        where otherwise stated</p>
                    </div>
                </div>
                <div class="copyright">
                    <a href=
                    "http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">
                    © Crown copyright</a>
                </div>
            </div>
        </div>
    </footer>
    <div class="app-error hidden" id="global-app-error"></div>
    <!-- govuk_template js -->
    <script src="./assets/javascripts/govuk-template.js">
    </script> 
    <script src="./assets/javascripts/vendor/jquery-1.11.0.min.js">
    </script> <!-- govuk_frontend_toolkit js --> 
    <script src="./assets/javascripts/vendor/polyfills/bind.js">
    </script> 
    <script src="./assets/javascripts/govuk/selection-buttons.js">
    </script> <!-- govuk_elements js --> 
    <script src="./assets/javascripts/vendor/details.polyfill.js">
    </script> 
    <script src="./assets/javascripts/application.js">
    </script> <!-- dialog js --> 
    <script src="./assets/javascripts/dialog-polyfill.0.4.3-01.js">
    </script> 
    <script src="./assets/javascripts/dialog.js">
    </script>


{% endblock %}