<thead>
                    <tr>
                      <th scope="col">Date</th>
                      <th class="numeric" scope="col">Available to spend</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <td class="rjTableName">September 2018</td>
                      <td class="numeric">£5,792</td>
                    </tr>
                    <tr>
                      <td class="rjTableName">October 2018</td>
                      <td class="numeric">£2,740</td>
                    </tr>
                    <tr>
                     <td class="rjTableName">November 2018</td>
                      <td class="numeric ">£6,028</td>
                    </tr>
                    <tr>
                     <td class="rjTableName">December 2018</td>
                      <td class="numeric ">£8,096</td>
                    </tr>
                   <tr>
                     <td class="rjTableName">January 2019</td>
                      <td class="numeric ">£520</td>
                    <tr>
                     <td class="rjTableName">February 2019</td>
                      <td class="numeric ">£6,789</td>
                    </tr>
                    <tr>
                     <td class="rjTableName">March 2019</td>
                      <td class="numeric">£9,898</td>
                    </tr>
                    <tr>
                     <td class="rjTableName">April 2019</td>
                      <td class="numeric negativNumber">£12,041</td>
                    </tr>
                    <tr>
                     <td class="rjTableName">May 2019</td>
                      <td class="numeric ">£12,590</td>
                    </tr>
                    <tr>
                     <td class="rjTableName">June 2019</td>
                      <td class="numeric ">£13,002</td>
                    </tr>
                     <tr>
                     <td class="rjTableName">July 2019</td>
                      <td class="numeric ">£11,324</td>
                    </tr>
                    <tr>
                     <td class="rjTableName">August 2019</td>
                      <td class="numeric ">£8,000</td>
                    </tr>