                    <thead>
                      <tr>
                        <h2 class="heading-medium">Summary of funds you could lose</h2>
                        <th scope="col">Dates</th>
                        <th scope="col" class="numeric">Amount you could lose</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="rjTableName">Expiring in < 3 months</td>
                        <td class="numeric">£1,000</td>
                      </tr>
                      <tr>
                        <td class="rjTableName">Expiring in 3 to 6 months</td>
                        <td class="numeric">£2,050</td>
                      </tr>
                      <tr>
                        <td class="rjTableName">Expiring in 6 to 12 months</td>
                        <td class="numeric">£3,447</span></td>
                      </tr>