                    <thead>
                      <tr>
                        <h2 class="heading-medium">Potential loss of funds summary</h2>
                        <th scope="col"></th>
                        <th scope="col" class="numeric"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="rjTableName">Expiring in < 3 months</td>
                        <td class="numeric">£1,000</td>
                      </tr>
                      <tr>
                        <td class="rjTableName">Expiring in 3 to 6 months</td>
                        <td class="numeric">£2,051</td>
                      </tr>
                      <tr>
                        <td class="rjTableName">Expiring in 6 to 12 months</td>
                        <td class="numeric">£3,447</td>
                      </tr>