<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />


<!-- Javascript -->
<script src="/public/javascripts/details.polyfill.js"></script>
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/govuk/selection-buttons.js"></script>
<script src="/public/javascripts/application.js"></script>
<script src="/public/javascripts/custom.js"></script>
<script src="/public/javascripts/knockout-3.3.0.js"></script>
<script src="/public/javascripts/Chart.min.js"></script>
<script src="/public/javascripts/dataModel.js"></script>
<script src="https://assets.digital.cabinet-office.gov.uk/finder-frontend/application-65f9b98a164e7a65c93f2adc91eb3fa6.js"></script>

<!-- jquery  tabs-->
<!--script src="/public/javascripts/jquery.tabs.js"></script-->
