<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/public/css/font-awesome.min.css" media="screen" rel="stylesheet" type="text/css" />

<!-- Javascript -->
<script src="/public/javascripts/details.polyfill.js"></script>
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/govuk/selection-buttons.js"></script>
<script src="/public/javascripts/application.js"></script>
<script src="/public/javascripts/custom.js"></script>
<script src="/public/javascripts/knockout-3.3.0.js"></script>
<script src="/public/javascripts/Chart.min.js"></script>
<script src="/public/javascripts/moment-with-locales.js"></script>
<!-- jquery  tabs-->
<script src="/public/javascripts/jquery.tabs.js"></script>


<!--<script src="/public/javascripts/dataModel.js"></script>-->
<script src="/public/javascripts/das/number-extension-1.0.js"></script>
<script src="/public/javascripts/das/data-model-1.1.js"></script>
<script src="/public/javascripts/das/commitment-1.0.js"></script>