<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />


<!-- Javascript -->
<script src="/public/javascripts/details.polyfill.js"></script>
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/govuk/selection-buttons.js"></script>
<script src="/public/javascripts/application.js"></script>
<script src="/public/javascripts/custom.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/knockout/knockout-3.3.0.js"></script>

<!-- jquery  tabs-->
<!--script src="/public/javascripts/jquery.tabs.js"></script-->
