				<ol class="list list-number">
                            <li><a href="/{% include "includes/sprint-link.html" %}/register/inform_1">Overview</a></li>
                            <li><a href="/{% include "includes/sprint-link.html" %}/register/inform_2">Who pays levy</a></li>
                            <li><a href="/{% include "includes/sprint-link.html" %}/register/inform_5">What can the levy be spent on</a></li>
                            
                        </ol>
                    </div>
                    <div class="column-half">
                        <ol class="list list-number" start="4">
                            <li><a href="/{% include "includes/sprint-link.html" %}/register/inform_4">How much you have to spend</a></li>
                            <li><a href="/{% include "includes/sprint-link.html" %}/register/inform_6">Get access to your funds</a></li>
                            <li><a href="/{% include "includes/sprint-link.html" %}/register/inform_7">Spend on apprenticeships</a></li>

                    </ol>