<div class="rjNavigation">





 </div> 

 
  <ul class="tabs-nav" id="tabs-nav" role="tablist">
    <li class="active">
      <a href="#summary" role="tab" id="tab-summary">Summary</a>
    </li>
    <li class="">
      <a href="#apprenticeships" role="tab" id="tab-apprenticeships">Apprenticeships</a>
    </li>
    <li class="">
      <a href="#recruitment" role="tab" id="tab-recruitment">Recruitment</a>
    </li>
  </ul>
</div>

<div class="js-tab-content tab-content">
        <div class="js-tab-pane tab-pane" id="summary">
            <div class="grid-row">
              <div class="column-two-thirds">
                <h2 class="bold-medium">Current apprenticeships</h2>
                <p>You have no apprenticeships registered</p>
                <p><a href="#">Recruit apprentices</a><p>
                <p><a href="#">Add training providers to your account</a></p>
                <p><a href="#">Add existing apprentices to your account</a></p>
              </div>
              <div class="column-one-third">
                <h2 class="bold-medium">Levy funding</h2>
                <p>April 2017 - March 2019</p>
                <p><a href="#">Recent transactions</a><p>
                <p><a href="#">Set up a payment plan</a></p>
                <p><a href="#">Make a payment</a></p>
              </div>
            </div>
       <div class="twenty-top"></div>
             <div class="grid-row">
              <div class="column-two-thirds">
                <h2 class="bold-medium">Recruitment</h2>
                <p>You have no vacancies listed</p>
                <p><a href="#">Create a vacancy</a><p>
              </div>
              <div class="column-one-third">
                <h2 class="bold-medium">Messages</h2>
                <p>Welcome to your account</p>
                <p>Find out how to get the best from your account</p>
                <button class="button">Read all messages</button>
              </div>
            </div>
        </div>

    <div class="js-tab-pane tab-pane" id="apprenticeships">Apprenticeships
    </div>

    <div class="js-tab-pane tab-pane" id="recruitment">Recruitment
    </div>

</div>


