
<nav id="navigation-primary" style="display:none">
				<ul>
					<li class="top_nav"><a href="/{% include "includes/sprint-link.html" %}/balance">Home</a></li>
					<li class="works_nav"> <a href="#works">Finance</a></li>
					<li class="locations_nav"><a href="#location">People</a></li>
					<li class="contact_nav"><a href="#contact">Providers</a></li>
            
				</ul>
</nav>
<nav id="navigation-secondary" style="display:none">
				<ul class="finance-nav">
					<li class="top_nav"><a href="/{% include "includes/sprint-link.html" %}/forecast/cashflow">Forecast</a></li>
					<li class="works_nav"> <a href="/{% include "includes/sprint-link.html" %}/history">Payments</a></li>
					<li class="locations_nav"><a href="/{% include "includes/sprint-link.html" %}/committed">Committed spending</a></li>
					<li class="contact_nav"><a href="/{% include "includes/sprint-link.html" %}/expire">Expiring funds</a></li>
					<li class="contact_nav">Download data</li>
				</ul>
				<ul class="people-nav"s style="display:none">
					<li class="top_nav"><a href="balance">Home</a></li>
					<li class="works_nav"> <a href="#works">Finance</a></li>
					<li class="locations_nav"><a href="#location">People</a></li>
					<li class="contact_nav"><a href="#contact">Providers</a></li>
				</ul>
				<ul class="providers-nav" style="display:none">
					<li class="top_nav"><a href="balance">Home</a></li>
					<li class="works_nav"> <a href="#works">Finance</a></li>
					<li class="locations_nav"><a href="#location">People</a></li>
					<li class="contact_nav"><a href="#contact">Providers</a></li>
				</ul>
</nav>

<!--not needed at the moment

              //hide the login form
              //$('#login').addClass('hidden');
              //show the quiz
           // $('#wrapper').removeClass('hidden')
    });


-->