<nav id="navigation-primary" class="rj-dont-display">
				<ul class="">
					<li class="top_nav home-nav"><a href="/{% include "includes/sprint-link.html" %}/balance">Home</a></li>
					<li class="top_nav financial-nav"> <a href="/{% include "includes/sprint-link.html" %}/finance">Funding</a></li>
					<li class="top_nav people-nav"><a href="/{% include "includes/sprint-link.html" %}/apprentice-view">Apprentices</a></li>
					<li class="top_nav provider-nav"><a href="/{% include "includes/sprint-link.html" %}/contracts/providers">Providers</a></li>
					<li class="top nav right-info sign-out-nav">Sign out</li>
				</ul>
</nav>


<script>


//Turns navigation on and off depending on local storage variable set at /navigation


var NavigationStatus = function() {
  var navStatus = JSON.parse(localStorage.getItem('Navigation-Status'));
   console.log(navStatus)
    if (navStatus == "on") {
      $( "#navigation-primary" ).removeClass( "rj-dont-display" );
  } else {
  $( "#navigation-primary" ).addClass( "rj-dont-display" );

  }
};
NavigationStatus();


</script>


<nav id="navigation-secondary" style="display:none">
				<ul class="finance-nav" style="display:none">
					<li class="top_nav"><a href="/{% include "includes/sprint-link.html" %}/forecast/">Forecast</a></li>
					<li class="top_nav"> <a href="/{% include "includes/sprint-link.html" %}/history">Payments</a></li>
					<li class="top_nav"><a href="/{% include "includes/sprint-link.html" %}/committed">Committed spending</a></li>
					<li class="top_nav"><a href="/{% include "includes/sprint-link.html" %}/expire">Expiring funds</a></li>
					<li class="top_navv">Download data</li>
				</ul>
				<ul class="people-nav"s style="display:none">
					<li class="top_nav"><a href="balance">View learners</a></li>
					<li class="works_nav"> <a href="#works">Recruit</a></li>

				</ul>
				<ul class="providers-nav" style="display:none">
					<li class="top_nav"><a href="balance">Review offers</a></li>
					<li class="works_nav"> <a href="#works">View contracts</a></li>
					<li class="locations_nav"><a href="#location">Start a new contract</a></li>
					<li class="contact_nav"><a href="#contact">Find a new provider</a></li>
					<li class="contact_nav"><a href="#contact">Search standards</a></li>
				</ul>
</nav>

