<nav id="navigation-secondary" style="">

				<ul class="providers-nav" style="">
					<li class="top_nav offers-nav"><a href="/{% include "includes/sprint-link.html" %}/payment/quote">Review offers</a></li>
					<li class="top_nav contracts-nav"> <a href="/{% include "includes/sprint-link.html" %}/contracts">View contracts</a></li>
					<li class="top_nav start-nav">Start a new contract</li>
					<li class="top_nav new-provider-nav">Find a new provider</li>
					<li class="top_nav search-standard-nav">Search standards</li>
				</ul>
</nav>

