
<nav id="navigation-secondary" style="display:">
				<ul class="finance-nav" style="">
					<li class="top_nav nav-forecast"><a href="/{% include "includes/sprint-link.html" %}/forecast/">Forecast</a></li>
					<li class="top_nav nav-payments"> <a href="/{% include "includes/sprint-link.html" %}/history">History</a></li>
					<li class="top_nav nav-committed"><a href="/{% include "includes/sprint-link.html" %}/committed">Committed spending</a></li>
					<li class="top_nav nav-expiring"><a href="/{% include "includes/sprint-link.html" %}/expire">Expiring funds</a></li>
					<li class="top_nav nav-download">Download data</li>
				</ul>

</nav>

<!--not needed at the moment

              //hide the login form
              //$('#login').addClass('hidden');
              //show the quiz
           // $('#wrapper').removeClass('hidden')
    });


-->