<div class="js-tabs nav-tabs">
  <ul class="tabs-nav" id="tabs-nav" role="tablist">
    <li class="active">
      <a href="#before-you-start" role="tab" id="tab-before-you-start">Before you start</a>
    </li>
    <li class="">
      <a href="#apprenticeships" role="tab" id="tab-apprenticeships">Another tab</a>
    </li>

  </ul>
</div>

<div class="js-tab-content tab-content">
        <div class="js-tab-pane tab-pane" id="before-you-start">
            <p>To create an account you will need the following information:</p>
            <p>1. Organisation type, name and details. If the organisation is a company we require the companies house number and the registered address.</p>
            <p>2. The email address of the person in your organisation who holds Government Gateway credentials.
This information will usually be held by those working in the Payroll department who deal with HMRC through the Government Gateway.</p>
<p>You will need to grant them access to the system so that they can enter the Government Gateway credentials and the PAYE scheme reference number.</p>
 <p>Read more about <a href="#">why the levy account requires this information</a>.</p>
  </p>

        </div>



</div>


