{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}


<main id="content" role="main">
{% include "includes/phase_banner_alpha.html" %}


  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/{% include "includes/sprint-link.html" %}/account">Apprenticeship Account</a></li>
      <li><a href="/{% include "includes/sprint-link.html" %}/payment">Provider payments</a></li>
      <li><a href="/{% include "includes/sprint-link.html" %}/payment/quote">Provider offer</a></li>
    </ol>

  </div>


<!--h1 class="heading-large">Levy account</h1-->
 <!--h2 class="bold-medium">Acme Ltd Levy Account</h2-->

  <div class="grid-row">
           <div class="column-two-thirds">
              <h1 class="heading-xlarge" style="margin:0px 0 50px 0">Approve provider offer</h1>
            <div>
                <p>
                  To finalise your approval of the quote we need you to agree to all of the following legal requirements
                </p>
               <div class="panel panel-border-wide">
                <p>
                  Remember you are entering into a binding legal contract on behalf of your organisation
                </p>
              </div>
                 <h2 class="heading-medium">
                  On behalf of my organisation:
                </h2>

                 <form action="/{% include "includes/sprint-link.html" %}/payment/offer-confirmed">
                    <legend class="visuallyhidden">Terms and conditions</legend>
                      <div class="form-group">
                      <label class="block-label" for="checkbox-1">
                        <input id="checkbox-1" type="checkbox" name="checkbox-group" value="agree-with-terms">
                        I declare that I am authorised to approve contracts
                      </label>
                      <label class="block-label" for="checkbox-2">
                        <input id="checkbox-2" type="checkbox" name="checkbox-group" value="agree-with-terms">
                        I agree with the <a href="#">Terms and Conditions</a>
                      </label>
                    </div>
                    </fieldset>
                  <div style="margin-top:20px;"><input class="button" id="approveContract" type="submit" value="Finish and Approve contract"></div>
                  </form>

            </div>
            <div style="margin-top:35px"></div>
            <div style="margin-top:50px"></div>
          </div>

          <div class="column-one-third">
                      
            </div>
        </div>
</main>

 <!--button class="button">Do the thing</button-->

<script>
//jquery that runs the tabs. Uses the jquery.tabs.js from gov.uk
$( document ).ready(function() {

  // change the tabs themselves to active - should be in the above but isn't working because it's looking for a not li so I added this as a quick fix.

  $("ul#tabs-nav li").click(function(e){
        if (!$(this).hasClass("active")) {
            var tabNum = $(this).index();
            var nthChild = tabNum+1;
            $("ul#tabs-nav li.active").removeClass("active");
            $(this).addClass("active");
            $("ul#tabs-nav li.active").removeClass("active");
            $("ul#tabs-nav li:nth-child("+nthChild+")").addClass("active");
        }
    });
});

  $('ul.tabs-nav').each(function(){
    // For each set of tabs, we want to keep track of
    // which tab is active and its associated content
    var $active, $content, $links = $(this).find('a');



    // If the location.hash matches one of the links, use that as the active tab.
    // If no match is found, use the first link as the initial active tab.
    $active = $($links.filter('[href="'+location.hash+'"]')[0] || $links[0]);
   // $active.addClass('active');
   console.log($active)

    $content = $($active[0].hash);

    // Hide the remaining content
    $links.not($active).each(function () {
      $(this.hash).hide();
    }); 

    // Bind the click event handler
    $(this).on('click', 'a', function(e){
      // Make the old tab inactive.
    //  $active.removeClass('active');
      $content.hide();

      // Update the variables with the new link and content
    //  $active = $(this);
      $content = $(this.hash);

      // Make the tab active.
     // $active.addClass('active');
      $content.show();

      // Prevent the anchor's default click action
      e.preventDefault();
    });
  });


</script>

{% endblock %}

