{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<style>

#navigation-primary {
  display:none ;
}

</style>


<script>
// not needed at the moment, remember to remove script from the header if you don't use this in the end.

//jQuery( document ).ready(function() {
     //jQuery.validate(); 
// });


</script>


<main id="content" role="main">

  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      {% include "includes/breadcrumbs/register-back.html" %}
    </ol>
  </div>

  <div class="grid-row">
           <div class="column-two-thirds">
            <div class="rjHMRCLogo"><img src="/public/images/hmrc.jpg"></div>
            <h1 class="heading-xlarge" >Government Gateway ID</h1>
            <p>Enter the Government Gateway ID for every PAYE scheme you want to link to your apprenticeship account. You will only need to do this once.<p/>
            <!--p>Progressive reveal</p><p>What if my organisation has more than one Government Gateway account?</p-->

            <!--h2 class="heading-medium" style="margin-top:10px">Organisation information</h2-->
                        </div>
      <div class="column-one-third"></div>
</div>
            <form action="govt-gateway-disclaimer">
              <fieldset>
                <legend class="visuallyhidden">Government Gateway credentials</legend>
                  <div class="form-group">

                      <label class="form-label-bold" for="goverment-gateway-username">Government Gateway username</label>
                      <!--span class="form-hint">The username used to log into the Government Gateway. </span-->

                    </label>
                      <input class="form-control " id="government-gateway-username" type="text">
                    </fieldset>
                     <fieldset>
                  <legend class="visuallyhidden">companies house number</legend>
                  <div class="form-group">
                      <label class="form-label-bold" for="companies-house-number">Government Gateway password</label>
                      <!--span class="form-hint">The password used to log into the Government Gateway.</span-->
                      <input class="form-control " id="companies-house-number" type="password">
                  </div>

                </fieldset>
                <input class="button" id="saveAndContinue" type="submit" value="Save and continue">

              </form>

</main>

<script>

//store details entered into the form in local storage
var createButton = document.getElementById('createAccountButton');
EventUtil.addHandler(createButton, 'click', function(){
              // save the form info to local storage by first putting the data into an object
              var userDetails = {
                email: document.getElementById('email-address').value,
                password: document.getElementById('password').value
            };

            //store the object in local storage using json stringify
              localStorage.setItem("login", JSON.stringify(userDetails));

            //store the users email address in a cookie to repeat back to them later. Remember that we have some of the data stored in an object in local storage as well -  so we'll use that again if we need it.
            document.cookie =  "emailAddress="  + userDetails.email 
            // shows the cookie in the console log to check it is working
            console.log (document.cookie)

        // not needed at the moment

              //hide the login form
              //$('#login').addClass('hidden');
              //show the quiz
           // $('#wrapper').removeClass('hidden')
    });
</script>

{% endblock %}
