{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<style>

#navigation-primary {
  display:none ;
}

</style>



<script>
// not needed at the moment, remember to remove script from the header if you don't use this in the end.

//jQuery( document ).ready(function() {
     //jQuery.validate(); 
// });


//loopyloop stores a variable in local storage if the user is looping through the govt gateway form multiple times so I can display a confirmation page later
var loopyLoop = function() {
  var isLooping = 'yes';
  localStorage.setItem("is-looping", JSON.stringify(isLooping));
  window.location.href='govtCredentials';
};

var whereNow = function() {
  var areWeLooping = JSON.parse(localStorage.getItem('is-looping'));
   console.log(areWeLooping)
    if (areWeLooping == "yes") {
      var isLooping = 'no';
      localStorage.setItem("is-looping", JSON.stringify(isLooping));
    window.location.href='confirmation';
  } else {
    window.location.href='confirmation';
  }
};

</script>


<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol role="breadcrumbs">
{% include "includes/breadcrumbs/register-back.html" %}
    </ol>
  </div>

      <div class="grid-row">
           <div class="column-two-thirds">
              <h1 class="heading-xlarge" >Company name</h1>
              <p>We need to use a company name on the contract <p/>
                <h2 class="heading-large" style="margin-bottom:0; ">Acme Coventry Store Ltd</h2>
              <!--h2 class="heading-medium" style="margin-top:10px">Organisation information</h2-->
              <form action="companyDetails">
                  <legend class="visuallyhidden">PAYE scheme reference number</legend>
                    <div class="form-group">
                      <label class="form-label-bold" for="companies-house-number">Use Acme Coventry Store Ltd as the company name on your contract?</label>
                    <label class="block-label" for="checkbox1">
                      <input id="checkbox1" type="radio" name="checkbox-group" value="paye-1">
                     Yes, use Acme Coventry Store Ltd as the contract name
                     </label>
                    <label class="block-label" for="checkbox2">
                      <input id="checkbox2" type="radio" name="checkbox-group" value="paye-2">
                    No, let me choose another company 
                     </label>
                  </div>
                </fieldset>
                <!-- function loopyLoop and whereNow are at the top of this page -->
                  <div style="margin-top:50px"></div>
				  <!--input class="button" id="saveAndContinue" onclick="whereNow()" value="Save and continue"-->
          <input class="button" id="saveAndContinue" type="submit" value="Save and continue">
              </form>
            </div>
            <div class="column-one-third"></div>
          </div>

</main>

<script>




</script>

{% endblock %}
