{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<style>

#navigation-primary {
  display:none ;
}

</style>


<script>
// not needed at the moment, remember to remove script from the header if you don't use this in the end.

//jQuery( document ).ready(function() {
     //jQuery.validate(); 
// });


</script>


<main id="content" role="main">
{% include "includes/phase_banner_alpha.html" %}

<div class="breadcrumbs">
    <ol role="breadcrumbs">
<!--the breadcrumb for the inform pages is in the following template -->
       {% include "includes/breadcrumbs/inform-bread.html" %}

    </ol> 

  </div>

        <div class="grid-row">

            <div class="column-two-thirds">
                <h1 class="heading-xlarge">Access my apprenticeship funding</h1>
                <div class="grid-row">
                    <div class="column-half">
                      <!--the navigation for the inform pages is in the following template -->
                        {% include "includes/inform-nav.html" %}
                    </div>
                </div>

                <h2 class="heading-large">5. Get access to your funds</h2>
                <p>Need to explain claiming and spending</p>

                <!--<p class="form-hint">Search or browse to find your business type or the skill you’re looking for, eg Engineering or Accountant.</p>-->





            </div>
                      <!--the side bar for the inform pages is in the following template -->
                        {% include "includes/side-bars/inform.html" %}


        </div>
</main>

<script>
//jquery that runs the tabs. Uses the jquery.tabs.js from gov.uk



$( document ).ready(function() {

  // change the tabs themselves to active - should be in the above but isn't working because it's looking for a not li so I added this as a quick fix.

  $("ul#tabs-nav li").click(function(e){
        if (!$(this).hasClass("active")) {
            var tabNum = $(this).index();
            var nthChild = tabNum+1;
            $("ul#tabs-nav li.active").removeClass("active");
            $(this).addClass("active");
            $("ul#tabs-nav li.active").removeClass("active");
            $("ul#tabs-nav li:nth-child("+nthChild+")").addClass("active");
        }
    });
});

  $('ul.tabs-nav').each(function(){
    // For each set of tabs, we want to keep track of
    // which tab is active and its associated content
    var $active, $content, $links = $(this).find('a');



    // If the location.hash matches one of the links, use that as the active tab.
    // If no match is found, use the first link as the initial active tab.
    $active = $($links.filter('[href="'+location.hash+'"]')[0] || $links[0]);
   // $active.addClass('active');
   console.log($active)

    $content = $($active[0].hash);

    // Hide the remaining content
    $links.not($active).each(function () {
      $(this.hash).hide();
    }); 

    // Bind the click event handler
    $(this).on('click', 'a', function(e){
      // Make the old tab inactive.
    //  $active.removeClass('active');
      $content.hide();

      // Update the variables with the new link and content
    //  $active = $(this);
      $content = $(this.hash);

      // Make the tab active.
     // $active.addClass('active');
      $content.show();

      // Prevent the anchor's default click action
      e.preventDefault();
    });
  });


</script>


{% endblock %}
