{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}

<link href="/public/stylesheets/filtering.css" media="screen" rel="stylesheet" type="text/css" />

<style>
  .people-nav a, .learners-nav a {
    {% include "includes/nav-on-state-css.html" %}
  }
</style>


<main id="content" role="main">
{% include "includes/phase_banner_alpha.html" %}
{% include "includes/secondary-nav-people.html" %}


  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/{% include "includes/sprint-link.html" %}/balance">Account home</a></li>
      <li><a href="/{% include "includes/sprint-link.html" %}/apprentice-view/people">Apprentices</a></li>
       <li id="removeWithNav">Your apprentices</li>
    </ol>
  </div>


<!--h1 class="heading-large">Levy account</h1-->
 <!--h2 class="bold-medium">Acme Ltd Levy Account</h2-->
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge" >{% include "includes/account-name-number.html" %}Apprentices on programme</h1>
    <!--p class="lede">All apprentices who are currently on your programme and need no action.</p-->
  </div>
</div>

 <div class="grid-row">
   <div class="column-one-third">
    
    <div class="filter-form filtering ">
      <div id="finder-frontend" class="inner-block">

        <form method="get" action="/" class="js-live-search-form">
          <div class="filter text-filter">
            <label class="legend" for="finder-keyword-search">Search</label>
            <input value="" type="text" name="keywords" id="finder-keyword-search" aria-controls="js-search-results-info" class="text">
          </div>


        <!--div class="govuk-option-select js-collapsible" >
            <button class="js-container-head" type="button" aria-expanded="false" aria-controls="case_state">
              <div class="option-select-label">Commitment status</div>
              <div class="js-selected-counter"></div></button>
                <div class="options-container" id="case_state">
                  <div class="js-auto-height-inner">
                      <label for="new">
                        <input name="case_type[]" value="acme-cov" id="status-new" type="checkbox" aria-controls="js-search-results-info">
                          New (1)
                        </label>
                        <label for="Awaiting - Provider input">
                        <input name="case_type[]" value="Cyberdyne" id="Cyberdyne" type="checkbox" aria-controls="js-search-results-info">
                          Needs your input (1)
                        </label>
                        <label for="Awaiting - Employer input">
                        <input name="case_type[]" value="Tyrell" id="Tyrell" type="checkbox" aria-controls="js-search-results-info">
                          In progress with employer (1)
                        </label>
                        <label for="Approved by employer">
                        <input name="case_type[]" value="Tyrell" id="Tyrell" type="checkbox" aria-controls="js-search-results-info">
                          Approved by employer (1)
                        </label>

                  </div>

               </div>
          </div-->



        <!--div class="govuk-option-select js-collapsible" >
            <button class="js-container-head" type="button" aria-expanded="false" aria-controls="case_state">
              <div class="option-select-label">Status</div>
              <div class="js-selected-counter"></div></button>
                <div class="options-container" id="case_state">
                  <div class="js-auto-height-inner">
                      <label for="action-needed">
                       <input name="case_type[]" value="acme-cov" id="acme-cov" type="checkbox" aria-controls="js-search-results-info">
                          Action needed
                        </label>
                         <label for="Live">
                        <input name="case_type[]" value="acme-cov" id="acme-cov" type="checkbox" aria-controls="js-search-results-info">
                          Live
                        </label>
                        <label for="Paused">
                        <input name="case_type[]" value="Cyberdyne" id="Cyberdyne" type="checkbox" aria-controls="js-search-results-info">
                          Paused
                        </label>
                         <label for="Stopped">
                        <input name="case_type[]" value="Cyberdyne" id="Cyberdyne" type="checkbox" aria-controls="js-search-results-info">
                          Stopped
                        </label>
                        <label for="Finished">
                        <input name="case_type[]" value="Tyrell" id="Tyrell" type="checkbox" aria-controls="js-search-results-info">
                         Finished
                        </label>
                  </div>
               </div>
          </div-->

          <div class="govuk-option-select js-collapsible" >
            <button class="js-container-head" type="button" aria-expanded="false" aria-controls="case_state">
              <div class="option-select-label">Training</div>
              <div class="js-selected-counter"></div></button>
                <div class="options-container" id="case_state">
                  <div class="js-auto-height-inner">
                      <label for="Acme Coventry Ltd">
                        <input name="case_type[]" value="acme-cov" id="acme-cov" type="checkbox" aria-controls="js-search-results-info">
                          Mechatronics engineers
                        </label>
                        <label for="Cyberdyne Systems Inc">
                        <input name="case_type[]" value="Cyberdyne" id="Cyberdyne" type="checkbox" aria-controls="js-search-results-info">
                          Manufacturing engineers
                        </label>
                        <label for="Tyrell Corp">
                        <input name="case_type[]" value="Tyrell" id="Tyrell" type="checkbox" aria-controls="js-search-results-info">
                          Survival equipment fitter
                        </label>
                                                <label for="Tyrell Corp">
                        <input name="case_type[]" value="Tyrell" id="Tyrell" type="checkbox" aria-controls="js-search-results-info">
                          Network engineer
                        </label>
                                                                        <label for="Tyrell Corp">
                        <input name="case_type[]" value="Tyrell" id="Tyrell" type="checkbox" aria-controls="js-search-results-info">
                          Cyber intrusion analyst
                        </label>
                                                                                                <label for="Tyrell Corp">
                        <input name="case_type[]" value="Tyrell" id="Tyrell" type="checkbox" aria-controls="js-search-results-info">
                          Cyber security technologist
                        </label>
                                                                                                              <label for="Tyrell Corp">
                        <input name="case_type[]" value="Tyrell" id="Tyrell" type="checkbox" aria-controls="js-search-results-info">
                          Embedded Electronic Systems Design and Development Engineer
                        </label>

                  </div>

               </div>
          </div>

 



        </div>
      </div>
    </div>




                <div class="column-two-thirds">
                      <table class="">
                          <thead>
                            <tr>
                              <th scope="col" style="padding-top:0">Name</th>
                              <th scope="col" style="padding-top:0">Date of birth</th>
                               <!--th scope="col" style="padding-top:0">Status</th-->
                               <th scope="col" style="padding-top:0"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <!--quick hack, will fix -->
                              <td class="rjTabWidth">Rob Edwards</td>
                              <td class="">03/06/97</td>
                              <!--td class="">Live</td-->
                              <td><a href="/{% include "includes/sprint-link.html" %}/apprentice-view/individual-apprentice">View</a></td>
                            </tr>
                             <tr>
                              <td class="rjTabWidth">Susan Hamazaki</td>
                              <td class="">12/10/95</td>
                               <!--td class="">Paused</td-->
                              <td class="looks-like-a-link-underline">View</td>
                            </tr>
                            <tr>
                              <td class="rjTabWidth">David Jenkins</td>
                              <td class="">05/09/99</td>
                                <!--td class="">Action needed</td-->
                               <td class="looks-like-a-link-underline">View</td>
                            </tr>
                            <tr>
                              <td class="rjTabWidth">Mel O'Connor</td>
                              <td class="">01/05/98</td>
                                <!--td class="">Stopped</td-->
                              <td class="looks-like-a-link-underline">View</td>
                            </tr>
                          </tbody>
                      </table>
                 </div>
             </div>
</main>



 <!--button class="button">Do the thing</button-->

<script>
//jquery that runs the tabs. Uses the jquery.tabs.js from gov.uk
$( document ).ready(function() {

  // change the tabs themselves to active - should be in the above but isn't working because it's looking for a not li so I added this as a quick fix.

  $("ul#tabs-nav li").click(function(e){
        if (!$(this).hasClass("active")) {
            var tabNum = $(this).index();
            var nthChild = tabNum+1;
            $("ul#tabs-nav li.active").removeClass("active");
            $(this).addClass("active");
            $("ul#tabs-nav li.active").removeClass("active");
            $("ul#tabs-nav li:nth-child("+nthChild+")").addClass("active");
        }
    });
});

  $('ul.tabs-nav').each(function(){
    // For each set of tabs, we want to keep track of
    // which tab is active and its associated content
    var $active, $content, $links = $(this).find('a');



    // If the location.hash matches one of the links, use that as the active tab.
    // If no match is found, use the first link as the initial active tab.
    $active = $($links.filter('[href="'+location.hash+'"]')[0] || $links[0]);
   // $active.addClass('active');
   console.log($active)

    $content = $($active[0].hash);

    // Hide the remaining content
    $links.not($active).each(function () {
      $(this.hash).hide();
    }); 

    // Bind the click event handler
    $(this).on('click', 'a', function(e){
      // Make the old tab inactive.
    //  $active.removeClass('active');
      $content.hide();

      // Update the variables with the new link and content
    //  $active = $(this);
      $content = $(this.hash);

      // Make the tab active.
     // $active.addClass('active');
      $content.show();

      // Prevent the anchor's default click action
      e.preventDefault();
    });
  });


</script>

{% endblock %}

