{% extends "layout.html" %}

{% block head %}
    {% include "includes/head.html" %}
    <script>
        $(document).ready(function() {
            $('#bulk-upload-finish').click(function() {
                window.das.commitments.addApprenticeships([
                    {
                        training: {
                            code: 1,
                            name: "Mechatronics Engineer"
                        },
                        start: {
                            month: 11,
                            year: 2018
                        },
                        finish:
                        {
                            month: 10,
                            year: 2020
                        },
                        cost: 1500,
                        apprentice: {
                            first: "David",
                            last: "Edwards",
                            uln: 9021001209
                        }
                    },
                    {
                        training: {
                            code: 1,
                            name: "Mechatronics Engineer"
                        },
                        start: {
                            month: 11,
                            year: 2018
                        },
                        finish:
                        {
                            month: 10,
                            year: 2020
                        },
                        cost: 1500,
                        apprentice: {
                            first: "Rob",
                            last: "Andrews",
                            uln: 8780601583
                        }
                    },
                    {
                        training: {
                            code: 1,
                            name: "Mechatronics Engineer"
                        },
                        start: {
                            month: 11,
                            year: 2018
                        },
                        finish:
                        {
                            month: 10,
                            year: 2020
                        },
                        cost: 1500,
                        apprentice: {
                            first: "Mellisa",
                            last: "Shaw",
                            uln: 6421001981
                        }
                    },
                    {
                        training: {
                            code: 1,
                            name: "Mechatronics Engineer"
                        },
                        start: {
                            month: 11,
                            year: 2018
                        },
                        finish:
                        {
                            month: 10,
                            year: 2020
                        },
                        cost: 1500,
                        apprentice: {
                            first: "Brendan",
                            last: "Hamazaki",
                            uln: 67210012321
                        }
                    },
                    {
                        training: {
                            code: 1,
                            name: "Mechatronics Engineer"
                        },
                        start: {
                            month: 11,
                            year: 2018
                        },
                        finish:
                        {
                            month: 10,
                            year: 2020
                        },
                        cost: 1500,
                        apprentice: {
                            first: "Gary",
                            last: "Barton",
                            uln: 21210012876
                        }
                    }
                ]);
                window.location.href = 'cohorts';
            });
        });
    </script>
{% endblock %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}


<style>
  #navigation-primary {
    display:none;
  }
</style>

<script>
// SCRIPT AT BOTTOM OF THE PAGE
</script>



<main id="content" role="main">
{% include "includes/phase_banner_alpha.html" %}
{% include "includes/secondary-nav-provider.html" %}


  <!--div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/{% include "includes/sprint-link.html" %}/account">Access my funds</a></li>
    </ol>

  </div-->

     <div class="breadcrumbs back-breadcrumb">
    <ol role="breadcrumbs">
      {% include "includes/breadcrumbs/register-back.html" %}
    </ol>
  </div>


<div class="grid-row">

           <div class="column-two-thirds">
  <h1 class="heading-xlarge" >Check your upload</h1>
  <p>The first five rows of your upload are shown below, check that fields are in the right place.</p>
</div>
</div>
                <table class="" id=""> 
                    <thead>
                      <tr>

                        <!--th scope="col">Training code</th-->
                        <th scope="col">Training type</th>
                        <th scope="col" class="">Given</br />Name</th>
                        <th scope="col" class="">Family<br />Name</th>
                        <th scope="col" class="">ULN</th>
                        <th scope="col" class="">Start<br />date</th>
                        <th scope="col" class="">End<br />date</th>
                         <th scope="col" class="">Cost</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <!--td>09130</td-->
                        <td>Mechatronics Engineer</td>
                        <td class="">David</td>
                         <td class="">Edwards</td>
                        <td class="">9021001209</td>
                        <td class="">11/2018</td>
                         <td class="">10/2020</td>
                        <td scope="" class="">£1,500</td>
                      </tr>
                                            <tr>
                        <!--td>09130</td-->
                        <td>Mechatronics Engineer</td>
                        <td class="">Rob</td>
                        <td class="">Andrews</td>
                        <td class="">8780601583</td>
                        <td class="">11/2018</td>
                         <td class="">10/2020</td>
                        <td scope="" class="">£1,500</td>
                      </tr>
                                            <tr>
                        <!--td>09130</td-->
                        <td>Mechatronics Engineer</td>
                        <td class="">Mellisa</td>
                        <td class="">Shaw</td>
                        <td class="">6421001981</td>
                        <td class="">11/2018</td>
                         <td class="">10/2020</td>
                        <td scope="" class="">£1,500</td>
                      </tr>
                                            <tr>
                        <!--td>09130</td-->
                        <td>Mechatronics Engineer</td>
                        <td class="">Brendan</td>
                        <td class="">Hamazaki</td>
                        <td class="">67210012321</td>
                        <td class="">11/2018</td>
                         <td class="">10/2020</td>
                        <td scope="" class="">£1,500</td>
                      </tr>
                                            <tr>
                        <!--td>09130</td-->
                        <td>Mechatronics Engineer</td>
                        <td class="">Gary</td>
                        <td class="">Barton</td>
                        <td class="">21210012876</td>
                        <td class="">11/2018</td>
                         <td class="">10/2020</td>
                        <td scope="" class="">£1,500</td>
                      </tr>

                    </tbody>
                </table>


<div style="margin-top:10px"><a href="#">View all rows</a></div>

 
<form style="margin-top:35px" action="cohorts">
    <input class="button" id="bulk-upload-finish"  value="Save and approve">
</form>
<div style="margin-top:15px"><a href="bulk-upload">Upload again</a></div>
    <div style="margin-top:50px"></div>
    <!-- template to pull in the start tabs so this doesn't get too messy - it is pulling in the tabs -->
<!-- {% include "includes/start-tabs.html" %} -->

            </div>

             <div class="column-one-third">
                      <!--aside class="related">
                        <h2 class="heading-medium" style="margin-top:10px">Existing account</h2>
                        <nav role="navigation">
                      <ul class="robSideNav">
                          <li>
                            <a href="../login">Sign in</a>
                          </li>

                        </ul>
                           </nav>
                    </aside-->
            </div>
</div>
</main>






{% endblock %}
