{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}


<style>
  .people-nav a, .learners-nav a {
    {% include "includes/nav-on-state-css.html" %}
  }
</style>


<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}
{% include "includes/secondary-nav-people.html" %}


  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/{% include "includes/sprint-link.html" %}/account">Account home</a></li>
      <li><a href="/{% include "includes/sprint-link.html" %}/settings/">Settings</a></li>
      <li>Team members</li>
    </ol>
  </div>


<!--h1 class="heading-large">Levy account</h1-->
 <!--h2 class="bold-medium">Acme Ltd Levy Account</h2-->
 <div class="user-alert">
  <div class="panel panel-border-wide alert-success">
            <p>Invite sent to brendan.mcshane@acmecoventryltd.com</p>
          </div>
</div>
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge" >{% include "includes/account-name-number.html" %}Team members</h1>
  </div>
    <div class="column-one-third">
                 <form action="/{% include "includes/sprint-link.html" %}/settings/users/add-new-user">
                  <div style="margin-top:30px; float:right"><input class="button" id="addNewUser" type="submit" value="Invite team member"></div>
              </form>
  </div>
</div>





<div class="">
                      <table class="">
                          <thead>
                            <tr>
                              <th scope="col" style="padding-top:0">Team member</th>
                              <!--th scope="col" style="padding-top:0">Email address</th-->
                              <th scope="col" class="align-center-columns" style="padding-top:0">Manage users</th>
                              <th scope="col" class="align-center-columns" style="padding-top:0">Manage PAYE</th>
                              <th scope="col" class="align-center-columns" style="padding-top:0">Transact</th>
                               <th scope="col" class="align-center-columns" style="padding-top:0">Status</th>

                               <th scope="col" style="padding-top:0"></th>
                            </tr>
                          </thead>
                          <tbody>
                             <tr>
                              <td class="rjTabWidth"><span style="font-weight:700">Brendan McShane</span><br />brendan.mcshane@acmecompanyltd.com</td>
                              <!--td class="">mel.oconnor@acmecoventry.com</td-->
                              <td class="align-center-columns">-</td>
                              <td class="align-center-columns">-</td>
                              <td class="align-center-columns">X</td>
                               <td class="align-center-columns">Active</td>
                              <td class="looks-like-a-link-underline align-center-columns">View</td>
                            </tr>
                            <tr>
                              <!--quick hack, will fix -->
                              <td ><span style="font-weight:700">Rob Edwards </span> <br />rob.edwards@acmecompanyltd.com </td>

                              <!--td class="">rob.edwards@acmecoventry.com</td-->
                              <td class="align-center-columns">X</td>
                              <td class="align-center-columns">X</td>
                              <td class="align-center-columns">X</td>
                              <td class="align-center-columns">Active</td>
                              <td class="align-center-columns"><a href="/{% include "includes/sprint-link.html" %}/settings/users/individual-user">View</a></td>
                            </tr>
                             <tr>
                              <td class="rjTabWidth"><span style="font-weight:700">Susan Hamazaki</span><br />susan.hamazaki@acmecompanyltd.com</td>
                              <!--td class="">susan.hamazaki@acmecoventry.com</td-->
                              <td class="align-center-columns">X</td>
                              <td class="align-center-columns">X</td>
                              <td class="align-center-columns">X</td>
     
                               <td class="align-center-columns">Active</td>
                              <td class="looks-like-a-link-underline align-center-columns">View</td>
                            </tr>
                            <tr>
                              <td class="rjTabWidth"><span style="font-weight:700">David Jenkins</span><br />david.jenkins@acmecompanyltd.com</td>
                              <!--td class="">david.jenkins@acmecoventry.com</td-->
                              <td class="align-center-columns">X</td>
                              <td class="align-center-columns">X</td>
                              <td class="align-center-columns">X</td>
                               <td class="align-center-columns">Pending</td>
                               <td class="looks-like-a-link-underline align-center-columns">View</td>
                            </tr>
                            <tr>
                              <td class="rjTabWidth"><span style="font-weight:700">Mel O'Connor</span><br />mel.oconnor@acmecompanyltd.com</td>
                              <!--td class="">mel.oconnor@acmecoventry.com</td-->
                              <td class="align-center-columns">X</td>
                              <td class="align-center-columns">X</td>
                              <td class="align-center-columns">X</td>
                               <td class="align-center-columns">Active</td>
                              <td class="looks-like-a-link-underline align-center-columns">View</td>
                            </tr>
                          </tbody>
                      </table>
             </div>
</main>



 <!--button class="button">Do the thing</button-->

<script>
//jquery that runs the tabs. Uses the jquery.tabs.js from gov.uk
$( document ).ready(function() {

  // change the tabs themselves to active - should be in the above but isn't working because it's looking for a not li so I added this as a quick fix.

  $("ul#tabs-nav li").click(function(e){
        if (!$(this).hasClass("active")) {
            var tabNum = $(this).index();
            var nthChild = tabNum+1;
            $("ul#tabs-nav li.active").removeClass("active");
            $(this).addClass("active");
            $("ul#tabs-nav li.active").removeClass("active");
            $("ul#tabs-nav li:nth-child("+nthChild+")").addClass("active");
        }
    });
});

  $('ul.tabs-nav').each(function(){
    // For each set of tabs, we want to keep track of
    // which tab is active and its associated content
    var $active, $content, $links = $(this).find('a');



    // If the location.hash matches one of the links, use that as the active tab.
    // If no match is found, use the first link as the initial active tab.
    $active = $($links.filter('[href="'+location.hash+'"]')[0] || $links[0]);
   // $active.addClass('active');
   console.log($active)

    $content = $($active[0].hash);

    // Hide the remaining content
    $links.not($active).each(function () {
      $(this.hash).hide();
    }); 

    // Bind the click event handler
    $(this).on('click', 'a', function(e){
      // Make the old tab inactive.
    //  $active.removeClass('active');
      $content.hide();

      // Update the variables with the new link and content
    //  $active = $(this);
      $content = $(this.hash);

      // Make the tab active.
     // $active.addClass('active');
      $content.show();

      // Prevent the anchor's default click action
      e.preventDefault();
    });
  });


</script>

{% endblock %}

