{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}


<style>
  .people-nav a, .learners-nav a {
    {% include "includes/nav-on-state-css.html" %}
  }
</style>


<main id="content" role="main">
{% include "includes/phase_banner_alpha.html" %}
{% include "includes/secondary-nav-people.html" %}

  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/{% include "includes/sprint-link.html" %}/account">change me</a></li>
      <li><a href="/{% include "includes/sprint-link.html" %}/settings/">change me</a></li>
      <li><a href="/{% include "includes/sprint-link.html" %}/settings/">Manage team members</a></li>
      <li>Susan Hamazaki</li>  
    </ol>
  </div>


<!--h1 class="heading-large">Levy account</h1-->
 <!--h2 class="bold-medium">Acme Ltd Levy Account</h2-->

  <div class="grid-row">
           <div class="column-two-thirds">
              <h1 class="heading-xlarge" >Change team member access</h1>
            <div>
                <!--p>
                  Are you sure you want to cancel the invitation to David Jenkins?
                </p-->
                <!--h2 class="heading-medium">
                  What do you want to update?
                </h2-->
                

                 <form action="/{% include "includes/sprint-link.html" %}/settings/users/">
                    <legend class="visuallyhidden">Change the role</legend>
                    <fieldset>
                          <legend class="visuallyhidden">Access to the service</legend>

                          <p>
                            Select what the team member should be allowed to do.
                          </p>

                          <label class="rj-roles-choice block-label " for="radio-1">
                            <input id="radio-1" type="radio" name="radio-group" value="Viewer">
                        View financial information	
                          </label>

                          <label class="block-label rj-roles-choice" for="radio-2">
                            <input id="radio-2" type="radio" name="radio-group" value="Doer">
                   Create and stop payments, sign legal agreements, manage PAYE schemes and team accounts
                          </label>

                          <label class="block-label rj-roles-choice" for="radio-3">
                            <input id="radio-3" type="radio" name="radio-group" value="Owner">
                            Create and stop payments, sign legal agreements, manage PAYE schemes and team accounts	
                          </label>
                        </fieldset>
                  <div style="margin-top:20px;"><input class="button" id="paymentPlan" type="submit" value="Continue"></div>
                  </form>

            </div>
            <div style="margin-top:35px"></div>
            <div style="margin-top:50px"></div>
          </div>

          <div class="column-one-third">
                       <!--aside class="related">
                        <h2 class="heading-medium" style="margin-top:10px">Provider management</h2>
                        <nav role="navigation">
                      <ul class="robSideNav">
                        
                          <li>
                            <a href="/{% include "includes/sprint-link.html" %}/payment/paymentplan">Add a new payment plan (OUT?)</a>
                          </li>
                          <li>
                            <a href="/{% include "includes/sprint-link.html" %}/payment/makepayment">Make a payment</a>
                          </li>
                           <li>
                            <a href="/{% include "includes/sprint-link.html" %}/payment/reviewpayments">Review and amend regular payments</a>
                          </li>
                            <li>
                            <a href="/{% include "includes/sprint-link.html" %}/payment/spendingcommitments">View a summary of your spending commitments</a>
                          </li>
                        </ul>
                           </nav>
                    </aside-->
            </div>
        </div>
</main>

 <!--button class="button">Do the thing</button-->


{% endblock %}

