{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}


<style>
  .people-nav a, .learners-nav a {
    {% include "includes/nav-on-state-css.html" %}
  }
</style>


<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}
{% include "includes/secondary-nav-people.html" %}


  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/{% include "includes/sprint-link.html" %}/account">Account home</a></li>
      <li><a href="/{% include "includes/sprint-link.html" %}/settings/">Settings</a></li>
      <li><a href="/{% include "includes/sprint-link.html" %}/settings/users">Team members</a></li>
      <li>David Jenkins</li>
    </ol>
  </div>


<!--h1 class="heading-large">Levy account</h1-->
 <!--h2 class="bold-medium">Acme Ltd Levy Account</h2-->

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge" >{% include "includes/account-name-number.html" %}David Jenkins<!--span class="heading-secondary" style="padding-top:0px">rob.edwards@acmecoventryltd.com</span--></h1>
    <div>

   


    <table class="table-19-font"> 
      <thead>
        <tr>
          <th colspan="2"> <h2 class="heading-medium" style="margin-top:0">Overview</h2></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="rjTableName">Email</td>
          <td class="">david.jenkins@acmecoventry.com</td>

        </tr>
        <tr>
          <td class="rjTableName">Role</td>
          <td class="">Viewer</td>

        </tr>
        <tr>
          <td class="rjTableName">Status</td>
          <td class="">Pending</td>

        </tr>
      </tbody>
    </table>
    <div style="margin-top:35px"></div>
     <p>
      This user has not accepted the invitation to be a team member.  Their
      invitation will expire at midnight on Friday 30 June 2018.
    </p>
     <div style="padding-top:15px"></div>

    <form class="inline-form">
          <input class="button" id="saveAndContinue" type="submit" value="Resend invitation">
    </form>

    <form class="inline-form delete-form" action="/{% include "includes/sprint-link.html" %}/settings/users/confirm-cancel">
          <input class="button delete-button"  id="saveAndContinue" type="submit" value="Cancel invitation">
    </form>

                <!--table class="table-19-font"> 
                  <thead>
                    <tr>
                      <th colspan="2"> <h2 class="heading-medium">Payment</h2></th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                     <td class="rjTableName">Cost</td>
                      <td class="">£2,957.56</td>
                      <td class=""></td>
                    </tr>
                    <tr>
                     <td class="rjTableName">Amount paid</td>
                      <td class="">£1,312.56</td>
                      <td class=""><a href="/{% include "includes/sprint-link.html" %}/apprentice-view/paid">View</a></td>
                    </tr>
                     <tr>
                     <td class="rjTableName">Balance</td>
                      <td class="">£1,645.00</td>
                      <td class=""><a href="/{% include "includes/sprint-link.html" %}/apprentice-view/left-to-pay">View</a></td>
                    </tr>

                  </tbody>
                </table-->

          
            </div>
            <div style="margin-top:35px">

              </div>
            <div style="margin-top:50px"></div> 
          </div>

          <div class="column-one-third">
                      <!--aside class="related">
                        <h2 class="heading-medium" style="margin-top:10px">Do something</h2>
                        <p>Do something to the thing</p>

                    <form action="/{% include "includes/sprint-link.html" %}/apprentice-view/update-apprenticeship">
                        <div style="margin-top:20px;"><input class="button" id="updateDetails" type="submit" value="Do a thing"></div> 
                    </form>

                        <!--h2 class="heading-medium" style="margin-top:10px">Provider management</h2>
                        <nav role="navigation">
                      <ul class="robSideNav"-->
                          <!--li>
                            <a href="/{% include "includes/sprint-link.html" %}/payment/quote">Review provider "offers"</a>
                          </li-->
                          <!--li>
                            <a href="/{% include "includes/sprint-link.html" %}/payment/paymentplan">Add a new payment plan (OUT?)</a>
                          </li>
                          <li>
                            <a href="/{% include "includes/sprint-link.html" %}/payment/makepayment">Make a payment</a>
                          </li>
                           <li>
                            <a href="/{% include "includes/sprint-link.html" %}/payment/reviewpayments">Review and amend regular payments</a>
                          </li>
                            <li>
                            <a href="/{% include "includes/sprint-link.html" %}/payment/spendingcommitments">View a summary of your spending commitments</a>
                          </li>
                        </ul>
                           </nav-->
                    </aside>
            </div>
        </div>
</main>

 <!--button class="button">Do the thing</button-->

<script>
//jquery that runs the tabs. Uses the jquery.tabs.js from gov.uk
$( document ).ready(function() {

  // change the tabs themselves to active - should be in the above but isn't working because it's looking for a not li so I added this as a quick fix.

  $("ul#tabs-nav li").click(function(e){
        if (!$(this).hasClass("active")) {
            var tabNum = $(this).index();
            var nthChild = tabNum+1;
            $("ul#tabs-nav li.active").removeClass("active");
            $(this).addClass("active");
            $("ul#tabs-nav li.active").removeClass("active");
            $("ul#tabs-nav li:nth-child("+nthChild+")").addClass("active");
        }
    });
});

  $('ul.tabs-nav').each(function(){
    // For each set of tabs, we want to keep track of
    // which tab is active and its associated content
    var $active, $content, $links = $(this).find('a');



    // If the location.hash matches one of the links, use that as the active tab.
    // If no match is found, use the first link as the initial active tab.
    $active = $($links.filter('[href="'+location.hash+'"]')[0] || $links[0]);
   // $active.addClass('active');
   console.log($active)

    $content = $($active[0].hash);

    // Hide the remaining content
    $links.not($active).each(function () {
      $(this.hash).hide();
    }); 

    // Bind the click event handler
    $(this).on('click', 'a', function(e){
      // Make the old tab inactive.
    //  $active.removeClass('active');
      $content.hide();

      // Update the variables with the new link and content
    //  $active = $(this);
      $content = $(this.hash);

      // Make the tab active.
     // $active.addClass('active');
      $content.show();

      // Prevent the anchor's default click action
      e.preventDefault();
    });
  });


</script>

{% endblock %}

