{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}

<style>
  .provider-nav a {
    {% include "includes/nav-on-state-css.html" %}
  }
</style>


<main id="content" role="main">
{% include "includes/phase_banner_alpha.html" %}


  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/{% include "includes/sprint-link.html" %}/account">Account home</a></li>
            <li>Contracts</li>
    </ol>
  </div>


<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge" >{% include "includes/account-name-number.html" %}Review contracts with providers</h1>
  </div>
</div>

<div class="grid-row">
   <div class="column-one-third">
<div class="filter-form">
  <div id="finder-frontend" class="inner-block">
    <form method="get" action="/cma-cases" class="js-live-search-form">
      <div class="filter text-filter">
        <label class="legend" for="finder-keyword-search">Search</label>
        <input value="" type="text" name="keywords" data-bind='textInput: filterText' id="finder-keyword-search" aria-controls="js-search-results-info" class="text">
      </div>




<div class="govuk-option-select js-collapsible js-closed" data-closed-on-load="true">
  <button class="js-container-head" type="button" aria-expanded="false" aria-controls="case_state">
    <div class="option-select-label">Contract status</div>
  <div class="js-selected-counter"></div></button>
  <div class="options-container" id="case_state">
    <div class="js-auto-height-inner">

    </div>

  </div>
</div>

<div class="govuk-option-select js-collapsible js-closed" data-closed-on-load="true">
  <button class="js-container-head" type="button" aria-expanded="false" aria-controls="market_sector">
    <div class="option-select-label">Providers</div>
  <div class="js-selected-counter"></div></button>
  <div class="options-container" id="market_sector">
    <div class="js-auto-height-inner">
      <!--label for="market_sector-aerospace">
        <input name="market_sector[]" value="aerospace" id="market_sector-aerospace" type="checkbox" aria-controls="js-search-results-info">
        Aerospace
        </label>
      <label for="market_sector-agriculture-environment-and-natural-resources">
        <input name="market_sector[]" value="agriculture-environment-and-natural-resources" id="market_sector-agriculture-environment-and-natural-resources" type="checkbox" aria-controls="js-search-results-info">
        Agriculture, environment and natural resources
        </label>
      <label for="market_sector-building-and-construction">
        <input name="market_sector[]" value="building-and-construction" id="market_sector-building-and-construction" type="checkbox" aria-controls="js-search-results-info">
        Building and construction
        </label-->

    </div>

  </div>
</div>

<div class="govuk-option-select js-collapsible js-closed" data-closed-on-load="true">
  <button class="js-container-head" type="button" aria-expanded="false" aria-controls="market_sector">
    <div class="option-select-label">Standards</div>
  <div class="js-selected-counter"></div></button>
  <div class="options-container" id="market_sector">
    <div class="js-auto-height-inner">
      <!--label for="market_sector-aerospace">
        <input name="market_sector[]" value="aerospace" id="market_sector-aerospace" type="checkbox" aria-controls="js-search-results-info">
        Aerospace
        </label>
      <label for="market_sector-agriculture-environment-and-natural-resources">
        <input name="market_sector[]" value="agriculture-environment-and-natural-resources" id="market_sector-agriculture-environment-and-natural-resources" type="checkbox" aria-controls="js-search-results-info">
        Agriculture, environment and natural resources
        </label>
      <label for="market_sector-building-and-construction">
        <input name="market_sector[]" value="building-and-construction" id="market_sector-building-and-construction" type="checkbox" aria-controls="js-search-results-info">
        Building and construction
        </label-->

    </div>

  </div>
</div>

<!--div class="filter text-filter">
  <label class="legend" for="closed_date[from]">Closed after</label>
  <input value="" type="text" name="closed_date[from]" id="closed_date[from]" aria-controls="js-search-results-info" aria-describedby="date-help-text-closed_date" class="text">

  <label class="legend" for="closed_date[to]">Closed before</label>
  <input value="" type="text" name="closed_date[to]" id="closed_date[to]" aria-controls="js-search-results-info" class="text" aria-describedby="date-help-text-closed_date">
  <span id="date-help-text-closed_date" class="help-text">For example, 2005 or 21/11/2014<span>
</span></span>
</div-->

      <input type="submit" value="Filter results" class="button js-live-search-fallback">
    </form>
  </div>
</div>






   </div>
   <div class="column-two-thirds">
   <div data-bind='foreach: filteredProviders'>
           <div class="robColumnDetails">
              <h2 class="looks-like-a-link heading-medium" style="margin: 0 0 5px 0"><a style="text-decoration:none" href="/{% include "includes/sprint-link.html" %}/contracts/contract-apprenticeships" data-bind="text: providerName" ></a></h2>
                      <div><h2 class="heading-small" style="display:inline-block; margin:0;">Reference:&nbsp</h2 ><p style="display:inline; margin:0;" data-bind="text: reference" ></p></div>
                      <div><p style="display:inline; margin:0;" data-bind="text: standards"></p></div>
          </div>
          

       </div>        
    </div>
</div>





</main>



 <!--button class="button">Do the thing</button-->

<script>
//jquery that runs the tabs. Uses the jquery.tabs.js from gov.uk
$( document ).ready(function() {

  // change the tabs themselves to active - should be in the above but isn't working because it's looking for a not li so I added this as a quick fix.

  $("ul#tabs-nav li").click(function(e){
        if (!$(this).hasClass("active")) {
            var tabNum = $(this).index();
            var nthChild = tabNum+1;
            $("ul#tabs-nav li.active").removeClass("active");
            $(this).addClass("active");
            $("ul#tabs-nav li.active").removeClass("active");
            $("ul#tabs-nav li:nth-child("+nthChild+")").addClass("active");
        }
    });
});

  $('ul.tabs-nav').each(function(){
    // For each set of tabs, we want to keep track of
    // which tab is active and its associated content
    var $active, $content, $links = $(this).find('a');



    // If the location.hash matches one of the links, use that as the active tab.
    // If no match is found, use the first link as the initial active tab.
    $active = $($links.filter('[href="'+location.hash+'"]')[0] || $links[0]);
   // $active.addClass('active');
   console.log($active)

    $content = $($active[0].hash);

    // Hide the remaining content
    $links.not($active).each(function () {
      $(this.hash).hide();
    }); 

    // Bind the click event handler
    $(this).on('click', 'a', function(e){
      // Make the old tab inactive.
    //  $active.removeClass('active');
      $content.hide();

      // Update the variables with the new link and content
    //  $active = $(this);
      $content = $(this.hash);

      // Make the tab active.
     // $active.addClass('active');
      $content.show();

      // Prevent the anchor's default click action
      e.preventDefault();
    });
  });


</script>

{% endblock %}

