{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}

<style>
 .provider-nav a {
    {% include "includes/nav-on-state-css.html" %}
  }
</style>


<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}
{% include "includes/secondary-nav-provider.html" %}


  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/{% include "includes/sprint-link.html" %}/account">Account home</a></li>
       <li>Commitments</li>
    </ol>

  </div>


<!--h1 class="heading-large">Levy account</h1-->
 <!--h2 class="bold-medium">Acme Ltd Levy Account</h2-->


            <h1 class="heading-xlarge rj-headings-border " >{% include "includes/account-name-number.html" %}Commitments</h1>
          <div class="grid-row">
            
                         <div class="column-two-thirds">
            <div class="column-half ">

            </div>
            <div class="grid-row">
            <div class="column-half">
              <h3 class="heading-medium" style="margin-top:0"><a href="/{% include "includes/sprint-link.html" %}/contracts">Approved commitments</a></h3>
               <p class="rj-home-spacer">Check your existing commitments with training providers</p>
              
            </div>
          </div>  

          <div class="grid-row">
            <div class="column-half ">
              <h3 class="heading-medium rj-top-border" style="margin-top:0; padding-top:35px"><a href="/{% include "includes/sprint-link.html" %}/contracts/new-contract">Start a new commitment</a></h3>
              <p class="rj-home-spacer">Add a new commitment with a training provider to your apprenticeship account</p>
              
            </div>
            <div class="column-half">
              <h3 class="heading-medium rj-top-border" style="margin-top:0; padding-top:35px"><a href="/{% include "includes/sprint-link.html" %}/contracts/in-progress"> Commitments in progress</a></h3>
               <p class="rj-home-spacer">Check the status of a commitment being added to your apprenticeship account</p>
              
            </div>
          </div>  

          </div>
        </div>
      </div>



         <div class="column-one-third">
        <!--div>
            <div class="home-figures space-at-bottom">
                <h2 class="heading-small" >Your current balance is:</h2>
                <h2 class="bold-xlarge" data-bind="text: displayBalance"></h2> 
                <p style="font-size:16px; margin-bottom:35px" >on <span data-bind="text: displaySystemDate"></span></p>
                <a href="/{% include "includes/sprint-link.html" %}/history/" >View your statement history</a>
            </div>
              <div class="home-figures space-at-bottom">
                <h2 class="heading-small" >Your committed spending is:</h2>
                <h2 class="bold-xlarge" >£132,853</h2> 
                <p style="font-size:16px; margin-bottom:35px" >Until 21 Dec 2021</p>
                <a href="/{% include "includes/sprint-link.html" %}/committed/" >View your committed spending</a>
            </div>
            <div class="home-figures space-at-bottom">
                <h2 class="heading-small" >Your English fraction is</h2>
                <h2 class="bold-xlarge" >0.81</h2> 
                <p style="font-size:16px; margin-bottom:35px" >Since 1 April 2017</p>

              <details>
                <summary><span class="summary">English fraction explained</span></summary>
                   <div class="panel panel-border-narrow">
                    <p>The proportion of payroll for an employer that is directly attributable to their English operations (separate from Scottish, Welsh or Northern Irish operations). This will be automatically calculated by HMRC using data on postcode of employee's home address.</p>
                   </div>
              </details>

            </div-->
          </div>
</div>


</main>



 <!--button class="button">Do the thing</button-->



{% endblock %}

