{% extends "layout.html" %}

{% block head %}
    {% include "includes/head.html" %}
    <script>
        var commitmentListSource = 'provider';
        var employerOrNot = JSON.parse(localStorage.getItem('commitments.isEmployer'));
    </script>
    <!--script src="/public/javascripts/das/list-commitment-1.5.js"></script-->
     <script src="/public/javascripts/das/jquery.highlight-5.js"></script>
{% endblock %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}

<style>
  .people-nav a {
    {% include "includes/nav-on-state-css.html" %}
  }
.highlight { font-weight:700; }

</style>



<script>

$(document).ready(function() {
  var changeStuff = function() {
  if (employerOrNot=='yes') {
    document.getElementById("commitmentsName").textContent = " Hackney Skills & Training Ltd";
    document.getElementById("providerName").textContent = "Provider:" ;
    $(notesStuff).addClass("rj-dont-display");
    $(addReference).addClass("rj-dont-display");
    $(ULNTable).addClass("rj-dont-display");

     $(removeMe).addClass("rj-dont-display")
    }
else {  
    $(notesStuff).removeClass("rj-dont-display");
    $(addReference).removeClass("rj-dont-display");
        };
  };

 var changeUnknown = function() {
  $('td').highlight('unknown');
  $('td').highlight('null');
  $('td').highlight('----');

 };

changeStuff();
changeUnknown();

});





</script>

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}



 <div class="breadcrumbs">
    <ol role="breadcrumbs">
            <li><a href="/{% include "includes/sprint-link.html" %}/balance">Home</a></li>
            <li><a href="/{% include "includes/sprint-link.html" %}/contracts/providers">Apprentices</a></li>
            <li><a href="/{% include "includes/sprint-link.html" %}/contracts/provider-in-progress">Start an apprentice</a></li>
            <li id="removeWithNav">98HGS3F</li>
    </ol>
  </div>

<div class="topWarningRed">
  <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

  <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
    Errors to fix
  </h1>

    <p>
      Check the following details:
    </p>

    <ul class="error-summary-list">
      <li><a href="#example-personal-details">Mechatronics engineer apprentices training dates</a></li>
    </ul>

  </div>
</div>

<!--h1 class="heading-large">Levy account</h1-->
 <!--h2 class="bold-medium">Acme Ltd Levy Account</h2-->

<h1 class="heading-xlarge" id="commitmentsHeader">Review your cohort</h1>
  <div class="grid-row">


     <div class="column-third" style="" >
                <div style="background-color:#2E358B; min-height:160px" >
                  <h2 id="numberOfApprentices" class="bold-xxlarge" style=" color:#fff; margin: 0px 0 0px 15px; padding-top:25px">25</h2>
                  <h2 class="heading-medium" style="color: #fff; margin: 0px 0 0px 15px;">Apprentices</h2>
              </div>
    </div>
         <div class="column-third" style="" >
                <div style="background-color:#912B88; min-height:160px" >
                  <h2 id="numberOfApprentices" class="bold-xxlarge" style=" color:#fff; margin: 0px 0 0px 15px; padding-top:25px">10</h2>
                  <h2 class="heading-medium" style="color: #fff; margin: 0px 0 0px 15px;">Incomplete records</h2>
              </div>
    </div>
         <div class="column-third" style="" >
                <div style="background-color:#D53880; min-height:160px" >
                  <h2 id="totalCostOfApprentices" class="bold-xlarge" style=" color:#fff; margin: 0px 0 0px 15px; padding-top:27px">£29,002</h2>
                  <h2 class="heading-medium" style="color: #fff; margin: 28px 0 0px 15px;">Total cost</h2>
              </div>
    </div>
  </div>

<div style="margin-top:35px"></div>
  <div class="grid-row">
           <div class="column-half">
                           <div class="" style="padding-bottom:15px">
                                     <!--h2 class="heading-medium" id="commitmentsName" style="margin: 0 0 5px 0">Acme Coventry Ltd</h2-->
                                     <div id=""><h2 id="providerName" class="heading-small"  style="display:inline-block; margin:0;">Employer:&nbsp</h2 ><p id="commitmentsName" style="display:inline; margin:0;">Acme Coventry Ltd</p></div>
                                  <div id="addReference"><h2 class="heading-small"  style="display:inline-block; margin:0;">Reference:&nbsp</h2 ><p style="display:inline; margin:0;">98HGS3F</p></div>

                          </div>
            </div>

        <div class="column-half" id="notesStuff">
          <div id="removeMe" style="padding-bottom:15px">
            <div><h2 class="heading-small" style="display:inline-block; margin:0;">Note:&nbsp</h2 ><p style=" margin:0;">No note added</p></div>
          </div>
        </div>
</div>

    <!-- ----------- This is the default where there aren't any groups or cohorts added ------------ -->

<!-- removed for static version -->

    <!-- -------------- This is shows when one apprenticeship has been added ---------- -->
                <div style="" class="rj-has-apprenticeships" id="apprenticeships">


       <hr style="margin:0 0 20px 0" />
        <div class="commit-bar">
                       <form class="" style="display:inline-block; float:left;" action="/{% include "includes/sprint-link.html" %}/contracts/provider-in-progress/do-next-approve-error">
                    <div style="display:inline-block;"><input class="button" style="display:inline; " type="submit"  id="send-to-employer"  value="Save and continue"></div>
              </form>

               <form class="" style="display:inline-block;" action="/{% include "includes/sprint-link.html" %}/contracts/new-contract/bulk-or-single">
                <input type="hidden" name="source" value="provider" />
                <div style="display:inline-block;"><input style="display:inline; margin:0 0 0 10px; " class="button-grey-secondary button " type="submit"  id="bulk-upload"  value="Add more apprentices"></div>
            </form>

            <!--form class="" style="display:inline-block; margin:0 0 0 10px; " action="/{% include "includes/sprint-link.html" %}/contracts/provider-interface/add-apprenticeship">
                <input type="hidden" name="source" value="provider" />
                <div style="display:inline-block;"><input style="display:inline" class="button-grey-secondary button " type="submit"  id="bulk-upload"  value="Add an apprentice"></div>
            </form-->

            <div style="clear:both"></div>
             <!--p style="display:inline; margin-top:20px"><a href="/{% include "includes/sprint-link.html" %}/contracts/provider-in-progress/bulk-upload-provider">Import apprenticeships</a></p-->

         <!-- <div>
         <hr style="margin:20px 0 0 0" />
              <h2 class="" style="font-size:24px; margin:18px 0 0 0; display:inline-block "><span style="" id=""></span> 25 Apprentices</h2>              <h2 class="" style="margin-top:18px; display:inline-block; float:right" ><span id="totalCostOfApprentices" style="font-size:24px;" >£29,002</span></h2>

              <p>8 Incomplete records</p>

          </div> -->
        </div>
        <hr style="margin:16px 0 15px 0" />
         <div style="clear:both"></div>

                <h2 class ="heading-medium"  style="margin-bottom:5px"  id="">4 Mechatronics Engineers</h2>
                <p style="margin:0 0 0 0">Level: 4</p>
                <p style="margin: margin:0 0 15px 0">Training code: 3246</p>
                <table>
                  <thead>
                      <tr>
                        <th scope="col" class=""  >Name</th>
                        <!--th scope="col" class="">Family<br />name</th-->
                        <!--th id="ULNTable" scope="col" class="">ULN</th-->
                        <th scope="" class="">Date of birth</th>
                        <th scope="col" class="">Training dates</th>
                        <!--th scope="col" class="">Endpoint Assessor</th-->
                         <th scope="col" class="">Cost</th>
                        <th scope="col" class=""></th>
                      </tr>
                    </thead>
                    <tbody>
                  <tr>
                    <td style="">
                      Fidel McDuffy
                    </td>
                    <td style="">
                      10 December 2001
                    </td>
                    <td style="">
                      11/2018 to 11/2020
                    </td>
                    <td>
                     £2,000 
                    </td>
                    <td>
                      <a href="../provider-interface/add-apprenticeship?id=a3f33bb8-8969-4471-aa9c-18f9405a16b0&amp;source=provider">Edit</a>
                    </td>
                  </tr>
                  <tr>
                    <td style="">
                      Anna Folk
                    </td>
                    <td style="">
                      <span class="highlight"><span class="highlight">----</span></span>
                    </td>
                    <td style="">
                      11/2018 to 11/2020
                    </td>
                    <td>
                     £2,200 
                    </td>  
                    </td>
                    <td>
                      <a href="../provider-interface/add-apprenticeship?id=ff5d8b24-a9c1-4637-9528-71925331eb09&amp;source=provider">Edit</a>
                    </td>
                  </tr>
                  <tr>
                    <td style="">
                      Kevin Field
                    </td>
                    <td style="">
                      16 May 1999
                    </td>
                    <td style="">
                      11/2018 to 11/2020
                    </td>
                    <td>
                      £1,500
                    </td>
                    <td>
                      <a href="../provider-interface/add-apprenticeship?id=f5fd8ef6-dde9-4da2-9426-ad0726e7e404&amp;source=provider">Edit</a>
                    </td>
                  </tr>
                  <tr>
                    <td style="">
                      Billy Smith
                    </td>
                    <td style="">
                      30 September 2001
                    </td>
                    <td style="">
                      11/2018 to 11/2020
                    </td>
                    <td>
                     £2,200 
                    </td>
                    <td>
                      <a href="../provider-interface/add-apprenticeship?id=2ecdf319-32c5-4f59-849f-fb50a47263f6&amp;source=provider">Edit</a>
                    </td>
                  </tr>
                  </tbody>
                </table>
                     <!--hr style="margin:35px 0 35px 0;"/-->
            </div>
               <h2 class ="heading-medium"  style="margin-bottom:5px"  id="">2 Mechatronics Engineers</h2>
                <p style="margin:0 0 0 0">Level: 3</p>
                <p style="margin: margin:0 0 15px 0">Training code: 9287</p>

            <div class="fullWidthGreyAlert panel panel-border-wide" id="example-personal-details">
              <h2 class="heading-medium" style="padding-top:20px; margin-bottom:10px">2 apprentices with overlapping training dates</h2>
                <p style="margin:0">These apprentices already have records with overlapping training dates in the apprenticeship service - please check the details are correct. If you're unsure, contact your training provider in the first instance.</p>
            </div>

                <table>
                  <thead>
                      <tr>
                        <th scope="col" class="">Name</th>
                        <!--th scope="col" class="">Family<br />name</th-->
                        <!--th id="ULNTable" scope="col" class="">ULN</th-->
                        <th scope="" class="">Date of birth</th>
                        <th scope="col" class="">Training dates</th>
                        <!--th scope="col" class="">Endpoint Assessor</th-->
                         <th scope="col" class="">Cost</th>
                        <th scope="col" class=""></th>
                      </tr>
                    </thead>
                    <tbody>
                  <tr>
                    <td style="">
                      Fidel McDuffy
                    </td>
                    <td style="">
                      1 October 2000
                    </td>
                    <td class="errorBoxRed" style="">
                      11/2018 to 11/2020
                    </td>
                    <td style="">
                      £2,000
                    </td>
                    <td>
                      <a href="../provider-interface/add-apprenticeship?id=a3f33bb8-8969-4471-aa9c-18f9405a16b0&amp;source=provider">Edit</a>
                    </td>
                  </tr>
                  <tr>
                    <td style="">
                      Anna Folk
                    </td>
                    <td style="">
                      30 June 2001
                    </td>
                    <td class="errorBoxRed" style="">
                      11/2018 to 11/2020
                    </td>
                    <td style="">
                      £2,000
                    </td>
                    <td>
                      <a href="../provider-interface/add-apprenticeship?id=ff5d8b24-a9c1-4637-9528-71925331eb09&amp;source=provider">Edit</a>
                    </td>
                  </tr>
                  </tbody>
                </table>
                     <!--hr style="margin:35px 0 35px 0;"/-->
            </div>

            <div id="bottomToolBarLotsofApprentices">
              <div style="margin-top:50px"></div>
        <hr style="margin:0 0 18px 0" />
        <div class="commit-bar">
              <form class="" style="display:inline-block; float:left;" action="/{% include "includes/sprint-link.html" %}/contracts/provider-in-progress/do-next-approve-error">
                    <div style="display:inline-block;"><input class="button" style="display:inline; " type="submit"  id="send-to-employer"  value="Save and continue"></div>
              </form>
               <form class="" style="display:inline-block;" action="/{% include "includes/sprint-link.html" %}/contracts/new-contract/bulk-or-single">
                    <input type="hidden" name="source" value="provider" />
                    <div style="display:inline-block;"><input style="display:inline; margin:0 0 0 10px; " class="button-grey-secondary button " type="submit"  id="bulk-upload"  value="Add more apprentices"></div>
            </form>
        </div>

        <hr style="margin:20px 0 15px 0" />
      </div>
</main>

 <!--button class="button">Do the thing</button-->



{% endblock %}

