{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}


<style>
  .people-nav a {
    {% include "includes/nav-on-state-css.html" %}
  }

</style>

 <script>
var whereNow = function() {
  var status = $('input[name=radio-group]:checked').val();
  console.log(status + " hello")
    if (status == "provider-1") {
         isEmployerorProvider();
  } else {
    window.location.href='find-provider';
  }
};

var isEmployerorProvider = function() {
// Rob add in here to skip the adding note if this is the employer journey

var goToEmployer = JSON.parse(localStorage.getItem('commitments.isEmployer'));

    if (goToEmployer == "yes") {
         window.location.href='../provider-in-progress/provider-list';
  } else {
    window.location.href='provider-contact';
  }


};

 </script>


<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}
{% include "includes/secondary-nav-provider.html" %}


  <!--div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/{% include "includes/sprint-link.html" %}/balance">Access my funds</a></li>
    </ol>

  </div-->

     <div class="breadcrumbs back-breadcrumb">
    <ol role="breadcrumbs">
       <a href="" class="link-back" onclick="goBack()">Search again </a>
    </ol>
  </div>


<div class="grid-row">
                    <div class="column-two-thirds">
  <h1 class="heading-xlarge" >Your training provider</h1>
  <p class="">Your search for <span style="font-weight:700">'9021055566'</span> has found the following result:</p>



                <h2 class="heading-large" style="margin-bottom:0; ">Hackney Skills and Training Ltd</h2>
                 <h3 class="heading-small" style="margin-top:0px; margin-bottom:0px;color:#6F777B " >93 Hackney Rd, London, EC1V 3QJ</h3>
                <h3 class="heading-small" style="margin-top:0px;  color:#6F777B " >UKPRN: 90 21 05 55 66</h3>
                 


              <!--h2 class="heading-medium" style="margin-top:10px">Organisation information</h2-->
              <form action="provider-contact">
                  <legend class="visuallyhidden">Training provider</legend>
                    <div class="form-group">
                      <label class="form-label-bold" for="">Is this the training provider you want to use?</label>
                    <label class="block-label" for="provider-1">
                      <input id="provider-1" type="radio" name="radio-group" value="provider-1">
                     Yes, use Hackney skills & training Ltd
                     </label>
                    <label class="block-label" for="provider-2">
                      <input id="provider-2" type="radio" name="radio-group" value="provider-2">
                    No, search again
                     </label>
                  </div>
                </fieldset>
                                  <div style="margin-top:50px"></div>
          <!--input class="button" id="saveAndContinue" onclick="whereNow()" value="Save and continue"-->
          <input class="button" id="saveAndContinue" type="button" onclick="whereNow()" value="Save and continue">
              </form>





    <div style="margin-top:50px"></div>
    <!-- template to pull in the start tabs so this doesn't get too messy - it is pulling in the tabs -->
<!-- {% include "includes/start-tabs.html" %} -->

            </div>

             <div class="column-one-third">
                      <!--aside class="related">
                        <h2 class="heading-medium" style="margin-top:10px">Existing account</h2>
                        <nav role="navigation">
                      <ul class="robSideNav">
                          <li>
                            <a href="../login">Sign in</a>
                          </li>

                        </ul>
                           </nav>
                    </aside-->
            </div>
</div>
</main>

<script>
//jquery that runs the tabs. Uses the jquery.tabs.js from gov.uk



$( document ).ready(function() {

  // change the tabs themselves to active - should be in the above but isn't working because it's looking for a not li so I added this as a quick fix.

  $("ul#tabs-nav li").click(function(e){
        if (!$(this).hasClass("active")) {
            var tabNum = $(this).index();
            var nthChild = tabNum+1;
            $("ul#tabs-nav li.active").removeClass("active");
            $(this).addClass("active");
            $("ul#tabs-nav li.active").removeClass("active");
            $("ul#tabs-nav li:nth-child("+nthChild+")").addClass("active");
        }
    });
});

  $('ul.tabs-nav').each(function(){
    // For each set of tabs, we want to keep track of
    // which tab is active and its associated content
    var $active, $content, $links = $(this).find('a');



    // If the location.hash matches one of the links, use that as the active tab.
    // If no match is found, use the first link as the initial active tab.
    $active = $($links.filter('[href="'+location.hash+'"]')[0] || $links[0]);
   // $active.addClass('active');
   console.log($active)

    $content = $($active[0].hash);

    // Hide the remaining content
    $links.not($active).each(function () {
      $(this.hash).hide();
    }); 

    // Bind the click event handler
    $(this).on('click', 'a', function(e){
      // Make the old tab inactive.
    //  $active.removeClass('active');
      $content.hide();

      // Update the variables with the new link and content
    //  $active = $(this);
      $content = $(this.hash);

      // Make the tab active.
     // $active.addClass('active');
      $content.show();

      // Prevent the anchor's default click action
      e.preventDefault();
    });
  });


</script>


{% endblock %}
