{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}


<style>


  #navigation-primary {
    display:none;
  }
</style>

<main id="content" role="main">
{% include "includes/phase_banner_alpha.html" %}


  <!--div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/{% include "includes/sprint-link.html" %}/account">Access my funds</a></li>
    </ol>

  </div-->




<div class="grid-row">
                    <div class="column-two-thirds">


             <div class="govuk-box-highlight">
                <h1 class="heading-xlarge">
                  Contract completed
                </h1>
                <p>Your contract reference number is <br>
                  <strong class="heading-medium">98HGS3F</strong>
                </p>
            </div>
                <p>The contract has been sent back to your employer to confirm the details.
                 You can view the progress of the contract in  <span class="looks-like-a-link-underline ">contracts in progress</span></p>


          </div>

          <div class="column-one-third">

          </div>
        </div>
</main>

 <!--button class="button">Do the thing</button-->



{% endblock %}

