{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}


<main id="content" role="main">
{% include "includes/phase_banner_alpha.html" %}


  <div class="breadcrumbs">
    <ol role="breadcrumbs">
 <li><a href="/{% include "includes/sprint-link.html" %}/payment/payment-plans">< Back</a></li>
    </ol>
  </div>


<!--h1 class="heading-large">Levy account</h1-->
 <!--h2 class="bold-medium">Acme Ltd Levy Account</h2-->


          <div class="column-two-thirds">
             <h1 class="heading-large" style="margin:0px 0 50px 0"><span class="heading-secondary" style="padding-top:0px">Acme Ltd: DF90832778</span>Individual payments</h1>

                <p>
                  Your payment schedule is made up of payments for individual apprenticeships. 
                </p>
            <h2 class="heading-medium">Payment schedule for July 2018</h2>

                <div style="margin-top:35px">
          
                <table>
                    <thead>
                      <tr>
                        <th scope="col">Apprentice</th>
                        <th scope="col" class="numeric">Payment due</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>David Jenkins</td>
                        <td class="numeric">£316.66</td>
                      </tr>
                      <tr>
                        <td>T.B.C</td>
                        <td class="numeric">£316.66</td>
                      </tr>
                      <tr>
                        <td>T.B.C</td>
                        <td class="numeric">£316.66</span></td>
                      </tr>
                      <tr>
                        <td>T.B.C</td>
                        <td class="numeric">£100.02</td>
                      </tr>
                    </tbody>
                </table>
                <table>
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col" class="numeric"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="font-weight:700;">Total</td>
                        <td class="numeric" style="font-weight:700;">£1,050.00</td>
                      </tr>
                    </tbody>
                </table>
              </div>
<div style="margin-top:35px">

              </div>
            <div style="margin-top:50px"></div>
          </div>

          <div class="column-one-third">

        </div>



</main>



 <!--button class="button">Do the thing</button-->

<script>
//jquery that runs the tabs. Uses the jquery.tabs.js from gov.uk
$( document ).ready(function() {

  // change the tabs themselves to active - should be in the above but isn't working because it's looking for a not li so I added this as a quick fix.

  $("ul#tabs-nav li").click(function(e){
        if (!$(this).hasClass("active")) {
            var tabNum = $(this).index();
            var nthChild = tabNum+1;
            $("ul#tabs-nav li.active").removeClass("active");
            $(this).addClass("active");
            $("ul#tabs-nav li.active").removeClass("active");
            $("ul#tabs-nav li:nth-child("+nthChild+")").addClass("active");
        }
    });
});

  $('ul.tabs-nav').each(function(){
    // For each set of tabs, we want to keep track of
    // which tab is active and its associated content
    var $active, $content, $links = $(this).find('a');



    // If the location.hash matches one of the links, use that as the active tab.
    // If no match is found, use the first link as the initial active tab.
    $active = $($links.filter('[href="'+location.hash+'"]')[0] || $links[0]);
   // $active.addClass('active');
   console.log($active)

    $content = $($active[0].hash);

    // Hide the remaining content
    $links.not($active).each(function () {
      $(this.hash).hide();
    }); 

    // Bind the click event handler
    $(this).on('click', 'a', function(e){
      // Make the old tab inactive.
    //  $active.removeClass('active');
      $content.hide();

      // Update the variables with the new link and content
    //  $active = $(this);
      $content = $(this.hash);

      // Make the tab active.
     // $active.addClass('active');
      $content.show();

      // Prevent the anchor's default click action
      e.preventDefault();
    });
  });


</script>

{% endblock %}

