{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<style>

#navigation-primary {
  display:none ;
}

</style>


<script>
$(document).ready(function() {
      var theButton = document.getElementById('finance-person-false');
      EventUtil.addHandler(theButton, 'click', function(event){
        event = EventUtil.getEvent(event);
        var target = EventUtil.getTarget(event);

           var $input = $("input:radio[value=true]:checked").val();

         if ($input) {} else { $( "#inline-finance-pro-error" ).removeClass( "tamc-js-hidden" );}
      });
      });
$(document).ready(function() {
            var anotherButton = document.getElementById('finance-person-true');
      EventUtil.addHandler(anotherButton, 'click', function(event){
        event = EventUtil.getEvent(event);
        var target = EventUtil.getTarget(event);

           var $inputOn = $("input:radio[value=true]:checked").val();
          if ($inputOn) {$( "#inline-finance-pro-error" ).addClass( "tamc-js-hidden" );} else { }
      });
         });



</script>


<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol role="breadcrumbs">
     {% include "includes/breadcrumbs/register-back.html" %}
    </ol>

  </div>


      <div class="grid-row">
           <div class="column-two-thirds">
             <h1 class="heading-xlarge" >Your Government Gateway username and password</h1>
             <p class="">To access your levy funds we need to access your tax records.</p>
             <p>To allow access you need to enter your Government Gateway username and password.</p>
            

              <form action="have-authority">
                    <div class="form-group inline">
                          <label class="form-label-bold" for="text">Do you have your Government Gateway details?</label> 
                        <fieldset class="inline spacingBottom" id="lower-earner" data-inline-error="inline-lower-earner-error">
                            <legend class="visuallyhidden">
                                eligibility.check.lower.earner.h2
                            </legend>
                        <label for="finance-person-true" class="block-label">
                                    <input type="radio" id="finance-person-true" name="govt-gateway" value="true">Yes </label>
                        <label for="finance-person-false" class="block-label">
                                    <input type="radio" id="finance-person-false" name="govt-gateway" value="false">No </label>
                        </fieldset>
                    </div>
                    <div class="tamc-js-hidden error-inline validation-summary" id="inline-finance-pro-error" >
        <p>To continue you need your Government Gateway details.</p>
        </div>
                  <input class="button" id="saveAndContinue" type="submit" value="Continue">

				  <!--div class="rjmakeALink" onclick="loopyLoop()"><p>Create another apprenticeship account</p></div-->
				  <!--CREATE ANOTHER APPRENTICESHIP ACCOUNT-->
              </form>

            </div>
      </div>




      <h1 class="heading-medium">Where do you live?</h1>

<form>
  <div class="form-group">
    <fieldset>

      <legend class="visually-hidden">Where do you live?</legend>

      <label class="block-label" for="radio-1">
        <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
        Northern Ireland
      </label>
      <label class="block-label" for="radio-2">
        <input id="radio-2" type="radio" name="radio-group" value="Isle of Man or the Channel Islands">
        Isle of Man or the Channel Islands
      </label>
      <p class="form-block">or</p>
      <label class="block-label" for="radio-3">
        <input id="radio-3" type="radio" name="radio-group" value="I am a British citizen living abroad">
        I am a British citizen living abroad
      </label>

    </fieldset>
  </div>
</form>

<h3 class="heading-medium">Which types of waste do you transport regularly?</h3>
<p>Select all that apply</p>

<form>
  <fieldset>

    <legend class="visually-hidden">Which types of waste do you transport regularly?</legend>

    <label class="block-label" for="waste-type-1">
      <input id="waste-type-1" name="waste-types" type="checkbox" value="waste-animal">
      Waste from animal carcasses
    </label>
    <label class="block-label" for="waste-type-2">
      <input id="waste-type-2" name="waste-types" type="checkbox" value="waste-mines">
      Waste from mines or quarries
    </label>
    <label class="block-label" for="waste-type-3">
      <input id="waste-type-3" name="waste-types" type="checkbox" value="waste-farm-agricultural">
      Farm or agricultural waste
    </label>

  </fieldset>
</form>

</main>


{% endblock %}


