{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<style>

#navigation-primary {
  display:none ;
}

</style>

<script>
// not needed at the moment, remember to remove script from the header if you don't use this in the end.

//jQuery( document ).ready(function() {
     //jQuery.validate(); 
// });


</script>


<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}

<div class="breadcrumbs">
    <ol role="breadcrumbs">
<!--the breadcrumb for the inform pages is in the following template -->
       {% include "includes/breadcrumbs/start-bread.html" %}
    </ol>
</div>

  <div class="grid-row">
           <div class="column-two-thirds">
  <h1 class="heading-xlarge" >Register your apprenticeship account</h1>

    <p>Use this service to:
	<ul class="list-bullet">
		<li>Create an apprenticeship account for your organisation</li>
		<li>Access and manage your levy funds</li>
	</ul></p>
	
	<h2 class="heading-medium">Before you start</h2>

    <p>You need:
	<ul class="list-bullet">
		<li>The email you use at work</li>
	</ul></p>

      <p>You need to know
  <ul class="list-bullet">
    <li>The number of apprenticeship accounts your organisation will need</li>
    <li>Your organisation’s PAYE schemes</li>
     <li>How your organisation’s PAYE schemes will be linked to the apprenticeship account </li>
      <li>The Government Gateway ID of each PAYE scheme </li>
       <li>Your organisation’s Companies House number</li>
  </ul></p>

 <!-- <div class="panel panel-border-wide">
    <p>
      After you have registered, you will be able to grant access to the apprenticeship account to other people in your company.
    </p>
  </div> -->
    <div style="margin-top:50px"></div>
    <div class="padder-top-x">
        <a href="/{% include "includes/sprint-link.html" %}/register/beta/registered-before" class="button button-start">Start</a>
    </div>
    <div style="margin-top:50px"></div>
    <!-- template to pull in the start tabs so this doesn't get too messy - it is pulling in the tabs -->
<!-- {% include "includes/start-tabs.html" %} -->

            </div>

             <div class="column-one-third">
                      <aside class="related">
                        <h2 class="heading-medium" style="margin-top:10px">Existing account</h2>
                        <nav role="navigation">
                      <ul class="robSideNav">
                          <li>
                            <a href="../login">Sign in</a>
                          </li>

                        </ul>
                           </nav>
                    </aside>
            </div>
</div>
</main>

<script>
//jquery that runs the tabs. Uses the jquery.tabs.js from gov.uk



$( document ).ready(function() {

  // change the tabs themselves to active - should be in the above but isn't working because it's looking for a not li so I added this as a quick fix.

  $("ul#tabs-nav li").click(function(e){
        if (!$(this).hasClass("active")) {
            var tabNum = $(this).index();
            var nthChild = tabNum+1;
            $("ul#tabs-nav li.active").removeClass("active");
            $(this).addClass("active");
            $("ul#tabs-nav li.active").removeClass("active");
            $("ul#tabs-nav li:nth-child("+nthChild+")").addClass("active");
        }
    });
});

  $('ul.tabs-nav').each(function(){
    // For each set of tabs, we want to keep track of
    // which tab is active and its associated content
    var $active, $content, $links = $(this).find('a');



    // If the location.hash matches one of the links, use that as the active tab.
    // If no match is found, use the first link as the initial active tab.
    $active = $($links.filter('[href="'+location.hash+'"]')[0] || $links[0]);
   // $active.addClass('active');
   console.log($active)

    $content = $($active[0].hash);

    // Hide the remaining content
    $links.not($active).each(function () {
      $(this.hash).hide();
    }); 

    // Bind the click event handler
    $(this).on('click', 'a', function(e){
      // Make the old tab inactive.
    //  $active.removeClass('active');
      $content.hide();

      // Update the variables with the new link and content
    //  $active = $(this);
      $content = $(this.hash);

      // Make the tab active.
     // $active.addClass('active');
      $content.show();

      // Prevent the anchor's default click action
      e.preventDefault();
    });
  });


</script>


{% endblock %}
