{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}


<style>
  #navigation-primary {
    display:none;
  }
</style>

<script>


var uploadAlert = function() {
      $( "#upload-alert" ).removeClass( "rj-dont-display" );
};




</script>

<main id="content" role="main">
{% include "includes/phase_banner_alpha.html" %}
{% include "includes/secondary-nav-provider.html" %}


  <!--div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/{% include "includes/sprint-link.html" %}/account">Access my funds</a></li>
    </ol>

  </div-->

     <div class="breadcrumbs back-breadcrumb">
    <ol role="breadcrumbs">
      {% include "includes/breadcrumbs/register-back.html" %}
    </ol>
  </div>


<div class="grid-row">

           <div class="column-two-thirds">
  <h1 class="heading-xlarge" >Upload apprenticeships</h1>
  <p>You can bulk upload using a .csv or .txt file</p>

  <details style="margin-bottom:35px">
  <summary><span class="summary">Help with uploading files</span></summary>
  <div class="panel panel-border-narrow">
    <p>
      Help with file formatting and how to bulk upload a file.
    </p>

  </div>
</details>


                <table class="table-19-font rj-dont-display" id="upload-alert"> 
                    <thead>
                      <tr>

                        <th scope="col">File name</th>
                        <th scope="col">Status</th>
                        <th scope="col" class="">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Acme-apprentices.csv</td>
                        <td>Done</td>
                        <td class="looks-like-a-link-underline">Remove</td>
                      </tr>


                    </tbody>
                </table>

<div class="drag-upload" onClick="uploadAlert()" ><p>Drag and drop a file (or files) here.</p></div>
or <a href="upload-choose-file-provider">browse for a file (or files)</a>

 
<form style="margin-top:35px" action="check-errors-provider">
    <input class="button" id="search-provider" type="submit" value="Check for errors">
</form>
    <div style="margin-top:50px"></div>
    <!-- template to pull in the start tabs so this doesn't get too messy - it is pulling in the tabs -->
<!-- {% include "includes/start-tabs.html" %} -->

            </div>

             <div class="column-one-third">
                      <!--aside class="related">
                        <h2 class="heading-medium" style="margin-top:10px">Existing account</h2>
                        <nav role="navigation">
                      <ul class="robSideNav">
                          <li>
                            <a href="../login">Sign in</a>
                          </li>

                        </ul>
                           </nav>
                    </aside-->
            </div>
</div>
</main>



{% endblock %}
