{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}

<style>
  .provider-nav a {
    {% include "includes/nav-on-state-css.html" %}
  }
</style>


<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}


  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/{% include "includes/sprint-link.html" %}/account">Provider home</a></li>
            <li><a href="/{% include "includes/sprint-link.html" %}/contracts/providers">Commitments in progress</a></li>
            <li>View commitments</li>
    </ol>
  </div>

  <div id="showDoneAlert" class="user-alert rj-dont-display">
  <div class="panel panel-border-wide alert-success">
    <i class="fa fa-check "></i>
            <h2 class="heading-small">Commitment sent to Acme Coventry Ltd for approval</h2>
          </div>
  </div>


<!--h1 class="heading-large">Levy account</h1-->
 <!--h2 class="bold-medium">Acme Ltd Levy Account</h2-->
              <!--div class="grid-row">
                <div class="column-two-thirds">

                            <!--h1 class="heading-large" style="margin:0px 0 50px 0">{% include "includes/account-name-number.html" %}Review contracts</h1>
                              <p>You have the following contracts with providers</p>
                              <form action="" >
                                  <fieldset>
                                    <legend class="visuallyhidden">Search contracts</legend>
                                    <div class="form-group">
                                        <label class="form-label" style="font-weight:700" for="Contract-search">Search contracts</label>
                                        <input class="form-control" id="contract-search" type="text">
                                        <input class="button rjSearchButton" id="search" type="submit" value="Search">
                                    </div>
                                  </fieldset>
                                  </form>
               </div> 

               <div class="column-one-third"></div>
              </div-->
              <!--div class="grid-row">
                    <div class="column-one-quarter">
                        <h2 class="heading-medium" style="margin-top:10px">Filter by category</h2>
                     </div> 
                     <div class="column-one-quarter">
                        <label for="filter-category-active" class="form-checkbox">
                                <input id="filter-category-active" name="category" value="active" type="checkbox" checked>
                                Active
                        </label>
                        <label for="filter-category-archived" class="form-checkbox">
                                <input id="filter-category-archived" name="category" value="Archived" type="checkbox">
                                Archived
                        </label>
                     </div> 
                     <div class="column-one-quarter">
                       <label for="filter-category-archived" class="form-checkbox">
                                <input id="filter-category-archived" name="category" value="Archived" type="checkbox">
                                Not started
                        </label>
                     </div>
             </div-->

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge" >{% include "includes/account-name-number.html" %}Commitments in progress</h1>
    <p class="lede">You have <span style="font-weight:700">4</span> contracts in progress with employers</p>
  </div>
</div>

<div class="grid-row">
   <div class="column-one-third">
<div class="filter-form">
  <div id="finder-frontend" class="inner-block">
    <form method="get" action="/cma-cases" class="js-live-search-form">
      <div class="filter text-filter">
        <label class="legend" for="finder-keyword-search">Search</label>
        <input value="" type="text" name="keywords" id="finder-keyword-search" aria-controls="js-search-results-info" class="text">
      </div>




<div class="govuk-option-select js-collapsible js-closed" data-closed-on-load="true">
  <button class="js-container-head" type="button" aria-expanded="false" aria-controls="case_state">
    <div class="option-select-label">Employer</div>
  <div class="js-selected-counter"></div></button>
  <div class="options-container" id="case_state">
    <div class="js-auto-height-inner">

    </div>

  </div>
</div>

<div class="govuk-option-select js-collapsible js-closed" data-closed-on-load="true">
  <button class="js-container-head" type="button" aria-expanded="false" aria-controls="market_sector">
    <div class="option-select-label">Status</div>
  <div class="js-selected-counter"></div></button>
  <div class="options-container" id="market_sector">
    <div class="js-auto-height-inner">
      <!--label for="market_sector-aerospace">
        <input name="market_sector[]" value="aerospace" id="market_sector-aerospace" type="checkbox" aria-controls="js-search-results-info">
        Aerospace
        </label>
      <label for="market_sector-agriculture-environment-and-natural-resources">
        <input name="market_sector[]" value="agriculture-environment-and-natural-resources" id="market_sector-agriculture-environment-and-natural-resources" type="checkbox" aria-controls="js-search-results-info">
        Agriculture, environment and natural resources
        </label>
      <label for="market_sector-building-and-construction">
        <input name="market_sector[]" value="building-and-construction" id="market_sector-building-and-construction" type="checkbox" aria-controls="js-search-results-info">
        Building and construction
        </label-->

    </div>

  </div>
</div>

<div class="govuk-option-select js-collapsible js-closed" data-closed-on-load="true">
  <button class="js-container-head" type="button" aria-expanded="false" aria-controls="market_sector">
    <div class="option-select-label">Training</div>
  <div class="js-selected-counter"></div></button>
  <div class="options-container" id="market_sector">
    <div class="js-auto-height-inner">
      <!--label for="market_sector-aerospace">
        <input name="market_sector[]" value="aerospace" id="market_sector-aerospace" type="checkbox" aria-controls="js-search-results-info">
        Aerospace
        </label>
      <label for="market_sector-agriculture-environment-and-natural-resources">
        <input name="market_sector[]" value="agriculture-environment-and-natural-resources" id="market_sector-agriculture-environment-and-natural-resources" type="checkbox" aria-controls="js-search-results-info">
        Agriculture, environment and natural resources
        </label>
      <label for="market_sector-building-and-construction">
        <input name="market_sector[]" value="building-and-construction" id="market_sector-building-and-construction" type="checkbox" aria-controls="js-search-results-info">
        Building and construction
        </label-->

    </div>

  </div>
</div>

<!--div class="filter text-filter">
  <label class="legend" for="closed_date[from]">Closed after</label>
  <input value="" type="text" name="closed_date[from]" id="closed_date[from]" aria-controls="js-search-results-info" aria-describedby="date-help-text-closed_date" class="text">

  <label class="legend" for="closed_date[to]">Closed before</label>
  <input value="" type="text" name="closed_date[to]" id="closed_date[to]" aria-controls="js-search-results-info" class="text" aria-describedby="date-help-text-closed_date">
  <span id="date-help-text-closed_date" class="help-text">For example, 2005 or 21/11/2014<span>
</span></span>
</div-->

      <input type="submit" value="Filter results" class="button js-live-search-fallback">
    </form>
  </div>
</div>

   </div>
   
   <div class="column-two-thirds">
           <div class="robColumnDetails">
              <h2 class="heading-medium" style="margin: 0 0 5px 0"><a href="/{% include "includes/sprint-link.html" %}/contracts/provider-in-progress/provider-list">Acme Coventry Ltd</a></h2>
                      <div><h2 class="heading-small" style="display:inline-block; margin:0;">Reference:&nbsp</h2 ><p style="display:inline; margin:0;">98HGS3F</p></div>
                      <div><h2 class="heading-small" style="display:inline-block; margin:0;">Status:&nbsp</h2 ><p style="display:inline; margin:0;">Needs provider input</p></div>
                     <div><h2 class="heading-small" style="display:inline-block; margin:0;">Date started:&nbsp</h2 ><p style="display:inline; margin:0;">14th August 2018</p></div>
                      <div><p style="display:inline; margin:0;">15 Aeronautical  engineers </p></div>

          </div>
           <div class="robColumnDetails">
              <h2 class="looks-like-a-link-underline-h2 heading-medium" style="margin: 0 0 5px 0">Acme Coventry Ltd</h2>
                      <div><h2 class="heading-small" style="display:inline-block; margin:0;">Reference:&nbsp</h2 ><p style="display:inline; margin:0;">55HGS3F</p></div>
                      <div><h2 class="heading-small" style="display:inline-block; margin:0;">Status:&nbsp</h2 ><p style="display:inline; margin:0;">Employer updaing</p></div>
                     <div><h2 class="heading-small" style="display:inline-block; margin:0;">Date started:&nbsp</h2 ><p style="display:inline; margin:0;">30th June 2018</p></div>
                      <div><p style="display:inline; margin:0;">196 Mechatronics maintenance engineers</p></div>
                      <div><p style="display:inline; margin:0;">96 Manufacturing engineers</p></div>
                      <div><p style="display:inline; margin:0;">1 Survival equipment fitter</p></div>
          </div>
           <div class="robColumnDetails">
              <h2 class="looks-like-a-link-underline-h2 heading-medium" style="margin: 0 0 5px 0">Cyberdyne Systems Inc</h2>
                      <div><h2 class="heading-small" style="display:inline-block; margin:0;">Reference:&nbsp</h2 ><p style="display:inline; margin:0;">MGF897F</p></div>
                      <div><h2 class="heading-small" style="display:inline-block; margin:0;">Status:&nbsp</h2 ><p style="display:inline; margin:0;">New</p></div>
                     <div><h2 class="heading-small" style="display:inline-block; margin:0;">Date started:&nbsp</h2 ><p style="display:inline; margin:0;">21th August 2018</p></div>
                      <div><p style="display:inline; margin:0;">5 Network engineers</p></div>
                      <div><p style="display:inline; margin:0;">6 Cyber intrusion analysts</p></div>
                      <div><p style="display:inline; margin:0;">1 Cyber security technologist</p></div>
          </div>
           <div class="robColumnDetails">
              <h2 class="looks-like-a-link-underline-h2 heading-medium" style="margin: 0 0 5px 0">Tyrell Corp</h2>
                      <div><h2 class="heading-small" style="display:inline-block; margin:0;">Reference:&nbsp</h2 ><p style="display:inline; margin:0;">999GHY4</p></div>
                      <div><h2 class="heading-small" style="display:inline-block; margin:0;">Status:&nbsp</h2 ><p style="display:inline; margin:0;">New</p></div>
                     <div><h2 class="heading-small" style="display:inline-block; margin:0;">Date started:&nbsp</h2 ><p style="display:inline; margin:0;">21th August 2018</p></div>
                      <div><p style="display:inline; margin:0;">55 Embedded Electronic Systems Design and Development Engineer </p></div>
                      <div><p style="display:inline; margin:0;">43 Cyber intrusion analysts</p></div>
                      <div><p style="display:inline; margin:0;">25 Embedded Electronic Systems Design and Development Engineer </p></div>
          </div>

                <!--table>
                    <thead>
                      <tr>
                        <th scope="col">To</th>
                        <th scope="col" class="">Reference</th>
                        <!--th scope="col" class="">Monthly</br>payment</th>
                        <th scope="col">Contract ends</th>
                         <th scope="col">Details</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="rjTabWidth">Hackney skills and training provider Ltd</td>
                        <td class="">98HGS3F</td>

                        <td><a href="/{% include "includes/sprint-link.html" %}/contracts/contract-details">View</a></td>
                      </tr>
                      <tr>
                        <td class="rjTabWidth">Learning management, skills and business training Ltd</td>
                        <td class="">HGHN734557</td>
 
                        <td><a href="/{% include "includes/sprint-link.html" %}/contracts/contract-details">View</a></td>
                      </tr>
                      <tr>
                        <td class="rjTabWidth">Lots of skills Ltd</td>
                        <td class="">NMJ786563</td>

                        <td><a href="/{% include "includes/sprint-link.html" %}/contracts/contract-details">View</a></td>
                      </tr>
                      <tr>
                        <td class="rjTabWidth">Learning management, skills and business training Ltd</td>
                        <td class="">NUY89763</td>

                        <td><a href="/{% include "includes/sprint-link.html" %}/contracts/contract-details">View</a></td>
                      </tr>                
                    </tbody>
                </table-->
    </div>
</div>





</main>



 <!--button class="button">Do the thing</button-->


{% endblock %}

