{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}


<style>
  .provider-nav, .nav-forecast {
    {% include "includes/nav-on-state-css.html" %}
  }
</style>

<main id="content" role="main">
{% include "includes/phase_banner_alpha.html" %}
{% include "includes/secondary-nav-provider.html" %}


  <!--div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/{% include "includes/sprint-link.html" %}/balance">Access my funds</a></li>
    </ol>

  </div-->

     <!--div class="breadcrumbs back-breadcrumb">
    <ol role="breadcrumbs">
      {% include "includes/breadcrumbs/register-back.html" %}
    </ol>
  </div-->


<div class="grid-row">
                    <div class="column-two-thirds">


             <div class="govuk-box-highlight">
                <h1 class="heading-xlarge">
                  Contract entered
                </h1>
                <p>Your contract reference number is <br>
                  <strong class="heading-medium">98HGS3F</strong>
                </p>
            </div>
                <p>The contract has been sent to your provider to enter all the details.
                 You can view the progress of the contract in  <span class="looks-like-a-link-underline ">contracts in progress</span></p>


          </div>

          <div class="column-one-third">

          </div>
        </div>
</main>

 <!--button class="button">Do the thing</button-->



{% endblock %}

