<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Change your password</title><!--[if gt IE 8]><!-->
    <link href="./assets/stylesheets/govuk-template.css" media="screen" rel=
    "stylesheet" type="text/css"><!--<![endif]-->
    <!--[if IE 6]><link href="./assets/stylesheets/govuk-template-ie6.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 7]><link href="./assets/stylesheets/govuk-template-ie7.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 8]><link href="./assets/stylesheets/govuk-template-ie8.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <link href="./assets/stylesheets/govuk-template-print.css" media="print"
    rel="stylesheet" type="text/css"><!--[if IE 8]>
    <script>
      (function(){if(window.opera){return;}
       setTimeout(function(){var a=document,g,b={families:(g=
       ["nta"]),urls:["./assets/stylesheets/fonts-ie8.css"]},
       c="./assets/javascripts/vendor/goog/webfont-debug.js",d="script",
       e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
       ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h=h-1;a.documentElement
       .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
      })()
    </script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <link href="./assets/stylesheets/fonts.css" media="all" rel="stylesheet"
    type="text/css"><!--<![endif]-->
    <!--[if lt IE 9]><script src="./assets/javascripts/ie.js"></script><![endif]-->
    <link href="./assets/images/favicon.ico" rel="shortcut icon" type=
    "image/x-icon">
    <link color="#0b0c0c" href="./assets/images/gov.uk_logotype_crown.svg" rel=
    "mask-icon">
    <link href="./assets/images/apple-touch-icon-152x152.png" rel=
    "apple-touch-icon-precomposed" sizes="152x152">
    <link href="./assets/images/apple-touch-icon-120x120.png" rel=
    "apple-touch-icon-precomposed" sizes="120x120">
    <link href="./assets/images/apple-touch-icon-76x76.png" rel=
    "apple-touch-icon-precomposed" sizes="76x76">
    <link href="./assets/images/apple-touch-icon-60x60.png" rel=
    "apple-touch-icon-precomposed">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="./assets/images/opengraph-image.png" property="og:image">
    <link href="./assets/stylesheets/main.css" media="all" rel="stylesheet"
    type="text/css">
    <link href="./assets/stylesheets/sfa.css" media="all" rel="stylesheet"
    type="text/css">
</head>
<body>
    <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>
    <div id="skiplink-container">
        <div>
            <a class="skiplink" href="#content">Skip to main content</a>
        </div>
    </div>
    <div id="global-cookie-message">
        <p>GOV.UK uses cookies to make the site simpler. <a href=
        "https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
    </div>
    <header class="with-proposition" id="global-header" role="banner">
        <div class="header-wrapper">
            <div class="header-global">
                <div class="header-logo">
                    <a class="content sfa_logo" href="" id="logo" title=""><img alt=""
                    height="31" src=
                    "./assets/images/sfa_logotype_crest_invert.png" width="35"> <span class="sfa_logo">Skills Funding<br/> Agency</span></a>
                </div>
            </div>
            <div class='header-proposition'>
                <div class='content'>
                    <a class='js-header-toggle menu' href=
                    '#proposition-links'>Menu</a>
                    <nav id='proposition-menu'>
                        <a href='#' id='proposition-name'>National Careers
                        Service</a>
                        <ul id='proposition-links'>
                            <li>
                                <a class="active" href='url-to-page-1'>Job
                                profiles</a>
                            </li>
                            <li>
                                <a href='url-to-page-2'>Skills health check</a>
                            </li>
                            <li>
                                <a href='url-to-page-3'>Find a course</a>
                            </li>
                            <li>
                                <a href='url-to-page-4'>About us</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div id="global-header-bar"></div>
    <main id="content" role="main">
        <div class="phase-banner-beta">
            <p><strong class="phase-tag">BETA</strong> <span>This website is
            being rebuilt - <a href="https://www.gov.uk/help/beta"
            target="_blank">find out what this means</a></span></p>
        </div>
        <div class="account-info">
            <div>
                <span class="your-name" id="bannerUserName">{{Firstname}}
                {{Lastname}}</span> <a href="#" id="signout-link">Sign out</a>
            </div>
            <div>
                <a class="account-link" href="your-account.html" id=
                "myaccount-link">Your account</a>
            </div>
        </div>
        <div class="breadcrumbs">
            <ol>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/your-account.html">Your account</a>
                </li>
            </ol>
        </div>
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge">Change your password</h1>
                <p>You can change your password if you want to. Enter your current and new passwords below.</p>
                <form action="/" class="form" method="post">
                    <div class="form-group">
                        <label class="form-label" for="old-password">Current
                        password</label> <input class="form-control" id=
                        "old-password" type="password">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="password">Create new
                        password</label> <input class="form-control" id=
                        "password" type="password">
                        <details>
                            <summary>
                                <span class="summary">Help choosing a valid password</span>
                            </summary>
                            <div class="panel panel-border-narrow">
                                <p>Your password must:</p>
                                <ul class="list list-bullet">
                                    <li>be between 8 and 16 characters</li>
                                    <li>include at least one uppercase letter
                                    and one lowercase letter</li>
                                    <li>include at least one number</li>
                                    <li>not contain any part of your username
                                    or the word 'password'</li>
                                </ul>
                            </div>
                        </details>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for=
                        "confirm-password">Re-type new password</label>
                        <input class="form-control" id="confirm-password" type=
                        "password">
                    </div>
                    <div class="form-group">
                        <input class="button" type="submit" value=
                        "Change password">
                    </div>
                </form>
                <p>or <a href="#">cancel and return to your account</a>.</p>
            </div>
            <div class="column-one-third"></div>
        </div>
        <div class="grid-row">
            <div class="column-two-thirds">
                <div class="report-a-problem font-xsmall">
                    <a class="report">Is there anything wrong with this
                    page?</a>
                </div>
                <div class="panel panel-border-narrow report-form">
                    <h2 class="heading-medium">Help us improve</h2>
                    <p>Don’t include personal or financial information, eg your
                    National Insurance number or credit card details.</p>
                    <form>
                        <div class="form-group">
                            <label class="form-label" for=
                            "What-you-were-doing">What you were doing</label>
                            <input class="form-control" id=
                            "What-you-were-doing" name="What-you-were-doing"
                            type="text">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for=
                            "What-went-wrong">What went wrong</label>
                            <input class="form-control" id="What-went-wrong"
                            name="What-went-wrong" type="text">
                        </div>
                        <p>If you have more extensive feedback, visit the
                        <a href="#">contact page</a>.</p>
                        <div class="form-group">
                            <input class="button" type="submit" value="Send">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer class="group js-footer" id="footer" role="contentinfo">
        <div class="footer-wrapper">
            <div class="footer-meta">
                <div class="footer-meta-inner">
                    <ul>
                        <li>
                            <a href="#">Contact us</a>
                        </li>
                        <li>
                            <a href="#">Privacy and cookies</a>
                        </li>
                        <li>
                            <a href="#">Terms and conditions</a>
                        </li>
                        <li style="display: block;">Built by the <a href=
                        "https://www.gov.uk/government/organisations/skills-funding-agency">
                            Skills Funding Agency</a>
                        </li>
                    </ul>
                    <div class="open-government-licence">
                        <p class="logo"><a href=
                        "https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
                        rel="license">Open Government Licence</a></p>
                        <p>All content is available under the <a href=
                        "https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
                        rel="license">Open Government Licence v3.0</a>, except
                        where otherwise stated</p>
                    </div>
                </div>
                <div class="copyright">
                    <a href=
                    "http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">
                    © Crown copyright</a>
                </div>
            </div>
        </div>
    </footer>
    <div class="app-error hidden" id="global-app-error"></div>
    <!-- govuk_template js -->
    <script src="./assets/javascripts/govuk-template.js">
    </script> 
    <script src="./assets/javascripts/vendor/jquery-1.11.0.min.js">
    </script> <!-- govuk_frontend_toolkit js --> 
    <script src="./assets/javascripts/vendor/polyfills/bind.js">
    </script> 
    <script src="./assets/javascripts/govuk/selection-buttons.js">
    </script> <!-- govuk_elements js --> 
    <script src="./assets/javascripts/vendor/details.polyfill.js">
    </script> 
    <script src="./assets/javascripts/application.js">
    </script> <!-- dialog js --> 
    <script src="./assets/javascripts/dialog-polyfill.0.4.3-01.js">
    </script> 
    <script src="./assets/javascripts/dialog.js">
    </script>
</body>
</html>