{% extends "layout.html" %}

{% block page_title %}
  SFS
{% endblock %}

{% block content %}

<style>

 #navigation-primary, #kill-me {
  display:none;
}


  @media (min-width: 641px) and (max-width: 890px){
.rj-alert-wrapper {
  height:135px;
}
}

  @media (min-width: 641px) and (max-width: 700px){
.rj-alert-wrapper {
  height:160px;
}
}

</style>

<main id="content" role="main">



  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/{% include "includes/sprint-link.html" %}/contracts/provider-in-progress">SFS home</a></li>
    </ol>
  </div>

<!--h1 class="heading-large">Levy account</h1-->
 <!--h2 class="bold-medium">Acme Ltd Levy Account</h2-->


 <div class="grid-row">
           <div class="column-two-thirds">
             <h1 class="heading-xlarge rj-headings-border" id="" >Hackney skills and training<span class="heading-secondary" style="font-size:16px;padding-top:0px">UK PRN: 12345678</span></h1>

            <!--h2 class="heading-large" style="margin:0px 0 50px 0">{% include "includes/account-name-number.html" %}Funding</h2-->
         <div style="max-width:90%">
          <div class="grid-row">
            <div class="column-half ">
              <h3 class="heading-medium looks-like-a-link-underline-h2" style="margin-top:0 "><!--a href="/{% include "includes/sprint-link.html" %}/finance"-->Contracts</a></h3>
              <p class="rj-home-spacer"><span class="looks-like-a-link-underline">View and sign your contracts</span> with the SFA online.</p>
            </div>

            <div class="column-half">
              <h3 class="heading-medium rj-top-border-mobile" style="margin-top:0;  " ><a href="/{% include "includes/sprint-link.html" %}/contracts/provider-in-progress/overview">Apprentices</a></h3>
              <p class="rj-home-spacer">View, update and agree <a href="/{% include "includes/sprint-link.html" %}/contracts/provider-in-progress/overview">employer requests</a>, or <span class="looks-like-a-link-underline">update existing apprentice details.</span></p>
            </div>
          </div> 
         </div>

       </div>


          </div>

            <div class="column-one-third">

            <!--h2 class="heading-medium" style="margin-top:0">To do:</h2>

            <div class="rj-alert-wrapper">
                <div class="rj-alert-copy">
                  <h2 class="heading-small" style="margin: 22px 10px 5px 20px">Forecast: not completed  </h2>
                  <p  style="width:85%; margin: 5px 10px 5px 20px" to-do-action><a href="/{% include "includes/sprint-link.html" %}/forecast/">Calculate your available spend</a></p>
                </div>
            </div>

            <div class="rj-alert-wrapper">
                <div class="rj-alert-copy">
                  <h2 class="heading-small" style="margin: 22px 10px 5px 20px">Applications received: 16</h2>
                  <p class="looks-like-a-link-underline to-do-action" style="width:88%; margin: 5px 10px 5px 20px">Process your applications</p>
                </div>
            </div>

            <div class="rj-alert-wrapper">
                <div class="rj-alert-copy">
                  <h2 class="heading-small" style="margin: 22px 10px 5px 20px">Contracts awaiting review: 7 </h2>
                  <p class="looks-like-a-link-underline to-do-action" style="width:85%; margin: 5px 10px 5px 20px">Review your contracts</p>
                </div>
            </div>

            <div class="rj-alert-wrapper">
                <div class="rj-alert-copy">
                  <h2 class="heading-small" style="margin: 22px 10px 5px 20px">Staff with access to account: 1 </h2>
                  <p class="looks-like-a-link-underline to-do-action" style="width:85%; margin: 5px 10px 5px 20px">Grant access to others</p>
                </div>
            </div-->

        </div>



</main>

 <!--button class="button">Do the thing</button-->


</script>

{% endblock %}

