<!-- ROB >>>> THIS IS A DUPE OF /contracts/provider-in-progress/overview.html -->

{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}


<link href="/public/stylesheets/filtering.css" media="screen" rel="stylesheet" type="text/css" />
<script>
 var isAddedApp = 'no';
    localStorage.setItem("commitments.isEmployer", JSON.stringify(isAddedApp));

</script>
<style>
 #navigation-primary, #kill-me {
  display:none;
}
</style>

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}



     <div class="breadcrumbs back-breadcrumb">
    <ol role="breadcrumbs">
      {% include "includes/breadcrumbs/register-back.html" %}
    </ol>
  </div>



<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge " >{% include "includes/account-name-number.html" %}Your cohorts</h1>
      <div style= "" class="panel panel-border-wide alert-default-blue-thing ">
  You must <a href="#">review and sign your apprenticeship training provider agreement</a> before you can update cohorts.
</div>
      </div>
</div>



<div class="grid-row" >
  <div class="column-two-thirds">

    <a style="display:block" href="/{% include "includes/sprint-link.html" %}/contracts/provider-in-progress/contract-not-signed">  <div class="column-one-half" style="padding-left:0" >
                <div style="background-color:#005ea5; min-height:180px" >
                  <h2 class="bold-xxlarge" style=" color:#fff; margin: 0px 0 0px 15px; padding-top:25px">1</h2>
                  <h2 class="heading-small" style="color: #fff; margin: 25px 0 0px 15px;">New from employer</h2>
                </div>
      </div> </a>

     <a style="display:block" href="/{% include "includes/sprint-link.html" %}/contracts/provider-in-progress/listing/approval">  <div class="column-one-half" style="padding-right:0">
               <div style="background-color:#005ea5; min-height:180px" >
                  <h2 class="bold-xxlarge" style=" color:#fff; margin: 0px 0 0px 15px; padding-top:25px">4</h2>
                  <h2 class="heading-small" style="color: #fff; margin: 25px 0 0px 15px;">Ready for approval</h2>
                </div>
      </div></a>
      <div class="column-one-half" style="padding-left:0; margin-top:35px" >
               <div style="background-color:#005ea5; min-height:180px" >
                  <h2 class="bold-xxlarge" style=" color:#fff; margin: 0px 0 0px 15px; padding-top:25px">3</h2>
                  <h2 class="heading-small" style="color: #fff; margin: 25px 0 0px 15px;">Ready for review</h2>
                </div>
      </div>

      <div class="column-one-half" style="padding-right:0; margin-top:35px">
                 <div style="background-color:#005ea5; min-height:180px" >
                  <h2 class="bold-xxlarge" style=" color:#fff; margin: 0px 0 0px 15px; padding-top:25px">8</h2>
                  <h2 class="heading-small" style="color: #fff; margin: 25px 0 0px 15px;">With employers</h2>
                </div>
      </div>

  </div>
  </div> <!-- close grid-row  -->
            <div style="margin-top:60px"></div>
      </div>
</main>



 <!--button class="button">Do the thing</button-->


{% endblock %}

