{% extends "layout.html" %}

{% block head %}
    {% include "includes/head.html" %}
    <script>
        var commitmentListSource = 'provider';
    </script>
    <script src="/public/javascripts/das/list-commitment-1.4.js"></script>
     <script src="/public/javascripts/das/jquery.highlight-5.js"></script>
{% endblock %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}

<style>
  .people-nav a {
    {% include "includes/nav-on-state-css.html" %}
  }
.highlight { font-weight:700; }

</style>



<script>
var employerOrNot = JSON.parse(localStorage.getItem('commitments.isEmployer'));
$(document).ready(function() {
  var changeStuff = function() {
  if (employerOrNot=='yes') {
    document.getElementById("commitmentsName").textContent = " Hackney Skills & Training Ltd";
    document.getElementById("providerName").textContent = "Provider:" ;
    $(notesStuff).addClass("rj-dont-display");
    $(addReference).addClass("rj-dont-display");
    $(commitmentStatus).addClass("rj-dont-display");

     $(removeMe).addClass("rj-dont-display")
    }
else {  
    $(notesStuff).removeClass("rj-dont-display");
    $(addReference).removeClass("rj-dont-display");
    $(commitmentStatus).removeClass("rj-dont-display");
        };
  };

 var changeUnknown = function() {
  $('td').highlight('unknown');

 };

changeStuff();
changeUnknown();

});





</script>

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}



 <div class="breadcrumbs">
    <ol role="breadcrumbs">
            <li><a href="/{% include "includes/sprint-link.html" %}/balance">Home</a></li>
            <li><a href="/{% include "includes/sprint-link.html" %}/contracts/providers">Apprentices</a></li>
            <li><a href="/{% include "includes/sprint-link.html" %}/contracts/provider-in-progress">Start an apprentice</a></li>
            <li id="removeWithNav">98HGS3F</li>
    </ol>
  </div>




<!--h1 class="heading-large">Levy account</h1-->
 <!--h2 class="bold-medium">Acme Ltd Levy Account</h2-->

<h1 class="heading-xlarge" id="commitmentsHeader">Apprentice cohort</h1>



  <div class="grid-row">
           <div class="column-half">
                           <div class="" style="padding-bottom:15px">
                                     <!--h2 class="heading-medium" id="commitmentsName" style="margin: 0 0 5px 0">Acme Coventry Ltd</h2-->
                                     <div id=""><h2 id="providerName" class="heading-small"  style="display:inline-block; margin:0;">Employer:&nbsp</h2 ><p id="commitmentsName" style="display:inline; margin:0;">Acme Coventry Ltd</p></div>
                                  <div id="addReference"><h2 class="heading-small"  style="display:inline-block; margin:0;">Reference:&nbsp</h2 ><p style="display:inline; margin:0;">98HGS3F</p></div>
                                  <div id="commitmentStatus"><h2 class="heading-small"  style="display:inline-block; margin:0;">Status:&nbsp</h2 ><p  style="display:inline; margin:0;">Needs action</p></div>
                          </div>
            </div>

        <div class="column-half" id="notesStuff">
          <div id="removeMe" style="padding-bottom:15px">
            <div><h2 class="heading-small" style="display:inline-block; margin:0;">Note:&nbsp</h2 ><p style=" margin:0;">No note added</p></div>
          </div>
        </div>
</div>


<!-- 

                        <table class="" id=""> 
                    <thead>
                      <tr>
                        <th scope="col" class="">Employer</th>
                        <th scope="col" class="">Reference</th>
                        <th scope="col" class="">Status</th>
                        <th scope="col" class="">Note</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="">Acme Coventry Ltd</td>
                         <td class="">98HGS3F</td>
                        <td class="">Needs action</td>
                        <td class="" style="max-width:400px">This is the space for a note to be added, we need to decide the maximum amount of space that we can give to this.</td>
                    </tbody>
                </table>

-->


    <!-- ----------- This is the default where there aren't any groups or cohorts added ------------ -->
    <div style="" class="rj-no-apprenticeships" id="no-apprenticeships">
        <h2 class="heading-medium"><span style="font-weight:700" id=""> 0 Apprentices</span></h2>
        <hr style="margin:0 0 18px 0" />
        <div class="commit-bar"> <form class="" style="display:inline-block; float:left;" action="/{% include "includes/sprint-link.html" %}/contracts/provider-in-progress/do-next">
                    <div style="display:inline-block;"><input class="button" style="display:inline; margin:0 0 0 10px" type="submit"  id="send-to-employer"  value="Finish editing"></div>
              </form>
            <form class="" style="display:inline-block; float:right;" action="/{% include "includes/sprint-link.html" %}/contracts/provider-interface/add-apprenticeship">
                <input type="hidden" name="source" value="provider" />
                <div style="display:inline-block;"><input style="display:inline" class="button-grey-secondary button " type="submit"  id="bulk-upload"  value="Add an apprentice"></div>
            </form>
             <form class="" style="display:inline-block" action="/{% include "includes/sprint-link.html" %}/contracts/provider-in-progress/bulk-upload-provider">
                <input type="hidden" name="source" value="provider" />
                <div style="display:inline-block;"><input style="display:inline; margin:0 0 0 10px" class="button-grey-secondary button " type="submit"  id="bulk-upload"  value="Bulk upload apprentices"></div>
            </form>
             <!--p style="display:inline; margin-top:20px"><a href="/{% include "includes/sprint-link.html" %}/contracts/provider-in-progress/bulk-upload-provider">Import apprenticeships</a></p-->
             <form class="" style="display:inline-block; float:right;" action="/{% include "includes/sprint-link.html" %}/contracts/provider-in-progress/do-next">
                    <div style="display:inline-block;"><input class="button" style="display:inline; margin:0 0 0 10px" type="submit"  id="send-to-employer"  value="Finish editing"></div>
              </form>
        </div>

        <hr style="margin:16px 0 15px 0" />

       

    </div>

    <!-- -------------- This is shows when one apprenticeship has been added ---------- -->
                <div style="" class="rj-has-apprenticeships" id="apprenticeships">
                   

       <hr style="margin:0 0 20px 0" />
        <div class="commit-bar">
                       <form class="" style="display:inline-block; float:left;" action="/{% include "includes/sprint-link.html" %}/contracts/provider-in-progress/do-next">
                    <div style="display:inline-block;"><input class="button" style="display:inline; " type="submit"  id="send-to-employer"  value="Save and continue"></div>
              </form>

               <form class="" style="display:inline-block;" action="/{% include "includes/sprint-link.html" %}/contracts/new-contract/bulk-or-single">
                <input type="hidden" name="source" value="provider" />
                <div style="display:inline-block;"><input style="display:inline; margin:0 0 0 10px; " class="button-grey-secondary button " type="submit"  id="bulk-upload"  value="Add more apprentices"></div>
            </form>

            <!--form class="" style="display:inline-block; margin:0 0 0 10px; " action="/{% include "includes/sprint-link.html" %}/contracts/provider-interface/add-apprenticeship">
                <input type="hidden" name="source" value="provider" />
                <div style="display:inline-block;"><input style="display:inline" class="button-grey-secondary button " type="submit"  id="bulk-upload"  value="Add an apprentice"></div>
            </form-->

            <div style="clear:both"></div>
             <!--p style="display:inline; margin-top:20px"><a href="/{% include "includes/sprint-link.html" %}/contracts/provider-in-progress/bulk-upload-provider">Import apprenticeships</a></p-->

          <div>
         <hr style="margin:20px 0 0 0" />
              <h2 class="heading-medium" style="margin:18px 0 0 0 "><span style="font-weight:700; " id="numberOfApprentices"></span> Apprentices</h2>
              <!--h2 class="heading-medium" style="margin-top:20px; display:inline-block" >Cost <span style="font-weight:700; " >£40,961.53</span> </h2-->
          </div> 
        </div>

        <hr style="margin:16px 0 15px 0" />

                <h2 class ="heading-medium"  style="margin-bottom:5px"  id="apprenticeReplaceMe"></h2>
                <p style="margin:0px">Level: 4</p>
                <p style="margin-top:0px">Training code: 3246</p>
                <table class="" id="">
                  <thead>
                      <tr>
                        <th scope="col" class=""  >Name</th>
                        <!--th scope="col" class="">Family<br />name</th-->
                        <!--th scope="col" class="">ULN</th-->
                        <th scope="col" class="">Training dates</th>
                        <th scope="col" class="">Endpoint Assessor</th>
                         <th scope="col" class="">Cost</th>
                        <th scope="col" class=""></th>
                      </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                     <!--hr style="margin:35px 0 35px 0;"/-->
            </div>

            <div id="addApprenticesEmptyState" class="emptyState">
                <div class="emptyStateAlert">
                  <div class="emptyStateCopy">
                    <p>You haven't added any apprentices yet. Use the options on this page to add apprentices.</p>

                  </div>
                </div>
            </div>


            <div id="bottomToolBarLotsofApprentices">
              <div style="margin-top:50px"></div>
        <hr style="margin:0 0 18px 0" />
        <div class="commit-bar">
            <form class="" style="display:inline-block" action="/{% include "includes/sprint-link.html" %}/contracts/provider-interface/add-apprenticeship">
                <input type="hidden" name="source" value="provider" />
                <div style="display:inline-block;"><input style="display:inline" class="button-grey-secondary button " type="submit"  id="bulk-upload"  value="Add an apprentice"></div>
            </form>
             <form class="" style="display:inline-block" action="/{% include "includes/sprint-link.html" %}/contracts/provider-in-progress/bulk-upload-provider">
                <input type="hidden" name="source" value="provider" />
                <div style="display:inline-block;"><input style="display:inline; margin:0 0 0 10px" class="button-grey-secondary button " type="submit"  id="bulk-upload"  value="Bulk upload apprentices"></div>
            </form>
             <!--p style="display:inline; margin-top:20px"><a href="/{% include "includes/sprint-link.html" %}/contracts/provider-in-progress/bulk-upload-provider">Import apprenticeships</a></p-->
             <form class="" style="display:inline-block; float:right;" action="/{% include "includes/sprint-link.html" %}/contracts/provider-in-progress/do-next">
                    <div style="display:inline-block;"><input class="button" style="display:inline; margin:0 0 0 10px" type="submit"  id="send-to-employer"  value="Finish editing"></div>
              </form>
        </div>

        <hr style="margin:20px 0 15px 0" />
      </div>


</main>

 <!--button class="button">Do the thing</button-->



{% endblock %}

