{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}


<main id="content" role="main">
{% include "includes/phase_banner_alpha.html" %}


  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/sprint2/balance">Apprenticeship Account</a></li>
      <li><a href="/sprint2/history">Planned spending</a></li>
    </ol>

  </div>


<!--h1 class="heading-large">Levy account</h1-->
 <!--h2 class="bold-medium">Acme Ltd Levy Account</h2-->

  <div class="grid-row">
          <div class="column-two-thirds">
              <h1 class="heading-large" style="margin-top:0px"><span class="heading-secondary" style="padding-top:0px">Acme Ltd</span>Planned spending</h1>
                 <h2 class="heading-small" >You have planned to spend</h2>
                <h2 class="bold-xxlarge">£675,000</h2>
                <p>On apprenticehips until your final contract ends on 14th December 2022</p>
              
               
            <h2 class="heading-medium">Summary of planned spending</h2>
                <table>
                    <thead>
                      <tr>
                        <th scope="col">Time</th>
                        <th scope="col" class="numeric">Amount committed</th>
                      </tr>
                    </thead>
                   <tbody>
                    <tr>
                      <td>Next 12 months</td>
                      <td class="numeric">£20,792</td>
                    </tr>
                    <tr>
                      <td>Next 24 months</td>
                      <td class="numeric">£200,740</td>
                    </tr>
                    <tr>
                     <td>Until final contract ends (40 months)</td>
                      <td class="numeric">£675,000</td>
                    </tr>
                  </tbody>
                  </table>

                    <p class="" style="margin-top:20px">Included in these figures are 7 apprenticeships that you have committed to but have not authorised payments</p>
                    <p>Please <a href="">review and approve these payments</a></p>
                <h2 class="heading-medium">Detailed planned spending</h2>

            <!--h2 class="heading-medium">If not spent, the following funds will expire</h2>
                <table>
                    <thead>
                      <tr>
                        <th scope="col">Expiry date</th>
                        <th scope="col">Description</th>
                        <th scope="col" class="numeric">Amount at risk</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>24 September 2018</td>
                        <td>August 2017 Skills Funding Agency Payment Expiring</td>
                        <td class="numeric">£15,000.00</td>
                      </tr>
                      <tr>
                        <td>27 December 2018</td>
                        <td>November 2017 Skills Funding Agency Payment Expiring</td>
                        <td class="numeric">£25,050.92</td>
                      </tr>
                      <tr>
                        <td>19 April 2019</td>
                        <td>March 2018 Skills Funding Agency Payment Expiring</td>
                        <td class="numeric">£15,000.092</td>
                      </tr>
                      <tr>
                        <td>21 May 2019</td>
                        <td>April 2018 Skills Funding Agency Payment Expiring</td>
                        <td class="numeric">£15,000.092</td>
                      </tr>

                    </tbody>
                </table-->
            <div style="margin-top:50px"></div>
          </div>

    <div class="column-one-third">
      <aside class="related">
              <h2 class="heading-medium" style="margin-top:10px">Account activity</h2>
         <nav role="navigation">
            <ul class="robSideNav">
              <li>
                  <a href="/sprint2/balance">View balance</a>
              </li>
                <li>
                  <a href="/sprint2/history">View account statement</a>
              </li>
              <li>
                  <a href="/sprint2/expire">View expiring funds</a>
              </li>

            </ul>
          </nav>
        </aside>
    </div>
  </div>


</main>



 <!--button class="button">Do the thing</button-->

<script>
//jquery that runs the tabs. Uses the jquery.tabs.js from gov.uk
$( document ).ready(function() {

  // change the tabs themselves to active - should be in the above but isn't working because it's looking for a not li so I added this as a quick fix.

  $("ul#tabs-nav li").click(function(e){
        if (!$(this).hasClass("active")) {
            var tabNum = $(this).index();
            var nthChild = tabNum+1;
            $("ul#tabs-nav li.active").removeClass("active");
            $(this).addClass("active");
            $("ul#tabs-nav li.active").removeClass("active");
            $("ul#tabs-nav li:nth-child("+nthChild+")").addClass("active");
        }
    });
});

  $('ul.tabs-nav').each(function(){
    // For each set of tabs, we want to keep track of
    // which tab is active and its associated content
    var $active, $content, $links = $(this).find('a');



    // If the location.hash matches one of the links, use that as the active tab.
    // If no match is found, use the first link as the initial active tab.
    $active = $($links.filter('[href="'+location.hash+'"]')[0] || $links[0]);
   // $active.addClass('active');
   console.log($active)

    $content = $($active[0].hash);

    // Hide the remaining content
    $links.not($active).each(function () {
      $(this.hash).hide();
    }); 

    // Bind the click event handler
    $(this).on('click', 'a', function(e){
      // Make the old tab inactive.
    //  $active.removeClass('active');
      $content.hide();

      // Update the variables with the new link and content
    //  $active = $(this);
      $content = $(this.hash);

      // Make the tab active.
     // $active.addClass('active');
      $content.show();

      // Prevent the anchor's default click action
      e.preventDefault();
    });
  });


</script>

{% endblock %}

