{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
{% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Sprint 2 - Balance</h1>

      <p>
        <a href="/sprint2/login">Sign in to the service</a>
      </p>
      <p>
        <a href="/sprint2/balance">View my balance</a>
      </p>
       <p>
        <a href="/sprint2/history">View my account history</a>
      </p>
        <a href="/sprint2/committed">View my planned spending</a>
      </p>
       </p>
        <a href="/sprint2/expire">View expiring funds</a>
      </p>

     

      
    </div>
  </div>
</main>

{% endblock %}


