{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}


<style>
  .financial-nav a, .nav-forecast a{
    {% include "includes/nav-on-state-css.html" %}
  }
</style>

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}
{% include "includes/secondary-nav-finance.html" %}



  <!--div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/{% include "includes/sprint-link.html" %}/balance">Access my funds</a></li>
    </ol>

  </div-->

     <div class="breadcrumbs back-breadcrumb">
    <ol role="breadcrumbs">
      {% include "includes/breadcrumbs/register-back.html" %}
    </ol>
  </div>


<div class="grid-row">
           <div class="column-two-thirds">
  <h1 class="heading-xlarge" >Search results</h1>
  <p>There are <span style="font-weight:700">162</span> apprenticeships matching your search for <span style="font-weight:700">'customer service'.</span></p>

    <form action="" >
      <fieldset>

          <div class="form-group">

              <label class="form-label-bold " for="password">Showing search results for:</label>
              <input class="form-control " id=" " type="text"  style="width:75%; margin-right:10px; height:41px" value="customer service"><input class="button" id="calculate" type="submit" value="Search">
          </div>
        </fieldset>

    </form>

<div>
  <hr>
<a href="#" class="searchListing">Customer service</a>
<p style="margin:0">Level: 3 (Equivalent to A Levels at grades A to E)</p>
<p style="margin:0">Typical length: 12 months</p>
<hr>



</div>


<div style="margin-top:50px"></div>


            </div>
             <div class="column-one-third">
            </div>
</div>
</main>


{% endblock %}
