{% extends "layout.html" %}

{% block head %}
    {% include "includes/head.html" %}
    <!--script>
        var commitmentListSource = 'provider';
    </script>
    <script src="/public/javascripts/das/list-commitment-1.0.js"></script-->
{% endblock %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}

<style>


  #navigation-primary {
    display:none;
  }

  tr th, tr td {padding-left:1em}

</style>

<script>
/* needs to swap the divs out later on if an apprenticeship has been added */

// this is now in the global custom.js file as things were breaking because of the url switching jquery

</script>

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}



 <div class="breadcrumbs">
    <ol role="breadcrumbs">
            <li><a href="/{% include "includes/sprint-link.html" %}/balance">Provider home</a></li>
            <li><a href="/{% include "includes/sprint-link.html" %}/contracts/providers">Commitments in progress</a></li>
            <li><a href="/{% include "includes/sprint-link.html" %}/contracts/provider-in-progress">View commitments</a></li>
            <li>98HGS3F</li>
    </ol>
  </div>




<!--h1 class="heading-large">Levy account</h1-->
 <!--h2 class="bold-medium">Acme Ltd Levy Account</h2-->
<h1 class="heading-xlarge">Add apprentices</h1>
  <div class="grid-row">
           <div class="column-half">
                        <div class="" style="padding-bottom:35px">
                                     <h2 class="heading-medium" style="margin: 0 0 5px 0">Acme Coventry Ltd</h2>
                                  <div><h2 class="heading-small" style="display:inline-block; margin:0;">Reference:&nbsp</h2 ><p style="display:inline; margin:0;">98HGS3F</p></div>
                                  <div><h2 class="heading-small" style="display:inline-block; margin:0;">Status:&nbsp</h2 ><p style="display:inline; margin:0;">Needs provider input</p></div>
                                 <div><h2 class="heading-small" style="display:inline-block; margin:0;">Date started:&nbsp</h2 ><p style="display:inline; margin:0;">14th August 2018</p></div>
                      </div>
            </div>
        <div class="column-half">
          <div class="" style="padding-bottom:35px">
            <div><h2 class="heading-small" style="display:inline-block; margin:0;">Messages:&nbsp</h2 ><p style=" margin:0;">This is the cohort we agreed on 12 July, ref #90210</p></div>

          </div>
            </div>
        </div>

    <!-- ----------- This is the default where there aren't any groups or cohorts added ------------ -->
    <!-- -------------- This is shows when one apprenticeship has been added ---------- -->
                <div style="margin-top:45px" class="rj-has-apprenticeships" id="apprenticeships">
                  <h2 class="heading-medium"><span style="font-weight:700" id="numberOfApprentices"></span>15 Apprenticeships</h2>


                  <hr style="margin:0 0 18px 0" />
        <div class="commit-bar">
            <form class="" style="display:inline-block" action="/{% include "includes/sprint-link.html" %}/contracts/provider-interface/add-apprenticeship">
                <input type="hidden" name="source" value="provider" />
                <div style="display:inline-block;"><input style="display:inline" class="button-grey-secondary button " type="submit"  id="bulk-upload"  value="Add an apprenticeship"></div>
            </form>
             <form class="" style="display:inline-block" action="/{% include "includes/sprint-link.html" %}/contracts/provider-in-progress/bulk-upload-provider">
                <input type="hidden" name="source" value="provider" />
                <div style="display:inline-block;"><input style="display:inline; margin:0 0 0 10px" class="button-clear button " type="submit"  id="bulk-upload"  value="Import apprenticeships"></div>
            </form>
             <!--p style="display:inline; margin-top:20px"><a href="/{% include "includes/sprint-link.html" %}/contracts/provider-in-progress/bulk-upload-provider">Import apprenticeships</a></p-->
             <form class="" style="display:inline-block; float:right;" action="/{% include "includes/sprint-link.html" %}/contracts/provider-in-progress/do-next">
                    <div style="display:inline-block;"><input class="button" style="display:inline; margin:0 0 0 10px" type="submit"  id="send-to-employer"  value="Do the thing"></div>
              </form-->
        </div>

        <hr style="margin:20px 0 15px 0" />


   <!--div class="fullWidthGreyAlert">
    <h2 class="heading-medium" >7 apprenticeships changed</h2>
      <p style="margin-bottom:0">Changes your provider has made have been highlighted below.</p><p style=""> To see details click View on the row. </p>
   </div-->

         <div class="grid-row">
           <div class="column-half">
                <h2 class ="heading-medium" style="margin-bottom:5px" id="apprenticeReplaceMe">5 Mechatronics Engineers</h2>
                <p style="margin:0px">Level: 4</p>
                <p style="margin-top:0px">Training code: 3246</p>
          </div>
           <div class="column-half">
            <div style="margin-top:45px">


            </div>
           </div>
        </div>


   <!--div class="fullWidthGreyAlert">
    <h2 class="heading-medium" >1 apprenticeship changed</h2>
      <p style="margin-bottom:0">Changes your provider has made have been highlighted below.</p><p style=""> To see details click View on the row. </p>
   </div-->

<!-- new stuff -->

<hr style="margin:0px">
           <div class="commitResults">
                 <div class="commitFlexBox">
                      <div class=" commitCheck">
                          <form>
                            <fieldset>
                              <legend class="visuallyhidden">Choose Apprenticeship?</legend>
                              <label class="block-label commitTweak" for="choose-1">
                                <input id="choose-1" name="choose-1" type="checkbox" value="choose-1" style="">
                                        <span><span class="inner">&nbsp</span></span>
                              </label>
                            </fieldset>
                        </form>
                  </div>

                  <div class="flexElement" style="margin-left:20px">
                      <div> <h2 class="heading-small" style="display:inline; margin:0;">Rob Edwards</h2></div>
                      <div><h2 class="heading-small" style="display:inline; margin:0;">0921052112</h2></div>

                  </div>
                  <div class="flexElementMiddle" style="margin-left:20px">
                     <div><h2 class="heading-small" style="display:inline; margin:0;">21 August 2018</h2 > <p style="display:inline; margin:0;">until&nbsp</p><h2 class="heading-small" style="display:inline; margin:0;">20 August 2020</h2 >   </div>
                      <div><!--p style="display:inline; margin:0;">Total cost:&nbsp</p--><h2 class="heading-small" style="display:inline; margin:0;">£2,000.98</h2 > </div>
                      <div><p style="display:inline; margin:0;">Endpoint assessor:&nbsp</p><h2 class="heading-small" style="display:inline-block; margin:0;">Hackney endpoint assessors Ltd</h2 > </div>
                      <div><p style="display:inline; margin:0;">Notes:&nbsp</p><h2 class="heading-small" style="display:inline; margin:0;">Free text field lets me enter lots of things in here if I really want to.</h2 > </div>

                    </div>
            
                  <!--div class="flexElement" style="margin-left:20px">
                     <div><h2 class="heading-small" style="display:inline-block; margin:0;">Cost:&nbsp</h2 ><p style="display:inline; margin:0;">£2,000.98</p></div>
                     <div><h3 class="heading-small" style="display:inline-block; margin:0;">Note:</h3 ></div>
                    <div><p style="display:inline; margin:0;">contract ref #90210</p></div>
                    </div-->

                  <div class="flexElement" style="margin-left:20px;">
                        <div class="viewButton"  style=""><a href="/{% include "includes/sprint-link.html" %}/ontracts/provider-interface/add-apprenticeship-static">View</a></div>
                    </div>
                  </div>
          </div>

          <div class="commitResults">
                 <div class="commitFlexBox">
     
                      <div class=" commitCheck">
                          <form>
                            <fieldset>
                              <legend class="visuallyhidden">choose apprentice </legend>
                              <label class="block-label commitTweak" for="choose-2">
                                <input id="choose-2" name="choose-2" type="checkbox" value="choose-2">
                                        <span><span class="inner">&nbsp</span></span>
                              </label>
                            </fieldset>
                        </form>
                  </div>
                  <div class="flexElement" style="margin-left:20px">
                      <div> <p  style="display:inline; margin:0;">Taylor Lucas</p></div>
                      <div><p style="display:inline; margin:0;">1221052101</p></div>

                  </div>
                  <div class="flexElementMiddle" style="margin-left:20px">
                     <div><p style="display:inline; margin:0;">21 August 2018</p > <h2 class="heading-small" style="display:inline; margin:0;">until&nbsp</h2><p style="display:inline; margin:0;">20 August 2020</p >   </div>
                      <div><!--p style="display:inline; margin:0;">Total cost:&nbsp</p--><p style="display:inline; margin:0;">£2,000.98</p> </div>
                      <div><h2 class="heading-small" style="display:inline; margin:0;">Endpoint assessor:&nbsp</h2><p style="display:inline-block; margin:0;">Hackney endpoint assessors Ltd</p > </div>
                      <div><h2 class="heading-small" style="display:inline; margin:0;">Notes:&nbsp</h2><p style="display:inline; margin:0;">Free text field lets me enter lots of things in here if I really want to.</p > </div>

                    </div>
            
                  <!--div class="flexElement" style="margin-left:20px">
                     <div><h2 class="heading-small" style="display:inline-block; margin:0;">Cost:&nbsp</h2 ><p style="display:inline; margin:0;">£2,000.98</p></div>
                     <div><h3 class="heading-small" style="display:inline-block; margin:0;">Note:</h3 ></div>
                    <div><p style="display:inline; margin:0;">contract ref #90210</p></div>
                    </div-->

                  <div class="flexElement" style="margin-left:20px">
                        <div class="viewButton"  style=""><a href="/{% include "includes/sprint-link.html" %}/ontracts/provider-interface/add-apprenticeship-static">View</a></div>
                    </div>
                  </div>
          </div>

          <div class="commitResults">
                 <div class="commitFlexBox">
   
                      <div class=" commitCheck">
                          <form>
                              <legend class="visuallyhidden">choose apprentice </legend>
                              <label class="block-label commitTweak" for="choose-3">
                                <input id="choose-3" name="choose-3" type="checkbox" value="choose-3">
                                        <span><span class="inner">&nbsp</span></span>
                              </label>
                            </fieldset>
                        </form>
                  </div>
                  <div class="flexElement" style="margin-left:20px">
                      <div> <p style="display:inline; margin:0;">Prahlad Naiki</p></div>
                      <div><p style="display:inline; margin:0;">0921052112</p></div>

                  </div>
                  <div class="flexElementMiddle" style="margin-left:20px">
                     <div><h2 class="heading-small" style="display:inline; margin:0;">21 August 2018</h2 > <p style="display:inline; margin:0;">until&nbsp</p><h2 class="heading-small" style="display:inline; margin:0;">20 August 2020</h2 >   </div>
                      <div><!--p style="display:inline; margin:0;">Total cost:&nbsp</p--><h2 class="heading-small" style="display:inline; margin:0;">£2,000.98</h2 > </div>
                      <div><p style="display:inline; margin:0;">Endpoint assessor:&nbsp</p><h2 class="heading-small" style="display:inline-block; margin:0;">Hackney endpoint assessors Ltd</h2 > </div>
                      <div><p style="display:inline; margin:0;">Notes:&nbsp</p><h2 class="heading-small" style="display:inline; margin:0;">Free text field lets me enter lots of things in here if I really want to.</h2 > </div>

                    </div>
            
                  <!--div class="flexElement" style="margin-left:20px">
                     <div><h2 class="heading-small" style="display:inline-block; margin:0;">Cost:&nbsp</h2 ><p style="display:inline; margin:0;">£2,000.98</p></div>
                     <div><h3 class="heading-small" style="display:inline-block; margin:0;">Note:</h3 ></div>
                    <div><p style="display:inline; margin:0;">contract ref #90210</p></div>
                    </div-->

                  <div class="flexElement" style="margin-left:20px">
                        <div class="viewButton"  style=""><a href="/{% include "includes/sprint-link.html" %}/ontracts/provider-interface/add-apprenticeship-static">View</a></div>
                    </div>
                  </div>
          </div>


          <div class="commitResults">
                 <div class="commitFlexBox">
 
                      <div class=" commitCheck">
                          <form>
                            <fieldset>
                              <legend class="visuallyhidden">choose apprentice </legend>
                              <label class="block-label commitTweak" for="choose-4">
                                <input id="choose-4" name="choose-4" type="checkbox" value="choose-4" >
                                        <span><span class="inner">&nbsp</span></span>
                              </label>
                            </fieldset>
                        </form>
                  </div>

                  <div class="flexElement" style="margin-left:20px">
                      <div> <p  style="display:inline; margin:0;">Jeff Bloggs</p></div>
                      <div><p  style="display:inline; margin:0;">8621052198</p></div>

                  </div>
                  <div class="flexElementMiddle" style="margin-left:20px">
                     <div><p style="display:inline; margin:0;">21 August 2018</p> <p style="display:inline; margin:0;">until&nbsp</p><p style="display:inline; margin:0;">20 August 2020</p >   </div>
                      <div><!--p style="display:inline; margin:0;">Total cost:&nbsp</p--><p style="display:inline; margin:0;">£2,000.98</p > </div>
                      <div><p style="display:inline; margin:0;">Endpoint assessor:&nbsp</p><p style="display:inline-block; margin:0;">Hackney endpoint assessors Ltd</p > </div>
                      <div><p style="display:inline; margin:0;">Notes:&nbsp</p><p style="display:inline; margin:0;">Free text field lets me enter lots of things in here if I really want to.</p > </div>

                    </div>
            
                  <!--div class="flexElement" style="margin-left:20px">
                     <div><h2 class="heading-small" style="display:inline-block; margin:0;">Cost:&nbsp</h2 ><p style="display:inline; margin:0;">£2,000.98</p></div>
                     <div><h3 class="heading-small" style="display:inline-block; margin:0;">Note:</h3 ></div>
                    <div><p style="display:inline; margin:0;">contract ref #90210</p></div>
                    </div-->

                  <div class="flexElement" style="margin-left:20px">
                        <div class="viewButton"  style=""><a href="/{% include "includes/sprint-link.html" %}/ontracts/provider-interface/add-apprenticeship-static">View</a></div>
                    </div>
                  </div>
          </div>

          <div class="commitResults">
                 <div class="commitFlexBox">

                      <div class=" commitCheck">
                          <form>
                            <fieldset>
                              <legend class="visuallyhidden">choose apprentice </legend>
                              <label class="block-label commitTweak" for="choose-5">
                                <input id="choose-5" name="choose-5" type="checkbox" value="choose-5">
                                        <span><span class="inner">&nbsp</span></span>
                              </label>
                            </fieldset>
                        </form>
                  </div>
                 <div class="flexElement" style="margin-left:20px">
                      <div> <h2 class="heading-small" style="display:inline; margin:0;">Melissa Shaw</h2></div>
                      <div><h2 class="heading-small" style="display:inline; margin:0;">8921052156</h2></div>

                  </div>
                  <div class="flexElementMiddle" style="margin-left:20px">
                     <div><h2 class="heading-small" style="display:inline; margin:0;">21 August 2018</h2 > <p style="display:inline; margin:0;">until&nbsp</p><h2 class="heading-small" style="display:inline; margin:0;">20 August 2020</h2 >   </div>
                      <div><!--p style="display:inline; margin:0;">Total cost:&nbsp</p--><h2 class="heading-small" style="display:inline; margin:0;">£2,000.98</h2 > </div>
                      <div><p style="display:inline; margin:0;">Endpoint assessor:&nbsp</p><h2 class="heading-small" style="display:inline-block; margin:0;">Hackney endpoint assessors Ltd</h2 > </div>
                      <div><p style="display:inline; margin:0;">Notes:&nbsp</p><h2 class="heading-small" style="display:inline; margin:0;">Free text field lets me enter lots of things in here if I really want to.</h2 > </div>

                    </div>
            
                  <!--div class="flexElement" style="margin-left:20px">
                     <div><h2 class="heading-small" style="display:inline-block; margin:0;">Cost:&nbsp</h2 ><p style="display:inline; margin:0;">£2,000.98</p></div>
                     <div><h3 class="heading-small" style="display:inline-block; margin:0;">Note:</h3 ></div>
                    <div><p style="display:inline; margin:0;">contract ref #90210</p></div>
                    </div-->

                  <div class="flexElement" style="margin-left:20px">
                        <div class="viewButton"  style=""><a href="/{% include "includes/sprint-link.html" %}/ontracts/provider-interface/add-apprenticeship-static">View</a></div>
                    </div>
                  </div>
          </div>

<!-- stuff -->



                      <h2 class ="heading-medium" style="margin-bottom:5px" id="apprenticeReplaceMe">5 Bakery Assistants</h2><p style="margin:0px">Level: 4</p>
                      <p style="margin-top:0px">Training code: 3246</p>
                <table class="" id="">
                    <thead>
                      <tr>
                        <!--th scope="col">Training code</th-->
                     <!--  <th scope="col">Training type</th> -->
                        <th scope="col" class="">Given<br />name</th>
                        <th scope="col" class="">Family<br />name</th>
                        <th scope="col" class="">ULN</th>
                        <th scope="col" class="">Start<br />date</th>
                        <th scope="col" class="">End<br />date</th>
                         <th scope="col" class="">Cost</th>
                        <th scope="col" class=""></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Mayu</td>
                        <td>Hirano</td>
                        <td class="">6421052104</td>
                        <td class=" ">10/18</td>
                        <td class="">09/19</td>
                        <td class="">£1,492</td>
                        <td class=""><a href="/{% include "includes/sprint-link.html" %}/ontracts/provider-interface/add-apprenticeship-static">View</a></td>
                      </tr>
                      <tr>
                        <td>Rajeshwari</td>
                        <td>Pillai</td>
                        <td class="">0921052112</td>
                        <td class=" ">10/18</td>
                        <td class="">09/19</td>
                        <td class="">£1,492</td>
                        <td class=""><a href="/{% include "includes/sprint-link.html" %}/ontracts/provider-interface/add-apprenticeship-static">View</a></td>
                      </tr>
                       <tr>
                        <td>Hoai</td>
                        <td>Mi Le</td>
                        <td class="">7821052148</td>
                        <td class=" ">10/18</td>
                        <td class="">09/19</td>
                        <td class="">£1,492</td>
                        <td class=""><a href="/{% include "includes/sprint-link.html" %}/ontracts/provider-interface/add-apprenticeship-static">View</a></td>
                      </tr>
                      <tr>
                        <td>Raven</td>
                        <td>Welsh</td>
                        <td class="">6121052198</td>
                        <td class="">10/18</td>
                        <td class="">09/19</td>
                        <td class="">£1,492</td>
                        <td class=""><a href="/{% include "includes/sprint-link.html" %}/ontracts/provider-interface/add-apprenticeship-static">View</a></td>
                      </tr>
                      <tr>
                        <td>Nana</td>
                        <td>Friedman</td>
                        <td class="">49210521521</td>
                        <td class=" ">11/18</td>
                        <td class="">10/19</td>
                        <td class="">£1,492</td>
                        <td class=""><a href="/{% include "includes/sprint-link.html" %}/ontracts/provider-interface/add-apprenticeship-static">View</a></td>
                      </tr>
                    </tbody>
                </table>


  <hr style="margin:65px 0 18px 0" />
        <div class="commit-bar">
            <form class="" style="display:inline-block" action="/{% include "includes/sprint-link.html" %}/contracts/provider-interface/add-apprenticeship">
                <input type="hidden" name="source" value="provider" />
                <div style="display:inline-block;"><input style="display:inline" class="button-grey-secondary button " type="submit"  id="bulk-upload"  value="Add an apprenticeship"></div>
            </form>
             <form class="" style="display:inline-block" action="/{% include "includes/sprint-link.html" %}/contracts/provider-in-progress/bulk-upload-provider">
                <input type="hidden" name="source" value="provider" />
                <div style="display:inline-block;"><input style="display:inline; margin:0 0 0 10px" class="button-clear button " type="submit"  id="bulk-upload"  value="Import apprenticeships"></div>
            </form>
             <!--p style="display:inline; margin-top:20px"><a href="/{% include "includes/sprint-link.html" %}/contracts/provider-in-progress/bulk-upload-provider">Import apprenticeships</a></p-->
             <form class="" style="display:inline-block; float:right;" action="/{% include "includes/sprint-link.html" %}/contracts/provider-in-progress/do-next">
                    <div style="display:inline-block;"><input class="button" style="display:inline; margin:0 0 0 10px" type="submit"  id="send-to-employer"  value="Finshed editing"></div>
              </form-->
        </div>

        <hr style="margin:20px 0 15px 0" />
            </div>




</main>


{% endblock %}

