{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}


<style>
  #navigation-primary {
    display:none;
  }
</style>

<script>

var addedEndpoint = function() {
  var isAddedEndpoint = 'yes';
  localStorage.setItem("apprenticeship-Endpoint-added", JSON.stringify(isAddedEndpoint));
  window.location.href='../add-apprenticeship';
};


</script>

<main id="content" role="main">
{% include "includes/phase_banner_alpha.html" %}
{% include "includes/secondary-nav-provider.html" %}


  <!--div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/{% include "includes/sprint-link.html" %}/account">Access my funds</a></li>
    </ol>

  </div-->

     <div class="breadcrumbs back-breadcrumb">
    <ol role="breadcrumbs">
      {% include "includes/breadcrumbs/register-back.html" %}
    </ol>
  </div>


<div class="grid-row">

           <div class="column-two-thirds">
  <h1 class="heading-xlarge" >Endpoint assessor</h1>
  <p>We need to know the name of the endpoint assessor for this cohort of apprenticeships</p>
 

 
<form action="add-apprenticeship">
  <fieldset>
    <legend class="visuallyhidden">Endpoint assessor</legend>
      <div class="form-group">
          <label class="form-label-bold" for="endpoint-assessor">Endpoint assessor
          <!--span class="form-hint">Here is a hint for this form field.</span-->
        </label>
          <!--div class="rj-pound-sign">£</div--><input class="form-control" id="endpoint-assessor" type="text" >
      </div>

    </fieldset>
    <input class="button" id="search-provider" onclick="addedEndpoint()" value="Add and return">
</form>
    <div style="margin-top:50px"></div>
    <!-- template to pull in the start tabs so this doesn't get too messy - it is pulling in the tabs -->
<!-- {% include "includes/start-tabs.html" %} -->

            </div>

             <div class="column-one-third">
                      <!--aside class="related">
                        <h2 class="heading-medium" style="margin-top:10px">Existing account</h2>
                        <nav role="navigation">
                      <ul class="robSideNav">
                          <li>
                            <a href="../login">Sign in</a>
                          </li>

                        </ul>
                           </nav>
                    </aside-->
            </div>
</div>
</main>



{% endblock %}
