{% extends "layout.html" %}

{% block head %}
    {% include "includes/head.html" %}
    <script>
        $(document).ready(function() {
            var source = getParameterByName('source') || 'employer';
            $('#source').val(source);
        });
        function getParameterByName(name, url) {
            // taken from http://stackoverflow.com/questions/901115/how-can-i-get-query-string-values-in-javascript
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                    results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
    </script>
{% endblock %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}


<style>
  #navigation-primary {
    display:none;
  }
</style>

<main id="content" role="main">
{% include "includes/phase_banner_alpha.html" %}
{% include "includes/secondary-nav-provider.html" %}


  <!--div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/{% include "includes/sprint-link.html" %}/account">Access my funds</a></li>
    </ol>

  </div-->

     <div class="breadcrumbs back-breadcrumb">
    <ol role="breadcrumbs">
      {% include "includes/breadcrumbs/register-back.html" %}
    </ol>
  </div>


<div class="grid-row">
                    <div class="column-two-thirds">
  <h1 class="heading-xlarge">Training search results</h1>
  <p>There are <span style="font-weight:700">2</span> training standards matching your search for <span style="font-weight:700">'mechatronics'</span></p>

            <!--div class="robColumnDetails">
              <h2 class="heading-medium" style="margin: 0 0 5px 0"><a href="/{% include "includes/sprint-link.html" %}/contracts/new-contract/provider-interface/add-an-apprenticeship/chosen">Mechatronics engineer</a></h2>
                      <div><h2 class="heading-small" style="display:inline-block; margin:0;">Level:&nbsp</h2 ><p style="display:inline; margin:0;">4 (equivalent to certificate of higher education)</p></div>
                      <div><h2 class="heading-small" style="display:inline-block; margin:0;">Typical length:&nbsp</h2 ><p style="display:inline; margin:0;">24 months</p></div>

          </div>
          <div class="robColumnDetails">
              <h2 class="heading-medium looks-like-a-link-underline-h2" style="margin: 0 0 5px 0">Mechatronics technician</h2>
                      <div><h2 class="heading-small" style="display:inline-block; margin:0;">Level:&nbsp</h2 ><p style="display:inline; margin:0;">3 (equivalent to A levels at grades A to E)</p></div>

          </div-->
  <form action="/{% include "includes/sprint-link.html" %}/contracts/provider-interface/add-apprenticeship">
    <input id="source" name="source" type="hidden" value="employer" />
    <fieldset>
      <legend class="visuallyhidden">Access to the service</legend>

      <p>
        Choose the training you have agreed
      </p>

      <label class="rj-roles-choice block-label " for="radio-1">
        <input id="radio-1" type="radio" name="radio-group" value="engineer" >
        <span style="font-weight:700">Mechatronics engineer</span>
        <span class="">
          <div><p style="display:inline-block; margin:0;">Training code:&nbsp</p ><p style="display:inline; margin:0;">3246</p></div>
            <div><p style="display:inline-block; margin:0;">Level:&nbsp</p><p style="display:inline; margin:0;">4 </p></div>

        </span>
      </label>

      <label class="rj-roles-choice block-label " for="radio-2">
        <input id="radio-2" type="radio" name="radio-group" value="engineer" >
        <span style="font-weight:700">Mechatronics technician</span>
        <span class="">
          <div><p style="display:inline-block; margin:0;">Training code:&nbsp</p ><p style="display:inline; margin:0;">9267</p></div>
            <div><p style="display:inline-block; margin:0;">Level:&nbsp</p><p style="display:inline; margin:0;">2 </p></div>


        </span>
      </label>

      <!--label class="block-label rj-roles-choice" for="radio-3">
        <input id="radio-3" type="radio" name="radio-group" value="Owner">
        Owner
        <span class="form-hint">
          An "owner" is a team member with full access to the organisation's
          account. They can do everything a viewer or doer can and also
          <ol>
            <li>- manage team members</li>
            <li>- manage PAYE schemes</li>
          </ol>
        </span>
      </label-->
    </fieldset>

     <input class="button" id="saveAndContinue" type="submit" style="margin-top:30px" value="Confirm and return">
  </form>
  <p style="margin-top:20px"><a href="/{% include "includes/sprint-link.html" %}/contracts/provider-interface/add-apprenticeship">Search again</a></p>



    <div style="margin-top:50px"></div>
    <!-- template to pull in the start tabs so this doesn't get too messy - it is pulling in the tabs -->
<!-- {% include "includes/start-tabs.html" %} -->

            </div>

             <div class="column-one-third">
                      <!--aside class="related">
                        <h2 class="heading-medium" style="margin-top:10px">Existing account</h2>
                        <nav role="navigation">
                      <ul class="robSideNav">
                          <li>
                            <a href="../login">Sign in</a>
                          </li>

                        </ul>
                           </nav>
                    </aside-->
            </div>
</div>
</main>

<script>
//jquery that runs the tabs. Uses the jquery.tabs.js from gov.uk



$( document ).ready(function() {

  // change the tabs themselves to active - should be in the above but isn't working because it's looking for a not li so I added this as a quick fix.

  $("ul#tabs-nav li").click(function(e){
        if (!$(this).hasClass("active")) {
            var tabNum = $(this).index();
            var nthChild = tabNum+1;
            $("ul#tabs-nav li.active").removeClass("active");
            $(this).addClass("active");
            $("ul#tabs-nav li.active").removeClass("active");
            $("ul#tabs-nav li:nth-child("+nthChild+")").addClass("active");
        }
    });
});

  $('ul.tabs-nav').each(function(){
    // For each set of tabs, we want to keep track of
    // which tab is active and its associated content
    var $active, $content, $links = $(this).find('a');



    // If the location.hash matches one of the links, use that as the active tab.
    // If no match is found, use the first link as the initial active tab.
    $active = $($links.filter('[href="'+location.hash+'"]')[0] || $links[0]);
   // $active.addClass('active');
   console.log($active)

    $content = $($active[0].hash);

    // Hide the remaining content
    $links.not($active).each(function () {
      $(this.hash).hide();
    }); 

    // Bind the click event handler
    $(this).on('click', 'a', function(e){
      // Make the old tab inactive.
    //  $active.removeClass('active');
      $content.hide();

      // Update the variables with the new link and content
    //  $active = $(this);
      $content = $(this.hash);

      // Make the tab active.
     // $active.addClass('active');
      $content.show();

      // Prevent the anchor's default click action
      e.preventDefault();
    });
  });


</script>


{% endblock %}
