/* Mobile First CSS */

#standard-result-summary {
    float: left;
    width: 100%;
}

.attachment-full-width {
    margin-bottom: 10px;
}

.attachment-full-width h2 {
    margin-top: 0;
}

.attachment {
    position: relative;
    margin: 0 0 30px;
    padding: 0 0 0 130px;
}

.attachment .attachment-thumb {
    position: relative;
    float: left;
    margin-top: 5px;
    margin-left: -124px;
    padding-bottom: 15px;
}

.attachment .attachment-thumb img {
    display: block;
    width: 99px;
    height: 140px;
    background: white;
    outline: 5px solid rgba(11, 12, 12, 0.1);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.metadata {
    font-size: 14px;
}

.accessibility-warning {
    font-size: 14px;
}

.attachment .accessibility-warning .toggler {
    display: inline-block;
    color: #005ea5;
    cursor: pointer;
}

.f2 dt {
    font-weight: 900;
    float: left;
    padding-right: 5px;
}

h1 {
    text-transform: lowercase !important;
}

h1 span {
    display: inline-block;
}

h1 span:first-letter {
    text-transform: uppercase !important;
}

.panel.new {
    border-color: #FFBF47;
    background: rgba(255, 191, 71, 0.20)
}

.ctaContainer {
    margin-top: 60px !important;
    padding: 0 0 0 20px;
}

.ctaContainer li {
    margin-bottom: 0px;
    padding-top: 10px;
}

.ctaContainer li i {
    margin-right: 5px;
}

.hide-desktop {
    text-align: center;
    display: block;
    margin-bottom: 10px;
}

.hide-desktop i {
    margin-right: 5px;
}

.box {
    height: 25px;
    width: 25px;
    display: inline-block;
    float: left;
    margin-right: 5px;
}


/* Tablet Small Desktop */

@media (min-width: 641px) {
    .hide-desktop {
        display: none;
    }
    .findProviders.button {
        margin: 0 0 20px;
        float: right;
        display: block;
        box-sizing: border-box;
        width: 100%;
    }
    .shortlistButton {
        display: block;
        text-align: center;
    }
    .shortlistButton i {
        margin-right: 5px;
    }
    .container.shortlist {
        width: auto;
        float: left;
    }
}


/* Mobile only */

@media (max-width: 640px) {
    .container.shortlist {
        border: none;
        text-align: center;
    }
}


/* Large Desktop */

@media (min-width: 1020px) {}