{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}

<link href="/public/stylesheets/filtering.css" media="screen" rel="stylesheet" type="text/css" />

<style>
 #navigation-primary, #kill-me {
  display:none;
}
</style>


<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}
{% include "includes/secondary-nav-people.html" %}




       <div class="breadcrumbs back-breadcrumb">
    <ol role="breadcrumbs">
          <a href="/{% include "includes/sprint-link.html" %}/apprentice-view/manage-options-provider" class="link-back">Back</a>
    </ol>
  </div>


<!--h1 class="heading-large">Levy account</h1-->
 <!--h2 class="bold-medium">Acme Ltd Levy Account</h2-->
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge" >{% include "includes/account-name-number.html" %}Things that need your attention</h1>
    <!--p class="lede">All apprentices who are currently on your programme and need no action.</p-->
  </div>
</div>


                      <table class="">
                          <thead>
                            <tr>
                              <th scope="col" style="padding-top:0">Name</th>
                              <th scope="col" style="padding-top:0">Date of birth</th>
                               <th scope="col" style="padding-top:0">Type</th>
                               <th scope="col" style="padding-top:0">Payment period</th>
                                 <th scope="col" style="padding-top:0"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <!--quick hack, will fix -->
                              <td class="rjTabWidth">Mel O'Connor</td>
                              <td class="">1 May 1998</td>
                              <td class="">Data lock error</td>
                              <td>01 October 2017 to 01 November 2017</td>
                              <td><a href="/{% include "includes/sprint-link.html" %}/apprentice-view/individual-apprentice-data-lock-failure">View</a></td>
                            </tr>

                             <tr>
                              <td class="rjTabWidth">Susan Hamazaki</td>
                              <td class="">12 October 1995</td>
                             <td>Changes for review</td>
                             <td class="">01 October 2017 to 01 July 2018</td>
                               <td><a href="/{% include "includes/sprint-link.html" %}/apprentice-view/individual-apprentice-showing-changes">View</a></td>
                            </tr>

                            <tr>
                              <td class="rjTabWidth">Charles Patel</td>
                              <td class="">1 June 2001</td>
                              <td>Payment failure</td>
                               <td>01 October 2017 to 01 November 2017</td>
                               <td><a href="/{% include "includes/sprint-link.html" %}/apprentice-view/update-apprenticeship/provider-payment-failure/individual-apprentice-payment-failure">View</a></td>
                            </tr>

                            <tr>
                              <td class="rjTabWidth">Fred Birtwhistle</td>
                              <td class="">29 April 2001</td>
                              <td>Payment adjustment</td>
                               <td>01 May 2017 to 01 June 2017</td>
                               <td><a href="/{% include "includes/sprint-link.html" %}/apprentice-view/update-apprenticeship/provider-payment-failure/individual-apprentice-payment-failure">View</a></td>
                            </tr>

                            <tr>
                              <td class="rjTabWidth">Mel O'Connor</td>
                              <td class="">01 May 1998</td>
                                                      <td>Endpoint assessment review</td>
                                                        <td></td>
                              <td class="looks-like-a-link-underline">View</td>
                            </tr>
                             <tr>
                              <td class="rjTabWidth">Bill O'Neil</td>
                              <td class="">30 Dec 1998</td>
                               <td>Pending ILR change</td>
                                <td></td>
                              <td class="looks-like-a-link-underline">View</td>
                            </tr>
                          </tbody>
                      </table>
                 </div>
             </div>
</main>



{% endblock %}

