{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<script>
// not needed at the moment, remember to remove script from the header if you don't use this in the end.



</script>


<main id="content" role="main">
{% include "includes/phase_banner_alpha.html" %}

  <h1 class="heading-large">Data Admin</h1>

  <p>
   Edit the data that is displayed on this site
  </p>

<form action="login-choose-accounts">
	<h2 class="heading-large">General</h2>
	<div>
		<h3 class="heading-large" data-bind="text: displayBalance"></h3>
	</div>
	<div>
		<label class="form-label">System Date</label>
		<input class="form-control" data-bind="value: systemDate" type="date"/>
	</div>

	<h2 class="heading-large">Transactions</h2>
	<table>
	<thead>
	<tr>
	<th width="25%">Date</th>
	<th width="40%">Description</th>
	<th width='25%'>Amount</th>
	<th width='10%'></th>
	</tr>
	</thead>
	<tbody data-bind="foreach: statementLines">
		<tr>
			<td>
				<input type="date" class="form-control" style="width:100%;" data-bind="value: date" />
			</td>
			</td>
			<td>
				<input type="text" class="form-control" style="width:100%;" data-bind="value: description" />
			</td>
			<td>
				<input type="number" class="form-control" style="width:100%;" data-bind="value: amount" />
			</td>
			<td>
				<a href='#' data-bind='click: $parent.removeLine'>Remove</a>
			</td>
		</tr>
	</tbody>
	</table>
	<div class="left" style="padding:10px 0">
		<button class="button" data-bind="click: addLine">Add another statement entry</button>
	</div>


	<h2 class="heading-large">Providers</h2>
	<table>
		<thead>
			<th width="35%">Provider Name</th>
			<th width="20%">Reference</th>
			<th width="35%">Standards</th>
			<th width="10%"></th>
		</thead>
		<tbody data-bind='foreach: providers'>
			<td>
				<input type="text" class="form-control" style="width:100%;" data-bind='value: providerName'/>
			</td>
			<td>
				<input type="text" class="form-control" style="width:100%;" data-bind='value: reference'/>
			</td>
			<td>
				<input type="text" class="form-control" style="width:100%;" data-bind='value: standards'/>
			</td>
			<td>
				<a href='#' data-bind='click: $parent.removeProvider'>Remove</a>
			</td>
		</tbody>
	</table>
	<div class="left" style="padding:10px 0">
		<button class="button" data-bind="click: addProvider">Add another provider</button>
	</div>



	<div style="padding-top:50px;">
		<button class="button" data-bind="click: saveData">Save all data</button>
	</div>
</form>
</main>

{% endblock %}
