{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<script>
// not needed at the moment, remember to remove script from the header if you don't use this in the end.

//jQuery( document ).ready(function() {
     //jQuery.validate(); 
// });


</script>


<main id="content" role="main">
{% include "includes/phase_banner_alpha.html" %}

  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/">Breadcrumb here ></a></li>
    </ol>

  </div>

   <h1 class="heading-large" style="margin:0px 0 50px 0"><span class="heading-secondary" style="padding-top:0px">Question 3 of 4</span>Enter your Government gateway credentials</h1>
 <p>The person entering this information should have authority within the organsation to access Government Gateway credentials for the PAYE schemes. Your payroll department will usually have this information<p/>



     
      <!--h2 class="heading-medium" style="margin-top:10px">Organisation information</h2-->
<form action="/sprint3/employerPortal/upgrade/paye" >
  <fieldset>
    <legend class="visuallyhidden">Government Gateway credentials</legend>
      <div class="form-group">
           
          <label class="form-label" for="goverment-gateway-username">Government Gateway username</label>
          <span class="form-hint">The username used to log into the Government Gateway. </span>

        </label>
          <input class="form-control" id="government-gateway-username" type="text">
        </fieldset>
         <fieldset>
      <legend class="visuallyhidden">companies house number</legend>
      </div>
      <div class="form-group">
          <label class="form-label" for="companies-house-number">Government Gateway password</label>
          <span class="form-hint">The password used to log into the Government Gateway.</span>
          <input class="form-control" id="companies-house-number" type="password">
      </div>
 
    </fieldset>
    <input class="button" id="saveAndContinue" type="submit" value="Save and continue">

</form>
</main>

<script>

//store details entered into the form in local storage
var createButton = document.getElementById('createAccountButton');
EventUtil.addHandler(createButton, 'click', function(){
              // save the form info to local storage by first putting the data into an object
              var userDetails = {
                email: document.getElementById('email-address').value,
                password: document.getElementById('password').value
            };

            //store the object in local storage using json stringify
              localStorage.setItem("login", JSON.stringify(userDetails));

            //store the users email address in a cookie to repeat back to them later. Remember that we have some of the data stored in an object in local storage as well -  so we'll use that again if we need it.
            document.cookie =  "emailAddress="  + userDetails.email 
            // shows the cookie in the console log to check it is working
            console.log (document.cookie)

        // not needed at the moment

              //hide the login form
              //$('#login').addClass('hidden');
              //show the quiz
           // $('#wrapper').removeClass('hidden')
    });
</script>

{% endblock %}
