{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}

<script>
        var employerOrNot = JSON.parse(localStorage.getItem('commitments.isEmployer'));
        var changeStatus =JSON.parse(localStorage.getItem('commitments.userChangeStatus'));
                   //paused is set when the paused journey is triggered.

    </script>


<script>

$(document).ready(function() {
  var changeStuff = function() {
  if (employerOrNot=='yes') {
    // document.getElementById("commitmentsName").textContent = " Hackney Skills & Training Ltd";
   //  document.getElementById("providerName").textContent = "Provider:" ;
        $(trainingProvider).removeClass("rj-dont-display");
   // $(ULNTable).addClass("rj-dont-display");
   //  $(removeMe).addClass("rj-dont-display")

    }
else {
    $(ULN).removeClass("rj-dont-display");
    $(employer).removeClass("rj-dont-display");

//    $(addReference).removeClass("rj-dont-display");
        };

};

var showAlerts = function() {
 switch (true) {
             case  (changeStatus == "paused"):
                  localStorage.setItem("commitments.userChangeStatus", JSON.stringify("nope"));
                  $(pausedAlertMessage).removeClass("rj-dont-display");
              break;
        default:
             console.log('nothings changed on the apprentice record')
          break;
        }
  };

changeStuff();
showAlerts();
});

</script>

<style>
    .apprentice-nav a {
    {% include "includes/nav-on-state-css.html" %}
  }
</style>


<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}
{% include "includes/secondary-nav-people.html" %}


      <div class="breadcrumbs back-breadcrumb">
    <ol role="breadcrumbs">
      {% include "includes/breadcrumbs/register-back.html" %}
    </ol>
  </div>


<!--h1 class="heading-large">Levy account</h1-->
 <!--h2 class="bold-medium">Acme Ltd Levy Account</h2-->

    <div style= "" id="pausedAlertMessage" class="panel panel-border-wide alert-default-green-thing rj-dont-display ">  <i class="fa fa-check "style="padding-right:5px"></i>
    You've stopped payments for Rob Edwards
    </div>
    <div style= "" id="changedAlertMessage" class="panel panel-border-wide alert-default-green-thing rj-dont-display ">  <i class="fa fa-check "style="padding-right:5px"></i>
    You suggested changes to -change- -change-, -change-, -change- for Rob Edwards. Your training provider needs to approve these changes.
    </div>

    <div class="grid-row">
      <div class="column-two-thirds">

          <div style="margin-top:35px"></div>

            <div class="topWarningBlue">
            <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1" style="border-color: #28A197">
              <p>
                Apprentice paused.
              </p>
            </div>
            </div>

              <h1 class="heading-xlarge " >{% include "includes/account-name-number.html" %}James Apan</h1>
                <table class="table-19-font" style="margin:0"> 
                  <thead>
                    <tr>
                      <th> </th>

                    </tr>
                  </thead>
                </table>

                <table class="table-19-font"> 
                  <tbody>
                    <tr>
                      <td class="apprenticeRecordTitle" >Status</td>
                      <td class="">Paused</td>
                      <td><p style="text-align:right; margin:0"><a  href="/{% include "includes/sprint-link.html" %}/apprentice-view/update-apprenticeship/stop-pause-apprentice2">Edit status</a></p></td>
                    </tr>

                      </tbody>
                </table>

               <table class="table-19-font" style="margin:0"> 
                  <thead>
                    <tr>
                      <th colspan="2"> <h2 class="heading-medium">Apprentice</h2></th>
                      <th><p style="margin-top:45px; text-align:right"><a href="/{% include "includes/sprint-link.html" %}/apprentice-view/update-apprenticeship/edit-apprentice">Edit apprentice</a> </p> </th>
                    </tr>
                  </thead>
                </table>

                <table class="table-19-font"> 
                  <tbody>
                    <tr>
                      <td class="apprenticeRecordTitle" style="width:250px">Apprentice name</td>
                      <td class="" style="">Rob Edwards</td>

                    </tr>
                     <tr>
                      <td class="apprenticeRecordTitle" >Date of birth</td>
                      <td class="" >28 February 1997</td>
                    </tr>
                     <tr id="ULN" class="rj-dont-display">
                      <td class="apprenticeRecordTitle " >ULN</td>
                      <td class="" >0123456789</td>
                    </tr>
                    <tr id="referenceNumber" class="">
                      <td class="apprenticeRecordTitle " >Reference</td>
                      <td class="" >ABC1234564</td>
                    </tr>
                   </tbody>
                </table>
                <!--p style="margin-top:; text-align:"><a href="/{% include "includes/sprint-link.html" %}/apprentice-view/update-apprenticeship/edit-apprentice">Edit apprentice</a> </p-->

                <table class="table-19-font" style="margin:0"> 
                  <thead>
                    <tr>
                      <th colspan="2"> <h2 class="heading-medium">Cost</h2></th>
                      <th><p style="margin-top:45px; text-align:right"><a href="/{% include "includes/sprint-link.html" %}/apprentice-view/update-apprenticeship/edit-overview">Edit cost</a> </p> </th>
                    </tr>
                  </thead>
                </table>

                <table class="table-19-font" style=""> 
                <tbody>
                    <tr>
                     <td class="apprenticeRecordTitle">Total cost</td>
                      <td class="" >£5,555 <span style="font-size:16px"></span></td>
                    </tr>
                  </tbody>
                </table>


               <table class="table-19-font" style="margin:0"> 
                  <thead>
                    <tr>
                      <th colspan="2"> <h2 class="heading-medium">Training</h2></th>
                      <th><p style="margin-top:45px; text-align:right"><!--a href="/{% include "includes/sprint-link.html" %}/apprentice-view/update-apprenticeship/edit-training">Edit training</a--></p> </th>
                    </tr>
                  </thead>
                </table>

            <table class="table-19-font" style=""> 
                <tbody>
                    <tr id="trainingProvider" class="rj-dont-display">
                      <td class="apprenticeRecordTitle">Training provider</td>
                      <td class="" >Hackney Skills Solutions Ltd</td>
                    </tr>

                    <tr id="employer" class="rj-dont-display">
                      <td class="apprenticeRecordTitle">Employer</td>
                      <td class="" >Acme Coventry Ltd</td>
                    </tr>

                     <tr>
                     <td class="apprenticeRecordTitle" >Apprenticeship name</td>
                      <td class="" >Level 2: Aeronautical engineering</td>
                    </tr>
                      </tbody>
                </table>
                <!--p style=""><a href="/{% include "includes/sprint-link.html" %}/apprentice-view/update-apprenticeship/edit-training">Edit training</a> </p-->

             <table class="table-19-font" style="margin:0"> 
                  <thead>
                    <tr>
                      <th colspan="2"> <h2 class="heading-medium">Endpoint assessor</h2></th>
                      <th><p style="margin-top:45px; text-align:right"><!--a href="/{% include "includes/sprint-link.html" %}/apprentice-view/update-apprenticeship/edit-overview">Edit endpoint assessment</a--></p> </th>
                    </tr>
                  </thead>
                </table>

            <table class="table-19-font" style=""> 
                <tbody>
                     <tr>
                     <td class="apprenticeRecordTitle" >Endpoint assessor</td>
                      <td class="" >Pham assessments Ltd</td>
                    </tr>
                      </tbody>
                </table>
                <!--p style=""><a href="/{% include "includes/sprint-link.html" %}/apprentice-view/update-apprenticeship/edit-overview">Edit endpoint assessment</a> </p-->

              <table class="table-19-font" style="margin:0"> 
                  <thead>
                    <tr>
                      <th colspan="2"> <h2 class="heading-medium">Dates</h2></th>
                      <!--th><p style="margin-top:45px; text-align:right; " class="looks-like-a-link-underline"> Edit dates </p>  </th-->
                    </tr>
                  </thead>
                </table>

            <table class="table-19-font" style=""> 
                <tbody>
                    <tr>
                     <td class="apprenticeRecordTitle" >Start date</td>
                      <td class="">20 July 2018</td>

                    </tr>
                    <tr>
                     <td class="apprenticeRecordTitle">End date</td>
                      <td class="">19 July 2020</td>

                    </tr>
                    <!--tr>
                     <td class="apprenticeRecordTitle">Time left</td>
                      <td class="">10 months</td>

                    </tr-->
                                </tbody>
                </table>
                <!--p style="" class="looks-like-a-link-underline"> Edit dates </p--> 
                <!--table class="table-19-font"> 
                  <thead>
                    <tr>
                      <th colspan="3"> <h2 class="heading-medium">Payment plan</h2></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                     <td class="apprenticeRecordTitle">Amount paid</td>
                      <td class="">£1,312</td>
                      <td class=""><a href="/{% include "includes/sprint-link.html" %}/apprentice-view/paid">View</a></td>
                    </tr>
                     <tr>
                     <td class="apprenticeRecordTitle">Balance</td>
                      <td class="">£5,243</td>
                      <td class=""><a href="/{% include "includes/sprint-link.html" %}/apprentice-view/left-to-pay">View</a></td>
                    </tr>

                  </tbody>
                </table-->

            <div style="margin-top:35px"></div>
            <div style="margin-top:50px"></div>
          </div>

            <!--div class="change-history-header">
              <h2 class="heading-medium" style="margin-top: 0; margin-left: 20px">Change history</h2>
              <a href="#">Show all</a>
            </div-->

        <!--div class="column-one-third">

          <div style="margin-top: 35px"></div>

            <div class="change-history-content" style="border-left: 4px solid #BFC1C3; height: 510px; width: 100%;">

              <h2 class="heading-medium" style="margin-top: 0; margin-left: 20px">Change history</h2>
                
                <h2 class="heading-small" style="margin-left: 20px">2 hours ago</h2>
                  <ul style="list-style-type: disc;">
                    <li class="font-xsmall" style="margin-left: 40px"><span style="font-weight: 700">Tom Smith</span> approved a change in <span style="font-weight: 700">cost</span> from <span style="font-weight: 700">£2,000</span> to <span style="font-weight: 700">£2,500</span> on 23 Mar 2017</li>
                  </ul>

                <h2 class="heading-small" style="margin-left: 20px">1 day ago</h2>
                  <ul style="list-style-type: disc;">
                    <li class="font-xsmall" style="margin-left: 40px"><span style="font-weight: 700">Tom Smith</span> approved a change in <span style="font-weight: 700">cost</span> from <span style="font-weight: 700">£2,000</span> to <span style="font-weight: 700">£2,500</span> on 23 Mar 2017</li>
                    <li class="font-xsmall" style="margin-left: 40px"><span style="font-weight: 700">Tom Smith</span> approved a change in <span style="font-weight: 700">cost</span> from <span style="font-weight: 700">£2,000</span> to <span style="font-weight: 700">£2,500</span> on 23 Mar 2017</li>
                  </ul>

                <h2 class="heading-small" style="margin-left: 20px">3 days ago</h2>
                  <ul style="list-style-type: disc;">
                    <li class="font-xsmall" style="margin-left: 40px"><span style="font-weight: 700">Tom Smith</span> approved a change in <span style="font-weight: 700">cost</span> from <span style="font-weight: 700">£2,000</span> to <span style="font-weight: 700">£2,500</span> on 23 Mar 2017</li>
                  </ul>

                <h2 class="heading-small" style="margin-left: 20px">1 week ago</h2>
                  <ul style="list-style-type: disc;">
                    <li class="font-xsmall" style="margin-left: 40px"><span style="font-weight: 700">Tom Smith</span> approved a change in <span style="font-weight: 700">cost</span> from <span style="font-weight: 700">£2,000</span> to <span style="font-weight: 700">£2,500</span> on 23 Mar 2017</li>
                  </ul>

            </div>

        </div-->



          <!--div class="column-one-third">
                      <aside class="related">
                        <h2 class="heading-medium" style="//border-top: 1px #bfc1c3 solid;">Change history</h2>
                        <nav role="navigation">
                      <ul class="robSideNav">
                          <li id="auditPausedWaiting">
                            <p><span style="font-weight:700">08 May 2017.</span> RobJ changed the apprentice name to Rob Edwards from Jeff Edwards. Awaiting confirmation. ROB REMOVE THIS AND MAKE A PENDING THING.</p>
                          </li>
                            <li id="auditPausedWaiting">
                            <p><span style="font-weight:700">12 May 2017.</span> RobJ changed the status to Paused. Awaiting confirmation. ROB REMOVE THIS AND MAKE A PENDING THING.</p>
                          </li>
                        </ul>

                           </nav>
                    </aside>
            </div-->
        </div>
</main>



{% endblock %}

