{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}


<style>
  #navigation-primary {
    display:none;
  }
</style>

<script>
// SCRIPT AT BOTTOM OF THE PAGE
</script>



<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}
{% include "includes/secondary-nav-provider.html" %}


  <!--div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/{% include "includes/sprint-link.html" %}/balance">Access my funds</a></li>
    </ol>

  </div-->

     <div class="breadcrumbs back-breadcrumb">
    <ol role="breadcrumbs">
      {% include "includes/breadcrumbs/register-back.html" %}
    </ol>
  </div>


<div class="grid-row">

           <div class="column-two-thirds">
  <h1 class="heading-xlarge" >Fix upload errors</h1>
    <p class="lede">You attempted to upload <span style="font-weight:700">100</span> apprentices across <span style="font-weight:700">3</span> training courses.</p>
        <p class="">There were <span style="font-weight:700">4</span> errors and <span style="font-weight:700">2</span> warnings.</p>

        <div class="panel panel-border-wide alert-warning">
           <span class="bold-small">4</span> Errors found
        </div>


        <div class="panel panel-border-wide alert-error">
          <span class="bold-small">2</span> warnings found
        </div>
      </div>
    </div>
</div>
<div style="margin-top:35px" >
  <h2 class="heading-medium">List of errors</h2>
  <table class="" id="">
                    <thead>
                      <tr>
                        <!--th scope="col">Training code</th-->
                     <th scope="col" style="width:35px;">Row</th> 
                      <th scope="col" class="">ULN</th>
                        <th scope="col" class="">Name</th>
                        <th scope="col" class="">DOB</th>
                        <th scope="col" class="">Training dates</th>
                        <th scope="col" class="">Standard type</th>
                        <th scope="col" class="">Framework type</th>
                         <th scope="col" class="">Training cost</th>
                         <th scope="col" class="">EPA cost</th>
                          <th scope="col" class="">EPA Org ID</th>
                        <th scope="col" class="">Provider ref</th>
                         <!--th scope="col" class="">Changes</th-->

                        <th scope="col" class=""></th>
                      </tr>
                    </thead>
                    <tbody class="indentedTablePadding">
                      <tr class="errorMargin">
                         <td  class="">1</td>
                         <td class="" style="max-width:100px; word-wrap:break-word;" >8321052156</td>
                          <td  style="max-width:100px; word-wrap:break-word;">Mahershalalhashbaz de Orellana Plantagenet</td>
                           <td class="">10/10/1999</td>
                        <td class=" errorBox" style="min-width:75px"><span class="errorCopyTable">Start date cannot be empty</span><br / class="fatBR">--/-- to 11/20 </td>
                        <td class="">3 583 4</td>
                        <td class=""></td>
                        <td class="">£2,000</td>
                        <td class="">£200</td>
                        <td class="">EPA0001</td>
                        <td class="" style="max-width:100px; word-wrap:break-word;">CX8576748</td>

                      </tr>
                      <tr>
                        <td class="">4</td>
                         <td class="" style="max-width:100px; word-wrap:break-word;" >1221052101</td>
                        <td>Taylor Lucas</td>
                         <td class="">10/10/1999</td>
                        <td class=" ">11/18 to 11/20 </td>
                         <td class="">3 583 4</td>
                        <td class=""></td>
                        <td class="errorBox"><span class="errorCopyTable">Enter a cost</span><br / class="fatBR">£  </td>
                         <td class="">£200</td>
                        <td class="">EPA0001</td>
                        <td class="" style="max-width:100px; word-wrap:break-word;">ZZ8576746</td>

                      </tr>
                      <tr class="" >
                         <td class="">15</td>
                          <td class="" style="max-width:100px; word-wrap:break-word;">6621052119</td>
                         <td class=" errorBox"><span class="errorCopyTable">Surname is missing</span><br / class="fatBR">Prahlad </td>
                          <td class="">10/10/1999</td>
                        <td class=" ">--/-- to 11/20 <br /></td>
                        <td class=""></td>
                        <td class="">4</td>
                        <td class="">£2,000</td>
                         <td class="">£200</td>
                        <td class="">EPA0001</td>
                        <td class="" style="max-width:100px; word-wrap:break-word;">BG8576791</td>
                      </tr>

                      <tr class="">
                         <td class="">21</td>
                            <td class=" errorBox"><span class="errorCopyTable">ULN is missing</span><br / class="fatBR">-------------------- </td>
                        <td class="">Melissa Shaw</td>
                         <td class="">10/10/1999</td>
                        <td class=" ">11/18 to 11/20 </td>
                        <td class="">3 583 4</td>
                        <td class=""></td>
                        <td class="">£2,000</td>
                         <td class="">£200</td>
                        <td class="">EPA0001</td>
                         <td class="" style="max-width:100px; word-wrap:break-word;">TY8576762</td>
                      </tr>
                      <tr>

                   <!--
                        <td>Brendan Hamazaki</td>

                        <td class="">2421052176</td>
                        <td class=" ">11/18 to 11/20 </td>
                        <td class="">£2,000</td>
                        <td class=""><a href="/{% include "includes/sprint-link.html" %}/contracts/provider-interface/add-apprenticeship-static">Edit</a></td>
                      </tr>
                                            <tr>
                        <td>Gary Barton</td>
                        <td class="">4521052191</td>
                        <td class=" ">11/18 to 11/20 </td>
                        <td class="">£2,000</td>

                        <td class=""><a href="/{% include "includes/sprint-link.html" %}/contracts/provider-interface/add-apprenticeship-static">Edit</a></td>
                      </tr>
                                            <tr>
                        <td>Tommy Barger</td>
                        <td class="">4121052139</td>
                        <td class=" ">11/18 to 11/20 </td>
                        <td class="">£2,000</td>


                        <td class=""><a href="/{% include "includes/sprint-link.html" %}/contracts/provider-interface/add-apprenticeship-static">Edit</a></td>
                      </tr>
                                            <tr>
                        <td>William Dewitt</td>
                        <td class="">8221052149</td>
                        <td class=" ">11/18 to 11/20 </td>
                        <td class="">£2,000</td>


                        <td class=""><a href="/{% include "includes/sprint-link.html" %}/contracts/provider-interface/add-apprenticeship-static">Edit</a></td>
                      </tr>

                    -->

                    </tbody>
                  </table>



<div style="margin-top:35px" >
    <input class="button" id="bulk-upload-finish"  value="Do something">
</div>
<div style="margin-top:15px"><a href="bulk-upload-provider">Do something else</a></div>
    <div style="margin-top:50px"></div>
    <!-- template to pull in the start tabs so this doesn't get too messy - it is pulling in the tabs -->
<!-- {% include "includes/start-tabs.html" %} -->

            </div>

             <div class="column-one-third">
                      <!--aside class="related">
                        <h2 class="heading-medium" style="margin-top:10px">Existing account</h2>
                        <nav role="navigation">
                      <ul class="robSideNav">
                          <li>
                            <a href="../login">Sign in</a>
                          </li>

                        </ul>
                           </nav>
                    </aside-->
            </div>
</div>
</main>


<script>

// Add the stuff confirmation into the page when clicked to simulate resending the email
/*var btn = document.getElementById('bulk-upload-finish');
EventUtil.addHandler(btn, 'click', function(){
        var isUploaded = 'yes';
        localStorage.setItem("apprenticeship-added.bulk-upload", JSON.stringify(isUploaded));
        window.location.href='./provider-list';
 });*/

$('#bulk-upload-finish').click(function() {
    window.das.commitments.addApprenticeships([
        {
            training: {
                code: 1,
                name: "Mechatronics Engineer"
            },
            start: {
                month: 11,
                year: 2018
            },
            finish:
            {
                month: 10,
                year: 2020
            },
            cost: 1500,
            apprentice: {
                first: "David",
                last: "Edwards",
                uln: 9021001209
            }
        },
        {
            training: {
                code: 1,
                name: "Mechatronics Engineer"
            },
            start: {
                month: 11,
                year: 2018
            },
            finish:
            {
                month: 10,
                year: 2020
            },
            cost: 1500,
            apprentice: {
                first: "Rob",
                last: "Andrews",
                uln: 8780601583
            }
        },
        {
            training: {
                code: 1,
                name: "Mechatronics Engineer"
            },
            start: {
                month: 11,
                year: 2018
            },
            finish:
            {
                month: 10,
                year: 2020
            },
            cost: 1500,
            apprentice: {
                first: "Mellisa",
                last: "Shaw",
                uln: 6421001981
            }
        },
        {
            training: {
                code: 1,
                name: "Mechatronics Engineer"
            },
            start: {
                month: 11,
                year: 2018
            },
            finish:
            {
                month: 10,
                year: 2020
            },
            cost: 1500,
            apprentice: {
                first: "Brendan",
                last: "Hamazaki",
                uln: 67210012321
            }
        },
        {
            training: {
                code: 1,
                name: "Mechatronics Engineer"
            },
            start: {
                month: 11,
                year: 2018
            },
            finish:
            {
                month: 10,
                year: 2020
            },
            cost: 1500,
            apprentice: {
                first: "Gary",
                last: "Barton",
                uln: 21210012876
            }
        }
    ]);
    window.location.href = './provider-list';
});

</script>



{% endblock %}
