{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}


<style>
  .people-nav a {
    {% include "includes/nav-on-state-css.html" %}
  }
</style>


<!-- Custom style for the add buttons -->
<style>
  .list-item-wrapper-vertical {
      padding-left: 0px;
      padding-right: 0px;
    }

    .list-item-wrapper-vertical input {
      width: 80%;
    }

    .list-item-wrapper-vertical .remove-list-item-vertical {
      margin-top: 4.4em;
      display: block;
    }

    .list-item-wrapper-vertical .heading-medium {
      margin-top: 0;
    }

    .button-add-another-vertical {
      background-color: #eee;
      color: #000;
      box-shadow: 0 2px 0 #666;
    }

    .button-add-another-vertical:hover {
      background-color: #ccc;
      color: #000;
      box-shadow: 0 2px 0 #666;
    }

    .button-add-another-vertical:focus {
      background-color: #ccc;
      color: #000;
      box-shadow: 0 2px 0 #666;
    }

    @media (max-width: 640px) {
      .list-item-wrapper-vertical inpit {
        width: 100%;
      }

      .button-add-another-vertical {
        width: 90%;
        margin: auto;
        display: block;
      }
    }
</style>



<script>
 $(document).on('click', '.button-add-another-vertical', function (e) {
      e.preventDefault();
      var beforeThis = $(this).parents('.list-item-wrapper-vertical').find('.grid-row').last();
      $(beforeThis).before(
        '<div class="grid-row">' +
          '<div class="column-two-thirds">' +
            '<div class="form-group-compound">' +
              '<h2 class="heading-medium">Item 1</h2>' +
              '<div class="form-group">' +
                '<label class="form-label" for="field-1">' +
                  'Field label' +
                '</label>' +
                '<input type="text" class="form-control" id="field-1" name="field-1">' +
              '</div>' +
              '<div class="form-group">' +
                '<label class="form-label" for="field-2">' +
                  'Field label' +
                '</label>' +
                '<input type="text" class="form-control" id="field-2" name="field-2">' +
              '</div>' +
              '<div class="form-group">' +
                '<label class="form-label" for="field-3">' +
                  'Field label' +
                '</label>' +
                '<input type="text" class="form-control" id="field-3" name="field-3">' +
              '</div>' +
            '</div>' +
          '</div>' +
          '<div class="column-one-third">' +
          '</div>' +
        '</div>' +
        '<hr />'
      );
      sortFieldsVertical();
    });

    function sortFieldsVertical() {
      var listCounter = 1;
      var inputCounter = 1;

      $(document).find('.list-item-wrapper-vertical .grid-row').each(function () {
        $(this).find('h2').text('Apprentice ' + listCounter);

        if ($(this).find('.remove-list-item-vertical').length === 0) {
          $(this).find('.column-one-third:last').append('<a id="remove-item-vertical-' + listCounter + '" class="remove-list-item-vertical" href="#">Remove this</a>');
        } else {
          $(this).find('.remove-list-item-vertical').attr('id', 'remove-item-vertical-' + listCounter);
        }

        $(this).find('label').each(function () {
          $(this).attr('for', 'field-' + inputCounter);
          inputCounter++;
        });

        $(this).find('input').each(function () {
          var labelNo = $(this).parent().find('label').attr('for').split('-').pop();
          $(this).attr('id', 'field-' + labelNo);
          $(this).attr('name', 'field-' + labelNo);
        });

        listCounter++;
      });

      if ($(document).find('.list-item-wrapper-vertical .grid-row').length === 2) {
        $('.remove-list-item-vertical').remove();
      }
    }

    $(document).on('click', '.remove-list-item-vertical', function (e) {
      e.preventDefault();
      $(this).parents('.grid-row').prev('hr').remove();
      $(this).parents('.grid-row').remove();
      sortFieldsVertical();
    });
</script>

<main id="content" role="main">
{% include "includes/phase_banner_alpha.html" %}
{% include "includes/secondary-nav-provider.html" %}


  <!--div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/{% include "includes/sprint-link.html" %}/balance">Access my funds</a></li>
    </ol>

  </div-->

     <div class="breadcrumbs back-breadcrumb">
    <ol role="breadcrumbs">
      {% include "includes/breadcrumbs/register-back.html" %}
    </ol>
  </div>


<div class="grid-row">
           <div class="column-two-thirds">
  <h1 class="heading-xlarge" >Add apprentices</h1>
  <div>
    <table class="table-19-font" style=""> 
                    <!--thead>
                      <tr>
                        <h2 class="heading-medium">Apprenticeship 1</h2>
                           <th scope="col"></th>
                          <th scope="col"></th>
                           <th scope="col"></th>

                      </tr>
                    </thead-->
                    <tbody>
                      <tr>
                        <td style="padding-top:0"></td>
                        <td style="padding-top:0"></td>
                        <td style="padding-top:0"></td>
                      </tr>
                       <tr>
                        <td style="width:210px">Chosen training course</td>
                        <td style=" width:337px">Mechatronics engineer, Level 4</td>
                        <td><a href="choose-training-employer">Change</a></td>
                      </tr>
                    <tr>
                        <td style="width:191px">Course duration</td>
                        <td style=" width:337px">24 months</td>
                        <td><a href="choose-training-employer">Change</a></td>
                      </tr>
                      <tr>
                        <td style="width:191px">Payment start date</td>
                        <td style=" width:337px">09/2018</td>
                        <td><a href="choose-training-employer">Change</a></td>
                      </tr>
                      <tr>
                        <td style="width:191px;">Total agreed price</td>
                        <td style=" width:337px">£3,900</td>
                        <td><a href="choose-training-employer">Change</a></td>
                      </tr>

                    </tbody>
                </table>
        </div>

<div style="margin-top:35px"></div>
    <div class="list-item-wrapper-vertical">
      <div class="grid-row">
        <div class="column-two-thirds">
          <div class="form-group-compound">
    
            <div class="form-group">
              <label class="form-label-bold" for="field-1">
                First name
              </label>
              <input type="text" class="form-control" id="field-1" name="field-1">
            </div>
            <div class="form-group">
              <label class="form-label-bold" for="field-2">
                Last name
              </label>
              <input type="text" class="form-control" id="field-2" name="field-2">
            </div>







    <div class="form-group">
      <hr style="margin-top:0px"/>
              <fieldset>
                <legend>
                  <span class="form-label-bold">
                    Date of birth
                  </span>
                  <span class="form-hint" id="dob-hint">For example, 31 03 1980</span>
                </legend>
                <div class="form-date">
                  <div class="form-group form-group-day">
                    <label class="form-label" for="dob-day">Day</label>
                    <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31" aria-describedby="dob-hint" value="">
                  </div>
                  <div class="form-group form-group-month">
                    <label class="form-label" for="dob-month">Month</label>
                    <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12" value="">
                  </div>
                  <div class="form-group form-group-year">
                    <label class="form-label" for="dob-year">Year</label>
                    <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2016" value="">
                  </div>
                </div>
            </div>
            <div class="form-group" style="margin-bottom:0">
                <hr style="margin-top:0px"/>
              <label class="form-label-bold" for="field-4">
                Unique Learner Number
              </label>

              <input type="text" class="form-control" id="field-4" name="field-4">
            </div>
          </div>
        </div>

        <div class="column-one-third">
        </div>
      </div>

      <hr />

      <div class="grid-row">
        <div class="column-two-thirds">
          <div class="form-group">
            <button id="add-button" class="button button-add-another-vertical">Add another apprentice</button>

          </div>

        </div>
      </div>
    </div>
<hr style="margin-top:5px"/>

<form style="margin-top:35px" action="">
    <!--input class="button" id="search-provider" type="submit" value="Upload file"-->
     <input class="button " type="button" id="bulk-upload-finish"  value="Finish and return ">
</form>
    <div style="margin-top:50px"></div>
    <!-- template to pull in the start tabs so this doesn't get too messy - it is pulling in the tabs -->
<!-- {% include "includes/start-tabs.html" %} -->

            </div>

             <div class="column-one-third">
                      <!--aside class="related">
                        <h2 class="heading-medium" style="margin-top:10px">Existing account</h2>
                        <nav role="navigation">
                      <ul class="robSideNav">
                          <li>
                            <a href="../login">Sign in</a>
                          </li>

                        </ul>
                           </nav>
                    </aside-->
            </div>
</div>
</main>

<script>

// Add the stuff confirmation into the page when clicked to simulate resending the email
/*var btn = document.getElementById('bulk-upload-finish');
EventUtil.addHandler(btn, 'click', function(){
        var isUploaded = 'yes';
        localStorage.setItem("apprenticeship-added.bulk-upload", JSON.stringify(isUploaded));
        window.location.href='./provider-list';
 });*/

$('#bulk-upload-finish').click(function() {
    window.das.commitments.addApprenticeships([
        {
            training: {
                code: 1,
                name: "Mechatronics Engineer"
            },
            start: {
                month: 11,
                year: 2018
            },
            finish:
            {
                month: 10,
                year: 2020
            },
            cost: 1500,
            apprentice: {
                first: "David",
                last: "Edwards",
                uln: 9021001209
            }
        },
        {
            training: {
                code: 1,
                name: "Mechatronics Engineer"
            },
            start: {
                month: 11,
                year: 2018
            },
            finish:
            {
                month: 10,
                year: 2020
            },
            cost: 1500,
            apprentice: {
                first: "Rob",
                last: "Andrews",
                uln: 8780601583
            }
        },
        {
            training: {
                code: 1,
                name: "Mechatronics Engineer"
            },
            start: {
                month: 11,
                year: 2018
            },
            finish:
            {
                month: 10,
                year: 2020
            },
            cost: 1500,
            apprentice: {
                first: "Mellisa",
                last: "Shaw",
                uln: 6421001981
            }
        },
        {
            training: {
                code: 1,
                name: "Mechatronics Engineer"
            },
            start: {
                month: 11,
                year: 2018
            },
            finish:
            {
                month: 10,
                year: 2020
            },
            cost: 1500,
            apprentice: {
                first: "Brendan",
                last: "Hamazaki",
                uln: 67210012321
            }
        },
        {
            training: {
                code: 1,
                name: "Mechatronics Engineer"
            },
            start: {
                month: 11,
                year: 2018
            },
            finish:
            {
                month: 10,
                year: 2020
            },
            cost: 1500,
            apprentice: {
                first: "Gary",
                last: "Barton",
                uln: 21210012876
            }
        }
    ]);
    window.location.href = 'add-more-cohorts-bulk-upload';
});

</script>





{% endblock %}
