{% extends "layout.html" %}

{% block head %}
    {% include "includes/head.html" %}
    <script src="/public/javascripts/das/edit-commitment-1.1.js"></script>
{% endblock %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}

<style>
  #navigation-primary {
    display:none;
  }
</style>



<script>

/* to set the saved variable on save and return (so it changed the next screen to show an apprenticeship that's been added) */
/*var btn = document.getElementById('saveApprenticeship');
EventUtil.addHandler(btn, 'click', function(){
          var isAddedApp = 'yes';
         localStorage.setItem("apprenticeship-added", JSON.stringify(isAddedApp));
          window.location.href='../new-contract/cohorts';
 });*/


var whereNow = function() {
        window.location.href='are-you-sure';
              };
</script>

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}


  <!--div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/{% include "includes/sprint-link.html" %}/balance">Access my funds</a></li>
    </ol>

  </div-->

     <div class="breadcrumbs back-breadcrumb">
    <ol role="breadcrumbs">
          <a href="../provider-in-progress/provider-list" class="link-back">Back to cohort review</a>
    </ol>
  </div>

  <div class="grid-row">
           <div class="column-two-thirds">
            <h1 class="heading-xlarge" >{% include "includes/account-name-number.html" %}Add apprentice details</h1>

               <div class="panel panel-border-wide">
                 <p>
                   You must add the apprentice’s first and last names - fill in as many other fields as you can. You'll be able to return later to make changes or add more information.
                 </p>
                   <p>You'll only be able to authorise payments for this apprentice once all the fields have been completed - either by yourself or your training provider.</p>
               </div>
          <hr style=""/>
          <form id="myFormId">
        <fieldset>
          <legend class="visuallyhidden">Apprentice name</legend>
                <div class="form-group" style="margin-bottom:15px">
                    <label class="form-label-bold" for="apprenticeGivenName">First name
                    </label>
                  <input class="form-control" id="apprenticeGivenName" type="text">
                </div>
                <div class="form-group" style="margin-bottom:15px">
                    <label class="form-label-bold" for="apprenticeFamilyName">Last name
                    </label>
                  <input class="form-control" id="apprenticeFamilyName" type="text">
                </div>
        </fieldset>
         <!--fieldset>
      <hr style=""/>
            <legend class="visuallyhidden">ULN</legend>
            <div class="form-group">
            <label class="form-label-bold" for="ULN">Unique learner number
           <span class="form-hint">This field is usually completed by training providers</span>
           </label>
              <input class="form-control " id="ULN" type="number" value="">
      </div>
    </fieldset-->
        <hr style="margin-top:px"/>
              <div id="searchTraining">
                <form id="checkTrainingForm" action="add-an-apprenticeship/training-list">
                    <input id="checkTrainingSource" name="source" type="hidden" value="employer" />
                    <fieldset>
                      <legend class="visuallyhidden">Enter the name of the framework or standard.</legend>
                        <div class="form-group" style="margin-bottom:15px">
                            <label class="form-label-bold" for="search">Apprenticeship training course
                        <span class="form-hint">Start typing in the name of the course or choose an option from the list</span>
                          </label>
                            <input class="form-control" id="search-for-training" type="text" style="width:100%">
                        </div>
                          <!--input class="button button-grey-secondary" id="search-provider" type="submit" value="Find course"-->
                      </fieldset>
                </form>

                <!--form class="" style="display:inline-block;" action="/{% include "includes/sprint-link.html" %}/contracts/new-contract/bulk-or-single">
                  <input type="hidden" name="source" value="provider" />
                    <div style="display:inline-block;"><input style="display:inline; margin:0 0 0 0px; " class="button-grey-secondary button " type="submit"  id="bulk-upload"  value="Choose an End-point assessor"></div>
                </form-->

              
                <div class="form-group" style="margin-top: 0px">
              <label class="form-label-bold" for="epa">End-point assessor
               <span class="form-hint">There are no end-point assessors for this training course yet. New organisations are added regularly so please check back at a later date to update these details.
            <!--span class="form-hint" style="margin-top: -10px">You'll need to add end-point assessor details before the training finishes</span-->
             </label>
                      <!--select class="form-control" id="select-box" style="width:100%; margin-top: 10px; margin-bottom: 30px;">
                        <option>Please select an end-point assessor</option>
                        <option>Institute of Mechanical Engineers</option>
                        <option>EPA 2</option>
                        <option>EPA 3</option>
                      </select-->

                      <!--div class="form-address-group" style="margin-left: 0px; margin-top: -10px;">
                        <p style="margin:0; font-size: smaller;"><span style="font-weight:700">Email:</span> <a href="">epa@imeche.org</a></p>
                        <p style="margin:0; font-size: smaller;"><span style="font-weight:700">Phone:</span> 020 7304 6970</p>
                         <p style="margin:0; font-size: smaller;"><span style="font-weight:700">Web:</span> <a href="">www.imeche.org/engtech</a></p>
                      </div-->


                    <details style="margin-top: 10px">
                        <summary><span class="summary">What is an end-point assessor?</span></summary>
                        <div class="panel panel-border-narrow">
                          <p>An end-point assessor carries out the final, independent assessment of the apprentice. The apprentice cannot complete their apprenticeship until they pass the end-point assessment. End-point assessment only applies to Standards.</p>

                          <p><a href="https://www.gov.uk/government/publications/apprenticeship-funding-and-performance-management-rules-2017-to-2018">Find out more about end-point assessors</a></p>
                        </div>
                      </details>
                </div>

            </div>

            <hr style="margin-top: 10px"/>

            <div id="displayTraining" style="display: none;clear: both;">
                <label class="form-label-bold" for="apprenticeCost">Apprenticeship training course</label>

                <div class=" " style="background-color:#fff; border: 0; padding: 18px 0px 15px 0px;" >
                    <span style="">Mechatronics technician</span>
                    <span class="">
                      <div><p style="display:inline-block; margin:0;">Training code:&nbsp</p ><p style="display:inline; margin:0;">9267</p></div>
                        <div><p style="display:inline-block; margin:0;">Level:&nbsp</p><p style="display:inline; margin:0;">2 </p></div>
                    </span>
                </div>
                <div style="clear: both;"></div>
                 <p class="looks-like-a-link-underline">Change course</p>
            </div>

                <hr style=""/>

            <div class="form-group" style="margin-top: 20px">
            <fieldset>
              <legend>
                <span class="form-label-bold">Planned training start date</span>
                <span class="form-hint">For example, 09 2017</span>
              </legend>
              <div class="form-date">
                <div class="form-group form-group-month">
                  <label class="form-label" for="startMonth">Month</label>
                  <input class="form-control" id="startMonth" name="start-month" type="number" min="1" max="12" placeholder="" value="07">
                </div>
                <div class="form-group form-group-year">

                  <label class="form-label" for="startYear">Year</label>
                  <input class="form-control" id="startYear" name="start-year" type="number" min="2016" max="2030" placeholder="" value="2018">
                </div>
              </div>
            </fieldset>
      </div>

        <div class="form-group">
            <fieldset>
              <legend>
                <span class="form-label-bold" style="margin-bottom:0;padding-bottom:0">Planned training finish date</span>
                <span class="form-hint">For example, 02 2019</span>
              </legend>

              <div class="form-date">
                <div class="form-group form-group-month">
                  <label class="form-label" for="finishMonth">Month</label>
                  <input class="form-control" id="finishMonth" name="finish-month" type="number" min="1" max="12" placeholder="">
                </div>
                <div class="form-group form-group-year">
                  <label class="form-label" for="finishYear">Year</label>
                  <input class="form-control" id="finishYear" name="finish-year" type="number" min="2016" max="2030" placeholder="">
                </div>
              </div>
            </fieldset>

      </div>

        <fieldset>
           <hr style="margin-top:0px"/>
            <legend class="visuallyhidden">Cost per apprenticeship</legend>
            <div class="form-group">
            <label class="form-label-bold" for="apprenticeCost">Total agreed apprenticeship price (excluding VAT)
           </label>
                <span class="form-hint">Enter the price, including any end-point assessment costs, in whole pounds. For example, for £1,500 enter 1500.</span>
              <span class="rj-currency-symbol">£</span>
              <input class="form-control rj-currency-input" id="apprenticeCost" type="text" value="" style="max-width:6em">
      </div>
      </fieldset>


<!-- JAVASCRIPT ENABLED and EPAS are available -->

          
        <!--fieldset>
             <hr style="margin-top:0px"/>
              <legend class="visuallyhidden">Add a note</legend>
              <div class="form-group">
              <label class="form-label-bold" for="epa">End-point assessor (optional) 
                <span class="epa-hint">There are 5 end-point assessors available for this training course:</span>

            <span class="form-hint">You'll need to add end-point assessor details before the training finishes</span>
             </label>
                <input class="form-control rj-currency-input" id="employerRef" type="text" value="" style="width:100%">
                    <details style="margin-top:15px">
                        <summary><span class="summary">What is an end-point assessor?</span></summary>
                        <div class="panel panel-border-narrow">
                          <p>  
                            End-point assessors set out assessment plans for Standards - apprentices must pass their assessments to achieve an apprenticeship. Frameworks don't need end-point assessors.
                          </p>

                          <p>
                            You can <a href="https://www.gov.uk/government/publications/apprenticeship-funding-and-performance-management-rules-2017-to-2018">find out more about end-point assessors</a> in the apprenticeship funding and performance management rules.
                          </p>
                        </div>
                      </details>
        </div>
      </fieldset-->


<hr style="margin-top:0px"/>

<!-- NO JAVASCRIPT AVAILABLE -->

      <!--fieldset>
             <hr style="margin-top:0px"/>
              <legend class="visuallyhidden">Add a note</legend>
              <div class="form-group">
              <label class="form-label-bold" for="epa">End-point assessor (optional) 

            <span class="form-hint">If you've chosen a Standard you'll need to also choose an end-point assessor - you can do this now or when we remind you towards the end of the training</span>
             </label>
                      <select class="form-control" id="select-box" style="width:100%">
                        <option>EPA 1</option>
                        <option>EPA 2</option>
                        <option>EPA 3</option>
                      </select>
                    <details style="margin-top:15px">
                        <summary><span class="summary">What is an end-point assessor?</span></summary>
                        <div class="panel panel-border-narrow">
                          <p>  
                            End-point assessors set out assessment plans for Standards - apprentices must pass their assessments to achieve an apprenticeship. Frameworks don't need end-point assessors.
                          </p>

                          <p>
                            You can <a href="https://www.gov.uk/government/publications/apprenticeship-funding-and-performance-management-rules-2017-to-2018">find out more about end-point assessors</a> in the apprenticeship funding and performance management rules.
                          </p>
                        </div>
                      </details>
        </div>
      </fieldset-->


<!-- End of EPA stuff -->

<!-- Reference field without character count -->

      <!--fieldset>
           <hr style="margin-top:0px"/>
            <legend class="visuallyhidden">Add a note</legend>
            <div class="form-group">
            <label class="form-label-bold" for="apprenticeCost">Reference (optional)
          <span class="form-hint">Add a reference, such as employee number or location - this won’t be seen by the training provider</span>
           </label>
              <input class="form-control rj-currency-input" id="employerRef" type="text" value="" style="width:100%">
      </div>
    </fieldset-->
              
    <fieldset>

      <div class="form-group">
          <label class="form-label-bold" for="apprenticeCost">Reference (optional)
          <span class="form-hint">Add a reference, such as employee number or location - this won’t be seen by the training provider</span>
           </label>
           <textarea class="form-control" data-val-length-max="20" type="text" ></textarea>
              <span class="sfa-form-control-after">
                <span class="maxchar-count">20</span>
                <span class="maxchar-text"> characters remaining</span>
              </span>
      </div>
      
    </fieldset>

    <!--Javascript for character count-->

    <script>

      characterCount = function(n) {
        console.log(n);
        var i = $(n)
          , r = i.attr("data-val-length-max")
          , e = i.val()
          , h = (e.match(/\n/g) || []).length
          , o = e.length + h
          , u = Math.abs(r - o)
          , f = i.closest(".form-group").find(".maxchar-count")
          , t = i.closest(".form-group").find(".maxchar-text")
          , s = i.closest(".form-group").find(".aria-limit");
        if (r)
            f.text(u);
        else {
            t.hide();
            return
        }
        o > r ? (f.parent().addClass("has-error"),
        t.text(" characters over the limit"),
        s.text("Character limit has been reached, you must type fewer than " + r + " characters"),
        u == 1 ? t.text(" character over the limit") : t.text(" characters over the limit")) : (f.parent().removeClass("has-error"),
        t.text(" characters remaining"),
        s.text(""),
        u == 1 ? t.text(" character remaining") : t.text(" characters remaining"))
      }
      $("textarea").on("keyup", function() {
          console.log(this);
          characterCount(this);
      });
      $("textarea").each(function() {
          characterCount(this);
      });
      

    </script>

    <!-- JAVASCRIPT ENABLED and EPAS are NOT available -->
           <hr style="margin-top:0px"/>
<!--div class="alertGreyBox">
<div style="padding-left:20px">
  <h2 class="heading-small" style="padding-top:20px">End-point assessments</h2>
  <p style="padding-right:20px">If you've chosen an apprenticeship standard, we'll ask you to confirm the <a href="https://www.gov.uk/government/collections/register-of-apprentice-assessment-organisations">apprentice 
      assessment organisation</a> for this apprentice. We'll do this before the end of the apprenticeship.</p>
    <p style="">Apprenticeship frameworks have different assessment arrangements and don't need end-point assessments.</p>

</div>
</div-->
    </form>
          </div>
            <div class="column-one-third">
        </div>
    <div class="column-two-thirds">

          <div style="margin-top:20px; display:inline-block"><input class="button" type="button" id="saveAndReturn" value="Save"></div>
          <div style="margin-top:20px;display:inline-block; float:right"><input class="button delete-button" onclick="whereNow()" type="button" id="deleteButton" value="Delete"></div>

          <div style="clear:both"></div>
          <!--p class="looks-like-a-link-underline" id="saveAndAdd" style="margin-top:20px; cursor: pointer; cursor: hand; ">Save, and add another</p-->


    </div>
      <div class="column-one-third">
   
      </div>
</main>
{% endblock %}




