{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}


<style>
  #navigation-primary {
    display:none;
  }
</style>

<script>
// SCRIPT AT BOTTOM OF THE PAGE
</script>



<main id="content" role="main">
{% include "includes/phase_banner_alpha.html" %}
{% include "includes/secondary-nav-provider.html" %}


  <!--div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/{% include "includes/sprint-link.html" %}/balance">Access my funds</a></li>
    </ol>

  </div-->

     <div class="breadcrumbs back-breadcrumb">
    <ol role="breadcrumbs">
      {% include "includes/breadcrumbs/register-back.html" %}
    </ol>
  </div>


<div class="grid-row">

           <div class="column-two-thirds">
  <h1 class="heading-xlarge" >Check your upload</h1>
      <p class="lede">You have <span style="font-weight:700">100</span> apprenticeships on <span style="font-weight:700">3</span> programmes</p>
</div>

</div>
       <p>The first five rows of each training course are shown below, you can <span class="looks-like-a-link-underline">view all 100 rows.</span></p>
         <div class="grid-row">
           <div class="column-half">
                <h2 class ="heading-medium" style="margin-bottom:5px" id="apprenticeReplaceMe">50 Mechatronics Engineers</h2>
                <p style="margin:0px">Level: 4</p>
                <p style="margin-top:0px">Training code: 3246</p>
          </div>
           <div class="column-half">
            <div style="margin-top:45px">
            </div>

           </div>

        </div>

                <table class="" id=""> 
                    <thead>
                      <tr>

                        <!--th scope="col">Training code</th>
                        <th scope="col">Training<br />type</th-->
                        <th scope="col" class="">Given</br />Name</th>
                        <th scope="col" class="">Family<br />Name</th>
                        <th scope="col" class="">ULN</th>
                        <th scope="col" class="">Start<br />date</th>
                        <th scope="col" class="">End<br />date</th>
                        <th scope="col" class="">Note</th>
                         <th scope="col" class="">Cost</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <!--td>3246</td>
                        <td>Mechatronics Engineer</td-->
                        <td class="">David</td>
                         <td class="">Edwards</td>
                        <td class="">9021001209</td>
                        <td class="">11/2018</td>
                         <td class="">10/2020</td>
                         <td class=""></td>
                        <td scope="" class="">£1,500</td>
                      </tr>
                                            <tr>
                        <!--td>3246</td>
                        <td>Mechatronics Engineer</td-->
                        <td class="">Rob</td>
                        <td class="">Andrews</td>
                        <td class="">8780601583</td>
                        <td class="">11/2018</td>
                         <td class="">10/2020</td>
                         <td class=""></td>
                        <td scope="" class="">£1,500</td>
                      </tr>
                                            <tr>
                        <!--td>3246</td>
                        <td>Mechatronics Engineer</td-->
                        <td class="">Mellisa</td>
                        <td class="">Shaw</td>
                        <td class="">6421001981</td>
                        <td class="">11/2018</td>
                         <td class="">10/2020</td>
                         <td class=""></td>
                        <td scope="" class="">£1,500</td>
                      </tr>
                                            <tr>
                        <!--td>3246</td>
                        <td>Mechatronics Engineer</td-->
                        <td class="">Brendan</td>
                        <td class="">Hamazaki</td>
                        <td class="">67210012321</td>
                        <td class="">11/2018</td>
                         <td class="">10/2020</td>
                         <td class=""></td>
                        <td scope="" class="">£1,500</td>
                      </tr>
                                            <tr>
                        <!--td>3246</td>
                        <td>Mechatronics Engineer</td-->
                        <td class="">Gary</td>
                        <td class="">Barton</td>
                        <td class="">21210012876</td>
                        <td class="">11/2018</td>
                         <td class="">10/2020</td>
                         <td class="">123456</td>
                        <td scope="" class="">£1,500</td>
                      </tr>

                    </tbody>
                </table>
                <div style="margin-top:10px"><span class="looks-like-a-link-underline">View all 50 rows</span></div>

 
<div style="margin-top:35px" >

         <div class="grid-row">
           <div class="column-half">
                <h2 class ="heading-medium" style="margin-bottom:5px" id="apprenticeReplaceMe">25 Bakery Management</h2>
                <p style="margin:0px">Level: 2</p>
                <p style="margin-top:0px">Training code: 9216</p>
          </div>
           <div class="column-half">
            <div style="margin-top:45px">
            </div>

           </div>

        </div>

                <table class="" id=""> 
                    <thead>
                      <tr>

                        <!--th scope="col">Training code</th>
                        <th scope="col">Training<br />type</th-->
                        <th scope="col" class="">Given</br />Name</th>
                        <th scope="col" class="">Family<br />Name</th>
                        <th scope="col" class="">ULN</th>
                        <th scope="col" class="">Start<br />date</th>
                        <th scope="col" class="">End<br />date</th>
                        <th scope="col" class="">Note</th>
                         <th scope="col" class="">Cost</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <!--td>3246</td>
                        <td>Mechatronics Engineer</td-->
                        <td class="">Sharon</td>
                         <td class="">Taylor</td>
                        <td class="">9021001209</td>
                        <td class="">11/2018</td>
                         <td class="">10/2020</td>
                         <td class=""></td>
                        <td scope="" class="">£1,500</td>
                      </tr>
                                            <tr>
                        <!--td>3246</td>
                        <td>Mechatronics Engineer</td-->
                        <td class="">David</td>
                        <td class="">Andrews</td>
                        <td class="">8780601583</td>
                        <td class="">11/2018</td>
                         <td class="">10/2020</td>
                         <td class=""></td>
                        <td scope="" class="">£1,500</td>
                      </tr>
                                            <tr>
                        <!--td>3246</td>
                        <td>Mechatronics Engineer</td-->
                        <td class="">Mellisa</td>
                        <td class="">Hamazaki</td>
                        <td class="">6421001981</td>
                        <td class="">11/2018</td>
                         <td class="">10/2020</td>
                         <td class=""></td>
                        <td scope="" class="">£1,500</td>
                      </tr>
                                            <tr>
                        <!--td>3246</td>
                        <td>Mechatronics Engineer</td-->
                        <td class="">Bill</td>
                        <td class="">Shaw</td>
                        <td class="">67210012321</td>
                        <td class="">11/2018</td>
                         <td class="">10/2020</td>
                         <td class=""></td>
                        <td scope="" class="">£1,500</td>
                      </tr>
                                            <tr>
                        <!--td>3246</td>
                        <td>Mechatronics Engineer</td-->
                        <td class="">Jeff</td>
                        <td class="">Bridges</td>
                        <td class="">21210012876</td>
                        <td class="">11/2018</td>
                         <td class="">10/2020</td>
                         <td class="">123456</td>
                        <td scope="" class="">£1,500</td>
                      </tr>

                    </tbody>
                </table>


<div style="margin-top:10px"><span class="looks-like-a-link-underline">View all 25 rows</span></div>

 
<div style="margin-top:35px" >


         <div class="grid-row">
           <div class="column-half">
                <h2 class ="heading-medium" style="margin-bottom:5px" id="apprenticeReplaceMe">25 Cyber Intrusion Engineers</h2>
                <p style="margin:0px">Level: 4</p>
                <p style="margin-top:0px">Training code: 9992</p>
          </div>
           <div class="column-half">
            <div style="margin-top:45px">
            </div>

           </div>

        </div>
   
                <table class="" id=""> 
                    <thead>
                      <tr>

                        <!--th scope="col">Training code</th>
                        <th scope="col">Training<br />type</th-->
                        <th scope="col" class="">Given</br />Name</th>
                        <th scope="col" class="">Family<br />Name</th>
                        <th scope="col" class="">ULN</th>
                        <th scope="col" class="">Start<br />date</th>
                        <th scope="col" class="">End<br />date</th>
                        <th scope="col" class="">Note</th>
                         <th scope="col" class="">Cost</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <!--td>3246</td>
                        <td>Mechatronics Engineer</td-->
                        <td class="">Sharon</td>
                         <td class="">Taylor</td>
                        <td class="">9021001209</td>
                        <td class="">11/2018</td>
                         <td class="">10/2020</td>
                         <td class=""></td>
                        <td scope="" class="">£1,500</td>
                      </tr>
                                            <tr>
                        <!--td>3246</td>
                        <td>Mechatronics Engineer</td-->
                        <td class="">David</td>
                        <td class="">Andrews</td>
                        <td class="">8780601583</td>
                        <td class="">11/2018</td>
                         <td class="">10/2020</td>
                         <td class=""></td>
                        <td scope="" class="">£1,500</td>
                      </tr>
                                            <tr>
                        <!--td>3246</td>
                        <td>Mechatronics Engineer</td-->
                        <td class="">Mellisa</td>
                        <td class="">Hamazaki</td>
                        <td class="">6421001981</td>
                        <td class="">11/2018</td>
                         <td class="">10/2020</td>
                         <td class=""></td>
                        <td scope="" class="">£1,500</td>
                      </tr>
                                            <tr>
                        <!--td>3246</td>
                        <td>Mechatronics Engineer</td-->
                        <td class="">Bill</td>
                        <td class="">Shaw</td>
                        <td class="">67210012321</td>
                        <td class="">11/2018</td>
                         <td class="">10/2020</td>
                         <td class=""></td>
                        <td scope="" class="">£1,500</td>
                      </tr>
                                            <tr>
                        <!--td>3246</td>
                        <td>Mechatronics Engineer</td-->
                        <td class="">Jeff</td>
                        <td class="">Bridges</td>
                        <td class="">21210012876</td>
                        <td class="">11/2018</td>
                         <td class="">10/2020</td>
                         <td class="">123456</td>
                        <td scope="" class="">£1,500</td>
                      </tr>

                    </tbody>
                </table>


<div style="margin-top:10px"><span class="looks-like-a-link-underline">View all 25 rows</span></div>

 
<div style="margin-top:35px" >



    <input class="button" id="bulk-upload-finish"  value="Add all to commitment">
</div>
<div style="margin-top:15px"><a href="bulk-upload-provider">Remove all and upload again</a></div>
    <div style="margin-top:50px"></div>
    <!-- template to pull in the start tabs so this doesn't get too messy - it is pulling in the tabs -->
<!-- {% include "includes/start-tabs.html" %} -->

            </div>

             <div class="column-one-third">
                      <!--aside class="related">
                        <h2 class="heading-medium" style="margin-top:10px">Existing account</h2>
                        <nav role="navigation">
                      <ul class="robSideNav">
                          <li>
                            <a href="../login">Sign in</a>
                          </li>

                        </ul>
                           </nav>
                    </aside-->
            </div>
</div>
</main>


<script>

// Add the stuff confirmation into the page when clicked to simulate resending the email
/*var btn = document.getElementById('bulk-upload-finish');
EventUtil.addHandler(btn, 'click', function(){
        var isUploaded = 'yes';
        localStorage.setItem("apprenticeship-added.bulk-upload", JSON.stringify(isUploaded));
        window.location.href='./provider-list';
 });*/

$('#bulk-upload-finish').click(function() {
    window.das.commitments.addApprenticeships([
        {
            training: {
                code: 1,
                name: "Mechatronics Engineer"
            },
            start: {
                month: 11,
                year: 2018
            },
            finish:
            {
                month: 10,
                year: 2020
            },
            cost: 1500,
            apprentice: {
                first: "David",
                last: "Edwards",
                uln: 9021001209
            }
        },
        {
            training: {
                code: 1,
                name: "Mechatronics Engineer"
            },
            start: {
                month: 11,
                year: 2018
            },
            finish:
            {
                month: 10,
                year: 2020
            },
            cost: 1500,
            apprentice: {
                first: "Rob",
                last: "Andrews",
                uln: 8780601583
            }
        },
        {
            training: {
                code: 1,
                name: "Mechatronics Engineer"
            },
            start: {
                month: 11,
                year: 2018
            },
            finish:
            {
                month: 10,
                year: 2020
            },
            cost: 1500,
            apprentice: {
                first: "Mellisa",
                last: "Shaw",
                uln: 6421001981
            }
        },
        {
            training: {
                code: 1,
                name: "Mechatronics Engineer"
            },
            start: {
                month: 11,
                year: 2018
            },
            finish:
            {
                month: 10,
                year: 2020
            },
            cost: 1500,
            apprentice: {
                first: "Brendan",
                last: "Hamazaki",
                uln: 67210012321
            }
        },
        {
            training: {
                code: 1,
                name: "Mechatronics Engineer"
            },
            start: {
                month: 11,
                year: 2018
            },
            finish:
            {
                month: 10,
                year: 2020
            },
            cost: 1500,
            apprentice: {
                first: "Gary",
                last: "Barton",
                uln: 21210012876
            }
        }
    ]);
    window.location.href = './provider-list';
});

</script>



{% endblock %}
