{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}

<style>
  .people-nav a {
    {% include "includes/nav-on-state-css.html" %}
  }
</style>

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}
{% include "includes/secondary-nav-provider.html" %}


     <div class="breadcrumbs back-breadcrumb">
    <ol role="breadcrumbs">
      {% include "includes/breadcrumbs/register-back.html" %}
    </ol>
  </div>



<div class="grid-row">
           <div class="column-two-thirds">
  <h1 class="heading-xlarge" >Bulk upload apprentices</h1>

   <p>You can upload details for more than one apprentice at the same time using a CSV file.</p>

  <div style="margin-top:25px"></div>

  <h2 class="heading-medium">Before you start</h2>
     <p>You must:</p>
      <ul class="list list-bullet">
        <li>know the name of the apprenticeship training each apprentice is taking</li>
      </ul>

    <div style="margin-top:50px"></div>
    <div class="padder-top-x">
        <a href="/{% include "includes/sprint-link.html" %}/contracts/provider-in-progress/choose-training-employer" class="button ">Continue</a>
    </div>
    <!-- template to pull in the start tabs so this doesn't get too messy - it is pulling in the tabs -->
<!-- {% include "includes/start-tabs.html" %} -->

            </div>

             <div class="column-one-third">
                      <aside class="related">
                        <h2 class="heading-medium" style="margin-top:10px">Download the template</h2>
                          <p>Do the thing</p>
                          <div class="attachment-thumb">
                                           <img src="https://www.gov.uk/government/assets/pub-cover-spreadsheet-471052e0d03e940bbc62528a05ac204a884b553e4943e63c8bffa6b8baef8967.png">
                         </div>
                      <ul class="robSideNav">
                          <li>
                            <a href="../login">Download CSV (1Kb)</a>
                          </li>

                        </ul>
                    </aside>
            </div>
</div>
</main>




{% endblock %}
