{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<style>

#navigation-primary, #kill-me {
  display:none ;
}

</style>

<script>

//put something in here to do a loop and add more stuff to the paye scheme if it does
//pull a local storage item, if it doesn't exist set it to one and do nothing more. If exists, take the number and add that number of lines to the paye scheme thing and then +1 to the number 



var whereNow = function() {
var status = $('input[name=radio-group]:checked').val();
 console.log(status)

      switch(status) {
        case "saveIt":
         var fundsChoice = 'saveIt';
         localStorage.setItem("registration.choices", JSON.stringify(fundsChoice));
         window.location.href='friendly-name';
        break;

        case "addMore":
        var fundsChoice = 'addMore';
         localStorage.setItem("registration.choices", JSON.stringify(fundsChoice));
         window.location.href='govtCredentials';

        break;
        case "spendIt":
         var fundsChoice = 'spendIt';
         localStorage.setItem("registration.choices", JSON.stringify(fundsChoice));
         window.location.href='spend';

        break;
        default:
        console.log("something weird happened and the case wasn't triggered")
        window.location.href='save';
      }
};

 </script>


<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol role="breadcrumbs">
{% include "includes/breadcrumbs/register-back.html" %}
    </ol>
  </div>

      <div class="grid-row">
           <div class="column-two-thirds">


                <h1 class="heading-large" style="margin-bottom:0;">Available funds</h1>
                <h2 class="bold-xxlarge" style="margin-top:0px;color:#6F777B">£90,000</h2>
                <p class="bold-xsmall">as of 26 November 2017</p>

              <!--h2 class="heading-medium" style="margin-top:10px">Organisation information</h2-->
              <form action="anotherPAYE">
                  <legend class="visuallyhidden">PAYE scheme reference number</legend>

                  <table id="transactionsOUT">
                  <h2 class="heading-medium"></h2>
                    <thead>
                      <tr>
                        <th scope="col">PAYE Scheme</th>
                        <th scope="col">Company name</th>
                        <th class="numeric" scope="col" style="text-align:">Amount</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                      <tr>
                        <td>90210/HP</td>
                        <td>A big company Ltd</td>
                        <td class="numeric">£90,000</td>
                        <td class="numeric"><a href="#">Remove</a></td>
                      </tr>
                    </tbody>
</table>
<div style="margin-top:55px"></div>



              <div class="form-group">
                <fieldset>
                      <label class="form-label-bold" for="companies-house-number">What would you like to do next?</label>
                     <label class="block-label" for="checkbox1">
                      <input id="checkbox1" type="radio" name="radio-group" value="saveIt">
                     Claim these funds
                     </label>
                    <label class="block-label" for="checkbox2">
                      <input id="checkbox2" type="radio" name="radio-group" value="addMore">
                    Add more PAYE funds
                     </label>
                    <!--label class="block-label" for="checkbox3">
                      <input id="checkbox3" type="radio" name="radio-group" value="spendIt">
                    Spend on apprentices
                     </label-->
                  </fieldset>
              </div>

                <!-- function loopyLoop and whereNow are at the top of this page -->
                  <div style="margin-top:50px"></div>
              <!--h3 class="heading-medium">Claim these funds</h3-->
				  <!--input class="button" id="saveAndContinue" onclick="whereNow()" value="Save and continue"-->
          <input class="button" id="saveAndContinue" type="button" onclick="whereNow()" value="Continue">
              </form>
            </div>
            <div class="column-one-third"></div>
          </div>

</main>

<script>
// not needed at the moment, remember to remove script from the header if you don't use this in the end.

//jQuery( document ).ready(function() {
     //jQuery.validate(); 
// });


//loopyloop stores a variable in local storage if the user is looping through the govt gateway form multiple times so I can display a confirmation page later
var loopyLoop = function() {
  var isLooping = 'yes';
  localStorage.setItem("is-looping", JSON.stringify(isLooping));
  window.location.href='govtCredentials';
};

var whatsNext = function() {
  var areWeLooping = JSON.parse(localStorage.getItem('is-looping'));
   console.log(areWeLooping)
    if (areWeLooping == "yes") {
      var isLooping = 'no';
      localStorage.setItem("is-looping", JSON.stringify(isLooping));
    window.location.href='confirmation';
  } else {
    window.location.href='confirmation';
  }
};

</script>

{% endblock %}
