{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}

     <script src="/public/javascripts/das/jquery.highlight-5.js"></script>

<style>
  .people-nav a {
    {% include "includes/nav-on-state-css.html" %}
  }
</style>



<script>
// OTHER SCRIPT AT BOTTOM OF THE PAGE

 var changeUnknown = function() {
  $('td').highlight('unknown');
  $('td').highlight('null');
  $('td').highlight('----');

 };

changeUnknown();
</script>

<script>

function whereNow() {
   var status = $('input[name=radio-group]:checked').val();
       switch (true) {
          
        case  (status == 'doTheThing'):
              window.das.commitments.addApprenticeships([
        {
            training: {
                code: 1,
                name: "Mechatronics Engineer"
            },
            start: {
                month: 11,
                year: 2018
            },
            finish:
            {
                month: 10,
                year: 2020
            },
            cost: 1500,
            apprentice: {
                first: "David",
                last: "Edwards",
                uln: 9021001209
            }
        },
        {
            training: {
                code: 1,
                name: "Mechatronics Engineer"
            },
            start: {
                month: 11,
                year: 2018
            },
            finish:
            {
                month: 10,
                year: 2020
            },
            cost: 1500,
            apprentice: {
                first: "Rob",
                last: "Andrews",
                uln: 8780601583
            }
        },
        {
            training: {
                code: 1,
                name: "Mechatronics Engineer"
            },
            start: {
                month: 11,
                year: 2018
            },
            finish:
            {
                month: 10,
                year: 2020
            },
            cost: 1500,
            apprentice: {
                first: "Mellisa",
                last: "Shaw",
                uln: 6421001981
            }
        },
        {
            training: {
                code: 1,
                name: "Mechatronics Engineer"
            },
            start: {
                month: 11,
                year: 2018
            },
            finish:
            {
                month: 10,
                year: 2020
            },
            cost: 1500,
            apprentice: {
                first: "Brendan",
                last: "Hamazaki",
                uln: 67210012321
            }
        },
        {
            training: {
                code: 1,
                name: "Mechatronics Engineer"
            },
            start: {
                month: 11,
                year: 2018
            },
            finish:
            {
                month: 10,
                year: 2020
            },
            cost: 1500,
            apprentice: {
                first: "Gary",
                last: "Barton",
                uln: 21210012876
            }
        }
    ]);
    window.location.href = './provider-list';
            break;

        default:
         localStorage.setItem("commitments.bulkUploadType", JSON.stringify("nope"));
        window.location.href='./provider-list';
             console.log('gyahhhhhhhh, bork bork bork')
            break;
        }
    }

</script>



<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}
{% include "includes/secondary-nav-provider.html" %}


  <!--div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/{% include "includes/sprint-link.html" %}/balance">Access my funds</a></li>
    </ol>

  </div-->

     <div class="breadcrumbs back-breadcrumb">
    <ol role="breadcrumbs">
      {% include "includes/breadcrumbs/register-back.html" %}
    </ol>
  </div>


<div class="grid-row">

           <div class="column-two-thirds">
  <h1 class="heading-xlarge" >Check similar apprentices</h1>
    <p class="lede">There are <span style="font-weight:700">25</span> apprentices <span style="font-weight:700">out of 100</span> that look like they're already in your cohort.</p>
                           <!--div style="margin-top:10px"><span class="looks-like-a-link-underline">Download full list</span></div-->
      </div>
    </div>
</div>
<div style="" >
  <!--h2 class="heading-medium">50 Errors</h>
  <p>You must fix these errors in your file before you reupload your apprentices</p-->
     <h2 class="heading-medium" style="margin-top:0px">Apprentice details</h2>
  <table class="" id="">
                    <thead>
                      <tr>
                        <!--th scope="col">Training code</th-->
                     <th scope="col" style="width:45px;">Row</th> 
                      <th scope="col" style="width:155px;" class="">Unique learner number</th>
                       <th scope="col" class="" style="width:155px;">Date of birth</th>
                        <th scope="col" style="min-width:145px" class="">Name</th>
  
                       <!--th scope="col" style="">Errors</th-->



                      </tr>
                    </thead>
                    <tbody class="indentedTablePadding">
                      <tr class="errorMargin">
                         <td  class="">1</td>
                         <td class="" style="max-width:100px; word-wrap:break-word;" >8321052156</td>
                                                    <td class="">10/10/1999</td>
                          <td  style="max-width:100px; word-wrap:break-word;">Mahershalalhashbaz de Orellana Plantagenet</td>

                           <!--td>The <span class="changeHighlightCopy">training price</span> must be entered
                             </td-->

                      </tr>
                      <tr>
                        <td class="">4</td>
                         <td class="" style="max-width:100px; word-wrap:break-word;" >1221052101</td>
                                                  <td class="">10/10/1999</td>
                        <td>Taylor Lucas</td>

                         <!--td>The <span class="changeHighlightCopy">start date</span> must be entered</td-->

                      </tr>


                      <tr class="">
                         <td class="">21</td>
                          <td  class=""><!-- span class="errorCopyTable">ULN is missing</span-->----</td>
                                                     <td class="">10/13/1899</td>
                          <td class="">Melissa Shaw</td>

                            <!--td>The <span class="changeHighlightCopy">training price</span> must be entered<br />The <span class="changeHighlightCopy">start date</span> must be entered
                              <br />You must enter a  <span class="changeHighlightCopy">unique learner number</span> 
                            </td-->
                      </tr>
                       <tr class="" >
                         <td class="">45</td>
                          <td class="" style="max-width:100px; word-wrap:break-word;">4321052192</td>
                                                    <td class="">06/11/2000</td>
                          <td class=" "><!--span class="errorCopyTable">Surname is missing</span-->William Shaw </td>

                          <!--td>You must enter a <span class="changeHighlightCopy">last name</span> 
                               </td-->
                      </tr>
                      <tr class="" >
                         <td class="">67</td>
                          <td class="" style="max-width:100px; word-wrap:break-word;">99810521567</td>
                                                    <td class="">19/04/1998</td>
                          <td class=" "><!--span class="errorCopyTable">Surname is missing</span-->Fred Wing </td>

                          <!--td>You must enter a <span class="changeHighlightCopy">last name</span> 
                               </td-->
                      </tr>
                    </tbody>
                  </table>
                  <div style="margin-top:10px"><span class="looks-like-a-link-underline">View all 25 rows</span></div>
        <div style="margin-top:35px" >

                        <form action="individual-figures">
                <fieldset>
                  <!--h2 class="heading-medium">Choose</h2-->
                            <!--h2 class="heading-medium">Choose</h2-->
                  <legend class="visuallyhidden">How do you want to add apprentices</legend>
                  <div class="form-group">
                              <label class="form-label-bold" for="search">What do you want to do?</label>
                  <label class="block-label" for="radio1">
                    <input id="radio1" type="radio" name="radio-group" value="doTheThing">
                   Add them to this cohort as new apprentices
                  </label>
                  <label class="block-label" for="radio2">
                    <input id="radio2" type="radio" name="radio-group" value="doTheThing">
                    Use the details to update your existing apprentices
                  </label>

                  </div>
                </fieldset>

                  <div class="" style="display: table;">
                    <div style="margin-top:20px; display:inline-block;display: table-cell; vertical-align: middle; "><input class="button" type="button" id="bulk-upload-finish"  value="Finish"> </div>
                    <div style="display:inline-block; display: table-cell; vertical-align: middle;"><a href="./provider-list"  style="margin-top:20px; margin-left:25px; cursor: pointer; cursor: hand; ">Cancel bulk upload</a></div>
                    <div style="clear:both"></div>
                  </div>
       
              </form>













             <div class="column-one-third">
                      <!--aside class="related">
                        <h2 class="heading-medium" style="margin-top:10px">Existing account</h2>
                        <nav role="navigation">
                      <ul class="robSideNav">
                          <li>
                            <a href="../login">Sign in</a>
                          </li>

                        </ul>
                           </nav>
                    </aside-->
            </div>
</div>
</main>


<script>

// Add the stuff confirmation into the page when clicked to simulate resending the email
/*var btn = document.getElementById('bulk-upload-finish');
EventUtil.addHandler(btn, 'click', function(){
        var isUploaded = 'yes';
        localStorage.setItem("apprenticeship-added.bulk-upload", JSON.stringify(isUploaded));
        window.location.href='./provider-list';
 });*/

function addTheApprentices() {
    window.das.commitments.addApprenticeships([
        {
            training: {
                code: 1,
                name: "Mechatronics Engineer"
            },
            start: {
                month: 11,
                year: 2018
            },
            finish:
            {
                month: 10,
                year: 2020
            },
            cost: 1500,
            apprentice: {
                first: "David",
                last: "Edwards",
                uln: 9021001209
            }
        },
        {
            training: {
                code: 1,
                name: "Mechatronics Engineer"
            },
            start: {
                month: 11,
                year: 2018
            },
            finish:
            {
                month: 10,
                year: 2020
            },
            cost: 1500,
            apprentice: {
                first: "Rob",
                last: "Andrews",
                uln: 8780601583
            }
        },
        {
            training: {
                code: 1,
                name: "Mechatronics Engineer"
            },
            start: {
                month: 11,
                year: 2018
            },
            finish:
            {
                month: 10,
                year: 2020
            },
            cost: 1500,
            apprentice: {
                first: "Mellisa",
                last: "Shaw",
                uln: 6421001981
            }
        },
        {
            training: {
                code: 1,
                name: "Mechatronics Engineer"
            },
            start: {
                month: 11,
                year: 2018
            },
            finish:
            {
                month: 10,
                year: 2020
            },
            cost: 1500,
            apprentice: {
                first: "Brendan",
                last: "Hamazaki",
                uln: 67210012321
            }
        },
        {
            training: {
                code: 1,
                name: "Mechatronics Engineer"
            },
            start: {
                month: 11,
                year: 2018
            },
            finish:
            {
                month: 10,
                year: 2020
            },
            cost: 1500,
            apprentice: {
                first: "Gary",
                last: "Barton",
                uln: 21210012876
            }
        }
    ]);
    window.location.href = './provider-list';
});

</script>



{% endblock %}
