{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}


<style>
 #navigation-primary, #kill-me {
  display:none;
}
</style>

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}
{% include "includes/secondary-nav-provider.html" %}


  <!--div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/{% include "includes/sprint-link.html" %}/balance">Access my funds</a></li>
    </ol>

  </div-->

    <div class="breadcrumbs back-breadcrumb">
      <ol role="breadcrumbs">
        {% include "includes/breadcrumbs/register-back.html" %}
      </ol>
    </div>

    <div class="grid-row">

    <div class="column-two-thirds">

      <div style="margin-bottom: 30px"></div>

           <!--div class="column-two-thirds"-->
        <h1 class="heading-xlarge" >Set payment priority order</h1>

        <p class="lede">The training provider listed first will be paid first from your available funds.</p>

      <div style="margin-bottom: 50px"></div>

      <div class="tableContainer">

        <div class="tableNumbers" style="float: left; margin-right: 10px;">
          <ol>
            <li style="margin-top: 5px">1.</li>
            <li>2.</li>
            <li>3.</li>
            <li>4.</li>
            <li>5.</li>
          </ol>  
        </div>

        <div class="table" style="float: left;">
          <ul id="ul_li_SubCategories" style="width:200px;" class="chargeCapturetable">
            <li sequence="1" title="Provider 1" class="liEllipsis" value="9"><span class="viewIcons delFaceName _delete fl"></span>Provider Orange</a></li>
            <li sequence="2" title="Provider 3" class="liEllipsis selected" value="11"><span class="viewIcons delFaceName _delete fl"></span>Provider Purple</a></li>
            <li sequence="4" title="Provider 4" class="liEllipsis" value="12"><span class="viewIcons delFaceName _delete fl"></span>Provider Red</a></li>
            <li sequence="5" title="Provider 6" class="liEllipsis" value="22"><span class="viewIcons delFaceName _delete fl"></span>Provider Green</a></li>
            <li sequence="6" title="Provider 5" class="liEllipsis" value="13"><span class="viewIcons delFaceName _delete fl"></span>Provider Yellow</a></li>
          </ul>
        </div>

        <div class="buttonContainer" style="float: left; margin-left: 200px; margin-top: 0px;">
          <ul>
            <li><button class="upbutton" id="buttonUp"><p>&#10094;</p></button></li>
            <li><button class="downbutton" id="buttonDown"><p>&#10095;</p></button></li>
          </ul>
        </div>


        <script>

            $('.liEllipsis').on('click', function () {
            $('.selected').removeClass('selected');
            $(this).addClass('selected');
            });

            $('.upbutton').on('click', function () {
                var $currentElement = $('#ul_li_SubCategories .selected');
                moveUp($currentElement);
            });
                
            $('.downbutton').on('click', function () {
                var $currentElement = $('#ul_li_SubCategories .selected');
                moveDown($currentElement);
            });

            var moveUp = function ($currentElement) {
                var hook = $currentElement.prev('.liEllipsis');
                if (hook.length) {
                    var elementToMove = $currentElement.detach();
                    hook.before(elementToMove);
                }
            };

            var moveDown = function ($currentElement) {
                var hook = $currentElement.next('.liEllipsis');
                if (hook.length) {
                    var elementToMove = $currentElement.detach();
                    hook.after(elementToMove);
                }
            };

        </script>

      </div>

      <div style="clear: left;">

      <input class="button" id="saveAndContinue" type="submit" style="margin-top:25px; margin-left: 24px;" value="Save and Continue">
        
      </div>


    </div>


    <div class="column-one-third">

      <div style="margin-top: 35px"></div>

            <div class="change-history-content" style="border-left: 2px solid #BFC1C3; height: 560px; width: 100%;">

              <h2 class="heading-medium" style="margin-top: 0; margin-left: 20px">Change history</h2>

                <table style="margin-left: 20px;">
                  <tbody>
                    <tr>
                      <td class="heading-small" style="border: none; padding: 0px 0px 0px 0px">1 week ago</td>
                      <td style="border: none; padding: 0px 0px 0px 115px"><a href="">Show change</a></td>
                    </tr> 
                  </tbody>
                </table>

                <!--h2 class="heading-small" style="margin-left: 20px">2 hours ago</h2-->
                  <ul style="list-style-type: disc;">
                    <li class="font-xsmall" style="margin-left: 40px"><span style="font-weight: 700">Jo Reynolds</span> did a thing with the priority order</li>
                  </ul>

                <hr style="margin-left: 20px"/>

                <!--h2 class="heading-small" style="margin-left: 20px">1 day ago</h2-->

                <table style="margin-left: 20px;">
                  <tbody>
                    <tr>
                      <td class="heading-small" style="border: none; padding: 0px 0px 0px 0px">3 weeks ago</td>
                      <td style="border: none; padding: 0px 0px 0px 100px"><a href="">Show change</a></td>
                    </tr> 
                  </tbody>
                </table>

                  <ul style="list-style-type: disc;">
                    <li class="font-xsmall" style="margin-left: 40px"><span style="font-weight: 700">Matt Smith</span> changed the priority order</li>
                    <!--li class="font-xsmall" style="margin-left: 40px"><span style="font-weight: 700">Matt Smith</span> approved a change in <span style="font-weight: 700">name</span> from <span style="font-weight: 700">Jim Apan</span> to <span style="font-weight: 700">James Apan</span> from 2 June 2017</li-->
                  </ul>

                <hr style="margin-left: 20px"/>

                <!--h2 class="heading-small" style="margin-left: 20px">3 days ago</h2-->

                <table style="margin-left: 20px;">
                  <tbody>
                    <tr>
                      <td class="heading-small" style="border: none; padding: 0px 0px 0px 0px">2 months ago</td>
                      <td style="border: none; padding: 0px 0px 0px 91px"><a href="">Show change</a></td>
                    </tr> 
                  </tbody>
                </table>

                  <ul style="list-style-type: disc;">
                    <li class="font-xsmall" style="margin-left: 40px"><span style="font-weight: 700">Jo Reynolds</span> did a thing with the priority order</li>
                  </ul>

                <hr style="margin-left: 20px"/>

                <!--h2 class="heading-small" style="margin-left: 20px">1 week ago</h2-->

                <table style="margin-left: 20px;">
                  <tbody>
                    <tr>
                      <td class="heading-small" style="border: none; padding: 0px 0px 0px 0px">6 months ago</td>
                      <td style="border: none; padding: 0px 0px 0px 90px"><a href="">Show change</a></td>
                    </tr> 
                  </tbody>
                </table>

                  <ul style="list-style-type: disc;">
                    <li class="font-xsmall" style="margin-left: 40px"><span style="font-weight: 700">Jo Reynolds</span> changed the priority order</li>
                  </ul>

            </div>

    </div>

    </div>



</main>

<script>
//jquery that runs the tabs. Uses the jquery.tabs.js from gov.uk



$( document ).ready(function() {

  // change the tabs themselves to active - should be in the above but isn't working because it's looking for a not li so I added this as a quick fix.

  $("ul#tabs-nav li").click(function(e){
        if (!$(this).hasClass("active")) {
            var tabNum = $(this).index();
            var nthChild = tabNum+1;
            $("ul#tabs-nav li.active").removeClass("active");
            $(this).addClass("active");
            $("ul#tabs-nav li.active").removeClass("active");
            $("ul#tabs-nav li:nth-child("+nthChild+")").addClass("active");
        }
    });
});

  $('ul.tabs-nav').each(function(){
    // For each set of tabs, we want to keep track of
    // which tab is active and its associated content
    var $active, $content, $links = $(this).find('a');



    // If the location.hash matches one of the links, use that as the active tab.
    // If no match is found, use the first link as the initial active tab.
    $active = $($links.filter('[href="'+location.hash+'"]')[0] || $links[0]);
   // $active.addClass('active');
   console.log($active)

    $content = $($active[0].hash);

    // Hide the remaining content
    $links.not($active).each(function () {
      $(this.hash).hide();
    }); 

    // Bind the click event handler
    $(this).on('click', 'a', function(e){
      // Make the old tab inactive.
    //  $active.removeClass('active');
      $content.hide();

      // Update the variables with the new link and content
    //  $active = $(this);
      $content = $(this.hash);

      // Make the tab active.
     // $active.addClass('active');
      $content.show();

      // Prevent the anchor's default click action
      e.preventDefault();
    });
  });


</script>


{% endblock %}
