{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}


<style>
#navigation-primary {
  display:none ;
}
</style>

<script>

$(document).ready(function() {
  var doTheThing = function() {
        var forecastComplete = 'yes';
        localStorage.setItem("registration.forecastComplete", JSON.stringify(forecastComplete));
  }
doTheThing();
});

</script>

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}
{% include "includes/secondary-nav-finance.html" %}


     <div class="breadcrumbs back-breadcrumb">
    <ol role="breadcrumbs">
      {% include "includes/breadcrumbs/register-back.html" %}
    </ol>
  </div>

  <div class="grid-row">
           <div class="column-two-thirds">
            <h1 class="heading-xlarge" >{% include "includes/account-name-number.html" %}Apprenticeship funds forecast</h1>
 
            <!--h2 class="heading-large" style="">Available apprenticeship funds</h2>
            <!--p>Forecast how much you have to spend with our <a href="#">budget calculator</a></p-->
            <!--h2 class="heading-large" style="">Cashflow forecast</h2-->
            <p class="first-para-spacing">The table shows the estimated amount you have left to spend over time.</p>
            <p>Included in the calculations are:</p>
            <ul class="list list-bullet">
                  <li>committed spending</li>
                  <li>any potential losses due to expiry of funds</li>
                  <li>expected funds</li>
              </ul>
              <h2 class="heading-medium">Available to spend</h2>
            <!--div class="graphGoesHere" style="margin-top:35px"><canvas id="robsChart" width="500" height="300"></canvas></div-->

            <div>
             <table class="table-19-font">
                  {% include "includes/cashflow-forecast.html" %}
               
                  </tbody>
              </table>
            </div>
                <div style="margin-top:35px"></div>

  <form action="/{% include "includes/sprint-link.html" %}/register/beta/onboarding/things-to-do">
    <input class="button" id="saveAndContinue" type="submit" value="Save forecast and return">
  </form>
          </div>


        </div>


</main>

 <!--button class="button">Do the thing</button-->

<script>

{% include "includes/cashflow-forecast-graph.html" %}

</script>

{% endblock %}

