{% extends "layout.html" %}

{% block head %}
    {% include "includes/head.html" %}

{% endblock %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}

<style>
    .apprentice-nav a {
    {% include "includes/nav-on-state-css.html" %}
  }
</style>



<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}
  <div class="breadcrumbs back-breadcrumb">
    <ol role="breadcrumbs">
      {% include "includes/breadcrumbs/register-back.html" %}
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge" >{% include "includes/account-name-number.html" %}Details of ILR data mismatch</h1>

        <p>There are mismatches where the data in the apprenticeship service and your ILR submission are different</p>
        
        <fieldset>
            <table class="table-19-font"> 
                  <tbody>
                    <tr>
                      <td class="apprenticeRecordTitle" >Name</td>
                      <td class="">Rob Edwards</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="apprenticeRecordTitle">Unique larner number</td>
                      <td class="">0123456789</td>
                      <td></td>
                    </tr>

                    <tr>
                      <td class="apprenticeRecordTitle" style="width:217px">Apprenticeship training course</td>
                      <td class="">Level 2: Aeronautical Engineering</td>
                      <td></td>
                    </tr>

                   </tbody>
                </table>
        </fieldset>

        
<form style="margin: 20px 0 0 0;">
  <fieldset>
    <table style="float: left; width: 300px">
      <thead>
        <tr style="border-bottom: hidden;">
          <th scope="col" colspan="2">Apprenticeship service</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>From<br> date</td>
          <td style="padding-left: 100px">Apprenticeship<br> training course</td>
        </tr>
        <tr>
          <td>1 Jun<br> 2017</td>
          <td style="padding-left: 100px">The Power Sector: Wind Turbine Installation and Commissioning, Level: 3</td>
        </tr>
      </tbody>
    </table>
    <table style="float: left; margin-left: 27px; width: 300px">
      <thead>
        <tr style="border-bottom: hidden;">
          <th scope="col" colspan="2">ILR submission</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>From<br> date</td>
          <td style="padding-left: 100px">Apprenticeship<br> training course</td>
        </tr>
        <tr>
          <td style="padding: 50px 0 45px 0">1 Jun<br> 2017</td>
          <td style="padding-left: 100px">Health and Social Care: Adult Social Care, Level: 3</td>
        </tr>
      </tbody>
    </table>
  </fieldset>
</form>

<div style="clear: both;"></div>



      <div class="form-group" style="margin: 20px 0 20px 0">
          <label class="form-label-bold" for="epa">How do you want to fix the mismatch?</label>
      </div>

  

            <div class="" style="margin: 20px 0 0 0"></div>

        <form action="individual-figures">
          <fieldset>
                  <!--h2 class="heading-medium">Choose</h2-->
                  <legend class="visuallyhidden">Choose provider to enter details</legend>
                  <div class="form-group">
                  <label class="block-label" for="radio1">
                    <input id="radio1" type="radio" name="radio-group" value="employer">
                    Request these details are updated to match the ILR
                  </label>
                  <label class="block-label" for="radio2">
                    <input id="radio2" type="radio" name="radio-group" value="provider">
                    Leave for now
                  </label>
                  </div>
          </fieldset>
        </form>
        
          </div>
    <div class="column-two-thirds">
       <form action="/{% include "includes/sprint-link.html" %}/contracts/new-contract/ULN-upload">
          <div class="" style="display: table; margin: 30px 0 0 0;">
            <div style="margin-top:20px; display:inline-block;display: table-cell; vertical-align: middle; "><input class="button" id="saveAndContinue" type="submit" value="Continue"></div>
            <div style="display:inline-block; display: table-cell; vertical-align: middle;"><a href="/{% include "includes/sprint-link.html" %}/contracts/provider-in-progress/provider-list" id="saveAndAdd" style="margin-top:20px; margin-left:25px;  ">Cancel</a></div>
          <div style="clear:both"></div>
      </form>
    </div>

      <div class="column-one-third">
         <!--div style="margin-top:20px;"><input class="button delete-button" id="deleteApprenticeship" value="Delete apprentice"></div-->
      </div>
</main>





{% endblock %}

