{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}

<style>
 .provider-nav a {
    {% include "includes/nav-on-state-css.html" %}
  }
</style>


<main id="content" role="main">
{% include "includes/phase_banner_alpha.html" %}
{% include "includes/secondary-nav-provider.html" %}


  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/{% include "includes/sprint-link.html" %}/account">Account home</a></li>
      <li>Training</li>
    </ol>

  </div>


<!--h1 class="heading-large">Levy account</h1-->
 <!--h2 class="bold-medium">Acme Ltd Levy Account</h2-->


            <h1 class="heading-xlarge rj-headings-border ">{% include "includes/account-name-number.html" %}Training</h1>
  <div class="grid-row">
           <div class="column-two-thirds">
          <div class="grid-row">
            <div class="column-half ">
              <h2 class="heading-medium looks-like-a-link-underline-h2" style="margin-top:0">Search training</h2>
              <p class="rj-home-spacer">Search for new training</p>
            </div>
            <div class="column-half ">
              <h2 class="heading-medium looks-like-a-link-underline-h2 rj-top-border-mobile" style="margin-top:0">Saved training</h2>
              <p class="rj-home-spacer">View your saved apprenticeships and training providers</p>
            </div>
         </div>
          </div>
            </div>
  </div>


         <div class="column-one-third">
        <!--div>
            <div class="home-figures space-at-bottom">
                <h2 class="heading-small" >Your current balance is:</h2>
                <h2 class="bold-xlarge" data-bind="text: displayBalance"></h2> 
                <p style="font-size:16px; margin-bottom:35px" >on <span data-bind="text: displaySystemDate"></span></p>
                <a href="/{% include "includes/sprint-link.html" %}/history/" >View your statement history</a>
            </div>
              <div class="home-figures space-at-bottom">
                <h2 class="heading-small" >Your committed spending is:</h2>
                <h2 class="bold-xlarge" >£132,853</h2> 
                <p style="font-size:16px; margin-bottom:35px" >Until 21 Dec 2021</p>
                <a href="/{% include "includes/sprint-link.html" %}/committed/" >View your committed spending</a>
            </div>
            <div class="home-figures space-at-bottom">
                <h2 class="heading-small" >Your English fraction is</h2>
                <h2 class="bold-xlarge" >0.81</h2> 
                <p style="font-size:16px; margin-bottom:35px" >Since 1 April 2017</p>

              <details>
                <summary><span class="summary">English fraction explained</span></summary>
                   <div class="panel panel-border-narrow">
                    <p>The proportion of payroll for an employer that is directly attributable to their English operations (separate from Scottish, Welsh or Northern Irish operations). This will be automatically calculated by HMRC using data on postcode of employee's home address.</p>
                   </div>
              </details>

            </div-->
          </div>
</div>


</main>



 <!--button class="button">Do the thing</button-->



{% endblock %}

