{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}


<style>
    .apprentice-nav a {
    {% include "includes/nav-on-state-css.html" %}
  }
</style>



<main id="content" role="main">
{% include "includes/phase_banner_alpha.html" %}
{% include "includes/secondary-nav-people.html" %}

  <div class="breadcrumbs back-breadcrumb">
    <ol role="breadcrumbs">
      {% include "includes/breadcrumbs/register-back.html" %}
    </ol>
  </div>


<!--h1 class="heading-large">Levy account</h1-->
 <!--h2 class="bold-medium">Acme Ltd Levy Account</h2-->


          <div class="column-two-thirds">
               <h1 class="heading-xlarge">{% include "includes/account-name-number.html" %}Price changes</h1>

                <table class="" style="margin:0">
                  <thead>
                    <tr>
                      <th colspan="2"> </th>
                    </tr>
                  </thead>
                    </table>

                <table class=""> 
                  <tbody>
                    <tr class="">
                      <td class="apprenticeRecordTitle " style="width:250px">Name</td>
                      <td class="" style="">Mel O'Connor</td>
                    </tr>

                     <tr>
                      <td class="apprenticeRecordTitle" >Date of birth</td>
                      <td style="" >28 February 1997</td>
                    </tr>
                   </tbody>
                </table>



           <div style="margin-top:50px"></div>

            <table class="">
              <tbody>
               <h2 class="heading-small" style="">Previous payments</h2>
                     <tr>
                      <td class="rjTableName" style=" font-weight:700;width:177px !important ">Month</td>
                      <td class="" style="font-weight:700;">Paid</td>
                    </tr>

                    <tr>
                      <td class="rjTableName" style="">Sep 2017</td>
                      <td class="rjTableName" style="" >£177.77</td>
                    </tr>
             </tbody>
            </table>







           <div style="margin-top:50px"></div>

            <table class="">
              <tbody>
               <h2 class="heading-small" style="">Estimated future monthly payments</h2> 
                     <tr>
                      <td class="rjTableName" style=" font-weight:700;width:240px ">Month</td>
                      <td class="" style="font-weight:700;width:240px">Currently</td>
                      <td class="" style="font-weight:700;width:240px;font-size:19px">New</td>
                    </tr>

                    <tr>
                      <td class="rjTableName">Oct 2017</td>
                      <td class="rjTableName" style="" >£177.77</td>
                      <td style="font-weight:700; font-size:19px">£277.77</td>
                    </tr>

                    <tr>
                      <td class="rjTableName">Nov 2017</td>
                      <td class="rjTableName" style="" >£177.77</td>
                      <td style="font-weight:700; font-size:19px">£177.77</td>
                    </tr>

                    <tr>
                      <td class="rjTableName">Dec 2017</td>
                      <td class="rjTableName" style="" >£177.77</td>
                      <td style="font-weight:700; font-size:19px">£177.77</td>
                    </tr>

                    <tr>
                      <td class="rjTableName">Jan 2018</td>
                      <td class="rjTableName" style="" >£177.77</td>
                      <td style="font-weight:700; font-size:19px">£177.77</td>
                    </tr>

                    <tr>
                      <td class="rjTableName">Feb 2018</td>
                      <td class="rjTableName" style="" >£177.77</td>
                      <td style="font-weight:700; font-size:19px">£177.77</td>
                    </tr>

                    <tr>
                      <td class="rjTableName">Mar 2018</td>
                      <td class="rjTableName" style="" >£177.77</td>
                      <td style="font-weight:700; font-size:19px">£177.77</td>
                    </tr>

                    <tr>
                      <td class="rjTableName">Apr 2018</td>
                      <td class="rjTableName" style="" >£177.77</td>
                      <td style="font-weight:700; font-size:19px">£177.77</td>
                    </tr>

                    <tr>
                      <td class="rjTableName">May 2018</td>
                      <td class="rjTableName" style="" >£177.77</td>
                      <td style="font-weight:700; font-size:19px">£177.77</td>
                    </tr>
                    <tr>
                      <td class="rjTableName">Jun 2018</td>
                      <td class="rjTableName" style="" >£400.07</td>
                      <td style="font-weight:700; font-size:19px">£410.07</td>
                    </tr>

             </tbody>
            </table>

               <div style="margin-top:15px"></div>

            <table class="">
              <tbody>
                     <tr>
                      <td class="rjTableName" style=" font-weight:700;width:240px "></td>
                      <td class="" style="font-weight:700;width:240px"></td>
                      <td class="" style="font-weight:700;width:240px;font-size:19px"></td>
                    </tr>

                    <tr>
                      <td class="rjTableName">Total</td>
                      <td class="rjTableName" style="" >£2,000.00</td>
                      <td style="font-weight:700; font-size:19px">£2,110.00</td>
                    </tr>


             </tbody>
            </table>



              </div>
<div style="margin-top:35px">

              </div>
 
          </div>

          <div class="column-one-third">

        </div>



</main>



 <!--button class="button">Do the thing</button-->

<script>
//jquery that runs the tabs. Uses the jquery.tabs.js from gov.uk
$( document ).ready(function() {

  // change the tabs themselves to active - should be in the above but isn't working because it's looking for a not li so I added this as a quick fix.

  $("ul#tabs-nav li").click(function(e){
        if (!$(this).hasClass("active")) {
            var tabNum = $(this).index();
            var nthChild = tabNum+1;
            $("ul#tabs-nav li.active").removeClass("active");
            $(this).addClass("active");
            $("ul#tabs-nav li.active").removeClass("active");
            $("ul#tabs-nav li:nth-child("+nthChild+")").addClass("active");
        }
    });
});

  $('ul.tabs-nav').each(function(){
    // For each set of tabs, we want to keep track of
    // which tab is active and its associated content
    var $active, $content, $links = $(this).find('a');



    // If the location.hash matches one of the links, use that as the active tab.
    // If no match is found, use the first link as the initial active tab.
    $active = $($links.filter('[href="'+location.hash+'"]')[0] || $links[0]);
   // $active.addClass('active');
   console.log($active)

    $content = $($active[0].hash);

    // Hide the remaining content
    $links.not($active).each(function () {
      $(this.hash).hide();
    }); 

    // Bind the click event handler
    $(this).on('click', 'a', function(e){
      // Make the old tab inactive.
    //  $active.removeClass('active');
      $content.hide();

      // Update the variables with the new link and content
    //  $active = $(this);
      $content = $(this.hash);

      // Make the tab active.
     // $active.addClass('active');
      $content.show();

      // Prevent the anchor's default click action
      e.preventDefault();
    });
  });


</script>

{% endblock %}

