{% include "includes/side-bars/top-bit.html" %}
                        <h2 class="heading-medium" style="margin-top:10px">Financial activity</h2>
                        <nav role="navigation">
                      <ul class="robSideNav">
                          <li>
                            <a href="#">Forecast how much you have to spend</a>
                          </li>
                          <li>
                            <a href="/{% include "includes/sprint-link.html" %}/history">View payments in and out</a>
                          </li>
                          <li>
                            <a href="/{% include "includes/sprint-link.html" %}/committed">View committed spending</a>
                          </li>
                          <li>
                            <a href="/{% include "includes/sprint-link.html" %}/expire">View funds you could lose</a>
                          </li>


                        </ul>
                           </nav>
                    <h2 class="heading-medium ">Apprenticeships</h2>
                      <nav role="navigation">
                        <ul class="robSideNav">
                          <li>
                            <a href="/{% include "includes/sprint-link.html" %}/apprentice-view">View apprenticeships</a>
                          </li>
                          <li>
                            <a href="#">Find an apprentice</a>
                          </li>
  
                       </ul>
                    </nav>
                        <h2 class="heading-medium ">Provider contracts</h2>
                      <nav role="navigation">
                        <ul class="robSideNav">
                          <li>
                            <a href="/{% include "includes/sprint-link.html" %}/payment/quote">Review provider offers (2)</a>
                          </li>
                          <li>
                            <a href="/{% include "includes/sprint-link.html" %}/contracts">View contracts with providers</a>
                          </li>
                            <li>
                            <a href="/{% include "includes/sprint-link.html" %}/contracts">Find a standard and provider</a>
                          </li>
  
                       </ul>
                    </nav>
                    <h2 class="heading-medium ">Settings</h2>
                      <nav role="navigation">
                        <ul class="robSideNav">
                          <li>
                            <a href="#">Review and update PAYE schemes</a>
                          </li>
                          <li>
                            <a href="#">View and add users</a>
                          </li>
  
                       </ul>
                    </nav>
                    </aside>
            </div>

                      <!--div class="column-one-third">
                      <aside class="related">
                        <p class="font-xsmall">Account: Acme Ltd - DF9 0832 778<p>
              <div class="home-figures">
                <h2 class="heading-small" >Funds in your account:</h2>
                <h2 class="rjCashMoney">£5,000</h2>
              </div> 
              <div class="home-figures" style="margin-top:25px">
                <h2 class="heading-small">Committed spending:</h2>
                <h2 class="rjCashMoney">£65,000</h2>
                <p class="" style="margin-top:0"><a href="">View all committed spending</a></p>
              </div> 
              <div class="home-figures" style="margin-top:10px">
                <h2 class="heading-small">At risk of expiring</h2>
                <h2 class="rjCashMoney">£15,000</h2>
                <p class="" style="margin:0">in 3 - 6 months</p>
                <p class="" style="margin-top:0"><a href="">View full summary</a></p>
              </div> 
                    </aside>
            </div-->