{% extends "layout.html" %}

{% block head %}
    {% include "includes/head.html" %}

{% endblock %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}

<style>
    .apprentice-nav a {
    {% include "includes/nav-on-state-css.html" %}
  }
</style>



<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}
  <div class="breadcrumbs back-breadcrumb">
    <ol role="breadcrumbs">
      {% include "includes/breadcrumbs/register-back.html" %}
    </ol>
  </div>

  <div class="grid-row">
           <div class="column-two-thirds">
            <h1 class="heading-xlarge" >{% include "includes/account-name-number.html" %}Select end-point assessor</h1>
        <fieldset>
            <table class="table-19-font"> 
                  <tbody>
                    <tr>
                      <td class="apprenticeRecordTitle" >Name</td>
                      <td class="">Rob Edwards</td>
                       <td></td>
                    </tr>
                    <tr>

                     <tr>
                     <td class="apprenticeRecordTitle">Unique larner number</td>
                      <td class="">0123456789</td>
                    </tr>

                    <tr>
                     <td class="apprenticeRecordTitle" style="width:217px">Apprenticeship training course</td>
                      <td class="">Level 2: Aeronautical Engineering</td>
                      <td></td>
                    </tr>

                   </tbody>
                </table>
        </fieldset>

        <div class="" style="margin: 20px 0 0 0">
          
          
        </div>
          <fieldset>
             <!--hr style="margin-top:0px"/-->
              <div class="form-group">
              <label class="form-label-bold" for="epa">End-point assessor
               <span class="form-hint">There are 2 end-point assessors available for this training course. You'll need to choose one now or before the training finishes.</span>
            <!--span class="form-hint" style="margin-top: -10px">You'll need to add end-point assessor details before the training finishes</span-->
             </label>
                      <select class="form-control" id="select-box" style="width:100%; margin-top: 10px; margin-bottom: 30px;">
                        <option>Please select an end-point assessor</option>
                        <option>Institute of Mechanical Engineers</option>
                        <option>Institute of Engineering Standards</option>
                      </select>

                      <!--div class="form-address-group" style="margin-left: 0px; margin-top: -10px;">
                        <p style="margin:0; font-size: smaller;"><span style="font-weight:700">Email:</span> <a href="">epa@imeche.org</a></p>
                        <p style="margin:0; font-size: smaller;"><span style="font-weight:700">Phone:</span> 020 7304 6970</p>
                         <p style="margin:0; font-size: smaller;"><span style="font-weight:700">Web:</span> <a href="">www.imeche.org/engtech</a></p>
                      </div-->


                    <details style="margin-top: 0px">
                        <summary><span class="summary">What is an end-point assessor?</span></summary>
                        <div class="panel panel-border-narrow">
                          <p>An end-point assessor carries out a final assessment to ensure apprentices have successfully completed their apprenticeship. End-point assessment only applies to Standards.</p>
                            <p><a href="https://www.gov.uk/government/publications/apprenticeship-funding-and-performance-management-rules-2017-to-2018">Find out more about end-point assessors</a></p>
                        </div>
                    </details>
              </div>
          </fieldset>
        <!--fieldset>
           <hr style="margin-top:px"/>
      <legend class="visuallyhidden">Cost per apprenticeship</legend>
      <div class="form-group">
            <label class="form-label-bold" for="apprenticeCost">Total agreed training cost until 21 August 2018
           </label>
                <span class="form-hint">For example, for £1,500 enter 1500</span>
              <span class="rj-currency-symbol">£</span>
              <input class="form-control rj-currency-input" id="apprenticeCost" type="text" value="5,555" style="max-width:6em">
      </div>
      </fieldset>
       <fieldset>
           <hr style="margin-top:px"/>
            <legend class="visuallyhidden">Cost per apprenticeship</legend>
       <div class="form-group">
            <label class="form-label-bold" for="apprenticeCost">Total agreed training cost from 22 August 2018
           </label>
                <span class="form-hint">For example, for £1,500 enter 1500</span>
              <span class="rj-currency-symbol">£</span>
              <input class="form-control rj-currency-input" id="apprenticeCost" type="text" value="5,689" style="max-width:6em">
      </div>
      </fieldset>
       <fieldset>
           <hr style="margin-top:px"/>
            <legend class="visuallyhidden">Cost per apprenticeship</legend>
        <div class="form-group">
            <label class="form-label-bold" for="apprenticeCost">Total agreed training cost from 22 August 2018
           </label>
                <span class="form-hint">For example, for £1,500 enter 1500</span>
              <span class="rj-currency-symbol">£</span>
              <input class="form-control rj-currency-input" id="apprenticeCost" type="text" value="4,165" style="max-width:6em">
      </div>
      </fieldset-->
          </div>
    <div class="column-two-thirds">
       <form action="/{% include "includes/sprint-link.html" %}/apprentice-view/edit-apprentice/individual-apprentice/individual-apprentice9">
          <div class="" style="display: table; margin: 20px 0 0 0;">
            <div style="margin-top:20px; display:inline-block;display: table-cell; vertical-align: middle; "><input class="button" id="saveAndContinue" type="submit" value="Update"></div>
            <div style="display:inline-block; display: table-cell; vertical-align: middle;"><a href="/{% include "includes/sprint-link.html" %}/contracts/provider-in-progress/provider-list" id="saveAndAdd" style="margin-top:20px; margin-left:25px;  ">Cancel</a></div>
          <div style="clear:both"></div>
      </form>
    </div>

      <div class="column-one-third">
         <!--div style="margin-top:20px;"><input class="button delete-button" id="deleteApprenticeship" value="Delete apprentice"></div-->
      </div>
</main>





{% endblock %}

