{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}
<!-- This just directs the user to the correct place depending on which button is checked -->
 <script>
var whereNow = function() {
  var status = $('input[name=radio-group]:checked').val();
  console.log(status)
    if (status == "employer") {


         window.location.href='../provider-interface/add-apprenticeship?source=provider';
  } else {

    window.location.href='../provider-in-progress/bulk-upload-provider';
  }
};
 </script>


<script>

/* to set the saved variable on save and return (so it changed the next screen to show an apprenticeship that's been added) */
// var btn = document.getElementById('saveApprenticeship');
// EventUtil.addHandler(btn, 'click', function(){
//           var isAddedApp = 'yes';
//         localStorage.setItem("apprenticeship-added", JSON.stringify(isAddedApp));
//          window.location.href='./provider-list';
// });

</script>

<style>
  .people-nav a {
    {% include "includes/nav-on-state-css.html" %}
  }
</style>

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}
{% include "includes/secondary-nav-finance.html" %}


  <!--div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/{% include "includes/sprint-link.html" %}/balance">Access my funds</a></li>
    </ol>

  </div-->

     <div class="breadcrumbs back-breadcrumb">
    <ol role="breadcrumbs">
      {% include "includes/breadcrumbs/register-back.html" %}
    </ol>
  </div>


<div class="grid-row">
           <div class="column-two-thirds">
  <h1 class="heading-xlarge" >Choose how to add apprentice details</h1>
 <p class=" lede">You can add an apprentice one at a time or you can bulk upload details of multiple apprentices from a csv file.</p>


            <form action="individual-figures">
                <fieldset>
                  <!--h2 class="heading-medium">Choose</h2-->
                  <legend class="visuallyhidden">How do you want to add appretices</legend>
                  <div class="form-group">
                  <label class="block-label" for="radio1">
                    <input id="radio1" type="radio" name="radio-group" value="employer">
                    Add one at a time
                  </label>
                  <label class="block-label" for="radio2">
                    <input id="radio2" type="radio" name="radio-group" value="provider">
                    Bulk upload
                  </label>
                  </div>
                </fieldset>
                  <input class="button" id="saveAndContinue" type="button" onclick="whereNow()" value="Continue">
              </form>

    <div style="margin-top:50px"></div>
    <!-- template to pull in the start tabs so this doesn't get too messy - it is pulling in the tabs -->
<!-- {% include "includes/start-tabs.html" %} -->

            </div>

             <div class="column-one-third">
                      <!--aside class="related">
                        <h2 class="heading-medium" style="margin-top:10px">Existing account</h2>
                        <nav role="navigation">
                      <ul class="robSideNav">
                          <li>
                            <a href="../login">Sign in</a>
                          </li>

                        </ul>
                           </nav>
                    </aside-->
            </div>
</div>
</main>







{% endblock %}
