{% extends "layout.html" %}

{% block head %}
    {% include "includes/head.html" %}

{% endblock %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}

<style>
    .apprentice-nav a {
    {% include "includes/nav-on-state-css.html" %}
  }
</style>



<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}
  <div class="breadcrumbs back-breadcrumb">
    <ol role="breadcrumbs">
      {% include "includes/breadcrumbs/register-back.html" %}
    </ol>
  </div>

  <div class="grid-row">
           <div class="column-two-thirds">
            <h1 class="heading-xlarge" >{% include "includes/account-name-number.html" %}Edit an apprentice</h1>
        <fieldset>
           <hr style="margin-top:0px"/>
          <legend class="visuallyhidden">Apprentice name</legend>
                <div class="form-group" style="margin-bottom:15px">
                    <label class="form-label-bold" for="apprenticeGivenName">First name
                     <span class="form-hint">The apprentice's legal name.</span>
                    </label>
                  <input class="form-control" id="apprenticeGivenName" type="text" value="Rob">
                </div>
                <div class="form-group" style="margin-bottom:15px">
                    <label class="form-label-bold" for="apprenticeFamilyName">Last name
                     <span class="form-hint">The apprentice's legal name.</span>
                    </label>
                  <input class="form-control" id="apprenticeFamilyName" type="text" value="Edwards">
                </div>
        </fieldset>
         <fieldset>
                   <hr style="margin-top:px"/>
            <legend class="visuallyhidden">Date of Birth</legend>
              <div class="form-date" style="margin-bottom:15px">
                <label class="form-label-bold" for="apprenticeGivenName">Date of birth
                    </label>
                          <span class="form-hint">For example, 01 02 1999</span>
                <div class="form-group form-group-day">
                  <label class="form-label" for="startDay">Day</label>
                  <input class="form-control" id="startDay" name="start-day" type="number" min="1" max="31" value="28">
                </div>
                <div class="form-group form-group-month">
                  <label class="form-label" for="startMonth">Month</label>
                  <input class="form-control" id="startMonth" name="start-month" type="number" min="1" max="12" value="02">
                </div>
                <div class="form-group form-group-year">

                  <label class="form-label" for="startYear">Year</label>
                  <input class="form-control" id="startYear" name="start-year" type="number" min="1920" max="2001" value="1997">
                </div>
              </div>
    </fieldset>
        <fieldset>
           <hr style="margin-top:px"/>
            <legend class="visuallyhidden">Add a note</legend>
            <div class="form-group" style="margin-bottom:15px">
            <label class="form-label-bold" for="apprenticeCost">Reference (optional)
          <span class="form-hint">Add a reference, such as employee number or location - this can help identify this apprentice if you have more than one with the same name.</span>
           </label>
              <input class="form-control rj-currency-input" id="employerRef" type="text" value="  Banbury site" style="width:100%">
      </div>
    </fieldset>
       <hr style="margin-top:px"/>
                       <div class="form-group" style="margin-bottom:15px">
                    <label class="form-label-bold" for="apprenticeGivenName">Cohort reference
                    </label>
                       <span class="form-hint">Your cohort reference was automatically created when you entered the details and cannot be changed</span>
                    <p>98HXGFD</p>
                  </div>

       <form action="apprentice-confirm">
            <div style="margin-top:35px;"><input class="button" id="updateDetails" type="submit" value="Update apprentice"></div> 
      </form>
       <p class="looks-like-a-link-underline" id="saveAndAdd" style="margin-top:20px; cursor: pointer; cursor: hand; ">Cancel and return</p>
  </div>
</main>
{% endblock %}

