{% extends "layout.html" %}

{% block head %}
    {% include "includes/head.html" %}

{% endblock %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}

<style>
    .apprentice-nav a {
    {% include "includes/nav-on-state-css.html" %}
  }
</style>

 <script>
var whereNow = function() {
     localStorage.setItem("commitments.userChangeStatus", JSON.stringify("paused"));
     window.location.href='../individual-apprentice';
};
</script>


<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}
  <div class="breadcrumbs back-breadcrumb">
    <ol role="breadcrumbs">
      {% include "includes/breadcrumbs/register-back.html" %}
    </ol>
  </div>

  <div class="grid-row">
           <div class="column-two-thirds">
            <h1 class="heading-xlarge" >{% include "includes/account-name-number.html" %}Reason for pausing</h1>

    <form action="reason">
    <input id="source" name="source" type="hidden" value="employer" />
    <fieldset>
      <legend class="visuallyhidden">Access to the service</legend>
      <label class="block-label " for="radio-1">
        <input id="radio-1" type="radio" name="radio-group" value="acme-coventry" id="" >
        <span  id="">Apprentice has resigned</span>
      </label>
      <label class=" block-label " for="radio-2">
        <input id="radio-2" type="radio" name="radio-group" value="other-org" >
        <span >Apprentice did not show up</span>
      </label>
            <label class=" block-label " for="radio-3">
        <input id="radio-3" type="radio" name="radio-group" value="other-org" >
        <span >Apprentice flaked</span>
      </label>
 
    <label class=" block-label " for="radio-4">
        <input id="radio-4" type="radio" name="radio-group" value="other-org" >
        <span >Apprentice did a thing</span>
      </label>
    <label class=" block-label " for="radio-5">
        <input id="radio-5" type="radio" name="radio-group" value="other-org" >
        <span >Other</span>
      </label>
         </fieldset>
   <input class="button delete-button" id="saveAndContinue" onclick="whereNow()" type="button" style="margin-top:35px" value="Pause the apprentice">
  </form>
                  <p class="looks-like-a-link-underline" id="saveAndAdd" style="margin-top:20px; cursor: pointer; cursor: hand; ">Cancel and return</p>

      <div class="column-one-third">
         <!--div style="margin-top:20px;"><input class="button delete-button" id="deleteApprenticeship" value="Delete apprentice"></div-->
      </div>
</main>





{% endblock %}

