{% extends "layout.html" %}

{% block head %}
    {% include "includes/head.html" %}
    <script src="/public/javascripts/das/edit-commitment-1.0.js"></script>
{% endblock %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}

<style>
  #navigation-primary {
    display:none;
  }
</style>



<script>

/* to set the saved variable on save and return (so it changed the next screen to show an apprenticeship that's been added) */
/*var btn = document.getElementById('saveApprenticeship');
EventUtil.addHandler(btn, 'click', function(){
          var isAddedApp = 'yes';
         localStorage.setItem("apprenticeship-added", JSON.stringify(isAddedApp));
          window.location.href='../new-contract/cohorts';
 });*/

</script>

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}


  <!--div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/{% include "includes/sprint-link.html" %}/balance">Access my funds</a></li>
    </ol>

  </div-->

     <div class="breadcrumbs back-breadcrumb">
    <ol role="breadcrumbs">
      {% include "includes/breadcrumbs/register-back.html" %}
    </ol>
  </div>

  <div class="grid-row">
           <div class="column-two-thirds">
            <h1 class="heading-xlarge" >{% include "includes/account-name-number.html" %}Add an apprentice</h1>
               
               <div class="panel panel-border-wide">
                 <p>
                   You can return to this apprentice later to make changes or add more information, if you need to.
                 </p>
                   <p>All the fields must be complete and accurate for your training provider to get paid - this excludes the Reference field.</p>
               </div>
          <hr style=""/>
  

        <fieldset>
          <legend class="visuallyhidden">Apprentice name</legend>
                <div class="form-group" style="margin-bottom:15px">
                    <label class="form-label-bold" for="apprenticeGivenName">First name
                    </label>
                  <input class="form-control" id="apprenticeGivenName" type="text">
                </div>
                <div class="form-group" style="margin-bottom:15px">
                    <label class="form-label-bold" for="apprenticeFamilyName">Last name
                    </label>
                  <input class="form-control" id="apprenticeFamilyName" type="text">
                </div>
        </fieldset>
         <fieldset>
      <hr style=""/>
            <legend class="visuallyhidden">ULN</legend>
            <div class="form-group">
            <label class="form-label-bold" for="ULN">Unique learner number
           <span class="form-hint">This field is usually completed by training providers</span>
           </label>
              <input class="form-control " id="ULN" type="number" value="">
      </div>
    </fieldset>
        <hr style="margin-top:0px"/>
                                    <div id="searchTraining">
                <form id="checkTrainingForm" action="add-an-apprenticeship/training-list">
                    <input id="checkTrainingSource" name="source" type="hidden" value="employer" />
                    <fieldset>
                      <legend class="visuallyhidden">Enter the name of the framework or standard.</legend>
                        <div class="form-group" style="margin-bottom:15px">
                            <label class="form-label-bold" for="search">Apprenticeship training course
                        <span class="form-hint">Search for the training by course name or code</span>
                          </label>
                            <input class="form-control" id="search-for-training" type="text">
                        </div>
                          <input class="button button-grey-secondary" id="search-provider" type="submit" value="Find course">
                      </fieldset>
                </form>
            </div>

            <div id="displayTraining" style="display: none;clear: both;">
                <label class="form-label-bold" for="apprenticeCost">Apprenticeship training course</label>

                <div class=" " style="background-color:#fff; border: 0; padding: 18px 0px 15px 0px;" >
                    <span style="">Mechatronics technician</span>
                    <span class="">
                      <div><p style="display:inline-block; margin:0;">Training code:&nbsp</p ><p style="display:inline; margin:0;">9267</p></div>
                        <div><p style="display:inline-block; margin:0;">Level:&nbsp</p><p style="display:inline; margin:0;">2 </p></div>
                    </span>
                </div>
                <div style="clear: both;"></div>
                 <p class="looks-like-a-link-underline">Change course</p>
            </div>

                <hr style=""/>

            <div class="form-group">
            <fieldset>
              <legend>
                <span class="form-label-bold">Planned training start date</span>
                <span class="form-hint">For example, 09 2017</span>
              </legend>
              <div class="form-date">
                <div class="form-group form-group-month">
                  <label class="form-label" for="startMonth">Month</label>
                  <input class="form-control" id="startMonth" name="start-month" type="number" min="1" max="12" placeholder="">
                </div>
                <div class="form-group form-group-year">

                  <label class="form-label" for="startYear">Year</label>
                  <input class="form-control" id="startYear" name="start-year" type="number" min="2016" max="2030" placeholder="">
                </div>
              </div>
            </fieldset>
      </div>

        <div class="form-group">
            <fieldset>
              <legend>
                <span class="form-label-bold" style="margin-bottom:0;padding-bottom:0">Planned training finish date</span>
                <span class="form-hint">For example, 09 2017</span>
              </legend>

              <div class="form-date">
                <div class="form-group form-group-month">
                  <label class="form-label" for="finishMonth">Month</label>
                  <input class="form-control" id="finishMonth" name="finish-month" type="number" min="1" max="12" placeholder="">
                </div>
                <div class="form-group form-group-year">
                  <label class="form-label" for="finishYear">Year</label>
                  <input class="form-control" id="finishYear" name="finish-year" type="number" min="2016" max="2030" placeholder="">
                </div>
              </div>
            </fieldset>

      </div>

        <fieldset>
           <hr style="margin-top:0px"/>
            <legend class="visuallyhidden">Cost per apprenticeship</legend>
            <div class="form-group">
            <label class="form-label-bold" for="apprenticeCost">Total agreed training cost
           </label>
              <span class="rj-currency-symbol">£</span>
              <input class="form-control rj-currency-input" id="apprenticeCost" type="text" value="" style="max-width:6em">
      </div>
      </fieldset>
      <fieldset>
           <hr style="margin-top:0px"/>
            <legend class="visuallyhidden">Add a note</legend>
            <div class="form-group">
            <label class="form-label-bold" for="apprenticeCost">Reference (optional)
          <span class="form-hint">Add a reference, such as employee number or location - this can help identify this apprentice 
              if you have more than one with the same name.</span>
           </label>
              <input class="form-control rj-currency-input" id="employerRef" type="text" value="" style="width:100%">
      </div>
    </fieldset>
    </form>
          </div>
            <div class="column-one-third">
        </div>
    <div class="column-two-thirds">
          <div style="margin-top:20px;"><input class="button" type="button" id="saveAndReturn" value="Save"></div>
          <p class="looks-like-a-link-underline" style="margin-top:20px">Save, and make a copy</p>
    </div>
      <div class="column-one-third">
         <!--div style="margin-top:20px;"><input class="button delete-button" id="deleteApprenticeship" value="Delete apprentice"></div-->
      </div>
</main>





{% endblock %}

