{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}

<style>
  .financial-nav a, .nav-forecast a{
    {% include "includes/nav-on-state-css.html" %}
  }
</style>

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}
{% include "includes/secondary-nav-finance.html" %}


  <div class="breadcrumbs back-breadcrumb">
    <ol role="breadcrumbs">
                 <li><a href="/{% include "includes/sprint-link.html" %}/balance">Reserve funding</a></li>
            <li><a href="/{% include "includes/sprint-link.html" %}/finance">Funding</a></li>
            <li id="removeWithNav">Forecast your funds</li>
    </ol>
  </div>


<div class="grid-row">
           <div class="column-two-thirds">
  <h1 class="heading-xlarge" >Reserve funding</h1>

    <p class="lede">To help you plan you can check and reserve your funding.</p>

    <h2 class="heading-medium">Before you start</h2>
    <p>You need to know:</p>
  <ul class="list list-bullet">
    <li>the training courses you want</li>
    <li>the number of apprentices you want to hire</li>
  </ul>


    <div style="margin-top:50px"></div>
    <div class="padder-top-x">
        <a href="/{% include "includes/sprint-link.html" %}/NLD-claim/new/pageOne" class="button button-start">Start</a>
    </div>
    <div style="margin-top:50px"></div>


            </div>

             <div class="column-one-third">

            </div>
</div>
</main>


{% endblock %}
