<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Employ and apprentice</title>
    <meta name="description" content="Description to go here" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="date=no" />
    <meta name="format-detection" content="address=no" />
    <meta name="DCSext.Authenticated" content="No" />
    <meta name="ROBOTS" content="NOFOLLOW,NOINDEX" />





    <!--[if gt IE 8]><!-->
    <link href="assets/stylesheets/main.css" rel="stylesheet" />
    <link href="assets/stylesheets/elements-page.css" rel="stylesheet" />
    <link href="assets/stylesheets/c3.min.css" rel="stylesheet" />
    <link href="assets/stylesheets/_app.css" rel="stylesheet" />
    <link href="assets/stylesheets/_appDetails.css" rel="stylesheet" />
    <!--<![endif]-->

    <!--[if lte IE 8]><link href="assets/stylesheets/govuk-template-ie8.css" rel="stylesheet"/>
    <![endif]-->
    <!--[if lte IE 8]><link href="assets/stylesheets/fonts-ie8.css" rel="stylesheet"/>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <link href="assets/stylesheets/fonts.css" rel="stylesheet" />
    <!--<![endif]-->
    <link href="assets/stylesheets/font-awesome.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="assets/images/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/images/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="assets/images/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" href="assets/images/apple-touch-icon-60x60.png" />

    <script src="assets/javascripts/govuk-template.js" type="javascript/text"></script>


</head>

<body>

    <body id="standard_detail">


        <div class="skiplink-container">
            <div>
                <a href="#main" class="skiplink">Skip to main content</a>
            </div>
        </div>
        <header role="banner" class="global-header">
            <div class="global-header__wrapper">
                <div class="global-header__logo">
                    <a href="http://gov.uk" title="Go to the GOV.UK homepage" class="govuk-logo">
                        <img src="assets/images/gov.uk_logotype_crown.png" alt="Crown"> GOV.UK
                    </a>
                </div>


            </div>
        </header>

        <div id="global-header-bar"></div>






        <main id="content" role="main">

            <div class="phase-banner">
                <p>
                    <strong class="phase-tag">BETA</strong>
                    <span>
            This is a new service – your <a href="https://www.surveymonkey.co.uk/r/F3LCBG6">feedback</a> will help us to improve it.
            </span>
                    <!--                    <span class="hide-mob">Have a question? Email us at &nbsp;<a href="mailto:DASemployerpilot@sfa.bis.gov.uk?subject=Private Beta query">DASemployerpilot@sfa.bis.gov.uk</a></span>-->
                </p>
            </div>



            <div class="grid-row breadcrumb">
                <div class="column-two-thirds"><a href="#" class="link-back">Back</a>
                </div>
                <div class="column-third">
                    <div class="account-info" id="bannerSignedIn">
                        <a href="dashboard.html" title="Shortlist"><i class="fa fa-list-alt"></i>Shortlisted training and providers

 (<span>0</span>)</a>
                    </div>
                </div>
            </div>





            <div class="grid-row">
                <div class="column-two-thirds">
                    <div class="">

                        <div class="notice" style="margin-top:60px;">
                            <i class="icon icon-important">
      <span class="visuallyhidden">Warning</span>
    </i>
                            <strong class="bold-small">
This apprenticeship is due to expire by 01 Jan 2017    </strong>
                        </div>

                        <h1 class="heading-xlarge">
                      <span class="stnName">Automotive (craft and technician)
</span>        </h1>

                        <!--<h3 class="heading-small">Role</h3>-->
                        <p class="lede">This information is taken from an apprenticeship framework developed by a group of employers. It sets out what the apprentice can achieve and how they can be assessed.
                        </p>
                        <!--<ul class="list list-bullet">
                            <li>what the apprentice needs to achieve in this position</li>
                            <li>how the apprentice will be assessed</li>
                        </ul>-->

                    </div>


                </div>
                <div class="column-third hide-mob">
                    <div class="container related-container ctaContainer panel panel-width-thin">
                        <ul class="list list-link" style="text-align: center;">
                            <li><a href="proSearch.html" class="findProviders button"><i class="fa fa-search"></i>Find training providers</a></li>
                            <li class="shortlist app"><a href="#" class=""><i class="fa fa-star-o"></i><span>Shortlist this apprenticeship</span></a></li>
                        </ul>



                    </div>
                </div>
            </div>

            <section class="cat-10 cat">
                <h2 class="heading-large">Summary of this apprenticeship framework</h2>

                <div class="grid-row attachment-full-width">
                    <div class="column-third">
                        <h2 class="heading-small">Overview of role</h2></div>
                    <div class="column-two-thirds">
                        <div class="stnOverview">Carrying out a range of engineering and manufacturing processes to a craft or technician level within the automotive industry.
                        </div>
                    </div>
                </div>

                <div class="grid-row attachment-full-width">
                    <div class="column-third">
                        <h2 class="heading-small">Level</h2></div>
                    <div class="column-two-thirds">
                        <div class="stnLevel">3 (equivalent to A levels at grades A to E)
                        </div>
                    </div>
                </div>
                <div class="grid-row attachment-full-width">
                    <div class="column-third">
                        <h2 class="heading-small">Typical length</h2></div>
                    <div class="column-two-thirds">
                        <span class="appFrom">42 months</span>
                    </div>
                </div>
                <div class="grid-row attachment-full-width">
                    <div class="column-third">
                        <h2 class="heading-small">Entry requirements</h2></div>
                    <div class="column-two-thirds">
                        <div class="stnEntry">
                            <p>Set by employer. Candidates will usually have 5 GCSEs grade C (or above) – including English, maths and a science.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="grid-row attachment-full-width">
                    <div class="column-third">
                        <h2 class="heading-small">What jobs apprentices can get</h2></div>
                    <div class="column-two-thirds">
                        <div class="stnLearn">
                            <ul class="list list-bullet">
                                <li>motorsport technician (mechanical)
                                </li>
                                <li>motorsport technician (electrical / electronic)
                                </li>
                                <li>vehicle builder (commercial and passenger carrying vehicles)
                                </li>
                                <li>vehicle development technician
                                </li>
                                <li>vehicle test technician
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>
                <div class="grid-row attachment-full-width">
                    <div class="column-third">
                        <h2 class="heading-small">Qualifications</h2></div>
                    <div class="column-two-thirds">
                        <div class="stnQual">
                            <p>Apprentices can gain one of a range of qualifications including:
                            </p>
                            <ul class="list list-bullet">
                                <li>BTEC level 3 diploma, extended diploma or subsidiary diploma
                                </li>
                                <li>BTEC level national diploma, national extended diploma, national foundation diploma or national extended certificate
                                </li>
                                <li>BTEC level 4 HNC diploma
                                </li>
                                <li>level 3 certificate, diploma or extended diploma</li>
                                <li>level 3 NVQ diploma, extended diploma or subsidiary diploma</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="grid-row attachment-full-width">
                    <div class="column-third">
                        <h2 class="heading-small">Professional 
registration</h2></div>
                    <div class="column-two-thirds">
                        <div class="stnReg">
                            <p>None specified
                            </p>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="grid-row">
                    <div class="column-half">
                        <h2 class="heading-large">Documents</h2>

                        <div class="panel panel-width-thin">
                            <a href="#" target="_blank">Framework</a>
                            <!--                    <span class="">PDF, 265kb, 3 pages</span>-->
                            <br clear="all" />
                            <a href="#" target="_blank">Assessment plan</a>
                            <!--                    <span class="">PDF, 265kb, 3 pages</span>-->
                        </div>
                    </div>

                </div>

                <hr />



                <div class="grid-row">
                    <div class="column-two-thirds">
                        <div class="container shortlist panel panel-width-thin">

                            <a href="proSearch.html" class="findProviders button"><i class="fa fa-search" style="margin-right: 5px;"></i>Find training providers</a>

                            <a href="#" class="shortlist app shortlistButton"><i class="fa fa-star-o"></i><span>Shortlist this apprenticeship</span></a>

                        </div>
                    </div>
                </div>



            </section>
        </main>

        <footer class="gov-border" role="contentinfo">
            <div class="footer__wrapper">
                <div class="footer__meta">
                    <ul class="footer__nav">
                        <li class="small-btm-margin">
                            <a class="footer__link bold-medium" href="mailto:DASemployerpilot@sfa.bis.gov.uk?subject=Private Beta query" onClick="noStandard()">Contact us</a>
                            <a class="footer__link bold-medium" href="https://www.surveymonkey.co.uk/r/F3LCBG6" onClick="noStandard()">Give feedback</a>
                        </li>
                        <li class="footer__link"><a href="#" onClick="noStandard()">Privacy and cookies</a></li>
                        <li class="footer__link"><a href="#" onClick="noStandard()">Terms and conditions</a></li>
                        <li class="footer__link">Built by the <a href="http://gov.uk/sfa" target="_blank">Skills Funding Agency</a></li>
                        <li class="footer__ogl"><a href="http://www.nationalarchives.gov.uk/doc/open-government-license/version/2" class="ir ogl-logo">OGL</a>All content is available under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-license/version/3">Open Government license v3.0</a>, except where otherwise stated</li>
                    </ul>
                    <a class="footer__copyright" href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm" target="_blank">
                        <img src="assets/images/govuk-crest-2x.png" width="125" height="102" alt="Crown copyright logo">
                        <p>© Crown copyright</p>
                    </a>
                </div>
                <div class="toggle-content hide-nojs show-print nobreak-print">
                    <h3 class="heading-small">Contact the Skills Funding Agency helpdesk</h3>
                    <p class="small-btm-margin">Telephone (free): 0800 015 0400</p>
                </div>
            </div>
        </footer>


        <!-- Placed at the end of the document so the pages load faster -->
        <script src="assets/javascripts/jquery-2.1.4.min.js"></script>
        <script src="assets/javascripts/d3.min.js"></script>
        <script src="assets/javascripts/c3.min.js"></script>
        <script src="assets/javascripts/marked.min.js"></script>
        <script src="assets/javascripts/underscore-min.js"></script>
        <script src="assets/javascripts/js.cookie.js"></script>
        <script src="assets/javascripts/_app.js"></script>
        <script id="data" xmldata="assets/data/appList.xml" src="assets/javascripts/_appDetails.js"></script>





    </body>

</html>