<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Employ an apprentice</title>
    <meta name="description" content="Description to go here" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="date=no" />
    <meta name="format-detection" content="address=no" />
    <meta name="DCSext.Authenticated" content="No" />
    <meta name="ROBOTS" content="NOFOLLOW,NOINDEX" />





    <!--[if gt IE 8]><!-->
    <link href="assets/stylesheets/main.css" rel="stylesheet" />
    <link href="assets/stylesheets/elements-page.css" rel="stylesheet" />
    <link href="assets/stylesheets/_app.css" rel="stylesheet" />
    <link href="assets/stylesheets/_start.css" rel="stylesheet" />
    <!--<![endif]-->

    <!--[if lte IE 8]><link href="assets/stylesheets/govuk-template-ie8.css" rel="stylesheet"/>
    <![endif]-->
    <!--[if lte IE 8]><link href="assets/stylesheets/fonts-ie8.css" rel="stylesheet"/>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <link href="assets/stylesheets/fonts.css" rel="stylesheet" />
    <!--<![endif]-->
    <link href="assets/stylesheets/font-awesome.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="assets/images/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/images/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="assets/images/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" href="assets/images/apple-touch-icon-60x60.png" />

    <script src="assets/javascripts/govuk-template.js" type="javascript/text"></script>


</head>

<body>

    <style>
        .survey-panel {
            background: #DEE0E2;
            padding: 20px;
            margin-bottom: 20px;
            position: relative;
        }
        
        .survey-panel:before {
            content: '';
            position: absolute;
            left: 10px;
            top: -10px;
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 20px solid #DEE0E2;
            clear: both;
        }
        
        .survey-panel p {
            margin-bottom: 0;
        }
        
        .phase-tag {
            line-height: 1.1428571429;
            font-weight: 700;
            text-transform: none;
            text-transform: uppercase;
            letter-spacing: 1px;
            text-decoration: none;
            color: #fff;
            background-color: f47738;
            font-weight: 900;
            /* background: orange; */
            padding: 5px;
            /* clear: right; */
            position: relative;
            float: left;
            margin-top: 4px;
            margin-right: 5px
        }
    </style>


    <div class="skiplink-container">
        <div>
            <a href="#main" class="skiplink">Skip to main content</a>
        </div>
    </div>
    <header role="banner" class="global-header">
        <div class="global-header__wrapper">
            <a href="http://gov.uk" title="Go to the GOV.UK homepage" class="govuk-logo">
                    Find apprenticeship training
                </a>


        </div>
    </header>

    <div id="global-header-bar"></div>


    <div class="phase-banner">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span class="">
            This is a new service – your <a href="https://www.surveymonkey.co.uk/r/F3LCBG6">feedback</a> will help us to improve it.
            </span>
            <!--<span class="hide-mob">Have a question? Email us at &nbsp;<a href="mailto:DASemployerpilot@sfa.bis.gov.uk?subject=Private Beta query">DASemployerpilot@sfa.bis.gov.uk</a></span>-->
        </p>
    </div>


    <main role="main" id="content">


        <div class="grid-row breadcrumb">
            <div class="column-two-thirds"><a href="#" class="link-back">Back</a>
            </div>
            <div class="column-third">
            </div>
        </div>

        <h1 class="heading-xlarge">Create an account</h1>

        <form>
            <input name="__RequestVerificationToken" type="hidden" value="sDToqzn5C_qJ98vC5x5vPzO-dGfiPks237UVfdI8Z4tt2xi73fYNK9vModCqkPUG6lbMv70t6YyQHq9klubBJf0HYMo1">
            <div id="validation-summary" class="validation-summary-valid panel panel-danger" data-valmsg-summary="true">
                <div class="panel-body">
                    <ul>
                    </ul>
                </div>
            </div>
            <input title="Hidden password field" type="password" class="alwayshidden">
            <fieldset class="fieldset-with-border">

                <div class="form-group">
                    <a name="emailaddress"></a>
                    <label class="form-label" for="EmailAddress">Enter email address</label><span class="text form-hint">You'll need this to sign in to your account. The email address you choose will be seen by employers.</span>
                    <input class="linked-input-master form-control">
                    </span>



                </div>

                <div class="form-group">
                    <div class="form-group-compound form-group">
                        <a name="password"></a>
                        <label class="form-label" for="Password">Create password</label><span class="form-hint" id="passwordHint">Requires upper and lowercase letters, a number and at least 8 characters</span>
                        <input aria-describedby="passwordHint" autocomplete="off" class="form-control" data-val="true" data-val-length="Password must be at least 8 characters long, contain upper and lowercase letters and one number" data-val-length-max="127" data-val-length-min="8" data-val-regex="Password  requires upper and lowercase letters, a number and at least 8 characters" data-val-regex-pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,127}$" data-val-required="Please enter password" id="Password" name="Password" type="password"><span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true" aria-live="polite"></span></div>
                    <p class="form-hint strength-indicator hide-nojs">Password strength: <span id="pass_meter" class=""></span></p>
                </div>

                <div class="form-group">
                    <div class="form-group">
                        <a name="confirmpassword"></a>
                        <label class="form-label" for="ConfirmPassword">Confirm password</label>
                        <input autocomplete="off" class="form-control" data-val="true" data-val-required="Please confirm password" id="ConfirmPassword" name="ConfirmPassword" type="password"><span class="field-validation-valid" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true" aria-live="polite"></span></div>
                </div>
            </fieldset>
            <div class="form-group">
                <a name="hasacceptedtermsandconditions"></a>
                <label class="block-label " for="HasAcceptedTermsAndConditions">
                    <input class="" data-val="true" data-val-equaltovalue="Please accept the terms and conditions" data-val-equaltovalue-valuetocompare="True" id="HasAcceptedTermsAndConditions" name="HasAcceptedTermsAndConditions" type="checkbox" value="true">
                    <input name="HasAcceptedTermsAndConditions" type="hidden" value="false">I accept the <a href="terms.html" target="_blank" onclick="Webtrends.multiTrack({ element: this, argsa: ['DCS.dcsuri', '/register/readterms', 'WT.dl', '99', 'WT.ti', 'Read Terms and Conditions'] });">terms and conditions</a></label><span class="field-validation-valid" data-valmsg-for="HasAcceptedTermsAndConditions" data-valmsg-replace="true" aria-live="polite"></span></div>
            <div class="form-group">
                <button id="create-account-btn" class="button">Create account</button>
            </div>
        </form>

    </main>

    <footer class="gov-border" role="contentinfo">
        <div class="footer__wrapper">
            <div class="footer__meta">
                <ul class="footer__nav">
                    <li class="small-btm-margin">
                        <a class="footer__link bold-medium" href="mailto:DASemployerpilot@sfa.bis.gov.uk?subject=Private Beta query" onClick="noStandard()">Contact us</a>
                        <a class="footer__link bold-medium" href="https://www.surveymonkey.co.uk/r/F3LCBG6" onClick="noStandard()">Give feedback</a>
                    </li>
                    <!--<li class="footer__link"><a href="#" onClick="noStandard()">Privacy and cookies</a></li>
                    <li class="footer__link"><a href="#" onClick="noStandard()">Terms and conditions</a></li>-->
                    <li class="footer__link">Built by the <a href="http://gov.uk/sfa" target="_blank">Skills Funding Agency</a></li>
                    <li class="footer__ogl"><a href="http://www.nationalarchives.gov.uk/doc/open-government-license/version/2" class="ir ogl-logo">OGL</a>All content is available under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-license/version/3">Open Government license v3.0</a>, except where otherwise stated</li>
                </ul>
                <a class="footer__copyright" href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm" target="_blank">
                    <img src="assets/images/govuk-crest-2x.png" width="125" height="102" alt="Crown copyright logo">
                    <p>© Crown copyright</p>
                </a>
            </div>
            <div class="toggle-content hide-nojs show-print nobreak-print">
                <h3 class="heading-small">Contact the Skills Funding Agency helpdesk</h3>
                <p class="small-btm-margin">Telephone (free): 0800 015 0400</p>
            </div>
        </div>
    </footer>


    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/javascripts/jquery-2.1.4.min.js"></script>
    <script src="assets/javascripts/d3.min.js"></script>
    <script src="assets/javascripts/c3.min.js"></script>
    <script src="assets/javascripts/marked.min.js"></script>
    <script src="assets/javascripts/underscore-min.js"></script>
    <script src="assets/javascripts/js.cookie.js"></script>
    <script src="assets/javascripts/_app.js"></script>
    <script src="assets/javascripts/_createAccountLite.js"></script>





</body>

</html>