<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Find apprenticeship training</title>
    <meta name="description" content="Description to go here" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="date=no" />
    <meta name="format-detection" content="address=no" />
    <meta name="DCSext.Authenticated" content="No" />
    <meta name="ROBOTS" content="NOFOLLOW,NOINDEX" />





    <!--[if gt IE 8]><!-->
    <link href="assets/stylesheets/main.css" rel="stylesheet" />
    <link href="assets/stylesheets/elements-page.css" rel="stylesheet" />
    <link href="assets/stylesheets/_app.css" rel="stylesheet" />
    <link href="assets/stylesheets/_start.css" rel="stylesheet" />
    <!--<![endif]-->

    <!--[if lte IE 8]><link href="assets/stylesheets/govuk-template-ie8.css" rel="stylesheet"/>
    <![endif]-->
    <!--[if lte IE 8]><link href="assets/stylesheets/fonts-ie8.css" rel="stylesheet"/>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <link href="assets/stylesheets/fonts.css" rel="stylesheet" />
    <!--<![endif]-->
    <link href="assets/stylesheets/font-awesome.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="assets/images/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/images/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="assets/images/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" href="assets/images/apple-touch-icon-60x60.png" />

    <script src="assets/javascripts/govuk-template.js" type="javascript/text"></script>


</head>

<body>
    <div class="skiplink-container">
        <div>
            <a href="#main" class="skiplink">Skip to main content</a>
        </div>
    </div>
    <header role="banner" class="global-header">
        <div class="global-header__wrapper">
            <a href="http://gov.uk" title="Go to the GOV.UK homepage" class="govuk-logo">
                    Find apprenticeship training
                </a>


        </div>
    </header>

    <div id="global-header-bar"></div>


    <div class="phase-banner">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>
            This is a new service – your <a href="https://www.surveymonkey.co.uk/r/F3LCBG6">feedback</a> will help us to improve it.
            </span>
            <!--<span class="hide-mob">Have a question? Email us at &nbsp;<a href="mailto:DASemployerpilot@sfa.bis.gov.uk?subject=Private Beta query">DASemployerpilot@sfa.bis.gov.uk</a></span>-->
        </p>
    </div>



    <main id="content" role="main" class="ex_2">
        <div class="grid-row breadcrumb">
            <div class="column-two-thirds"><a href="#" class="link-back">Back</a>
            </div>
            <div class="column-third">
                <div class="account-info" id="bannerSignedIn">
                    <a href="dashboard.html" title="Shortlist"><i class="fa fa-list-alt"></i>Shortlisted training and providers

 (<span>0</span>)</a>
                </div>
            </div>
        </div>


        <h1 class="heading-xlarge">Search results</h1>

        <div class="grid-row">
            <div class="column-two-thirds">
                <p class="">Sorry, there are currently no training providers for financial services administrator for <span class="bold-small">'B72 1HE'</span>. </p>
                <p>You can:</p>
                <ul class="list list-bullet">
                    <li>

                        <a href="proResultsUK.html?usrLoc=CM26UE&ignoreRadius=y">
                            view all (34) training providers</a> for financial services administrator in England
                    </li>
                    <li><a href="#" class="">return to your apprenticeship training search results</a></li>
                    <li>
                        <a href="appResults.html">start your keyword search again</a>
                    </li>




                </ul>



            </div>
            <div class="column-third">

            </div>
        </div>

    </main>

    <footer class="gov-border" role="contentinfo">
        <div class="footer__wrapper">
            <div class="footer__meta">
                <ul class="footer__nav">
                    <li class="small-btm-margin">
                        <a class="footer__link bold-medium" href="mailto:DASemployerpilot@sfa.bis.gov.uk?subject=Private Beta query" onClick="noStandard()">Contact us</a>
                        <a class="footer__link bold-medium" href="https://www.surveymonkey.co.uk/r/F3LCBG6" onClick="noStandard()">Give feedback</a>
                    </li>
                    <li class="footer__link"><a href="#" onClick="noStandard()">Privacy and cookies</a></li>
                    <li class="footer__link"><a href="#" onClick="noStandard()">Terms and conditions</a></li>
                    <li class="footer__link">Built by the <a href="http://gov.uk/sfa" target="_blank">Skills Funding Agency</a></li>
                    <li class="footer__ogl"><a href="http://www.nationalarchives.gov.uk/doc/open-government-license/version/2" class="ir ogl-logo">OGL</a>All content is available under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-license/version/3">Open Government license v3.0</a>, except where otherwise stated</li>
                </ul>
                <a class="footer__copyright" href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm" target="_blank">
                    <img src="assets/images/govuk-crest-2x.png" width="125" height="102" alt="Crown copyright logo">
                    <p>© Crown copyright</p>
                </a>
            </div>
            <div class="toggle-content hide-nojs show-print nobreak-print">
                <h3 class="heading-small">Contact the Skills Funding Agency helpdesk</h3>
                <p class="small-btm-margin">Telephone (free): 0800 015 0400</p>
            </div>
        </div>
    </footer>


    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/javascripts/jquery-2.1.4.min.js"></script>
    <script src="assets/javascripts/footable.all.min.js"></script>
    <script src="assets/javascripts/_app.js"></script>

    <script>
        function noStandard() {
            alert("This link isn't available in this demonstration");
        }

        $("body").on("keydown", function (event) {

            if (event.which == 17) {
                $(".ex_0").toggle();
                $(".ex_1").toggle();
                console.log("clicked");


            }
            //$( "body" ).html( event.type + ": " +  event.which );
        });

        $("form.emailForm a.button").click(function (e) {
            e.preventDefault();
            $("form.emailForm").hide();
            $(".govuk-box-highlight").removeClass("hidden");
        })
    </script>




</body>

</html>