<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Employ an apprentice</title>
    <meta name="description" content="Description to go here" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="date=no" />
    <meta name="format-detection" content="address=no" />
    <meta name="DCSext.Authenticated" content="No" />
    <meta name="ROBOTS" content="NOFOLLOW,NOINDEX" />




    <!--[if gt IE 8]><!-->
    <link href="assets/stylesheets/main.css" rel="stylesheet" />
    <link href="assets/stylesheets/elements-page.css" rel="stylesheet" />
    <link href="assets/stylesheets/flexboxgrid.min.css" rel="stylesheet" />
    <link href="assets/stylesheets/_app.css" rel="stylesheet" />
    <link href="assets/stylesheets/_proResultsTabs3.css" rel="stylesheet" />
    <!--<![endif]-->

    <!--[if lte IE 8]><link href="assets/stylesheets/govuk-template-ie8.css" rel="stylesheet"/>
    <![endif]-->
    <!--[if lte IE 8]><link href="assets/stylesheets/fonts-ie8.css" rel="stylesheet"/>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <link href="assets/stylesheets/fonts.css" rel="stylesheet" />
    <link href="assets/stylesheets/font-awesome.min.css" rel="stylesheet">
    <!--<![endif]-->

    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="assets/images/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/images/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="assets/images/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" href="assets/images/apple-touch-icon-60x60.png" />

    <script src="assets/javascripts/govuk-template.js" type="javascript/text"></script>


</head>

<body>



    <div class="skiplink-container">
        <div>
            <a href="inform_1.html#main" class="skiplink">Skip to main content</a>
        </div>
    </div>
    <header role="banner" class="global-header">
        <div class="global-header__wrapper">
            <div class="global-header__logo">
                <a href="http://gov.uk/" title="Go to the GOV.UK homepage" class="govuk-logo">
                    <img src="assets/images/gov.uk_logotype_crown.png" alt="Crown"> GOV.UK
                </a>
            </div>
        </div>
    </header>

    <div id="global-header-bar"></div>


    <div class="phase-banner">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="inform_1.html#" onclick="noStandard()">feedback</a> will help us to improve it.</span>
        </p>
    </div>


    <main id="content" role="main" class="tabs3">
        <div class="grid-row breadcrumb">
            <div class="column-two-thirds"><a href="#" class="link-back">Back</a>
            </div>
            <div class="column-third">
                <div class="account-info" id="bannerSignedIn">
                    <a href="dashboard.html" title="Shortlist"><i class="fa fa-list-alt"></i>Shortlisted training and providers

 (<span>0</span>)</a>
                </div>
            </div>
        </div>


        <h1 class="heading-xlarge">Search results</h1>
        <div class="grid-row">
            <div class="column-two-thirds">
                <p>There are <span class="resultCount bold-small">152</span> training providers for the apprenticeship: <span class="bold-small appName">Administration, level 4</span>.</p>
                <h4 class="heading-small">Choose your type of training&hellip;</h4>
                <br />
            </div>
        </div>
        <ul class="tabbed tabs1" id="tabs">
            <li class="tabbed-tab active" id="tab1"><a href="#">Training at your workplace (108) <small>Provider comes to your location and trains apprentices.</small></a></li>

            <li class="tabbed-tab " id="tab2"><a href="#">Training away from your workplace (day release) (93) <small>One day per week of training at the provider’s location.</small></a></li>

            <li class="tabbed-tab " id="tab3"><a href="#">Training away from your workplace (block release) (101) <small>A set period of training at the provider’s location.</small></a></li>
        </ul>
        <div class="grid-row" id="onsite">
            <div>

                <br>
                <ol id="provider-results">

                    <li id=" 306839 " class="result animated none " data-distance="30 ">
                        <div class="column details ">
                            <h2 class="heading-medium "><a href="# " class="proName ">Hereford regional college</a></h2>
                            <dl><dt class="distance ">Distance</dt>
                                <dd class="distance ">5 miles<address class="panel panel-border-thin ">Training takes place at your location
</address></dd>
                            </dl>
                            <dl>
                                <dt class="satisfaction ">Employer satisfaction</dt>
                                <dd class="satisfaction ">98%</dd><dt class="achievement ">Achievement rate</dt>
                                <dd class="achievement ">75%</dd>
                            </dl>
                        </div>
                        <div class="shortlist "><i class="fa fa-star-o "></i><span>shortlist</span></div>
                    </li>
                    <li id="303347 " class="result animated none " data-distance="31 ">
                        <div class="column details ">
                            <h2 class="heading-medium "><a href="# " class="proName ">Abingdon and Witney College</a></h2>
                            <dl><dt class="distance ">Distance</dt>
                                <dd class="distance ">53 miles<address class="panel panel-border-thin ">Training takes place at your location
</address></dd>
                            </dl>
                            <dl>
                                <dt class="satisfaction ">Employer satisfaction</dt>
                                <dd class="satisfaction ">98%</dd><dt class="achievement ">Achievement rate</dt>
                                <dd class="achievement ">75%</dd>
                            </dl>
                        </div>
                        <div class="shortlist "><i class="fa fa-star-o "></i><span>shortlist</span></div>
                    </li>
                    <li id="305423 " class="result animated none " data-distance="34 ">
                        <div class="column details ">
                            <h2 class="heading-medium "><a href="# " class="proName ">Acacia training limited</a></h2>
                            <dl><dt class="distance ">Distance</dt>
                                <dd class="distance ">94 miles<address class="panel panel-border-thin ">Training takes place at your location
</address></dd>
                            </dl>
                            <dl>
                                <dt class="satisfaction ">Employer satisfaction</dt>
                                <dd class="satisfaction ">98%</dd><dt class="achievement ">Achievement rate</dt>
                                <dd class="achievement ">75%</dd>
                            </dl>
                        </div>
                        <div class="shortlist "><i class="fa fa-star-o "></i><span>shortlist</span></div>
                    </li>

                    <li id="304782" class="result animated none" data-distance="5847">
                        <div class="column details">
                            <h2 class="heading-medium"><a href="#" class="proName">BARR BEACON SCHOOL</a></h2>
                            <dl><dt class="distance">Distance</dt>
                                <dd class="distance">447 miles<address class="panel panel-border-thin">Training takes place at your location
</address></dd>
                            </dl>
                            <dl><dt class="satisfaction">Employer satisfaction</dt>
                                <dd class="satisfaction">79%</dd><dt class="achievement">Achievement rate</dt>
                                <dd class="achievement">75%</dd>
                            </dl>
                        </div>
                        <div class="shortlist"><i class="fa fa-star-o"></i><span>shortlist</span></div>
                    </li>

                    <li id="305688" class="result animated none" data-distance="5847">
                        <div class="column details">
                            <h2 class="heading-medium"><a href="#" class="proName">JOSEPH LECKIE ACADEMY</a></h2>
                            <dl><dt class="distance">Distance</dt>
                                <dd class="distance">617 miles<address class="panel panel-border-thin">Training takes place at your location
</address></dd>
                            </dl>
                            <dl>
                                <dt class="satisfaction">Employer satisfaction</dt>
                                <dd class="satisfaction">100%</dd><dt class="achievement">Achievement rate</dt>
                                <dd class="achievement">83%</dd>
                            </dl>
                        </div>
                        <div class="shortlist"><i class="fa fa-star-o"></i><span>shortlist</span></div>
                    </li>

                </ol>
                <div class="page-navigation">
                    <a target="_blank=" href="#" style="visibility: hidden; " class="page-navigation__btn previous ">
                        <i class="arrow-button fa fa-angle-left "></i>
                        <span class="description ">Previous <span class="hide-mob ">page</span></span>
                        <span class="counter ">1 of 4</span>
                    </a>



                    <a href="#" class="page-navigation__btn next ">
                        <i class="arrow-button fa fa-angle-right "></i>
                        <span class="description ">Next <span class="hide-mob ">page</span></span>
                        <span class="counter ">2 of 24</span>
                    </a>

                </div>

            </div>

        </div>




        <div class="grid-row hidden" id="dayrelease">
            <div>

                <br>
                <ol id="provider-results">

                    <li id=" 306839 " class="result animated none " data-distance="30 ">
                        <div class="column details ">
                            <h2 class="heading-medium "><a href="# " class="proName ">THE GATEWAY ACADEMY</a></h2>
                            <dl><dt class="distance ">Distance</dt>
                                <dd class="distance ">5 miles<address class="panel panel-border-thin ">Marshfoot Road  Grays  RM16 4LU</address></dd>
                            </dl>
                            <dl>
                                <dt class="satisfaction ">Employer satisfaction</dt>
                                <dd class="satisfaction ">56%</dd><dt class="achievement ">Achievement rate</dt>
                                <dd class="achievement ">65%</dd>
                            </dl>
                        </div>
                        <div class="shortlist "><i class="fa fa-star-o "></i><span>shortlist</span></div>
                    </li>
                    <li id="303347 " class="result animated none " data-distance="31 ">
                        <div class="column details ">
                            <h2 class="heading-medium "><a href="# " class="proName ">COLCHESTER INSTITUTE</a></h2>
                            <dl><dt class="distance ">Distance</dt>
                                <dd class="distance ">24 miles<address class="panel panel-border-thin ">Marshfoot Road  Grays  RM16 4LU</address></dd>
                            </dl>
                            <dl>
                                <dt class="satisfaction ">Employer satisfaction</dt>
                                <dd class="satisfaction ">88%</dd><dt class="achievement ">Achievement rate</dt>
                                <dd class="achievement ">77%</dd>
                            </dl>
                        </div>
                        <div class="shortlist "><i class="fa fa-star-o "></i><span>shortlist</span></div>
                    </li>
                    <li id="305423 " class="result animated none " data-distance="34 ">
                        <div class="column details ">
                            <h2 class="heading-medium "><a href="# " class="proName ">GRAVESEND GRAMMAR SCHOOL</a></h2>
                            <dl><dt class="distance ">Distance</dt>
                                <dd class="distance ">84 miles<address class="panel panel-border-thin ">Marshfoot Road  Grays  RM16 4LU</address></dd>
                            </dl>
                            <dl>
                                <dt class="satisfaction ">Employer satisfaction</dt>
                                <dd class="satisfaction ">68%</dd><dt class="achievement ">Achievement rate</dt>
                                <dd class="achievement ">55%</dd>
                            </dl>
                        </div>
                        <div class="shortlist "><i class="fa fa-star-o "></i><span>shortlist</span></div>
                    </li>

                    <li id="304782" class="result animated none" data-distance="5847">
                        <div class="column details">
                            <h2 class="heading-medium"><a href="#" class="proName">BARR BEACON SCHOOL</a></h2>
                            <dl><dt class="distance">Distance</dt>
                                <dd class="distance">421 miles<address class="panel panel-border-thin">Old Hall Lane Aldridge Walsall  WS9 0RF</address></dd>
                            </dl>
                            <dl><dt class="satisfaction">Employer satisfaction</dt>
                                <dd class="satisfaction">70%</dd><dt class="achievement">Achievement rate</dt>
                                <dd class="achievement">78%</dd>
                            </dl>
                        </div>
                        <div class="shortlist"><i class="fa fa-star-o"></i><span>shortlist</span></div>
                    </li>

                    <li id="305688" class="result animated none" data-distance="5847">
                        <div class="column details">
                            <h2 class="heading-medium"><a href="#" class="proName">JOSEPH LECKIE ACADEMY</a></h2>
                            <dl><dt class="distance">Distance</dt>
                                <dd class="distance">467 miles<address class="panel panel-border-thin">Walstead Road West  Walsall  WS5 4PG</address></dd>
                            </dl>
                            <dl>
                                <dt class="satisfaction">Employer satisfaction</dt>
                                <dd class="satisfaction">78%</dd><dt class="achievement">Achievement rate</dt>
                                <dd class="achievement">88%</dd>
                            </dl>
                        </div>
                        <div class="shortlist"><i class="fa fa-star-o"></i><span>shortlist</span></div>
                    </li>

                </ol>
                <div class="page-navigation">
                    <a target="_blank=" href="#" style="visibility: hidden; " class="page-navigation__btn previous ">
                        <i class="arrow-button fa fa-angle-left "></i>
                        <span class="description ">Previous <span class="hide-mob ">page</span></span>
                        <span class="counter ">1 of 4</span>
                    </a>



                    <a href="#" class="page-navigation__btn next ">
                        <i class="arrow-button fa fa-angle-right "></i>
                        <span class="description ">Next <span class="hide-mob ">page</span></span>
                        <span class="counter ">2 of 24</span>
                    </a>

                </div>

            </div>

        </div>




        <div class="grid-row hidden" id="blockrelease">
            <div>

                <br>
                <ol id="provider-results">

                    <li id=" 306839 " class="result animated none " data-distance="30 ">
                        <div class="column details ">
                            <h2 class="heading-medium "><a href="# " class="proName ">Ability professional training limited</a></h2>
                            <dl><dt class="distance ">Distance</dt>
                                <dd class="distance ">5 miles<address class="panel panel-border-thin ">Marshfoot Road  Grays  RM16 4LU</address></dd>
                            </dl>
                            <dl>
                                <dt class="satisfaction ">Employer satisfaction</dt>
                                <dd class="satisfaction ">93%</dd><dt class="achievement ">Achievement rate</dt>
                                <dd class="achievement ">85%</dd>
                            </dl>
                        </div>
                        <div class="shortlist "><i class="fa fa-star-o "></i><span>shortlist</span></div>
                    </li>
                    <li id="303347 " class="result animated none " data-distance="31 ">
                        <div class="column details ">
                            <h2 class="heading-medium "><a href="# " class="proName ">COLCHESTER INSTITUTE</a></h2>
                            <dl><dt class="distance ">Distance</dt>
                                <dd class="distance ">24 miles<address class="panel panel-border-thin ">Marshfoot Road  Grays  RM16 4LU</address></dd>
                            </dl>
                            <dl>
                                <dt class="satisfaction ">Employer satisfaction</dt>
                                <dd class="satisfaction ">77%</dd><dt class="achievement ">Achievement rate</dt>
                                <dd class="achievement ">89%</dd>
                            </dl>
                        </div>
                        <div class="shortlist "><i class="fa fa-star-o "></i><span>shortlist</span></div>
                    </li>
                    <li id="305423 " class="result animated none " data-distance="34 ">
                        <div class="column details ">
                            <h2 class="heading-medium "><a href="# " class="proName ">5 e ltd.</a></h2>
                            <dl><dt class="distance ">Distance</dt>
                                <dd class="distance ">84 miles<address class="panel panel-border-thin ">Marshfoot Road  Grays  RM16 4LU</address></dd>
                            </dl>
                            <dl>
                                <dt class="satisfaction ">Employer satisfaction</dt>
                                <dd class="satisfaction ">80%</dd><dt class="achievement ">Achievement rate</dt>
                                <dd class="achievement ">70%</dd>
                            </dl>
                        </div>
                        <div class="shortlist "><i class="fa fa-star-o "></i><span>shortlist</span></div>
                    </li>

                    <li id="304782" class="result animated none" data-distance="5847">
                        <div class="column details">
                            <h2 class="heading-medium"><a href="#" class="proName">BARR BEACON SCHOOL</a></h2>
                            <dl><dt class="distance">Distance</dt>
                                <dd class="distance">421 miles<address class="panel panel-border-thin">Old Hall Lane Aldridge Walsall  WS9 0RF</address></dd>
                            </dl>
                            <dl><dt class="satisfaction">Employer satisfaction</dt>
                                <dd class="satisfaction">91%</dd><dt class="achievement">Achievement rate</dt>
                                <dd class="achievement">95%</dd>
                            </dl>
                        </div>
                        <div class="shortlist"><i class="fa fa-star-o"></i><span>shortlist</span></div>
                    </li>

                    <li id="305688" class="result animated none" data-distance="5847">
                        <div class="column details">
                            <h2 class="heading-medium"><a href="#" class="proName">Bdas training ltd</a></h2>
                            <dl><dt class="distance">Distance</dt>
                                <dd class="distance">467 miles<address class="panel panel-border-thin">Walstead Road West  Walsall  WS5 4PG</address></dd>
                            </dl>
                            <dl>
                                <dt class="satisfaction">Employer satisfaction</dt>
                                <dd class="satisfaction">55%</dd><dt class="achievement">Achievement rate</dt>
                                <dd class="achievement">83%</dd>
                            </dl>
                        </div>
                        <div class="shortlist"><i class="fa fa-star-o"></i><span>shortlist</span></div>
                    </li>

                </ol>
                <div class="page-navigation">
                    <a target="_blank=" href="#" style="visibility: hidden; " class="page-navigation__btn previous ">
                        <i class="arrow-button fa fa-angle-left "></i>
                        <span class="description ">Previous <span class="hide-mob ">page</span></span>
                        <span class="counter ">1 of 4</span>
                    </a>



                    <a href="#" class="page-navigation__btn next ">
                        <i class="arrow-button fa fa-angle-right "></i>
                        <span class="description ">Next <span class="hide-mob ">page</span></span>
                        <span class="counter ">2 of 24</span>
                    </a>

                </div>

            </div>

        </div>


    </main>


    <footer class="gov-border " role="contentinfo ">
        <div class="footer__wrapper ">
            <div class="footer__meta ">
                <ul class="footer__nav ">
                    <li class="small-btm-margin ">
                        <a class="footer__link bold-medium " href="mailto:DASemployerpilot@sfa.bis.gov.uk?subject=Private Beta query " onClick="noStandard() ">Contact us</a>
                        <a class="footer__link bold-medium " href="https://www.surveymonkey.co.uk/r/F3LCBG6 " onClick="noStandard() ">Give feedback</a>
                    </li>
                    <li class="footer__link "><a href="# " onClick="noStandard() ">Privacy and cookies</a></li>
                    <li class="footer__link "><a href="# " onClick="noStandard() ">Terms and conditions</a></li>
                    <li class="footer__link ">Built by the <a href="http://gov.uk/sfa " target="_blank ">Skills Funding Agency</a></li>
                    <li class="footer__ogl "><a href="http://www.nationalarchives.gov.uk/doc/open-government-license/version/2 " class="ir ogl-logo ">OGL</a>All content is available under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-license/version/3 ">Open Government license v3.0</a>, except where otherwise stated</li>
                </ul>
                <a class="footer__copyright " href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm " target="_blank ">
                    <img src="assets/images/govuk-crest-2x.png " width="125 " height="102 " alt="Crown copyright logo ">
                    <p>© Crown copyright</p>
                </a>
            </div>
            <div class="toggle-content hide-nojs show-print nobreak-print ">
                <h3 class="heading-small ">Contact the Skills Funding Agency helpdesk</h3>
                <p class="small-btm-margin ">Telephone (free): 0800 015 0400</p>
            </div>
        </div>
    </footer>


    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/javascripts/jquery-2.1.4.min.js "></script>
    <script src="assets/javascripts/footable.all.min.js "></script>
    <script src="assets/javascripts/js.cookie.js"></script>
    <script src="assets/javascripts/_app.js "></script>
    <script src="assets/javascripts/_proResultsTab.js"></script>

    <script>
        function noStandard() {
            alert("This link isn 't available in this demonstration");
        }
    </script>

    <style>
        .tabbed-tab.active {
            background: #bfc1c3
        }
    </style>


</body>

</html>