<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Employ an apprentice</title>
    <meta name="description" content="Description to go here" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="date=no" />
    <meta name="format-detection" content="address=no" />
    <meta name="DCSext.Authenticated" content="No" />
    <meta name="ROBOTS" content="NOFOLLOW,NOINDEX" />




    <!--[if gt IE 8]><!-->
    <link href="assets/stylesheets/main.css" rel="stylesheet" />
    <link href="assets/stylesheets/elements-page.css" rel="stylesheet" />
    <link href="assets/stylesheets/flexboxgrid.min.css" rel="stylesheet" />
    <link href="assets/stylesheets/_app.css" rel="stylesheet" />
    <link href="assets/stylesheets/_proResults.css" rel="stylesheet" />
    <!--<![endif]-->

    <!--[if lte IE 8]><link href="assets/stylesheets/govuk-template-ie8.css" rel="stylesheet"/>
    <![endif]-->
    <!--[if lte IE 8]><link href="assets/stylesheets/fonts-ie8.css" rel="stylesheet"/>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <link href="assets/stylesheets/fonts.css" rel="stylesheet" />
    <link href="assets/stylesheets/font-awesome.min.css" rel="stylesheet">
    <!--<![endif]-->

    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="assets/images/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/images/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="assets/images/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" href="assets/images/apple-touch-icon-60x60.png" />

    <script src="assets/javascripts/govuk-template.js" type="javascript/text"></script>


</head>

<body>

    <div>

        <div class="skiplink-container">
            <div>
                <a href="inform_1.html#main" class="skiplink">Skip to main content</a>
            </div>
        </div>
        <header role="banner" class="global-header">
            <div class="global-header__wrapper">
                <div class="global-header__logo">
                    <a href="http://gov.uk/" title="Go to the GOV.UK homepage" class="govuk-logo">
                        <img src="assets/images/gov.uk_logotype_crown.png" alt="Crown"> GOV.UK
                    </a>
                </div>
            </div>
        </header>

        <div id="global-header-bar"></div>


        <div class="phase-banner">
            <p>
                <strong class="phase-tag">BETA</strong>
                <span>This is a new service – your <a href="inform_1.html#" onclick="noStandard()">feedback</a> will help us to improve it.</span>
            </p>
        </div>


        <main id="content" role="main">
            <div class="grid-row breadcrumb">
                <div class="column-two-thirds"><a href="#" class="link-back">Back</a>
                </div>
                <div class="column-third">
                    <div class="account-info" id="bannerSignedIn">
                        <a href="dashboard.html" title="Shortlist"><i class="fa fa-list-alt"></i>Shortlisted training and providers

 (<span>0</span>)</a>
                    </div>
                </div>
            </div>



            <div class="hgroup">
                <h1 class="heading-xlarge">Search results</h1>
                <div class="grid-row">
                    <div class="column-two-thirds">
                        <p>There are <span class="resultCount bold-small">20</span> training providers for the apprenticeship: <span class="bold-small appName">Administration, level 4</span>.</p>
                        <p>These search results are divided into training provided at your workplace (on-site) and training provided at a different location (off-site).</p>
                    </div>
                </div>

                <div class="grid-row">
                    <div class="column-two-thirds">
                        <h1 class="heading-medium">
Do you require training on your premises?  </h1>

                        <form>
                            <fieldset class="inline">

                                <legend class="visuallyhidden">Do you require training on your premises?</legend>

                                <div class="form-group">

                                    <label class="block-label" data-target="example-ni-no" for="radio-indent-1">
                                        <input id="radio-indent-1" type="radio" name="radio-indent-group" value="Yes"> On-site training (15)
                                    </label>

                                    <label class="block-label" for="radio-indent-2">
                                        <input id="radio-indent-2" type="radio" name="radio-indent-group" value="No"> Off-site training (5)
                                    </label>

                                </div>

                            </fieldset>
                        </form>
                        <details>
                            <summary>On-site and Off-site training information</summary>
                            <p>Training can be delivered to you and your apprentice in 3 main ways. You should look for the 'training structure' that suits your business best.</p>
                            <h5 class="heading-small">On-site training</h5>
                            <p>On-site training is where your provider comes to your site and provides the training and assessment in the work place. This redcues the time the apprentice is out of the working environment but can cause disruption to the working day.</p>
                            <h5 class="heading-small">Off-site (block) training</h5>
                            <p>Off-site there are two types of off-site training, the first being block training. Block training involves your apprentice spending a period of time (days, weeks) away in one block from the office.</p>
                            <h5 class="heading-small">Off-site (day release) training</h5>
                            <p>Off-site day release training as the name suggests allows the apprentice to spend 1 day away from the work place with the training provider.</p>

                        </details>
                    </div>
                </div>


            </div>
            <div class="grid-row">
                <div class="column-two-thirds">


                    <section id="offsite" class="hidden">

                        <h1 class="heading-large">Search results</h1>

                        <p>There are <span class="resultCount bold-small">5</span> off-site training providers for the apprenticeship: <span class="bold-small appName">Administration, level 4</span>.</p>

                        <ol id="provider-results">



                            <li class="result visible" data-distance="0" style="display: list-item;">
                                <div class="column details">
                                    <h2 class="heading-medium"><a href="proDetails.html?proId=304587"> Ability  professional  training  limited </a></h2>
                                    <dl>
                                        <dt class="distance">Distance</dt>
                                        <dd class="distance">5723 miles<address class="panel panel-border-thin">472, New Cross Road  London  SE14 6TJ</address></dd>
                                        <dt class="satisfaction">Employer satisfaction</dt>
                                        <dd class="satisfaction">not available</dd><dt class="achievement">Learner satisfaction</dt>
                                        <dd class="achievement">67%</dd>
                                    </dl>
                                </div>
                            </li>
                            <li class="result visible" data-distance="0" style="display: list-item;">
                                <div class="column details">
                                    <h2 class="heading-medium"><a href="proDetails.html?proId=304071">5e ltd. </a></h2>
                                    <dl>
                                        <dt class="distance">Distance</dt>
                                        <dd class="distance">5723 miles<address class="panel panel-border-thin">472, New Cross Road  London  SE14 6TJ</address></dd>
                                        <dt class="satisfaction">Employer satisfaction</dt>
                                        <dd class="satisfaction">91%</dd><dt class="achievement">Learner satisfaction</dt>
                                        <dd class="achievement">89%</dd>
                                    </dl>
                                </div>
                            </li>
                            <li class="result visible" data-distance="5740" style="display: none;">
                                <div class="column details">
                                    <h2 class="heading-medium"><a href="proDetails.html?proId=300151"> BARNET  &amp;  SOUTHGATE  COLLEGE </a></h2>
                                    <dl>
                                        <dt class="distance">Distance</dt>
                                        <dd class="distance">5723 miles<address class="panel panel-border-thin">472, New Cross Road  London  SE14 6TJ</address></dd>
                                        <dt class="satisfaction">Employer satisfaction</dt>
                                        <dd class="satisfaction">84%</dd><dt class="achievement">Learner satisfaction</dt>
                                        <dd class="achievement">61%</dd>
                                    </dl>
                                </div>
                            </li>
                            <li class="result visible" data-distance="3" style="display: list-item;">
                                <div class="column details">
                                    <h2 class="heading-medium"><a href="proDetails.html?proId=300719"> Abingdon  and  witney  college </a></h2>
                                    <dl>
                                        <dt class="distance">Distance</dt>
                                        <dd class="distance">5723 miles<address class="panel panel-border-thin">472, New Cross Road  London  SE14 6TJ</address></dd>
                                        <dt class="satisfaction">Employer satisfaction</dt>
                                        <dd class="satisfaction">80%</dd><dt class="achievement">Learner satisfaction</dt>
                                        <dd class="achievement">88%</dd>
                                    </dl>
                                </div>
                            </li>
                            <li class="result visible" data-distance="11" style="display: list-item;">
                                <div class="column details">
                                    <h2 class="heading-medium"><a href="proDetails.html?proId=301407"> Acacia  training  limited </a></h2>
                                    <dl>
                                        <dt class="distance">Distance</dt>
                                        <dd class="distance">5723 miles<address class="panel panel-border-thin">472, New Cross Road  London  SE14 6TJ</address></dd>
                                        <dt class="satisfaction">Employer satisfaction</dt>
                                        <dd class="satisfaction">95%</dd><dt class="achievement">Learner satisfaction</dt>
                                        <dd class="achievement">89%</dd>
                                    </dl>
                                </div>
                            </li>
                            <li class="result visible" data-distance="5" style="display: list-item;">
                                <div class="column details">
                                    <h2 class="heading-medium"><a href="proDetails.html?proId=301339"> Acacia  training  and  development  ltd </a></h2>
                                    <dl>
                                        <dt class="distance">Distance</dt>
                                        <dd class="distance">5723 miles<address class="panel panel-border-thin">472, New Cross Road  London  SE14 6TJ</address></dd>
                                        <dt class="satisfaction">Employer satisfaction</dt>
                                        <dd class="satisfaction">90%</dd><dt class="achievement">Learner satisfaction</dt>
                                        <dd class="achievement">91%</dd>
                                    </dl>
                                </div>
                            </li>


                        </ol>
                    </section>
                    <section id="onsite" class="hidden">

                        <h1 class="heading-large">Search results </h1>

                        <p>There are <span class="resultCount bold-small">15  on-site training providers for the apprenticeship: <span class="bold-small appName">Administration, level 4</span>.</p>

                        <ol id="provider-results">



                            <li class="result visible" data-distance="0" style="display: list-item;">
                                <div class="column details">
                                    <h2 class="heading-medium"><a href="proDetails.html?proId=304587"> Ability  professional  training  limited </a></h2>
                                    <dl>
                                        <dt class="satisfaction">Employer satisfaction</dt>
                                        <dd class="satisfaction">not available</dd><dt class="achievement">Learner satisfaction</dt>
                                        <dd class="achievement">67%</dd>
                                    </dl>
                                </div>
                            </li>
                            <li class="result visible" data-distance="0" style="display: list-item;">
                                <div class="column details">
                                    <h2 class="heading-medium"><a href="proDetails.html?proId=304071">5e ltd. </a></h2>
                                    <dl>
                                        <dt class="satisfaction">Employer satisfaction</dt>
                                        <dd class="satisfaction">91%</dd><dt class="achievement">Learner satisfaction</dt>
                                        <dd class="achievement">89%</dd>
                                    </dl>
                                </div>
                            </li>
                            <li class="result visible" data-distance="5740" style="display: none;">
                                <div class="column details">
                                    <h2 class="heading-medium"><a href="proDetails.html?proId=300151"> BARNET  &amp;  SOUTHGATE  COLLEGE </a></h2>
                                    <dl>
                                        <dt class="satisfaction">Employer satisfaction</dt>
                                        <dd class="satisfaction">84%</dd><dt class="achievement">Learner satisfaction</dt>
                                        <dd class="achievement">61%</dd>
                                    </dl>
                                </div>
                            </li>
                            <li class="result visible" data-distance="3" style="display: list-item;">
                                <div class="column details">
                                    <h2 class="heading-medium"><a href="proDetails.html?proId=300719"> Abingdon  and  witney  college </a></h2>
                                    <dl>
                                        <dt class="satisfaction">Employer satisfaction</dt>
                                        <dd class="satisfaction">80%</dd><dt class="achievement">Learner satisfaction</dt>
                                        <dd class="achievement">88%</dd>
                                    </dl>
                                </div>
                            </li>
                            <li class="result visible" data-distance="11" style="display: list-item;">
                                <div class="column details">
                                    <h2 class="heading-medium"><a href="proDetails.html?proId=301407"> Acacia  training  limited </a></h2>
                                    <dl>
                                        <dt class="satisfaction">Employer satisfaction</dt>
                                        <dd class="satisfaction">95%</dd><dt class="achievement">Learner satisfaction</dt>
                                        <dd class="achievement">89%</dd>
                                    </dl>
                                </div>
                            </li>
                            <li class="result visible" data-distance="5" style="display: list-item;">
                                <div class="column details">
                                    <h2 class="heading-medium"><a href="proDetails.html?proId=301339"> Acacia  training  and  development  ltd </a></h2>
                                    <dl>
                                        <dt class="satisfaction">Employer satisfaction</dt>
                                        <dd class="satisfaction">90%</dd><dt class="achievement">Learner satisfaction</dt>
                                        <dd class="achievement">91%</dd>
                                    </dl>
                                </div>
                            </li>


                        </ol>


                        <div class="page-navigation">
                            <a class="page-navigation__btn previous hidden">
                                <i class="arrow-button fa fa-angle-left"></i>
                                <span class="description">Previous <span class="hide-mob">page</span></span>
                                <span class="counter">Page <span class="prevPage"></span> of <span class="totalPage"></span></span>
                            </a>



                            <a style="" class="page-navigation__btn next">
                                <i class="arrow-button fa fa-angle-right"></i>
                                <span class="description">Next <span class="hide-mob">page</span></span>
                                <span class="counter">Page <span class="nextPage">2</span> of <span class="totalPage">4</span></span>
                            </a>

                        </div>
                    </section>

                </div>


                <div class="column-third related-container hidden">

                    <aside id="facets" class="related">
                        <form>
                            <legend class="heading-small">Filter results</legend>


                            <div class="inner group related-subsection">
                                <ul class="cd-accordion-menu">
                                    <li class="has-children">
                                        <input type="checkbox" name="group-1" id="group-1" checked="" class="hidden">
                                        <label class="bold-small" for="group-1">Your location</label>

                                        <div class="container">

                                            <div class="form-group">
                                                <label class="form-label" for="location">Location</label>
                                                <input class="form-control" id="location" value="">
                                            </div>
                                            <details>
                                                <summary>
                                                    <span class="summary">Help with location</span>
                                                </summary>
                                                <div class="panel panel-border-narrow">
                                                    <p>Choose a location that represents your apprentices regular place of work, this will give the best results.</p>
                                                </div>
                                            </details>
                                        </div>
                                    </li>

                                </ul>
                                <!-- cd-accordion-menu -->
                            </div>





                            <div class="form-group form-group-compound">
                                <button class="button no-btm-margin" id="search-button" name="SearchAction" value="Search">Update results</button>
                            </div>

                            <div class="form-group">
                                <a target="_blank=" href="index.html">Start again</a>
                            </div>


                        </form>
                    </aside>

                    <div class="related-container">
                        <aside class="related" id="related">
                            <div class="inner group related-subsection">

                                <h2 id="parent-subsection">Help</h2>





                            </div>
                            <div class="inner group">
                                <a class="return-to-top" target="_blank=" href="#content">Return to top ↑</a>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>

        </main>


        <footer class="gov-border" role="contentinfo">
            <div class="footer__wrapper">
                <div class="footer__meta">
                    <ul class="footer__nav">
                        <li class="small-btm-margin">
                            <a class="footer__link bold-medium" href="mailto:DASemployerpilot@sfa.bis.gov.uk?subject=Private Beta query" onClick="noStandard()">Contact us</a>
                            <a class="footer__link bold-medium" href="https://www.surveymonkey.co.uk/r/F3LCBG6" onClick="noStandard()">Give feedback</a>
                        </li>
                        <li class="footer__link"><a href="#" onClick="noStandard()">Privacy and cookies</a></li>
                        <li class="footer__link"><a href="#" onClick="noStandard()">Terms and conditions</a></li>
                        <li class="footer__link">Built by the <a href="http://gov.uk/sfa" target="_blank">Skills Funding Agency</a></li>
                        <li class="footer__ogl"><a href="http://www.nationalarchives.gov.uk/doc/open-government-license/version/2" class="ir ogl-logo">OGL</a>All content is available under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-license/version/3">Open Government license v3.0</a>, except where otherwise stated</li>
                    </ul>
                    <a class="footer__copyright" href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm" target="_blank">
                        <img src="assets/images/govuk-crest-2x.png" width="125" height="102" alt="Crown copyright logo">
                        <p>© Crown copyright</p>
                    </a>
                </div>
                <div class="toggle-content hide-nojs show-print nobreak-print">
                    <h3 class="heading-small">Contact the Skills Funding Agency helpdesk</h3>
                    <p class="small-btm-margin">Telephone (free): 0800 015 0400</p>
                </div>
            </div>
        </footer>


        <!-- Placed at the end of the document so the pages load faster -->
        <script src="assets/javascripts/jquery-2.1.4.min.js"></script>
        <script src="assets/javascripts/footable.all.min.js"></script>
        <script src="assets/javascripts/js.cookie.js"></script>
        <script src="assets/javascripts/_app.js"></script>

        <script>
            function noStandard() {
                alert("This link isn't available in this demonstration");
            }
        </script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzwT5XoaeNOmzPA2L09Ff66FRtHpMKCoc"></script>
        <script type="text/javascript">
            // When the window has finished loading create our google map below







            $(document).ready(function () {
                $("#radio-indent-1").click(function () {
                    $("#onsite").removeClass("hidden");
                    $("#offsite").addClass("hidden");
                    $(".hgroup").hide();
                })
                $("#radio-indent-2").click(function () {
                    $("#offsite").removeClass("hidden");
                    $("#onsite").addClass("hidden");
                    $(".hgroup").hide();
                })

            })
        </script>

        <style>
            .hgroup {
                margin-bottom: 0;
            }
        </style>

</body>

</html>