{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
{% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Sprint 6 - Refine</h1>
      <h2 class="heading-medium"> Levy Account pages</h2>
      <p>
      <p>
        <a href="/{% include "includes/sprint-link.html" %}/register/inform_1">Inform</a>
      </p>
      <p>
        <a href="/{% include "includes/sprint-link.html" %}/register/start">Register</a>
      </p>
      <p>
        <a href="/{% include "includes/sprint-link.html" %}/login">Sign in to the service</a>
      </p>
      <p>
        <a href="/{% include "includes/sprint-link.html" %}/balance">View my balance</a>
      </p>
       <p>
        <a href="/{% include "includes/sprint-link.html" %}/history">View my account history</a>
      </p>
        <a href="/{% include "includes/sprint-link.html" %}/committed">View my planned spending</a>
      </p>
       </p>
        <a href="/{% include "includes/sprint-link.html" %}/expire">View expiring funds</a>
      </p>
             </p>
        <a href="/{% include "includes/sprint-link.html" %}/payment">View payment invoices</a>
      </p>
	  <p>
		<a href="/{% include "includes/sprint-link.html" %}/planning">Planning</a>
	  </p>

     

      
    </div>
  </div>
</main>

{% endblock %}


