{% extends "layout.html" %}

{% block head %}
    {% include "includes/head.html" %}
    <!--script>
        var commitmentListSource = 'provider';
    </script>
    <script src="/public/javascripts/das/list-commitment-1.0.js"></script-->
{% endblock %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}

<style>


  #navigation-primary {
    display:none;
  }

  tr th, tr td {padding-left:1em}

</style>

<script>
/* needs to swap the divs out later on if an apprenticeship has been added */

// this is now in the global custom.js file as things were breaking because of the url switching jquery

</script>

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}



 <div class="breadcrumbs">
    <ol role="breadcrumbs">
            <li><a href="/{% include "includes/sprint-link.html" %}/balance">Provider home</a></li>
            <li><a href="/{% include "includes/sprint-link.html" %}/contracts/providers">Commitments in progress</a></li>
            <li><a href="/{% include "includes/sprint-link.html" %}/contracts/provider-in-progress">View commitments</a></li>
            <li>98HGS3F</li>
    </ol>
  </div>




<!--h1 class="heading-large">Levy account</h1-->
 <!--h2 class="bold-medium">Acme Ltd Levy Account</h2-->
<h1 class="heading-xlarge">Add apprentices</h1>
  <div class="grid-row">
           <div class="column-half">
                        <div class="" style="padding-bottom:35px">
                                     <h2 class="heading-medium" style="margin: 0 0 5px 0">Acme Coventry Ltd</h2>
                                  <div><h2 class="heading-small" style="display:inline-block; margin:0;">Reference:&nbsp</h2 ><p style="display:inline; margin:0;">98HGS3F</p></div>
                                  <div><h2 class="heading-small" style="display:inline-block; margin:0;">Status:&nbsp</h2 ><p style="display:inline; margin:0;">Needs provider input</p></div>
                                 <div><h2 class="heading-small" style="display:inline-block; margin:0;">Date started:&nbsp</h2 ><p style="display:inline; margin:0;">14th August 2018</p></div>
                      </div>
            </div>
        <div class="column-half">
          <div class="" style="padding-bottom:35px">
            <div><h2 class="heading-small" style="display:inline-block; margin:0;">Messages:&nbsp</h2 ><p style=" margin:0;">dates. blah, etc</p></div>

          </div>
            </div>
        </div>

    <!-- ----------- This is the default where there aren't any groups or cohorts added ------------ -->
    <!-- -------------- This is shows when one apprenticeship has been added ---------- -->
                <div style="margin-top:45px" class="rj-has-apprenticeships" id="apprenticeships">
                  <h2 class="heading-medium"><span style="font-weight:700" id="numberOfApprentices"></span>15 Apprenticeships</h2>


                  <hr style="margin:0 0 18px 0" />
        <div class="commit-bar">
            <form class="" style="display:inline-block" action="/{% include "includes/sprint-link.html" %}/contracts/provider-interface/add-apprenticeship">
                <input type="hidden" name="source" value="provider" />
                <div style="display:inline-block;"><input style="display:inline" class="button-grey-secondary button " type="submit"  id="bulk-upload"  value="Add an apprenticeship"></div>
            </form>
             <form class="" style="display:inline-block" action="/{% include "includes/sprint-link.html" %}/contracts/provider-in-progress/bulk-upload-provider">
                <input type="hidden" name="source" value="provider" />
                <div style="display:inline-block;"><input style="display:inline; margin:0 0 0 10px" class="button-clear button " type="submit"  id="bulk-upload"  value="Import apprenticeships"></div>
            </form>
             <!--p style="display:inline; margin-top:20px"><a href="/{% include "includes/sprint-link.html" %}/contracts/provider-in-progress/bulk-upload-provider">Import apprenticeships</a></p-->
             <form class="" style="display:inline-block; float:right;" action="/{% include "includes/sprint-link.html" %}/contracts/provider-in-progress/do-next">
                    <div style="display:inline-block;"><input class="button" style="display:inline; margin:0 0 0 10px" type="submit"  id="send-to-employer"  value="Finshed editing"></div>
              </form-->
        </div>

        <hr style="margin:20px 0 15px 0" />

   <div class="fullWidthGreyAlert">
    <h2 class="heading-medium" >7 apprenticeships changed</h2>
      <p style="margin-bottom:0">Changes your provider has made have been highlighted below.</p><p style=""> To see details click View on the row. </p>
   </div>

         <div class="grid-row">
           <div class="column-half">
                <h2 class ="heading-medium" style="margin-bottom:5px" id="apprenticeReplaceMe">10 Mechatronics Engineers</h2>
                <p style="margin:0px">Level: 4</p>
                <p style="margin-top:0px">Training code: 3246</p>
          </div>
           <div class="column-half">
            <div style="margin-top:45px">


            </div>
           </div>
        </div>
                <table class="" id="">
                    <thead>
                      <tr>

                        <th scope="col" class=""  >Given<br />name</th>
                        <th scope="col" class="">Family<br />name</th>
                        <th scope="col" class="">ULN</th>
                        <th scope="col" class="">Start<br />date</th>
                        <th scope="col" class="">End<br />date</th>
                         <th scope="col" class="">Cost</th>
                        <th scope="col" class=""></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Rob</td>
                        <td>Edwards</td>
                        <td class="">8321052156</td>
                        <td class=" ">11/18</td>
                        <td class="">11/20</td>
                        <td class="thereAreChanges" style="">£2,000</td>

                        <td class=""><a href="/{% include "includes/sprint-link.html" %}/ontracts/provider-interface/add-apprenticeship-static">View</a></td>
                      </tr>
                      <tr>
                        <td class="thereAreChanges">Taylor</td>
                        <td class="thereAreChanges">Lucas</td>
                        <td class="thereAreChanges" class="">1221052101</td>
                        <td class="thereAreChanges" class=" ">11/18</td>
                        <td class="thereAreChanges" class="">11/20</td>
                        <td class="thereAreChanges">£2,000</td>



                        <td class=""><a href="/{% include "includes/sprint-link.html" %}/ontracts/provider-interface/add-apprenticeship-static">View</a></td>
                      </tr>
                      <tr>
                        <td>Prahlad</td>
                        <td class="thereAreChanges">Naik</td>
                        <td class="">6621052119</td>
                        <td class=" ">11/18</td>
                        <td class="">11/20</td>
                        <td class="thereAreChanges">£2,000</td>



                        <td class=""><a href="/{% include "includes/sprint-link.html" %}/ontracts/provider-interface/add-apprenticeship-static">View</a></td>
                      </tr>
                                            <tr>
                        <td>Jeff</td>
                        <td>Bloggs</td>
                        <td class="">8621052198</td>
                        <td class=" ">11/18</td>
                        <td class="">11/20</td>
                        <td class="">£2,000</td>


                        <td class=""><a href="/{% include "includes/sprint-link.html" %}/ontracts/provider-interface/add-apprenticeship-static">View</a></td>
                      </tr>
                                            <tr>
                        <td  class="thereAreChanges" style="max-width:80px; word-wrap:break-word;">Mahershalalhashbaz</td>
                        <td class="thereAreChanges" style="max-width:80px; word-wrap:break-word;">Tollemache-Tollemache de Orellana Plantagenet</td>
                        <td class="">21210521523</td>
                        <td class=" ">11/18</td>
                        <td class="">11/20</td>
                        <td class="">£2,000</td>



                        <td class=""><a href="/{% include "includes/sprint-link.html" %}/ontracts/provider-interface/add-apprenticeship-static">View</a></td>
                      </tr>
                                            <tr>
                        <td>Melissa</td>
                        <td>Shaw</td>
                        <td class="thereAreChanges">8921052156</td>
                        <td class=" ">11/18</td>
                        <td class="">11/20</td>
                        <td class="">£2,000</td>


                        <td class=""><a href="/{% include "includes/sprint-link.html" %}/ontracts/provider-interface/add-apprenticeship-static">View</a></td>
                      </tr>
                                            <tr>
                        <td>Brendan</td>
                        <td>Hamazaki</td>
                        <td class="thereAreChanges">2421052176</td>
                        <td class=" ">11/18</td>
                        <td class="">11/20</td>
                        <td class="">£2,000</td>



                        <td class=""><a href="/{% include "includes/sprint-link.html" %}/ontracts/provider-interface/add-apprenticeship-static">View</a></td>
                      </tr>
                                            <tr>
                        <td>Gary</td>
                        <td>Barton</td>
                        <td class="">4521052191</td>
                        <td class="thereAreChanges">11/18</td>
                        <td class="thereAreChanges">11/20</td>
                        <td class="">£2,000</td>


                        <td class=""><a href="/{% include "includes/sprint-link.html" %}/ontracts/provider-interface/add-apprenticeship-static">View</a></td>
                      </tr>
                                            <tr>
                        <td>Tommy</td>
                        <td>Barger</td>
                        <td class="">4121052139</td>
                        <td class=" ">11/18</td>
                        <td class="">11/20</td>
                        <td class="">£2,000</td>

 
                        <td class=""><a href="/{% include "includes/sprint-link.html" %}/ontracts/provider-interface/add-apprenticeship-static">View</a></td>
                      </tr>
                                            <tr>
                        <td>William</td>
                        <td>Dewitt</td>
                        <td class="">8221052149</td>
                        <td class=" ">11/18</td>
                        <td class="">11/20</td>
                        <td class="">£2,000</td>
                        <td class=""><a href="/{% include "includes/sprint-link.html" %}/ontracts/provider-interface/add-apprenticeship-static">View</a></td>
                      </tr>

                    </tbody>
                </table>
                     <!--hr style="margin:35px 0 35px 0;"/-->

   <div class="fullWidthGreyAlert">
    <h2 class="heading-medium" >1 apprenticeship changed</h2>
      <p style="margin-bottom:0">Changes your provider has made have been highlighted below.</p><p style=""> To see details click View on the row. </p>
   </div>




                      <h2 class ="heading-medium" style="margin-bottom:5px" id="apprenticeReplaceMe">5 Bakery Assistants</h2><p style="margin:0px">Level: 4</p>
                      <p style="margin-top:0px">Training code: 3246</p>
                <table class="" id="">
                    <thead>
                      <tr>
                        <!--th scope="col">Training code</th-->
                     <!--  <th scope="col">Training type</th> -->
                        <th scope="col" class="">Given<br />name</th>
                        <th scope="col" class="">Family<br />name</th>
                        <th scope="col" class="">ULN</th>
                        <th scope="col" class="">Start<br />date</th>
                        <th scope="col" class="">End<br />date</th>
                         <th scope="col" class="">Cost</th>
                        <th scope="col" class=""></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Mayu</td>
                        <td>Hirano</td>
                        <td class="">6421052104</td>
                        <td class=" ">10/18</td>
                        <td class="">09/19</td>
                        <td class="">£1,492</td>
                        <td class=""><a href="/{% include "includes/sprint-link.html" %}/ontracts/provider-interface/add-apprenticeship-static">View</a></td>
                      </tr>
                      <tr>
                        <td>Rajeshwari</td>
                        <td>Pillai</td>
                        <td class="">0921052112</td>
                        <td class=" ">10/18</td>
                        <td class="">09/19</td>
                        <td class="">£1,492</td>
                        <td class=""><a href="/{% include "includes/sprint-link.html" %}/ontracts/provider-interface/add-apprenticeship-static">View</a></td>
                      </tr>
                       <tr>
                        <td>Hoai</td>
                        <td>Mi Le</td>
                        <td class="">7821052148</td>
                        <td class=" ">10/18</td>
                        <td class="">09/19</td>
                        <td class="">£1,492</td>
                        <td class=""><a href="/{% include "includes/sprint-link.html" %}/ontracts/provider-interface/add-apprenticeship-static">View</a></td>
                      </tr>
                      <tr>
                        <td>Raven</td>
                        <td>Welsh</td>
                        <td class="">6121052198</td>
                        <td class="thereAreChanges">10/18</td>
                        <td class="">09/19</td>
                        <td class="">£1,492</td>
                        <td class=""><a href="/{% include "includes/sprint-link.html" %}/ontracts/provider-interface/add-apprenticeship-static">View</a></td>
                      </tr>
                      <tr>
                        <td>Nana</td>
                        <td>Friedman</td>
                        <td class="">49210521521</td>
                        <td class=" ">11/18</td>
                        <td class="">10/19</td>
                        <td class="">£1,492</td>
                        <td class=""><a href="/{% include "includes/sprint-link.html" %}/ontracts/provider-interface/add-apprenticeship-static">View</a></td>
                      </tr>
                    </tbody>
                </table>


  <hr style="margin:65px 0 18px 0" />
        <div class="commit-bar">
            <form class="" style="display:inline-block" action="/{% include "includes/sprint-link.html" %}/contracts/provider-interface/add-apprenticeship">
                <input type="hidden" name="source" value="provider" />
                <div style="display:inline-block;"><input style="display:inline" class="button-grey-secondary button " type="submit"  id="bulk-upload"  value="Add an apprenticeship"></div>
            </form>
             <form class="" style="display:inline-block" action="/{% include "includes/sprint-link.html" %}/contracts/provider-in-progress/bulk-upload-provider">
                <input type="hidden" name="source" value="provider" />
                <div style="display:inline-block;"><input style="display:inline; margin:0 0 0 10px" class="button-clear button " type="submit"  id="bulk-upload"  value="Import apprenticeships"></div>
            </form>
             <!--p style="display:inline; margin-top:20px"><a href="/{% include "includes/sprint-link.html" %}/contracts/provider-in-progress/bulk-upload-provider">Import apprenticeships</a></p-->
             <form class="" style="display:inline-block; float:right;" action="/{% include "includes/sprint-link.html" %}/contracts/provider-in-progress/do-next">
                    <div style="display:inline-block;"><input class="button" style="display:inline; margin:0 0 0 10px" type="submit"  id="send-to-employer"  value="Finshed editing"></div>
              </form-->
        </div>

        <hr style="margin:20px 0 15px 0" />
            </div>




</main>


{% endblock %}

