{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}

<style>
  .home-nav a {
    {% include "includes/nav-on-state-css.html" %}
  }

  @media (min-width: 641px) and (max-width: 890px){
.rj-alert-wrapper {
  height:135px;
}
}

  @media (min-width: 641px) and (max-width: 700px){
.rj-alert-wrapper {
  height:160px;
}
}

</style>

<script>
  var page_name = "dashboard";
</script>


{% include "includes/phase_banner_beta.html" %}
<main id="content" role="main">



  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/{% include "includes/sprint-link.html" %}/balance">Account home</a></li>
    </ol>
  </div>

<!--h1 class="heading-large">Levy account</h1-->
 <!--h2 class="bold-medium">Acme Ltd Levy Account</h2-->

            <h1 class="heading-xlarge rj-headings-border" id="company-Name" >{% include "includes/account-name-number.html" %}</h1>
            <script>document.getElementById('company-Name').innerText = JSON.parse(localStorage.getItem('company-name-header'));</script>


 <div class="grid-row">
           <div class="column-two-thirds">
            <!--h2 class="heading-large" style="margin:0px 0 50px 0">{% include "includes/account-name-number.html" %}Funding</h2-->
         <div style="max-width:90%">
          <div class="grid-row">
            <div class="column-half ">
              <h3 class="heading-medium" style="margin-top:0 "><a href="/{% include "includes/sprint-link.html" %}/finance">View funds</a></h3>
              <p class="rj-home-spacer">Manage your funds including how much you have <a href="/{% include "includes/sprint-link.html" %}/forecast">available to spend</a>, your <a href="/{% include "includes/sprint-link.html" %}/history">transactions</a> and <a href="/{% include "includes/sprint-link.html" %}/expire">funds you could lose</a></p>
            </div>

            <div class="column-half">
              <h3 class="heading-medium rj-top-border-mobile" style="margin-top:0;" ><a href="/{% include "includes/sprint-link.html" %}/apprentice-view/spend">Add apprentices</a></h3>
              <p><a href="/{% include "includes/sprint-link.html" %}/contracts/new-contract">Add apprentices</a>, review and <a href="/{% include "includes/sprint-link.html" %}/contracts/in-progress">approve cohorts</a></p>
            </div>
          </div> 
          <div class="grid-row">
             <div class="column-half">
              <h3 class="heading-medium rj-top-border" style="margin-top:0;padding-top:35px  " ><a href="/{% include "includes/sprint-link.html" %}/apprentice-view/">Manage apprentices</a></h3>
              <p> <a href="/{% include "includes/sprint-link.html" %}/apprentice-view/">Pause or stop apprentices</a> and <a href="/{% include "includes/sprint-link.html" %}/apprentice-view/">review apprentices</a> that need your attention</p>
            </div>
            <div class="column-half ">
              <h3 class="heading-medium rj-top-border" style="margin-top:0; padding-top:35px"><a href="/{% include "includes/sprint-link.html" %}/training">Find training</a></h3>
              <p class="rj-home-spacer"> <span class="looks-like-a-link-underline">Search for new</span> apprenticeship training or <span class="looks-like-a-link-underline">find out about choosing an assessor</span></p>
            </div>
         </div>
        <div class="grid-row">
            <div class="column-half ">
              <h3 class="heading-medium rj-top-border looks-like-a-link-underline-h2" style="margin-top:0; padding-top:35px">Manage team</h3>
              <p class="rj-home-spacer rj-bottom-border-mobile "><span class="looks-like-a-link-underline">Add and change</span> people who have access to this service. </p>
            </div>
            <div class="column-half ">
              <h3 class="heading-medium rj-top-border looks-like-a-link-underline-h2" style="margin-top:0; padding-top:35px"></h3>
            </div>
         </div>

       </div>


          </div>
          <div class="column-one-third">
            <div id="tabs-container" style="margin-left: 0px">
              <ul class="tabs-menu">
                <li class="current"><a href="#tab-1">Tasks</a></li>
                <li><a href="#tab-2">Activity</a></li>
              </ul>
            <div class="tab" style="width: 275px"></div>
            <div id="tab-1" class="tab-content" style="margin-top: 30px">

            <div style="margin-top: 0px"></div>

            <div style="background-color: #F8F8F8; padding:10px 15px 2px 15px;">
            <p class="">2 payments failed<br><a href="">Check details</a></p></div>

            <div style="margin-top: 15px"></div>

            <div style="background-color: #F8F8F8; padding:10px 15px 2px 15px;">
            <p class="">2 agreements need to be signed<br><a href="">View agreements</a></p></div>

            <div style="margin-top: 15px"></div>

            <div style="background-color: #F8F8F8; padding:10px 15px 2px 15px;">
            <p class="">2 apprentice changes ready for approval<br><a href="">View changes</a></p></div>

            <div style="margin-top: 15px"></div>

            <div style="background-color: #F8F8F8; padding:10px 15px 2px 15px;">
            <p class="">1 cohort request ready for approval<br><a href="">View cohort</a></p></div>

            <div style="margin-top: 30px"></div>

            <div><a href="">See all tasks</a></div>


            </div>


            <div id="tab-2" class="tab-content" style="margin-top: 30px">


            <div class="timeline">

            <div class="body">
              <div><span style="font-weight: 700; color: #BFC1C3">Today</span><br>2 payments failed<br><span style="font-weight: 700; color: #BFC1C3">At 1:25pm</span><br><a href="">See details</a></div>
            </div>

            <div class="body">
              <div><span style="font-weight: 700; color: #BFC1C3">Yesterday</span><br>5 apprentice changes approved<br><span style="font-weight: 700; color: #BFC1C3">At 3:34pm by Pete Kowalczyk</span><br><a href="">See details</a></div>
            </div>

            <div class="body">
              <div><span style="font-weight: 700; color: #BFC1C3">17 June 2018</span><br>5 apprentice changes requested <br><span style="font-weight: 700; color: #BFC1C3">At 9:35am by Acme Training ltd</span><br><a href="">See details</a></div>
            </div>

            <div class="body">
              <div><span style="font-weight: 700; color: #BFC1C3">15 June 2018</span><br>Cohort approved: Acme Training ltd<br><span style="font-weight: 700; color: #BFC1C3">At 5:34pm by Sarah Thomson</span><br><a href="">See details</a></div>
            </div>

            <div class="body">
              <div><span style="font-weight: 700; color: #BFC1C3">14 June 2018</span><br>Cohort request made<br><span style="font-weight: 700; color: #BFC1C3">At 3:34pm by Acme Training ltd</span><br><a href="">See details</a></div>
            </div>

            <div class="body">
              <div><span style="font-weight: 700; color: #BFC1C3">12 June 2018</span><br>Levy payment received </span><br><span style="font-weight: 700; color: #BFC1C3">At 3:34pm</span></a><br><a href="">See details</a></div>
            </div>

            <div class="body">
            <div><a href="">See all activity</a></div>

            </div>

            </div>


            <script>

            $(document).ready(function() {
            $(".tabs-menu a").click(function(event) {
            event.preventDefault();
            $(this).parent().addClass("current");
            $(this).parent().siblings().removeClass("current");
            var tab = $(this).attr("href");
            $(".tab-content").not(tab).css("display", "none");
            $(tab).fadeIn();
            });
            });  

            </script>

        </div>
        </div>



</main>

 <!--button class="button">Do the thing</button-->


</script>

{% endblock %}

