{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}

<style>


  #navigation-primary {
    display:none;
  }
</style>

<script>
/* needs to swap the divs out later on if an apprenticeship has been added */

// this is now in the global custom.js file as things were breaking because of the url switching jquery

</script>

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}



 <div class="breadcrumbs">
    <ol role="breadcrumbs">
            <li><a href="/{% include "includes/sprint-link.html" %}/balance">Account home</a></li>
            <li><a href="/{% include "includes/sprint-link.html" %}/contracts/providers">Commitment</a></li>
            <li><a href="/{% include "includes/sprint-link.html" %}/contracts/in-progress">Commitment in progress</a></li>
            <li>98HGS3F</li>
    </ol>
  </div>


<!--h1 class="heading-large">Levy account</h1-->
 <!--h2 class="bold-medium">Acme Ltd Levy Account</h2-->

  <div class="grid-row">
           <div class="column-two-thirds">
             <!--div class="govuk-box-highlight">
                <h1 class="bold-xlarge">
                  Commitment started
                </h1>
                <p>Your commitment reference number is <br>
                  <strong class="heading-medium">98HGS3F</strong>
                </p>
            </div-->

            <div style="" class="rj-has-apprenticeships" id="!apprenticeships">
              <h1 class="heading-xlarge">Apprenticeships</h1>

            <!--div class="rj-contract-verify">
                <div class="rj-alert-copy">
                  <h2 class="heading-medium" style="margin: 22px 0 5px 20px">SFA Contracts</h2>
                  <p style="width:90%; margin: 10px 0px 5px 20px; overflow:auto">You can continue to set up your programme, but you cannot submit it until you have agreed to your contract with the SFA.</p>
                  <p  style="width:100%; margin: 15px 0 0px 20px"><a href="#">Sign contracts</a></p>
                </div>
            </div-->



            <div style="" class="rj-no-apprenticeships" id="no-apprenticeships">
               <p class="">Apprenticeships can be added to your progamme in groups.</p><p> If you have a set of apprenticeships that share the same frameworks/standards, start dates, duration and cost you can group them all together. </p>
                <h2 class="heading-medium">Apprenticeship groups</h2>

<!-- ----------- This is the default where there aren't any groups or cohorts added ------------ -->
                  <p>This commitment has <span style="font-weight:700">0</span> groups</p>


                  <form class="" action="/{% include "includes/sprint-link.html" %}/contracts/new-contract/provider-interface/add-apprenticeship">
                    <div style="margin-top:20px;"><input class="button-grey-secondary button " type="submit"  id="bulk-upload"  value="Add a new group"></div>
                  </form>

                  <!--p><a href="/{% include "includes/sprint-link.html" %}/contracts/new-contract/provider-interface/add-apprenticeship">Add a new apprenticeship group</a></p-->
                  <p style="margin-top:20px"><a href="/{% include "includes/sprint-link.html" %}/contracts/new-contract/provider-interface/bulk-upload">Bulk upload apprenticeship groups</a></p>
            </div>

<!-- -------------- This is shows when one cohort has been added ---------- -->

            <div style="" class="rj-has-apprenticeships" id="apprenticeships">
               <p class="">Apprenticeships can be added to your progamme in groups.</p><p> If you have a set of apprenticeships that share the same frameworks/standards, start dates, duration and cost you can group them all together. </p>
                <h2 class="heading-medium">Apprenticeship groups</h2>
                  <p>This commitment has <span style="font-weight:700">1</span> group</p>



                  <hr style="margin-top:35px"/>

                  <h3 class="heading-medium" style="margin-top:35px">Group 1</h3>
                   <p style="margin-bottom:10px"><span style="font-weight:700">Training type:</span> Aeronautical engineering level 2 </p>
                   <p style="margin-bottom:10px"><span style="font-weight:700">Dates:</span> November 2018 until August 2020 </p>
                   <p style="margin-bottom:10px"><span style="font-weight:700">Number of apprentices:</span> 15</p>
                    <p style="margin-bottom:10px"><span style="font-weight:700">Cost per apprenticeship:</span> £1,000.00</p>
                    <p style="margin-bottom:10px"><span style="font-weight:700">Total cost of group:</span> £15,000.00</p>

                     <hr style="margin:35px 0 35px 0;"/>

                    <form class="" action="/{% include "includes/sprint-link.html" %}/contracts/new-contract/provider-interface/add-apprenticeship">
                    <div style="margin-top:20px;"><input class="button-grey-secondary button " type="submit"  id="bulk-upload"  value="Add a new group"></div>
                  </form>

                  <!--p><a href="/{% include "includes/sprint-link.html" %}/contracts/new-contract/provider-interface/add-apprenticeship">Add a new apprenticeship group</a></p-->
                  <p style="margin-top:20px"><a href="/{% include "includes/sprint-link.html" %}/contracts/new-contract/provider-interface/bulk-upload">Bulk upload apprenticeship groups</a></p>


                  </div>
                  <!--p><a href="/{% include "includes/sprint-link.html" %}/contracts/new-contract/provider-interface/add-apprenticeship">Add another apprenticeship group</a></p>
                  <p><a href="#">Bulk upload apprenticeship groups</a></p>
                <form action="/{% include "includes/sprint-link.html" %}/contracts/new-contract/provider-interface/review-contract">
                      <div style="margin-top:20px;"><input class="button" id="paymentPlan" type="submit" value="Review contract and finish"></div>
                </form-->

              <hr style="margin-top:35px"/>
                <!--form class="inline-form" action="/{% include "includes/sprint-link.html" %}/contracts/new-contract/find-provider">
                    <div style="margin-top:20px;"><input class="button" type="submit"  id="send-to-provider"  value="Finish and send to provider"></div>
                </form-->

          </div>

          </div>

            <div class="column-one-third">
                      <aside class="related">

                        <nav role="navigation">
                      <h2 class="heading-medium" style="margin-top:10px">Finished?</h2>
                        <p>When you've finished, send to your provider and they will add their details.  </p>
                              <!--p style="margin-bottom:5px"><span style="font-weight:700">Provider:</span> Acme Coventry Ltd </p-->
                              <!--p style="margin-bottom:5px"><span style="font-weight:700">Commitment ID:</span> 98HGS3F </p-->
                                <form class="" action="/{% include "includes/sprint-link.html" %}/contracts/new-contract/find-provider">
                                    <div style="margin-top:20px;"><input class="button" type="submit"  id="send-to-provider"  value="Finish and send to provider"></div>
                                </form>
                           </nav>
                    </aside>
            </div>


      </div>



</main>

 <!--button class="button">Do the thing</button-->



{% endblock %}

