{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<script>
// not needed at the moment, remember to remove script from the header if you don't use this in the end.

//jQuery( document ).ready(function() {
     //jQuery.validate(); 
// });


</script>


<main id="content" role="main">
{% include "includes/phase_banner_alpha.html" %}

  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/">Breadcrumb here ></a></li>
    </ol>

  </div>

   <h1 class="heading-large" style="margin:0px 0 50px 0"><span class="heading-secondary" style="padding-top:0px">Question 1 of 1</span>Create an account</h1>




     
      <!--h2 class="heading-medium" style="margin-top:10px">Organisation information</h2-->
<form action="/sprint3/employerPortal/" >
  <fieldset>
    <legend class="visuallyhidden">users email</legend>
      <div class="form-group">
           
          <label class="form-label" for="full-name">Your email address</label>
          <span class="form-hint">Please use your employer provided email</span>

        </label>
          <input class="form-control" id="emailAddress" type="email">
        </fieldset>
         <fieldset>
      <legend class="visuallyhidden">passwords</legend>
      </div>
      <div class="form-group">
          <label class="form-label" for="password">Password</label>
          <input class="form-control" id="password" type="password">
      </div>
      <div class="form-group">
          <label class="form-label" for="password-confirmation">Confirm your password</label>
          <input class="form-control" id="passwordConfirmation" type="password">
      </div>
    </fieldset>
    <input class="button" id="saveAndContinue" type="submit" value="Save and continue">

</form>
</main>

<script>

//store details entered into the form in local storage
var createButton = document.getElementById('createAccountButton');
EventUtil.addHandler(createButton, 'click', function(){
              // save the form info to local storage by first putting the data into an object
              var userDetails = {
                email: document.getElementById('email-address').value,
                password: document.getElementById('password').value
            };

            //store the object in local storage using json stringify
              localStorage.setItem("login", JSON.stringify(userDetails));

            //store the users email address in a cookie to repeat back to them later. Remember that we have some of the data stored in an object in local storage as well -  so we'll use that again if we need it.
            document.cookie =  "emailAddress="  + userDetails.email 
            // shows the cookie in the console log to check it is working
            console.log (document.cookie)

        // not needed at the moment

              //hide the login form
              //$('#login').addClass('hidden');
              //show the quiz
           // $('#wrapper').removeClass('hidden')
    });
</script>

{% endblock %}
