{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<script>
// not needed at the moment, remember to remove script from the header if you don't use this in the end.

//jQuery( document ).ready(function() {
     //jQuery.validate(); 
// });


</script>


<main id="content" role="main">
{% include "includes/phase_banner_alpha.html" %}

  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/">Breadcrumb here ></a></li>
    </ol>

  </div>

        <div class="grid-row">

            <div class="column-two-thirds">
                <h1 class="heading-xlarge">Access my levy</h1>
                <div class="grid-row">
                    <div class="column-half">
                        <ol class="list list-number">
                            <li><a href="inform_1.html">Overview</a></li>
                            <li><a href="inform_2.html">Apprenticeship standards and levels</a></li>
                            <li><a href="inform_3.html">Apprenticeship costs and funding</a></li>
                        </ol>
                    </div>
                    <div class="column-half">
                        <ol class="list list-number" start="4">
                            <li><a href="inform_4.html">How to hire an apprentice</a></li>

                        </ol>
                    </div>
                </div>

                <h2 class="heading-large">1. Overview</h2>
                <p>

                    <body>Apprentices are aged 16 or over and combine working with studying for a qualification. They can be new or current employees.</p>
                <p>If you hire an apprentice, you must:</p>
                <ul class="list list-bullet">
                    <li>employ them for at least 30 hours a week</li>
                    <li>pay them at least the <a href="https://www.gov.uk/national-minimum-wage-rates">minimum wage for apprentices</a></li>
                    <li>offer them the same conditions (eg paid holidays, sick pay and benefits) as other employees working at a similar level</li>
                    <li>provide your apprentice with experience and opportunities to help with future job progression</li>
                    <li>allow them to attend off-the-job training and assessment during their working hours (eg at a college or training organisation)</li>
                </ul>
                <p class="hidden">You can’t usually make an apprentice redundant simply because you can’t afford to pay them or your company runs out of work. This is because you have a contract to train them.</p>



                <!--<p class="form-hint">Search or browse to find your business type or the skill you’re looking for, eg Engineering or Accountant.</p>-->


                <div class="page-navigation">
                    <a href="inform_1.html#" style="visibility: hidden;" class="page-navigation__btn previous">
                        <i class="arrow-button fa fa-angle-left"></i>
                        <span class="description">Previous <span class="hide-mob">page</span></span>
                        <span class="counter">1 of 4</span>
                    </a>



                    <a href="inform_2.html" style="" class="page-navigation__btn next">
                        <i class="arrow-button fa fa-angle-right"></i>
                        <span class="description">Next <span class="hide-mob">page</span></span>
                        <span class="counter">Apprenticeship standards and levels</span>
                    </a>


                </div>


            </div>

          <div class="column-one-third">
                      <aside class="related">
                        <h2 class="heading-medium" style="margin-top:10px">Account activity</h2>
                        <nav role="navigation">
                      <ul class="robSideNav">
                          <li>
                            <a href="/{% include "includes/sprint-link.html" %}/history">View account statement</a>
                          </li>
                          <li>
                            <a href="/{% include "includes/sprint-link.html" %}/expire">View funds at risk of expiring</a>
                          </li>
                            <li>
                            <a href="/{% include "includes/sprint-link.html" %}/committed">View planned spending summary</a>
                          </li>
                          <li>
                            <a href="/{% include "includes/sprint-link.html" %}/payment/spendingcommitments">Review payment schedule</a>
                          </li>
                            <!--li>
                            <a href="/{% include "includes/sprint-link.html" %}/payment/spendingcommitments/authorise-payments">Pay a provider (2)</a>
                          </li-->
                        </ul>
                           </nav>
                           <h2 class="heading-medium ">Apprentices</h2>
                      <nav role="navigation">
                        <ul class="robSideNav">
                          <li>
                            <a href="/{% include "includes/sprint-link.html" %}/apprentice-view">View apprenticeships</a>
                          </li>
                          <li>
                            <a href="/{% include "includes/sprint-link.html" %}/payment/quote">Review provider offers (2)</a>
                          </li>
                          <li>
                            <a href="#">View contracts</a>
                          </li>
  
                       </ul>
                    </nav>
                    </aside>
            </div>


        </div>
</main>

<script>
//jquery that runs the tabs. Uses the jquery.tabs.js from gov.uk



$( document ).ready(function() {

  // change the tabs themselves to active - should be in the above but isn't working because it's looking for a not li so I added this as a quick fix.

  $("ul#tabs-nav li").click(function(e){
        if (!$(this).hasClass("active")) {
            var tabNum = $(this).index();
            var nthChild = tabNum+1;
            $("ul#tabs-nav li.active").removeClass("active");
            $(this).addClass("active");
            $("ul#tabs-nav li.active").removeClass("active");
            $("ul#tabs-nav li:nth-child("+nthChild+")").addClass("active");
        }
    });
});

  $('ul.tabs-nav').each(function(){
    // For each set of tabs, we want to keep track of
    // which tab is active and its associated content
    var $active, $content, $links = $(this).find('a');



    // If the location.hash matches one of the links, use that as the active tab.
    // If no match is found, use the first link as the initial active tab.
    $active = $($links.filter('[href="'+location.hash+'"]')[0] || $links[0]);
   // $active.addClass('active');
   console.log($active)

    $content = $($active[0].hash);

    // Hide the remaining content
    $links.not($active).each(function () {
      $(this.hash).hide();
    }); 

    // Bind the click event handler
    $(this).on('click', 'a', function(e){
      // Make the old tab inactive.
    //  $active.removeClass('active');
      $content.hide();

      // Update the variables with the new link and content
    //  $active = $(this);
      $content = $(this.hash);

      // Make the tab active.
     // $active.addClass('active');
      $content.show();

      // Prevent the anchor's default click action
      e.preventDefault();
    });
  });


</script>


{% endblock %}
