{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}


<main id="content" role="main">
{% include "includes/phase_banner_alpha.html" %}


  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/{% include "includes/sprint-link.html" %}/account">Apprenticeship Account</a></li>
      <li><a href="/{% include "includes/sprint-link.html" %}/payment/spendingcommitments/authorise-payment">Make a payment</a></li>

    </ol>

  </div>


<!--h1 class="heading-large">Levy account</h1-->
 <!--h2 class="bold-medium">Acme Ltd Levy Account</h2-->

  <div class="grid-row">
           <div class="column-two-thirds">
              <h1 class="heading-xlarge" style="margin:0px 0 50px 0">Make a payment</h1>
            <div>
                <p>
                  Please review this payment and authorise if you are happy with it.
                </p>
                <div class="">

                  <table>
                  <thead>
                    <tr>
                      <th colspan="2">Payment details</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="rjTableName">ILR</td>
                      <td class="">92018364</td>
                    </tr>
                     <tr>
                      <td class="rjTableName">Payment due date</td>
                      <td class="">20th July 2018</td>
                    </tr>
                    <tr>
                      <td class="rjTableName">Provider name</td>
                      <td class="">Hackney skills and training Ltd</td>
                    </tr>
                     <tr>
                      <td class="rjTableName">Payment plan reference</td>
                      <td class=""><a href="/{% include "includes/sprint-link.html" %}/payment/spendingcommitments/planned-spending-detail">98HGS3F</a></td>
                    </tr>
                    <tr>
                      <td class="rjTableName">Apprenticeship level</td>
                      <td class="">Level 2 NVQ</td>
                    </tr>
                    <tr>
                     <td class="rjTableName">Apprenticeship name</td>
                      <td class="">Aeronautical engineering</td>
                    </tr>
                    <tr>
                     <td class="rjTableName">Apprentice names</td>
                      <td class="">David Jenkins</td>
                    </tr>
                    <tr>
                     <td class="rjTableName"></td>
                      <td class="">Rob Edwards</td>
                    </tr>
                    <tr>
                     <td class="rjTableName"></td>
                      <td class="">Mel O'Connor</td>
                    </tr>
                     <tr>
                     <td class="rjTableName"></td>
                      <td class="">Susan Hamazaki</td>
                    </tr>
                    <tr>
                     <td class="rjTableName">Payment</td>
                      <td class="">£124.00</td>
                    </tr>
                  </tbody>
                </table>
                </div>

                 <form action="/{% include "includes/sprint-link.html" %}/payment/spendingcommitments/authorise-payments/payment-confirmed">
                  <div style="margin-top:20px;"><input class="button" id="approveContract" type="submit" value="Pay provider"></div>
                  </form>
            </div>
            <div style="margin-top:35px">

              </div>
            <div style="margin-top:50px"></div>
          </div>

          <div class="column-one-third">
                      <!--aside class="related">
                        <h2 class="heading-medium" style="margin-top:10px">Provider management</h2>
                        <nav role="navigation">
                      <ul class="robSideNav"-->
                          <!--li>
                            <a href="/{% include "includes/sprint-link.html" %}/payment/quote">Review provider "offers"</a>
                          </li-->
                          <!--li>
                            <a href="/{% include "includes/sprint-link.html" %}/payment/paymentplan">Add a new payment plan (OUT?)</a>
                          </li>
                          <li>
                            <a href="/{% include "includes/sprint-link.html" %}/payment/makepayment">Make a payment</a>
                          </li>
                           <li>
                            <a href="/{% include "includes/sprint-link.html" %}/payment/reviewpayments">Review and amend regular payments</a>
                          </li>
                            <li>
                            <a href="/{% include "includes/sprint-link.html" %}/payment/spendingcommitments">View a summary of your spending commitments</a>
                          </li>
                        </ul>
                           </nav>
                    </aside-->
            </div>
        </div>
</main>

 <!--button class="button">Do the thing</button-->

<script>
//jquery that runs the tabs. Uses the jquery.tabs.js from gov.uk
$( document ).ready(function() {

  // change the tabs themselves to active - should be in the above but isn't working because it's looking for a not li so I added this as a quick fix.

  $("ul#tabs-nav li").click(function(e){
        if (!$(this).hasClass("active")) {
            var tabNum = $(this).index();
            var nthChild = tabNum+1;
            $("ul#tabs-nav li.active").removeClass("active");
            $(this).addClass("active");
            $("ul#tabs-nav li.active").removeClass("active");
            $("ul#tabs-nav li:nth-child("+nthChild+")").addClass("active");
        }
    });
});

  $('ul.tabs-nav').each(function(){
    // For each set of tabs, we want to keep track of
    // which tab is active and its associated content
    var $active, $content, $links = $(this).find('a');



    // If the location.hash matches one of the links, use that as the active tab.
    // If no match is found, use the first link as the initial active tab.
    $active = $($links.filter('[href="'+location.hash+'"]')[0] || $links[0]);
   // $active.addClass('active');
   console.log($active)

    $content = $($active[0].hash);

    // Hide the remaining content
    $links.not($active).each(function () {
      $(this.hash).hide();
    }); 

    // Bind the click event handler
    $(this).on('click', 'a', function(e){
      // Make the old tab inactive.
    //  $active.removeClass('active');
      $content.hide();

      // Update the variables with the new link and content
    //  $active = $(this);
      $content = $(this.hash);

      // Make the tab active.
     // $active.addClass('active');
      $content.show();

      // Prevent the anchor's default click action
      e.preventDefault();
    });
  });


</script>

{% endblock %}

