{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}


<main id="content" role="main">
{% include "includes/phase_banner_alpha.html" %}


  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/{% include "includes/sprint-link.html" %}/account">Apprenticeship Account</a></li>
            <li><a href="/{% include "includes/sprint-link.html" %}/payment/spendingcommitments/authorise-payments">Payments</a></li>
    </ol>

  </div>


<!--h1 class="heading-large">Levy account</h1-->
 <!--h2 class="bold-medium">Acme Ltd Levy Account</h2-->

  <div class="">
          <!--div class="column-two-thirds"-->
              <h1 class="heading-xlarge" style="margin-top:0px"><span class="heading-secondary" style="padding-top:0px">Acme Ltd: DF90832778</span>Payments due</h1>
                <p>The following payments are due, please review and authorise your payments to ensure there is no disruption to your apprenticeship programme.</p>
                <table>
                    <thead>
                      <tr>
                        <th scope="col">Date due</th>
                        <th scope="col">To</th>
                        <th scope="col" class="">ILR</th>
                        <th scope="col" class="">Amount</th>
                        <th scope="col">Details</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                         <td>20 July 2018</td>
                        <td class="rjTabWidth">Hackney skills and training provider Ltd</td>
                        <td class="">92018364</td>
                        <td class="">£124.00</td>
                        <td><a href="/{% include "includes/sprint-link.html" %}/payment/spendingcommitments/authorise-payments/authorise-payment">View</a></td>
                      </tr>
                      <tr>
                        <td>24 January 2020</td>
                        <td class="rjTabWidth">Learning management, skills and business training Ltd</td>
                        <td class="">7634557</td>
                        <td class="">£220.00</td>
                        
                        <td><a href="#">View</a></td>
                      </tr>
                    </tbody>
                </table>
            <div style="margin-top:50px"></div>
          <!--/div-->

    <!--div class="column-one-third">
      <aside class="related">
              <h2 class="heading-medium" style="margin-top:10px">Account activity</h2>
         <nav role="navigation">
            <ul class="robSideNav">
              <li>
                  <a href="/{% include "includes/sprint-link.html" %}/account">View balance</a>
              </li>
                <li>
                  <a href="/{% include "includes/sprint-link.html" %}/history">View account statement</a>
              </li>
              <li>
                  <a href="/{% include "includes/sprint-link.html" %}/expire">View expiring funds</a>
              </li>

            </ul>
          </nav>
        </aside>
    </div-->
  </div>


</main>



 <!--button class="button">Do the thing</button-->

<script>
//jquery that runs the tabs. Uses the jquery.tabs.js from gov.uk
$( document ).ready(function() {

  // change the tabs themselves to active - should be in the above but isn't working because it's looking for a not li so I added this as a quick fix.

  $("ul#tabs-nav li").click(function(e){
        if (!$(this).hasClass("active")) {
            var tabNum = $(this).index();
            var nthChild = tabNum+1;
            $("ul#tabs-nav li.active").removeClass("active");
            $(this).addClass("active");
            $("ul#tabs-nav li.active").removeClass("active");
            $("ul#tabs-nav li:nth-child("+nthChild+")").addClass("active");
        }
    });
});

  $('ul.tabs-nav').each(function(){
    // For each set of tabs, we want to keep track of
    // which tab is active and its associated content
    var $active, $content, $links = $(this).find('a');



    // If the location.hash matches one of the links, use that as the active tab.
    // If no match is found, use the first link as the initial active tab.
    $active = $($links.filter('[href="'+location.hash+'"]')[0] || $links[0]);
   // $active.addClass('active');
   console.log($active)

    $content = $($active[0].hash);

    // Hide the remaining content
    $links.not($active).each(function () {
      $(this.hash).hide();
    }); 

    // Bind the click event handler
    $(this).on('click', 'a', function(e){
      // Make the old tab inactive.
    //  $active.removeClass('active');
      $content.hide();

      // Update the variables with the new link and content
    //  $active = $(this);
      $content = $(this.hash);

      // Make the tab active.
     // $active.addClass('active');
      $content.show();

      // Prevent the anchor's default click action
      e.preventDefault();
    });
  });


</script>

{% endblock %}

