{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<script>
// not needed at the moment, remember to remove script from the header if you don't use this in the end.

//jQuery( document ).ready(function() {
     //jQuery.validate(); 
// });


</script>


<main id="content" role="main">
{% include "includes/phase_banner_alpha.html" %}

  <div class="breadcrumbs">
    <ol role="breadcrumbs">
     {% include "includes/breadcrumbs/register-back.html" %}
    </ol>

  </div>

   <h1 class="heading-xlarge" >Enter password</h1>
   <p>Please enter your existing password</p>




     
      <!--h2 class="heading-medium" style="margin-top:10px">Organisation information</h2-->
<form action="govtCredentials">
    <fieldset>
      <legend class="visuallyhidden">passwords</legend>
      <div class="form-group">
          <label class="form-label" for="password">Password</label>
          <input class="form-control" id="password" type="password">
      </div>
    </fieldset>
    <p><a href="#">Forgotten your password?</a></p>
    <input class="button" id="saveAndContinue" type="submit" value="Save and continue">
</form>
</main>
<script>

//store details entered into the form in local storage
var createButton = document.getElementById('createAccountButton');
EventUtil.addHandler(createButton, 'click', function(){
              // save the form info to local storage by first putting the data into an object
              var userDetails = {
                email: document.getElementById('email-address').value,
                password: document.getElementById('password').value
            };

            //store the object in local storage using json stringify
              localStorage.setItem("login", JSON.stringify(userDetails));

            //store the users email address in a cookie to repeat back to them later. Remember that we have some of the data stored in an object in local storage as well -  so we'll use that again if we need it.
            document.cookie =  "emailAddress="  + userDetails.email 
            // shows the cookie in the console log to check it is working
            console.log (document.cookie)

        // not needed at the moment

              //hide the login form
              //$('#login').addClass('hidden');
              //show the quiz
           // $('#wrapper').removeClass('hidden')
    });
</script>

{% endblock %}
