{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<style>

#navigation-primary {
  display:none ;
}

</style>

<script>
// not needed at the moment, remember to remove script from the header if you don't use this in the end.

//jQuery( document ).ready(function() {
     //jQuery.validate(); 
// });


</script>


<main id="content" role="main">
{% include "includes/phase_banner_alpha.html" %}

  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      {% include "includes/breadcrumbs/register-back.html" %}
    </ol>

  </div>

      <div class="grid-row">
           <div class="column-two-thirds">
            <h1 class="heading-xlarge" >Choose a password for your apprenticeship account</h1>
            <!--p>Your email address has been verified, now choose a password for your account.</p-->




     
      <!--h2 class="heading-medium" style="margin-top:10px">Organisation information</h2-->
<form action="govtCredentials" >
  <fieldset>
      <div class="form-group">
      <legend class="visuallyhidden">passwords</legend>
      </div>
      <div class="form-group">
          <label class="form-label" for="password">Create password<br> (Passwords should be a minimum of 8 characters and include at least one number, one uppercase and one lower case letter)</label>
          <input class="form-control rjFormTwoThirds" id="password" type="password">
      </div>
      <div class="form-group">
          <label class="form-label" for="password-confirmation">Confirm password</label>
          <input class="form-control rjFormTwoThirds" id="passwordConfirmation" type="password">
      </div>
    </fieldset>
    <input class="button" id="saveAndContinue" type="submit" value="Save and continue">

</form>
</div>
</div>
</main>



{% endblock %}
