{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<script>
// not needed at the moment, remember to remove script from the header if you don't use this in the end.

//jQuery( document ).ready(function() {
     //jQuery.validate(); 
// });


</script>


<main id="content" role="main">
{% include "includes/phase_banner_alpha.html" %}

  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/">Breadcrumb here ></a></li>
    </ol>

  </div>

  <h1 class="heading-xlarge">Have you registered with us before?</h1>

  <p>
  Do you already have an employer account registered with us?
  </p>

<form action="http://127.0.0.1:3000/sprint3/lightLogin/detailsStart">

    <fieldset>

      <legend class="visuallyhidden">Have you registered with us before?</legend>
      <div class="form-group">
      <label class="block-label" for="radio-1">
        <input id="radio-1" type="radio" name="radio-group" value="yes registered before">
        Yes, I have registered before
      </label>
    </div>
    <div class="form-group">
      <label class="block-label" for="radio-2">
        <input id="radio-2" type="radio" name="radio-group" value="no havent registered before">
        No, I have not registered before
      </label>
    </div>
    </fieldset>
         <input class="button" id="saveAndContinue" type="submit" value="Save and continue">
  </form>



</main>

<script>

//store details entered into the form in local storage
var createButton = document.getElementById('createAccountButton');
EventUtil.addHandler(createButton, 'click', function(){
              // save the form info to local storage by first putting the data into an object
              var userDetails = {
                email: document.getElementById('email-address').value,
                password: document.getElementById('password').value
            };

            //store the object in local storage using json stringify
              localStorage.setItem("login", JSON.stringify(userDetails));

            //store the users email address in a cookie to repeat back to them later. Remember that we have some of the data stored in an object in local storage as well -  so we'll use that again if we need it.
            document.cookie =  "emailAddress="  + userDetails.email 
            // shows the cookie in the console log to check it is working
            console.log (document.cookie)

        // not needed at the moment

              //hide the login form
              //$('#login').addClass('hidden');
              //show the quiz
           // $('#wrapper').removeClass('hidden')
    });
</script>

{% endblock %}
