{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<style>
#navigation-primary {
  display:none ;
}
</style>

<main id="content" role="main">
{% include "includes/phase_banner_alpha.html" %}

  <div class="breadcrumbs">
    <ol role="breadcrumbs">
     {% include "includes/breadcrumbs/register-back.html" %}
    </ol>
  </div>

  <div id="showDoneAlert" class="user-alert rj-dont-display">
    <div class="panel panel-border-wide alert-success">
      <i class="fa fa-check "></i>
      <h2 class="heading-small">Email resent to joe.bloggs@coventryltd.com</h2>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Activate account</h1>

      <p>
        Your account needs to be activated before you can use it. An activation
        code has been sent to <span
        style="font-weight:700">joe.bloggs@coventryltd.com</span>.
      </p>

      <p>
        You must enter your activation code below before it expires at <br/>
        <span style="font-weight:700">12am on 12 August 2018</span>.
      </p>

      <!-- form style="max-width:100%" action="../account" -->
      <form style="max-width:100%" action="activated">
        <fieldset>
          <legend class="visuallyhidden">Activation code</legend>
          <div class="form-group">
            <label class="form-label-bold" for="text">Activation code</label>
            <input class="form-control activation-code"  id="accountName" type="text">
          </div>
        </fieldset>
        <input class="button" id="saveAndContinue" type="submit" value="Activate account">
        <div style="margin-top:25px"></div>
				<!--div class="rjmakeALink" onclick="loopyLoop()"><p>Create another apprenticeship account</p></div-->
				<!--CREATE ANOTHER APPRENTICESHIP ACCOUNT-->
      </form>

      <h3 class="heading-medium">Not received an email?</h3>
      <p>
        If your activation code has expired or has not arrived you can <a
        id="btn" href="#" >resend it.</a> Please check that the email hasn't
        been directed to your spam or junk folder.
      </p>
    </div>
  </div>
</main>

<script>
  // Add the stuff confirmation into the page when clicked to simulate resending the email
  var btn = document.getElementById('btn');
  EventUtil.addHandler(btn, 'click', function(){
    $( "#showDoneAlert" ).removeClass( "rj-dont-display" );
  });
</script>

{% endblock %}
