{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">The GOV.UK prototype kit</h1>
	<ul>
			<li>
				<a href="/sprint2/">
					Sprint 2
				</a>
			</li>
			<li>
				<a href="/sprint3/">
					Sprint 3
				</a>
			</li>
			<li>
				<a href="/sprint4/">
					Sprint 4
				</a>
			</li>
			<li>
				<a href="/sprint5/">
					Sprint 5
				</a>
			</li>
     </ul>
	

    </div>
  </div>
</main>

{% endblock %}


