{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">The GOV.UK prototype kit</h1>

      <p>
        <a href="/{% include "includes/sprint-link.html" %}/login">Sign in to the service</a>
      </p>
      <p>
        <a href="/{% include "includes/sprint-link.html" %}/balance">Account home</a>
      </p>
      <p>
        <a href="/{% include "includes/sprint-link.html" %}/register/govtCredentials">Gov Gateway</a>
      </p>


       <p>
        <a href="/proto-admin">admin page (change sprint, name and navigaiton)</a>
      </p>

	   </div>
  </div>
</main>

{% endblock %}


