{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}

     <script src="/public/javascripts/das/jquery.highlight-5.js"></script>

<style>
  #navigation-primary {
    display:none;
  }

  .highlight { font-weight:700; }
</style>



<script>
// OTHER SCRIPT AT BOTTOM OF THE PAGE

 var changeUnknown = function() {
  $('td').highlight('unknown');
  $('td').highlight('null');
  $('td').highlight('----');

 };

changeUnknown();
</script>



<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}
{% include "includes/secondary-nav-provider.html" %}


  <!--div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/{% include "includes/sprint-link.html" %}/balance">Access my funds</a></li>
    </ol>

  </div-->

     <div class="breadcrumbs back-breadcrumb">
    <ol role="breadcrumbs">
      {% include "includes/breadcrumbs/register-back.html" %}
    </ol>
  </div>


<div class="grid-row">

           <div class="column-two-thirds">
  <h1 class="heading-xlarge" >Upload stopped</h1>
    <p class="lede">There are <span style="font-weight:700">50</span> errors across <span style="font-weight:700">100</span> records that you need to fix.</p>
                           <div style="margin-top:10px"><span class="looks-like-a-link-underline">Download full error details</span></div>
      </div>
    </div>
</div>
<div style="margin-top:35px" >
  <!--h2 class="heading-medium">50 Errors</h>
  <p>You must fix these errors in your file before you reupload your apprentices</p-->
     <h2 class="heading-medium">Error details</h2>
  <table class="" id="">
                    <thead>
                      <tr>
                        <!--th scope="col">Training code</th-->
                     <th scope="col" style="width:35px;">Row</th> 
                      <th scope="col" class="">ULN</th>
                        <th scope="col" style="min-width:145px" class="">Name</th>
                        <th scope="col" class="">DOB</th>
                       <th scope="col" style="">Errors</th>



                      </tr>
                    </thead>
                    <tbody class="indentedTablePadding">
                      <tr class="errorMargin">
                         <td  class="">1</td>
                         <td class="" style="max-width:100px; word-wrap:break-word;" >8321052156</td>
                          <td  style="max-width:100px; word-wrap:break-word;">Mahershalalhashbaz de Orellana Plantagenet</td>
                           <td class="">10/10/1999</td>
                           <td>The <span class="changeHighlightCopy">programme type</span> you've added isn't valid
                               <br />The <span class="changeHighlightCopy">framework code</span> must not be more than 3 characters in length </td>

                      </tr>
                      <tr>
                        <td class="">4</td>
                         <td class="" style="max-width:100px; word-wrap:break-word;" >1221052101</td>
                        <td>Taylor Lucas</td>
                         <td class="">10/10/1999</td>
                         <td>You must enter a <span class="changeHighlightCopy">pathway code</span> - you can add up to 3 characters
                               <br />The <span class="changeHighlightCopy">standard code</span> must not be more than 5 characters in length</td>

                      </tr>
                      <tr class="" >
                         <td class="">15</td>
                          <td class="" style="max-width:100px; word-wrap:break-word;">6621052119</td>
                          <td class=" "><!--span class="errorCopyTable">Surname is missing</span-->Prahlad ---- </td>
                          <td class="">10/10/1999</td>
                          <td>You must enter a <span class="changeHighlightCopy">pathway code</span> - you can add up to 3 characters
                               <br />The <span class="changeHighlightCopy">standard code</span> must not be more than 5 characters in length</td>
                      </tr>

                      <tr class="">
                         <td class="">21</td>
                          <td  class=""><!-- span class="errorCopyTable">ULN is missing</span-->----</td>
                          <td class="">Melissa Shaw</td>
                           <td class="">10/13/1899</td>
                            <td>The <span class="changeHighlightCopy">training price</span> must be entered<br />The <span class="changeHighlightCopy">end point assessment</span> price is not a valid value
                              <br />The <span class="changeHighlightCopy">learning planned end date</span> must not be more than 10 years after the learning start date
                            </td>
                      </tr>
                       <tr class="" >
                         <td class="">45</td>
                          <td class="" style="max-width:100px; word-wrap:break-word;">4321052192</td>
                          <td class=" "><!--span class="errorCopyTable">Surname is missing</span-->William ---- </td>
                          <td class="">06/11/2000</td>
                          <td>You must enter a <span class="changeHighlightCopy">pathway code</span> - you can add up to 3 characters
                               <br />The <span class="changeHighlightCopy">standard code</span> must not be more than 5 characters in length</td>
                      </tr>
                    </tbody>
                  </table>
                  <div style="margin-top:10px"><span class="looks-like-a-link-underline">View all 50 rows</span></div>



        <div style="margin-top:35px" >
    <input class="button" type="button" id="bulk-upload-finish"  value="Back to bulk upload">
</div>
<div style="margin-top:15px"><a href="./provider-list">Cancel</a></div>
    <div style="margin-top:50px"></div>
    <!-- template to pull in the start tabs so this doesn't get too messy - it is pulling in the tabs -->
<!-- {% include "includes/start-tabs.html" %} -->

            </div>

             <div class="column-one-third">
                      <!--aside class="related">
                        <h2 class="heading-medium" style="margin-top:10px">Existing account</h2>
                        <nav role="navigation">
                      <ul class="robSideNav">
                          <li>
                            <a href="../login">Sign in</a>
                          </li>

                        </ul>
                           </nav>
                    </aside-->
            </div>
</div>
</main>


<script>

// Add the stuff confirmation into the page when clicked to simulate resending the email
/*var btn = document.getElementById('bulk-upload-finish');
EventUtil.addHandler(btn, 'click', function(){
        var isUploaded = 'yes';
        localStorage.setItem("apprenticeship-added.bulk-upload", JSON.stringify(isUploaded));
        window.location.href='./provider-list';
 });*/

$('#bulk-upload-finish').click(function() {
    window.das.commitments.addApprenticeships([
        {
            training: {
                code: 1,
                name: "Mechatronics Engineer"
            },
            start: {
                month: 11,
                year: 2018
            },
            finish:
            {
                month: 10,
                year: 2020
            },
            cost: 1500,
            apprentice: {
                first: "David",
                last: "Edwards",
                uln: 9021001209
            }
        },
        {
            training: {
                code: 1,
                name: "Mechatronics Engineer"
            },
            start: {
                month: 11,
                year: 2018
            },
            finish:
            {
                month: 10,
                year: 2020
            },
            cost: 1500,
            apprentice: {
                first: "Rob",
                last: "Andrews",
                uln: 8780601583
            }
        },
        {
            training: {
                code: 1,
                name: "Mechatronics Engineer"
            },
            start: {
                month: 11,
                year: 2018
            },
            finish:
            {
                month: 10,
                year: 2020
            },
            cost: 1500,
            apprentice: {
                first: "Mellisa",
                last: "Shaw",
                uln: 6421001981
            }
        },
        {
            training: {
                code: 1,
                name: "Mechatronics Engineer"
            },
            start: {
                month: 11,
                year: 2018
            },
            finish:
            {
                month: 10,
                year: 2020
            },
            cost: 1500,
            apprentice: {
                first: "Brendan",
                last: "Hamazaki",
                uln: 67210012321
            }
        },
        {
            training: {
                code: 1,
                name: "Mechatronics Engineer"
            },
            start: {
                month: 11,
                year: 2018
            },
            finish:
            {
                month: 10,
                year: 2020
            },
            cost: 1500,
            apprentice: {
                first: "Gary",
                last: "Barton",
                uln: 21210012876
            }
        }
    ]);
    window.location.href = 'upload-choose-file-provider';
});

</script>



{% endblock %}
