{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}

<style>
  .financial-nav a {
    {% include "includes/nav-on-state-css.html" %}
  }
</style>


<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}


  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/{% include "includes/sprint-link.html" %}/account">change me</a></li>
      <li><a href="/{% include "includes/sprint-link.html" %}/account">change me</a></li>
      <li>Spend my levy</li>
    </ol>

  </div>
    
    <div id="wrapper" class="answer answer">
      <div class="grid-row">
        <main id="content" role="main" class="">
  <header class="page-header">
    <div>
      <h1 class="heading-xlarge">
        
        Access my levy
      </h1>
    </div>
  </header>
  <div class="article-container group">
    

    <div class="grid-row">
      <div class="column-two-thirds">
  <p>Use this service to access and spend your levy on apprenticeships in England.</p>
<h2 class="heading-medium">Create an account</h2>

<p>You need to <a rel="external" href="register">create a profile</a> to:</p>

<ul class="list list-bullet">
  <li>create levy accounts</li>
  <li>view financial information</li>
  <li>create or amend apprenticeships</li>
  <li>spend money</li>
</ul>

<h2 class="heading-medium">Log in to your profile</h2>
<p>You need your email address and password to <a rel="external" href="signin">log in</a>.</p>


<p><a href="forgotpassword" rel="external">Forgot your password</a></p>
          <p><a href="unlock" rel="external">Unlock your account</a></p>


      </div>
        
          

  <!-- related -->
  <div class="related-container column-third hidden">

    <aside class="related" id="related">
      
        
        <div class="inner group related-subsection">
          
          <h2 id="parent-subsection">Apprenticeships, 14 to 19 education and training for work</h2>
          

          <nav role="navigation" aria-labelledby="parent-subsection">
            <ul>
              
                <li>
                  <a href="/apprenticeships-guide">Become an apprentice</a>
                </li>
              
                <li>
                  <a href="/find-traineeship">Find a traineeship</a>
                </li>
              
              
                <li class="related-topic"><a href="/browse/education/find-course">More <span class="visuallyhidden">in Apprenticeships, 14 to 19 education and training for work</span></a></li>
              
            </ul>
          </nav>
        </div>
      

      
        <div class="inner group">
          <h2 id="related-external-links">Elsewhere on the web</h2>

          <nav role="navigation" aria-labelledby="related-external-links">
            <ul>
              
                <li>
                  <a href="https://nationalcareersservice.direct.gov.uk/advice/courses/typesoflearning/Pages/apprenticeship-application-help.aspx" rel="external">Help with your application</a>
                </li>
              
            </ul>
          </nav>
        </div>
      

      <div class="inner group">
        <a class="return-to-top" href="#content">Return to top ↑</a>
      </div>
    </aside>

  </div>
<!-- end related -->
    </div>
   



  </div>
</main>





      </div>
      
          
</div>
</main>

{% endblock %}

