{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}


<style>
 #navigation-primary, #kill-me {
  display:none;
}
</style>

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}
{% include "includes/secondary-nav-provider.html" %}


  <!--div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/{% include "includes/sprint-link.html" %}/balance">Access my funds</a></li>
    </ol>

  </div-->

     <div class="breadcrumbs back-breadcrumb">
    <ol role="breadcrumbs">
      {% include "includes/breadcrumbs/register-back.html" %}
    </ol>
  </div>


<div class="grid-row">


  <!--div class="column-two-thirds"-->

<div style="margin-bottom: 50px"></div>

           <!--div class="column-two-thirds"-->
  <h1 class="heading-xlarge" >Set payment priority order</h1>

    <p class="lede">The training provider listed first will be paid first from your available funds.</p>

<div style="margin-bottom: 50px"></div>
  
      <div class="mainTableContainer">

        <div class="leftContainer" style="float: left; margin-right: 100px;">

          <p>Default order</p>

          <div class="leftTable">
          <ol>
            <li>Provider Orange</li>
            <li>Provider Purple</li>
            <li>Provider Red</li>
            <li>Provider Green</li>
            <li>Provider Yellow</li>
          </ol>  
          </div>
        </div>

        <div class="rightTableNumbers" style="float: left; margin-right: 5px; margin-top: 5px;">
          <ol>
            <li style="margin-top: 50px">1.</li>
            <li>2.</li>
            <li>3.</li>
            <li>4.</li>
            <li>5.</li>
          </ol>  
        </div>

        <p style="margin-top: 5px">Your order</p>

        <div class="rightContainer" style="float: left; margin-right: 20px; margin-top: 5px;">  
          <div class="rightTable">
            <ul id="ul_li_SubCategories" style="width:200px;" class="chargeCapturetable margin0">
              <li sequence="1" title="Provider 1" class="liEllipsis" value="9"><span class="viewIcons delFaceName _delete fl"></span>Provider Orange</a></li>
              <li sequence="2" title="Provider 3" class="liEllipsis selected" value="11"><span class="viewIcons delFaceName _delete fl"></span>Provider Purple</a></li>
              <li sequence="4" title="Provider 4" class="liEllipsis" value="12"><span class="viewIcons delFaceName _delete fl"></span>Provider Red</a></li>
              <li sequence="5" title="Provider 6" class="liEllipsis" value="22"><span class="viewIcons delFaceName _delete fl"></span>Provider Green</a></li>
              <li sequence="6" title="Provider 5" class="liEllipsis" value="13"><span class="viewIcons delFaceName _delete fl"></span>Provider Yellow</a></li>
            </ul>
          </div>

        </div>

        <script>

            $('.liEllipsis').on('click', function () {
            $('.selected').removeClass('selected');
            $(this).addClass('selected');
            });

            $('.upbutton').on('click', function () {
                var $currentElement = $('#ul_li_SubCategories .selected');
                moveUp($currentElement);
            });
                
            $('.downbutton').on('click', function () {
                var $currentElement = $('#ul_li_SubCategories .selected');
                moveDown($currentElement);
            });

            var moveUp = function ($currentElement) {
                var hook = $currentElement.prev('.liEllipsis');
                if (hook.length) {
                    var elementToMove = $currentElement.detach();
                    hook.before(elementToMove);
                }
            };

            var moveDown = function ($currentElement) {
                var hook = $currentElement.next('.liEllipsis');
                if (hook.length) {
                    var elementToMove = $currentElement.detach();
                    hook.after(elementToMove);
                }
            };

        </script>

        <div class="buttonContainer" style="float: left; margin-left: 100px; margin-top: 5px;">
            <ul>
              <li><button class="upbutton" id="buttonUp"><p>&#10094;</p></button></li>
              <li><button class="downbutton" id="buttonDown"><p>&#10095;</p></button></li>
            </ul>
          </div>

      </div>

    </div>

  <div style="margin-top: 40px"></div>

  <input class="button" type="submit" value="Save and continue">

             
</div>
</main>

<script>
//jquery that runs the tabs. Uses the jquery.tabs.js from gov.uk



$( document ).ready(function() {

  // change the tabs themselves to active - should be in the above but isn't working because it's looking for a not li so I added this as a quick fix.

  $("ul#tabs-nav li").click(function(e){
        if (!$(this).hasClass("active")) {
            var tabNum = $(this).index();
            var nthChild = tabNum+1;
            $("ul#tabs-nav li.active").removeClass("active");
            $(this).addClass("active");
            $("ul#tabs-nav li.active").removeClass("active");
            $("ul#tabs-nav li:nth-child("+nthChild+")").addClass("active");
        }
    });
});

  $('ul.tabs-nav').each(function(){
    // For each set of tabs, we want to keep track of
    // which tab is active and its associated content
    var $active, $content, $links = $(this).find('a');



    // If the location.hash matches one of the links, use that as the active tab.
    // If no match is found, use the first link as the initial active tab.
    $active = $($links.filter('[href="'+location.hash+'"]')[0] || $links[0]);
   // $active.addClass('active');
   console.log($active)

    $content = $($active[0].hash);

    // Hide the remaining content
    $links.not($active).each(function () {
      $(this.hash).hide();
    }); 

    // Bind the click event handler
    $(this).on('click', 'a', function(e){
      // Make the old tab inactive.
    //  $active.removeClass('active');
      $content.hide();

      // Update the variables with the new link and content
    //  $active = $(this);
      $content = $(this.hash);

      // Make the tab active.
     // $active.addClass('active');
      $content.show();

      // Prevent the anchor's default click action
      e.preventDefault();
    });
  });


</script>


{% endblock %}
